<?php

function fetchRecords($query) {
    if (!$mdl) {
        $mdl = new Application_Model_Reports();
    }
    $output = $mdl->fetchRecords($query);
    return $output;
}
?>

<?php
echo "<table border=1 >"; 
echo "<tr>"; 
echo "<td><b>Name</b></td>"; 
echo "<td><b>City Id</b></td>"; 
echo "<td><b>Teritory</b></td>"; 
echo "</tr>"; 
$query = "SELECT * FROM `city`";
$result = fetchRecords($query);
//
//foreach($result as $k=>$row){ 
//
//echo "<tr>";  
//echo "<td valign='top'>" . ( $row['name']) . "</td>";  
//echo "<td valign='top'>" . ( $row['city_id']) . "</td>";  
//echo "<td valign='top'>" . ( $row['teritory']) . "</td>";  
//echo "<td valign='top'><a href=edit.php?city_id={$row['city_id']}>Edit</a></td><td><a href=delete.php?city_id={$row['city_id']}>Delete</a></td> "; 
//echo "</tr>"; 
//} 
//echo "</table>"; 
//echo "<a href=new.php>New Row</a>"; 