<?php



?>
<script>
    $(document).ready(function(){
     
        $('#breadcrumb,#content-header').hide();
        $('#search_user').click(function(){
            var keyword = $('#input_user_search').val();
            if(keyword!=''){
                var form = null;
                var callback = 'search_user_result';
                var url  = '/user/search-user/';
                var data  = {'data':keyword,'type':'email'};
                ajax_call(form,url,data,callback);
            }else{
                var htm = ' <p class="user-error">Please provide a valid email address or name</p>';
                $('#user_search_result').html(htm);
            }
            
            
            
        });
        $("#input_user_search").keyup(function(event){
            if(event.keyCode == 13){
                $("#search_user").click();
            }
        });
        
         $('#edit_institute').click(function(){
            var form = null;
            var id = $('#dd_institute option:selected').val();
            var url = '/institute/edit?instituteid='+id;
            
            window.location = url;
        });
        
       
         
    }); 
    function search_user_result(result){
           if(result){
            
            var htm = '<h6>Search Result</h6>';
            htm+='<p>Total '+result.length+' results found </p>';
            
            $.each(result,function(key,val){
                var name = val['first_name'] + ' ' +val['last_name'];
                var email = val['email'];
                var link  =  '/user?id='+val['id'];
                htm+= ' <div class="span5">'+name+'</div><div class="span5">'+email+'</div><div class="span1"><a href="'+link+'">Edit</a></div>';
            });
            htm+='</div>';
           }
           else{
              var htm = '<h6>Search Result</h6>';
                htm+='<p>Total 0 results found </p>';
           }
            $('#user_search_result').html(htm);
        
        
       }
</script>
<?php if ($this->showAdminFilter) { ?>
<div class="row-fluid" id="div_admin_functions">
    <div class="span6">
        <div class="widget-box">
            <div class="new-title">
                <h5>User</h5>
                <span class="label label-success"><a href="/user/add" id="add_new_user"><i class="icon-white icon-plus-sign"></i> Add New User</a></span>
            </div>
            <div class="widget-content nopadding box-padding1">
                <div class="main-content user-block">
                    <div class="new-update clearfix">
                        <h6 class="usr-title">Edit User</h6>
                        <div class="input-append usr-search">
                            <input  type="text" name="search_user" id="input_user_search" placeholder="Search by name or email"><span class="add-on cust-add-on" id="search_user"> <i class="icon-search"></i></span>
                        </div>
                        <div class="search-result" id="user_search_result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Second Coloumn---------------------->
    <div class="span6">
        <div class="widget-box">
            <div class="new-title">
                <h5>Institute</h5>
                <span class="label label-success"><a href="/institute/add"><i class="icon-white icon-plus-sign"></i> Add New Institute</a></span>
            </div>
            <div class="widget-content nopadding box-padding1">
                <div class="main-content">
                    <div class="new-update clearfix">
                        <h6 class="usr-title">Edit Institute</h6>
                        <div class="inst-serch">
                            
                            <select id="dd_institute">
                               <?php echo institute_dd($this->list); ?>
                                
                               
                            </select>
                            <button type="button" id="edit_institute" class="btn btn-danger btn-height">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------End of Second Block----------------------------------------->

</div>
<?php } ?>
<?php if ($this->showAdminFilter) { ?>
    <div class="institute-search">
        <form name="institute-filter" action ="/" method="POST">
            <select name="city"><option value="0">All Cities</option><?php echo $this->dropdown('cities', null, $_POST['city']) ?></select>
            <select name="consultant"><option value="0">All Consultants</option><?php echo $this->dropdown('consultant', null, $_POST['consultant']) ?></select>
            <select name="type"><option value="0">All Institute Types</option><?php echo $this->dropdown('institute_type', null, $_POST['type']) ?></select>
            <button type="submit" class="btn btn-danger btn-height">Search</button>
        </form>
    </div>
<?php } ?>

<?php if ($this->showConsultantFilter) { ?>
    <div class="institute-search">
        <form name="institute-filter" action ="/" method="POST">
            <select name="city"><option value="0">All Cities</option><?php echo $this->dropdown('consultant_cities', $this->consultantId, $_POST['city']) ?></select>
            <select name="type"><option value="0">All Institute Types</option><?php echo $this->dropdown('institute_type', null, $_POST['type']) ?></select>
            <button type="submit" class="btn btn-danger btn-height">Search</button>
        </form>
    </div>
<?php } ?>

<div class="widget-box">
    <div class="widget-title">
        <h5>List of Institute</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th>Institute Name <i class="swapping"></i></th>
                    <th>Institute Location <i class="swapping"></i></th>
                </tr>
            </thead>
            <tbody>

                <?php
                foreach ($this->list as $institute) {
                    echo '<tr class="gradeX"><td><a href="/dashboard/institute?instituteid=' . $institute['id'] . '">' . $institute['name'] . '</a> </td>
                           <td>' . $institute['primary_city'] . '</td></tr>';
                }
                ?>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/unicorn.tables.js"></script>

<script>
    
    function ajax_call(source,url,data,callback){
    
    var crnturl = url;
    $.ajax({
        type: "POST",
        url: url,
        dataType: "json",
        data: data,
        timeout: 3000,
        beforeSend: function() {
            $('a.ajax-loader').trigger('click');
        //source.append('<div class="ajax_loader">Loading........... </div>');
        },
        complete: function() {
            $('button.ajax-close').trigger('click');
          
        },          
        cache: false,
        success: function(result) {
            $('button.ajax-close').trigger('click');
                console.log(result);  
                var fn = window[callback];
                fn(result);
             
        },
        error: function(error) {
            $('button.ajax-close').trigger('click');
          
        //alert("Some problems have occured. Please try again later: " );
        //////console.log(error.responseText);
        }
    });


}

    
    </script>
    
     <?php
                   function institute_dd($data){
                       $htm = '';
                       foreach ($data as $institute) {
                           $id = $institute['id'];
                           $name = $institute['name'];
                            $htm.="<option value='$id'>$name</option>";
                             }
                             
                             return $htm;
                   } 
?>