<!---------------------Start of Activity Info form -----------------------------------------     -->
    
<div class="widget-box collapsible">
    <div class="widget-title">
        <a href="#collapseTwo" data-toggle="collapse">
            <span class="icon"><i class="icon-plus"></i></span>
            <h5>Collapsible, opened by default</h5>
        </a>
        
    </div>
    <div class="collapse" id="collapseTwo">
        <p>Test</p>
    </div>
</div>
        
        
        <div class="widget-content">
            <div class="widget-content tab-content">
        <div id="tab1" class="tab-pane active">
            <form  class="form-horizontal" name="#" >
                <div class="control-group">
                    <label class="control-label">Activity Name :</label>
                    <div class="controls activityinfo-label">
                        <label>Activity name</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Type :</label>
                    <div class="controls activityinfo-label">
                        <label>Pannel Discussion</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Scale :</label>
                    <div class="controls activityinfo-label">
                        <label>Local</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Organised by :</label>
                    <div class="controls activityinfo-label">
                        <label>E-cell</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Level :</label>
                    <div class="controls activityinfo-label">
                        <label>Basic</label>		
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Course Credits :</label>
                    <div class="controls activityinfo-label">
                        <label>Credit 1</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Activity Place Time :</label>
                </div>
                <div class="control-group">
                    <label class="control-label">City:</label>
                    <div class="controls activityinfo-label">
                        <label>Institute City</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Venue :</label>
                    <div class="controls activityinfo-label">
                        <label>National Institute of Technology</label>
                    </div>
                </div>	
                <div class="control-group">
                    <label class="control-label">Start Date :</label>
                    <div class="controls activityinfo-label">
                        <label>15-5-2012</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Duration :</label>
                    <div class="controls activityinfo-label">
                        <label>3</label>
                    </div> 
                </div>		
            </form>
        </div>
        <div id="tab2" class="tab-pane">
            <form  class="form-horizontal" name="#" >
                <div class="control-group">
                    <label class="control-label">Activity Name :</label>
                    <div class="controls">
                        <input id="activity_name" type="text" name="activity_name" placeholder="Please don't use short forms" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Type :</label>
                    <div id="activity-type" class="controls">
                        <select id="activityinfo_type" name="activityinfo_type">
                            <option>Pannel Discussion</option>
                            <option>Lecture/Talk</option>
                            <option>Excercise/Game</option>
                            <option>Conference</option>
                            <option>Competition</option>
                            <option>Workshop</option>
                            <option>Course</option>
                            <option>Mentoring</option>
                            <option>Startup Support</option>
                            <option>Outreach</option>
                            <option>Webinar</option>
                            <option>Review</option>
                            <option>National Platform</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Scale :</label>
                    <div class="controls">
                        <select id="activityinfo_scale" name="activityinfo_scale">
                            <option>Local</option>
                            <option>National</option>
                            <option>International</option>	
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Organised by :</label>
                    <div class="controls">
                        <select id="activityinfo_organisingentity" name="activityinfo_organisingentity">
                            <option>E-cell</option>
                            <option>ESC</option>
                            <option>EDC</option>
                            <option>CC</option>
                            <option>IEDC</option>
                            <option>SVMU</option>
                            <option>TBI</option>
                            <option>Faculty</option>
                            <option>Alumni Association</option>
                            <option>NEN</option>
                            <option>E club</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Level :</label>
                    <div class="controls">
                        <select id="activityinfo_level" id="activityinfo_level">
                            <option>Basic</option>
                            <option>Intermediate</option>
                            <option>Advance</option>
                        </select>
                    </div>
                </div>
                <div id="course-credit" class="control-group">
                    <label class="control-label">Course Credits :</label>
                    <div class="controls">
                        <select id="activityinfo_scale" name="activityinfo_scale">
                            <option>Credit 1</option>
                            <option>Credit 2</option>
                            <option>Credit 3</option>
                            <option>NA</option>

                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Activity Place Time :</label>
                </div>
                <div class="control-group">
                    <label class="control-label">City:</label>
                    <div class="controls">
                        <select id="activity_city" name="activity_city">
                            <option>Institute City</option>
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Venue :</label>
                    <div class="controls">
                        <select id="activityplacetime_venue" name="activityplacetime_venue">
                            <option>List of College Name</option>
                            <option>National Institute of Technology</option>
                            <option>Shoba Institute of Engineering</option>	
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Start Date :</label>
                    <div class="controls form-input">
                        <input type="text" data-date="15-01-2013" name="activityplacetime_date_start" id="activityplacetime_date_start" data-date-format="dd-mm-yyyy"  class="datepicker" />
                    </div>
                </div>
                <div  id="activity-duration" class="control-group">
                    <label class="control-label">Duration :</label>
                    <div class="controls form-input">
                        <input type="number" name="activityplacetime_duration" id="activityplacetime_duration" placeholder="No. of Days (Ex: 2)">
                    </div> 
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary"  value="submit" />
                </div>	
            </form>
        </div>
    </div>                            

        </div>
    </div>
</div>




<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Activity Info</h5>
         <div class="top-options">
            <ul class="nav-tabs1">
                <li class="active"><a data-toggle="tab" href="#tab1"><i class="icon-eye-open"></i> View</a></li>
                <li><a data-toggle="tab" href="#tab2"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
         </div>
    </div> 
    <div class="widget-content tab-content">
        <div id="tab1" class="tab-pane active">
            <form  class="form-horizontal" name="#" >
                <div class="control-group">
                    <label class="control-label">Activity Name :</label>
                    <div class="controls activityinfo-label">
                        <label>Activity name</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Type :</label>
                    <div class="controls activityinfo-label">
                        <label>Pannel Discussion</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Scale :</label>
                    <div class="controls activityinfo-label">
                        <label>Local</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Organised by :</label>
                    <div class="controls activityinfo-label">
                        <label>E-cell</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Level :</label>
                    <div class="controls activityinfo-label">
                        <label>Basic</label>		
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Course Credits :</label>
                    <div class="controls activityinfo-label">
                        <label>Credit 1</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Activity Place Time :</label>
                </div>
                <div class="control-group">
                    <label class="control-label">City:</label>
                    <div class="controls activityinfo-label">
                        <label>Institute City</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Venue :</label>
                    <div class="controls activityinfo-label">
                        <label>National Institute of Technology</label>
                    </div>
                </div>	
                <div class="control-group">
                    <label class="control-label">Start Date :</label>
                    <div class="controls activityinfo-label">
                        <label>15-5-2012</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Duration :</label>
                    <div class="controls activityinfo-label">
                        <label>3</label>
                    </div> 
                </div>		
            </form>
        </div>
        <div id="tab2" class="tab-pane">
            <form  class="form-horizontal" name="#" >
                <div class="control-group">
                    <label class="control-label">Activity Name :</label>
                    <div class="controls">
                        <input id="activity_name" type="text" name="activity_name" placeholder="Please don't use short forms" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Type :</label>
                    <div id="activity-type" class="controls">
                        <select id="activityinfo_type" name="activityinfo_type">
                            <option>Pannel Discussion</option>
                            <option>Lecture/Talk</option>
                            <option>Excercise/Game</option>
                            <option>Conference</option>
                            <option>Competition</option>
                            <option>Workshop</option>
                            <option>Course</option>
                            <option>Mentoring</option>
                            <option>Startup Support</option>
                            <option>Outreach</option>
                            <option>Webinar</option>
                            <option>Review</option>
                            <option>National Platform</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Scale :</label>
                    <div class="controls">
                        <select id="activityinfo_scale" name="activityinfo_scale">
                            <option>Local</option>
                            <option>National</option>
                            <option>International</option>	
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Organised by :</label>
                    <div class="controls">
                        <select id="activityinfo_organisingentity" name="activityinfo_organisingentity">
                            <option>E-cell</option>
                            <option>ESC</option>
                            <option>EDC</option>
                            <option>CC</option>
                            <option>IEDC</option>
                            <option>SVMU</option>
                            <option>TBI</option>
                            <option>Faculty</option>
                            <option>Alumni Association</option>
                            <option>NEN</option>
                            <option>E club</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Level :</label>
                    <div class="controls">
                        <select id="activityinfo_level" id="activityinfo_level">
                            <option>Basic</option>
                            <option>Intermediate</option>
                            <option>Advance</option>
                        </select>
                    </div>
                </div>
                <div id="course-credit" class="control-group">
                    <label class="control-label">Course Credits :</label>
                    <div class="controls">
                        <select id="activityinfo_scale" name="activityinfo_scale">
                            <option>Credit 1</option>
                            <option>Credit 2</option>
                            <option>Credit 3</option>
                            <option>NA</option>

                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Activity Place Time :</label>
                </div>
                <div class="control-group">
                    <label class="control-label">City:</label>
                    <div class="controls">
                        <select id="activity_city" name="activity_city">
                            <option>Institute City</option>
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Venue :</label>
                    <div class="controls">
                        <select id="activityplacetime_venue" name="activityplacetime_venue">
                            <option>List of College Name</option>
                            <option>National Institute of Technology</option>
                            <option>Shoba Institute of Engineering</option>	
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Start Date :</label>
                    <div class="controls form-input">
                        <input type="text" data-date="15-01-2013" name="activityplacetime_date_start" id="activityplacetime_date_start" data-date-format="dd-mm-yyyy"  class="datepicker" />
                    </div>
                </div>
                <div  id="activity-duration" class="control-group">
                    <label class="control-label">Duration :</label>
                    <div class="controls form-input">
                        <input type="number" name="activityplacetime_duration" id="activityplacetime_duration" placeholder="No. of Days (Ex: 2)">
                    </div> 
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary"  value="submit" />
                </div>	
            </form>
        </div>
    </div>                            
</div>
<!---------------------Start of Contributors form -----------------------------------------     -->
<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Activity Contributors</h5>
         <div class="top-options" >
            <ul class="nav-tabs1">
                <li class="active"><a data-toggle="tab" href="#tab3"><i class="icon-eye-open"></i> View</a></li>
                <li><a data-toggle="tab" href="#tab4"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div> 
    <div class="widget-content tab-content">
        <div id="tab3" class="tab-pane active">
            <form class="form-horizontal" name="#">	
                <div class="control-group">
                    <label class="control-label">Select Faculty:</label>
                    <div class="controls activityinfo-label">
                        <ol>	
                            <li>Raj Shekhar</li>
                            <li>Rajesh kumar </li>	
                        </ol>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Lead Speaker Details:</label>
                </div>
                <div class="control-group">
                    <label class="control-label">Select Institute:</label>
                    <div class="controls activityinfo-label">
                        <label>IIM Institute of Technology</label>	
                    </div>
                </div>	
                <div class="control-group">
                    <label class="control-label">Lead Speaker:</label>
                    <div class="controls activityinfo-label">
                        <ol>
                            <li>Sunil kumar Sharma</li>
                            <li>Rajesh kumar </li>
                        </ol>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Sponsors & Partners :</label>
                </div>	
                <div class="control-group">
                    <label class="control-label">Sponsor :</label>
                    <div id= "contributor_sponser" class="controls activityinfo-label">
                        <ol>	
                            <li>Rs 10,5460  -<span> IIM Institute of Technology</span></li>	
                        </ol>
                    </div>
                </div>	
                <div class="control-group">
                    <label class="control-label">Partner :</label>
                    <div id="contributor_partner" class="controls activityinfo-label">
                        <ol>
                            <li>IIM Institute of Technology</li>	
                            <li>IIPM Institute of Technology</li>
                        </ol>	
                    </div>
                </div>
            </form>
        </div>
        <div id="tab4" class="tab-pane">
            <form  class="form-horizontal" name="insertactivitycontributor" action="<?php echo $_SERVER['PHP_SELF'] ?>type=insertcontributor" method="post" >
                <div class="control-group">
                    <label class="control-label">Select Faculty:</label>
                    <div class="controls">
                        <div id="list"></div>
                        <select id="dd">
                            <option value="Mohan, mohan@gmail.com">Mohan</option>
                            <option value="Enric,enric@gmail.com">Enric</option>
                            <option value="Kamlesh kumar,kumar@gmail.com,65661161">Kamlesh</option>
                            <option value="Sourav Ganguly Sourav@gmail.com"> Sourav Ganguly</option>
                        </select>
                        <input type="button" value="Add" class="btn btn-success" id="addexist"> Or
                        <button href="#new_individual" data-toggle="modal" class="btn btn-success">Create new Co-ordinator</button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Lead Speaker Details :</label>
                </div>
                <div class="control-group">
                    <label class="control-label">Select Institute:</label>
                    <div class="controls">
                        <div id="leadlist"></div>
                        <select >
                            <option value="Institute1">Institute 1</option>
                            <option value="Institute2">Institute 2</option>
                            <option value="Institute3">Institute 3</option>
                            <option value="Institute4">Institute 4</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Lead Speaker:</label>
                    <div class="controls">
                        <select id="lead-speaker">
                            <option value="Sachin kumar, sachin@gmail.com, 88922323">Sachin kumar</option>
                            <option value="Rahul Raj, raj@gmail.com, 9885822323">Rahul Raj</option>
                            <option value="Kapil singh, kapil@gmail.com, 566422366">Kapil singh</option>
                            <option value="Shek Ganguly,shek@gmail.com,626265626">Shek Ganguly</option>
                        </select>
                        <input type="button" value="Add" class="btn btn-success" id="exist-speaker"> Or
                        <button href="#new_lead_speaker" data-toggle="modal" class="btn btn-success">Create new Lead Speaker</button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Sponsors & Partners :</label>
                </div>	
                <div class="control-group">
                    <label class="control-label">Sponsor :</label>
                    <div id= "contributor_sponser" class="controls form-input sponser">
                        <input type="text" name="activitycontributor_sponsors_money"  id="activitycontributor_sponsors_money"   placeholder="Rs: xxxx"/>
                        <input type="text" name="activitycontributor_sponsors"  id="activitycontributor_sponsors"   placeholder="Institute name"/>
                        <input type="button" value="+" class="addsponser add">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Partner :</label>
                    <div id="contributor_partner" class="controls form-input">
                        <input type="text" name="activitycontributor_partner"  id="activitycontributor_partner"   placeholder="Organisation / Institute name"/>
                        <input type="button" value="+" class="addpartner add">
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary"  value="submit" />
                </div>
            </form>
        </div>

    </div>                            
</div>
<!---------------------Start of Participants form -----------------------------------------     -->
<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Activity Participants</h5>
        <div class="top-options">
            <ul class="nav-tabs1">
                <li class="active"><a data-toggle="tab" href="#tab5"><i class="icon-eye-open"></i> View</a></li>
                <li><a data-toggle="tab" href="#tab6"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div> 
    <div class="widget-content tab-content">
        <div id="tab5" class="tab-pane active">
            <form  class="form-horizontal" name="insertactivityparticipants" >
                <div class="control-group">
                    <label class="control-label">Number of Participants :</label>
                    <div class="controls activityinfo-label">
                        <label>5</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Number of Participants from Institute :</label>
                    <div class="controls activityinfo-label">
                        <label>15</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Total Fees Collected :</label>
                    <div class="controls activityinfo-label">
                        <label>Rs 15,000</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Participants Details :</label>	
                </div>
                <div class="control-group">
                    <div class="controls"></div>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Student/Entrepreneur</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Id</th>
                            <th>Mobile No</th>
                            <th>Fees Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="even">
                            <td>Student</td>
                            <td>Rahul</td>
                            <td>Kumar</td>
                            <td>Rahul@gmail.com</td>
                            <td>845695332</td>
                            <td>Rs 9,5689</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="tab6" class="tab-pane">
            <form class="form-horizontal" name="insertactivityparticipants" action="<?php echo $_SERVER['PHP_SELF'] ?>type=insertparticipants" method="post" >
                <div class="control-group">
                    <label class="control-label">Number of Participants :</label>
                    <div class="controls form-input">
                        <input type="number" name="activitybeneficiaries_number"  id="activitybeneficiaries_number"   placeholder="Count"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Number of Participants from Institute :</label>
                    <div class="controls form-input">
                        <input type="number" name="activitybeneficiaries_institute"  id="activitybeneficiaries_institute"   placeholder="Count"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Total Fees Collected :</label>
                    <div class="controls form-input">
                        <input type="number" name="activitybeneficiaries_fees"  id="activitybeneficiaries_fees"   placeholder="Rs: xxxx"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="widget-title"><span class="icon"><i class="icon-user"></i></span>
                        <h5>Participant Details</h5>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="span6">
                            <input type="file" />Upload
                        </div>
                        <div class="span4 dwnd-link"><i class="icon-download-alt"></i>
                            <a href="#"> Download Template</a>
                        </div>
                    </div>
                </div>
                <div id="tablecontent"></div>
                <table class="table table-bordered table-striped">
                    <tbody>
                      <tr class="even-row">
                        <td> <input name="sore" id="sore" type="text" placeholder="Student / Entrepreneur"> </td>
                        <td> <input name="fname" id="fname" type="text" placeholder="First Name"> </td>
                        <td> <input name="lname" id="lname" type="text" placeholder="Last Name"> </td>
                        <td> <input name="email" id="email" type="text" placeholder="Email Id"> </td>
                        <td> <input name="mobileno" id="mobileno" type="text" placeholder="Mobile Number"> </td>
                        <td> <input name="feespaid" id="feespaid" type="text" placeholder="Fees Paid"> </td>
                        <td><input type="button"class="btn btn-success" id="addNew" value="+"> </td>
                      </tr>
                    </tbody>
                </table>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary"  value="submit" />
                </div>
            </form>
        </div>

    </div>                            
</div>
<!---------------------Start of Outcome form -----------------------------------------     -->
<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Activity Outcomes</h5>
         <div class="top-options">
            <ul class="nav-tabs1">
                <li class="active"><a data-toggle="tab" href="#tab7"><i class="icon-eye-open"></i> View</a></li>
                <li><a data-toggle="tab" href="#tab8"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div>   
    <div class="widget-content tab-content">
        <div id="tab7" class="tab-pane active">
            <form  class="form-horizontal" name="insertactivityoutcomes" >
                <div class="control-group">
                    <label class="control-label">Average Rating Instructor :</label>
                    <div class="controls activityinfo-label">
                        <label>5</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Average Rating Course :</label>
                    <div class="controls activityinfo-label">
                        <label>5</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Average Rating Organisation :</label>
                    <div class="controls activityinfo-label">
                        <label>5</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Is Follow-up planned ?</label>
                    <div class="controls activityinfo-label">
                        <label>Yes</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Follow-up Details :</label>
                    <div class="controls activityinfo-label">
                        <label>Description goes here</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Number of Ideas :</label>
                    <div class="controls activityinfo-label">
                        <label>5</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Winning Ideas :</label>
                    <div class="controls activityinfo-label">
                        <label>Winning Ides Goes Here....</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Winning Institution:</label>
                    <div class="controls activityinfo-label">
                        <label>IIM Institute of Engineering</label>	
                    </div>
                </div>																					
                <div class="control-group">
                    <label class="control-label">Number of Mentees :</label>
                    <div class="controls activityinfo-label">
                        <label>5</label>	
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Nunber of Mentors :</label>
                    <div class="controls activityinfo-label">
                        <label>5</label>	
                    </div>
                </div>	
            </form>
        </div>
        <div id="tab8" class="tab-pane">
            <form  class="form-horizontal" name="insertactivityoutcomes" >
                <div class="control-group">
                    <label class="control-label">Average Rating Instructor :</label>
                    <div class="controls form-input">
                        <input type="text" name="activityoutcome_instructor" id="activityoutcome_instructor"  placeholder="Out of 5"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Average Rating Course :</label>
                    <div class="controls form-input">
                        <input type="text" name="activityoutcome_course" id="activityoutcome_course"  placeholder="Out of 5"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Average Rating Organisation :</label>
                    <div class="controls form-input">
                        <input type="text" name="activityoutcome_org" id="activityoutcome_org"  placeholder="Out of 5"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Is Follow-up planned ?</label>
                    <div class="controls">
                        <label><input type="radio" name="activityoutcome_plan" /> Yes</label>
                        <label><input type="radio" name="activityoutcome_plan" /> No</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Follow-up Details :</label>
                    <div class="controls form-input">
                        <input type="text" name="activityoutcome_detail" id="activityoutcome_detail"  placeholder="Activity Description"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Number of Ideas :</label>
                    <div class="controls form-input">
                        <input type="text" name="activityoutcome_idea" id="activityoutcome_idea" placeholder="Number of Ideas" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Winning Ideas :</label>
                    <div class="controls form-input">
                        <textarea name="activityoutcome_idea" id="activityoutcome_idea"  placeholder="Brief description about the ideas"/></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Winning Institution:</label>
                    <div class="controls">
                        <select  name="aactivityoutcome_institution" id="aactivityoutcome_institution">
                            <option>Institution Name</option>
                            <option>National Institute of Technology</option>
                            <option>Shoba Institute of Engineering</option>	
                        </select>
                    </div>
                </div>																					
                <div class="control-group">
                    <label class="control-label">Number of Mentees :</label>
                    <div class="controls form-input">
                        <input type="text" name="activityoutcome_mentees" id="activityoutcome_mentees" placeholder="Number of Mentees" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Nunber of Mentors :</label>
                    <div class="controls form-input">
                        <input type="text" name="activityoutcome_mentors" id="activityoutcome_mentors" placeholder="Nunber of Mentors" />
                    </div>
                </div>		
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary"  value="submit" />
                </div>		
            </form>
        </div>

    </div>                            
</div>            
<!---------------- Modal box for creating new Faculty member  ------------------------     ---->
<div id="new_individual" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">x</button>
        <h3>Add New Co-ordinator</h3>
    </div>
    <div class="modal-body">
        <table  class="addnew-entry">
            <tr>
                <td><label class="model-fields">First Name :</label></td>
                <td><input type="text" placeholder="Enter first name" id="newperson"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Last Name :</label></td>
                <td><input type="text" placeholder="Enter Last name" name="last_name"id="newpersonemail"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Email Id :</label></td>
                <td><input type="text" id="newpersonphone" name="email" placeholder="Enter email id"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Category :</label></td>
                <td><input type="text" value="Faculty" readonly/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Institute Employing Organisation :</td>
                <td><input type="text" value="IIM Institute of Engineering" readonly/></td>
            </tr>			
            <tr>
                <td></td>
                <td><input data-dismiss="modal" id="addEntry" type="button" value="Add New Faculty" class="btn btn-success"></td>
            </tr>				
        </table>	
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn" href="#">Cancel Entry</a>
    </div>

</div>
<!----------------- Modal Box for Create new Lead Speaker---------------------------------------->						
<div id="new_lead_speaker" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">x</button>
        <h3>Add New lead Speaker</h3>
    </div>
    <div class="modal-body">
        <table  class="addnew-entry">
            <tr>
                <td><label class="model-fields">First Name :</label></td>
                <td><input type="text" placeholder="Enter first name" name="lead_fname" id="leadfname"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Last Name :</label></td>
                <td><input type="text" placeholder="Enter Last name" name="lead_lname"id="leadlname"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Email Id :</label></td>
                <td><input type="text" id="leademail" name="lead_email" placeholder="Enter email id"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Category :</label></td>
                <td><input type="text" name="category"></td>
            </tr>
            <tr>
                <td><label class="model-fields">Institute Employing Organisation :</td>
                <td><input type="text" name="institute"></td>
            </tr>			
            <tr>
                <td></td>
                <td><input data-dismiss="modal" id="addspeaker" type="button" value="Add New Lead Speaker" class="btn btn-success"></td>
            </tr>				
        </table>	
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn" href="#">Cancel Entry</a>
    </div>

</div>
<!------End of Modal Box------------------>
 <script type="text/javascript" src="/js/datagrid.js"></script>