/**
 * Unicorn Admin Template
 * Diablo9983 -> diablo9983@gmail.com
**/
body {
    background-color: rgb(240, 240, 240);
}

#header {
    box-shadow: 0 1px 0 #333333;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FFFFFF), to(#EEEEEE));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 30%, #EEEEEE 100%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background-image: linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
   
}

#search input[type=text], #search button {
    background-color: #222222;
}
#search input[type=text]:focus {
    color: #777777;
}

#sidebar > ul {
    border-top: 1px solid #ccc;
   
}
#sidebar > ul > li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
#sidebar > ul > li.active {
    background-color: #fafafa;

}

#sidebar > ul > li.open.submenu > a {
/*  border-bottom: 1px solid #fff;*/
}
#sidebar > ul > li.open.active.submenu > a {
    border-bottom: 1px solid #ccc;
}
#sidebar > ul > li > a > .label {
   background-color: rgb(240, 240, 240);
}
#sidebar > ul > li > a:hover {
    background-color: #fff;
    color: #9b1224;
}
#sidebar > ul ul {
    border-top: 1px solid #ccc;
    background-color: #2A2A2A;
}
#sidebar > ul ul li a {
    border-top: 1px solid #ccc;
    background: #fafafa;
}
#sidebar > ul ul li a:hover, #sidebar > ul ul li.active a {
    color: #9b1224;
    background-color: #fff;
}

.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
    background-color: #444444;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, #555555, #222222);
    background-image: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -moz-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -ms-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -o-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: linear-gradient(top, #555555 0%, #222222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 480px) {
    #sidebar > a {
        background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%);
        border-bottom: 1px solid #6e6e6e;
    }
    #sidebar > ul {
        background-color: #444444;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #sidebar > ul ul:before {
        border-right: 7px solid rgba(0, 0, 0, 0.2);
    }
    #sidebar > ul ul:after {
        border-right: 6px solid #222222;
    }
}
