/**
 * Unicorn Admin Template
 * Diablo9983 -> diablo9983@gmail.com
**/
html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
}
body {
  background-color: rgb(240, 240, 240);
    padding: 0;
    margin: 0;
    background-image: -webkit-gradient(linear, 0 30%, 0 100%, from(#fafafa), to(#BAB9B9));
    background-image: -webkit-linear-gradient(top, #fafafa 30%, #BAB9B9 100%);
    background-image: -moz-linear-gradient(top, #fafafa 30%, #BAB9B9 100%);
    background-image: -ms-linear-gradient(top, #fafafa 30%, #BAB9B9 100%);
    background-image: -o-linear-gradient(top, #fafafa 30%, #BAB9B9 100%);
    background-image: linear-gradient(top, #fafafa 30%, #BAB9B9 100%);
}

#logo, #loginbox ,#signupbox{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   
}
#logo {
    background-image: url("../img/logo.png");
    height: 69px;
    padding: 24px 0 7px 5px;
    width: 368px;
    margin-top: 70px;
}
.login-label {
    position:relative;
    top:-4px;
    font-weight: bold;
}
#logo img {

    margin: 0 auto;
    display: block;
}
#loginbox {
    min-height: 196px;
    background: #ffffff;
    box-shadow: 0 2px 7px 0 #252424;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    position: relative;   
}

#loginbox form{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fafafa), to(#BAB9B9));
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #BAB9B9 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0%, #BAB9B9 100%);
    background-image: -ms-linear-gradient(top, #fafafa 0%, #BAB9B9 100%);
    background-image: -o-linear-gradient(top, #fafafa 0%, #BAB9B9 100%);
    background-image: linear-gradient(top, #fafafa 0%, #BAB9B9 100%);
}
#loginbox p {
    margin-top: 20px;
    padding: 0 20px;
    margin-left: 40px;
}

#loginbox .form-actions {
    padding: 14px 20px 15px;
}
#loginbox .form-actions .pull-left {
    margin-top: 2px;
}

#loginbox form#loginform {
    z-index: 200;
}

#loginbox form#recoverform {
    z-index: 100;
    opacity: 0;
    display:none;
}

#loginbox form#recoverform .form-actions {
    margin-top: 27px;
}

#loginbox form#recoverform .control-group {
    margin: 23px 0;
}
.login-top{
    text-align:center;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;

    margin-top: 20px;
    padding:20px;
    border-radius:5px 5px 2px 2px;

}

.form-vertical, .form-actions {
    margin-bottom: 0;
}
.checkbox1{
    margin-left:22px;
}
.agree-policy{
    position:relative;
    top:4px;
}
@media (max-width: 480px){
    #logo, #loginbox,#signupbox {
        width: 80%; 
    }    
}
#signupbox {
    height: 310px;
    background: #ffffff;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    position: relative;

}

#signup form{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
#signupbox p {
    margin-top: 20px;
    padding: 0 20px;
}

#signupbox .form-actions {
    padding: 14px 20px 15px;
}
#signupbox .form-actions .pull-left {
    margin-top: 2px;
}
#signupbox form#signupform {
    z-index: 100;
    opacity: 0;
    display:none;
}

#signupbox form#signupform .form-actions {
    margin-top: 27px;
}

#signupbox form#signupform .control-group {
    margin: 23px 0;
}