/**
 * Custom stylesheet 
 * Author: prakash@inkoniq.com
**/
* {
    outline:none !important;
    -moz-outline: none !important;
}
/* Main */
body {
    overflow-x: hidden;
    margin-top: -9px;
    color:rgb(100, 98,98);
}
a:hover {
    text-decoration: none;
}
/***************Css for print view******************************************************/

html[data-useragent*='MSIE 10.0'] .label-left1 {
    top:2px;
}
html[data-useragent*='MSIE 10.0'] .label-left {
    top:2px;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover{
    color:#999;
}
#noti-addactivity{
    position: relative;
    top:-25px;
}
.dd_error{
    border:1px solid red;
    border-radius : 5px; 
}
.report-error{
    position: relative;
    top:-15px;
}
#noti-activityinfo{
    margin-bottom: 25px;
}
.user-institute{
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    width: 59%;
    background: #fff;
}
#div_institute-show{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 3px 6px;
    width: 54%;
    margin-top: -8px;

}
.cls-input{
    border: 1px solid #ccc;
    padding: 5px 7px;
    display: inline-block;
    width: 89%;
    border-radius: 5px;
    background: #EEEEEE;
    color: #8F8A8A;
    font-size: 14px;
}
#fdp_status{
    font-size: 16px;
    margin-left: 20px;
    color: #fff;
    text-shadow: 0px 2px 2px #9C8D8D;
    background: green;
    padding: 5px 10px;
    border-radius: 15px;
    position: relative;
    bottom: 3px;
}
.red-box{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: red;
    display: inline-block;
    margin-left: 5%;
}
.green-box{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color:rgb(78, 173, 48);
    display: inline-block;
    margin-left: 5%;
}
.margin-bottom10{
    margin-bottom: 10px;
}
.no-update{
    font-size: 1.9em;
    margin: 28% 0 0 28%;
    text-shadow: 1px 3px 4px #C9C9C9;
}
.contact-border{
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.inst-uid{
    font-size: 17px;
}
.modal{
    border-radius:0px;
}
.user-block{
    overflow-y: auto;
    max-height: 223px;
    overflow-x: hidden;
}
.btn-height{
    padding: 0px 12px!important;
    height: 28px;
}
.cal-icon {
    background-image: url(../img/calander.png);
    background-repeat: no-repeat;
    background-position: 95% 53%;
    margin-bottom: 0px!important;
}
.act-date{
    float:right;
    margin-right: 20px;
}
.cal-heading{
    color: #3D3C3C;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
    text-shadow: 1px 1px 2px #D1D1D1;
    position: relative;
    top: -7px
}
.over-flowblock{
    overflow-y: auto;
    height: 350px;
}
.search-result h2{
    font-size: 20px!important;
    font-weight: normal;
    margin-left: 30px;
}
.search-result1 h6{
    font-size: 15px!important;
    font-weight: normal;
}
.search-result1 ol{
    margin-left: 0; 
}
.usr-title{
    font-size: 15px!important;
    font-weight: normal;
    color:#535553;
}
.inst-serch .select2-container{
    width: 70%;
    margin-right: 15px;
}
.inst-serch{
    margin-bottom: 20px;
}
.user-search input{
    width: 42%;
    height: 33px;
    border-radius: 30px 0 0 30px;
    margin: 25px 0 25px 25px;
    padding-left: 15px;
}
.user-search .add-on{
    margin-top: 25px;
    height: 21px;
    border-radius: 0 30px 29px 0!important;
    padding: 10px 15px;
    cursor: pointer;
}
.user-search .add-on i{
    position: relative;
    cursor: pointer;
}
.label-success a{
    color:#fff;
}
.usr-search input{
    float:left;
    width: 70%;
}
.usr-search{
    margin-bottom: 60px;
}
.cust-add-on{
    margin-top: 0px !important;
}
.cust-add-on i{
    margin-left: 10px !important;
}
.custom-grp {
    display: inline-block;
    margin-bottom: 18px;
    padding-right: 4%;
    width: 28%;
}
.custom-grp label {
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
}
.cust-input input,.cust-input textarea{
    width: 90%!important;
}
.cust-input .select2-container{
    width: 94%!important;
}
#div_con_institute .select2-container, #div_institute .select2-container{
    width: 58%!important;
}
.padding-left{
    padding-left: 2%;
}
.pad-bottom{
    padding-bottom: 40px!important;
}
#multi-inst{
    margin-left: 0;
}
#save_user_details,#delete_user,#add_user_details{
    position: relative;
    top:30px;
    width: 100px;
}
.cancel{
    position: relative;
    top:30px;
}

.required-f{ 
    color: red;
    font-size: 11px;
    position: relative;
    top: -5px;
}
.label-info[href], .badge-info[href] {
    background-color: #3A87AD;
}
.box-padding1{
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#cdcdcd), to(#d6d6d6 ));
    background-image: -webkit-linear-gradient(center top, #fdfdfd 0%, #cdcdcd 100%);
    background-image: -moz-linear-gradient(center top , #cdcdcd 0%, #CDCDCD 100%);
    background-image: -ms-linear-gradient(center top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -o-linear-gradient(center top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -linear-gradient(center top, #fdfdfd 0%, #cdcdcd  100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cdcdcd ',GradientType=0 ); 
    border-bottom: 1px solid #CDCDCD;

}
.new-title{
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#cdcdcd ));
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #cdcdcd 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cdcdcd ',GradientType=0 );
    border-bottom: 1px solid #CDCDCD;
    height: 50px;
}
.new-title h5{
    display: inline-block;
    margin-left: 28px;
    margin-top: 17px;
    color: #4E4E4E;
    font-size: 17px;
    font-weight: normal;
    line-height: 12px;
    text-shadow: 0 1px 0 #FCFCFC;
}
.cust-bar{
    float: right;
    width: 18%;
}
.update-done a{
    display: block;
}
.new-title span{
    float: right;
    margin-right: 25px;
    margin-top: 17px;
}
.main-content{
    background-color: #FAFAFA;
    border-radius: 15px;
    margin: 1px 17px 17px;
}
.dash-label{
    position: relative;
    top:12px;
    right: 15px;
    float: right;
}
.percentage{
    font-size: 12px;
    margin-bottom: 10px;
}
.last-update{
    font-size: 12px;
    color:#525252;
}
.up-date{
    color:#666;
}
.red{
    background-color: #F55454;
    color: #fff;
    padding: 1px 3px 1px 5px;
    border-radius: 10px 0px 0px 10px;
    display: inline-block;
    float: right;
    box-shadow: 0px 2px 3px #888;
}
.green{
    background-color: #0FC941;
    color: #fff;
    padding: 1px 3px 1px 5px;
    border-radius: 10px 0px 0px 10px;
    display: inline-block;
    float: right;
    box-shadow: 0px 2px 3px #888;
}
.yellow{
    background-color: #FFD117;
    color: #FFFFFF;
    padding: 1px 3px 1px 5px;
    border-radius: 10px 0px 0px 10px;
    display: inline-block;
    float: right;
    box-shadow: 0px 2px 3px #888;
}
.set-margin{
    margin-bottom: 10px;
    position: relative;
    top: -5px;
}
.piechart{
    margin-left: 5px;
}
.margin-top20{
    margin-top: 20px;
}
.margin-top5{
    margin-top: 5px!important;
}
.border-bottom{
    border-bottom: 1px solid #ccc;
}
.dash-block{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fafafa;
    box-shadow: 5px 8px 6px #CCCCCC;
}
.custom-label{
    display: inline-block;
    font-size: 13px;
    width: 100px;
    font-weight: bold;
}
.c-course{
    margin: 10px 0 15px 5px;
}
.main-course-block{
    margin-bottom: 30px;
}
.remove-course:hover{
    color:red;
}
.add-new-course {
    position: relative;
    top: -10px;
}
.error-404{
    color: #555555;
    font-size: 29px;
    font-weight: normal;
    margin-left: 20px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.error-404e{
    color: #555555;
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.er-red{
    color: rgb(230,41,41);
}
#user-title,#inst-title{
    color: #383636;
    font-weight: normal;
    font-size: 16px;
    margin-left: 5px;
}
#save_inst,#add_inst,#delete_inst{
    position: relative;
    top:30px;
}
.err{
    border: 1px solid red;
}
.fcolor{
    color: #363535;
    font-weight: normal;
    font-size: 16px!important;
    text-shadow: 1px 1px 2px #E2E2E2;
    margin-left: 4px;
}
.widget-title-ftd a h5:hover{
    color:#000;
}
.certified-icon{
    background-image: url(../img/certii-24.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-bottom: -9px;
    position: relative;
    top:-2px;
}
.h5-heading{
    color: #333333;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
    text-shadow: 1px 1px 2px #D1D1D1;  
}
.tpd-list-view{
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 12px 15px;
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    background-color: #ececec;
    margin-left: -5px;
}
.tpd-list-view-inner{
    background-color:#fafafa;
    border:1px solid #cdcdcd;
    padding: 12px 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 30px;
}
.hr-small{
    width: 30%;
    border-bottom: 1px solid #fff;
    border-top:1px solid #cdcdcd;
    margin-left: 32%;
    margin-top: 40px;
}
.tpd-list.table{
    margin: 0;
}
.tpd-list.table th, .tpd-list.table td {
    border-bottom: 1px solid #ddd;
    background: transparent;
    padding: 15px 0;
}
.tpd-list.table th {
    font-size: 17px;
    text-align: left;
    color: #333333;
    font-weight: normal;
}
.widget-box-ftd{
    clear: both;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-top: 0;
    position: relative;
}

.widget-title-ftd{
    background-color: #e7e7e7;
    border: 1px dotted #CCCCCC;
    padding-left: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}
.widget-title-ftd h5{
    display: inline-block;
    font-weight: normal;
    color: #333;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(209,209,209);
    margin-left: 10px;
}
.widget-title-ftd h5:hover{
    color:#5e5a5a;
}
#t-close1,#t-close2,#t-close3{
    opacity: 0.8;
}
.calendar-input{
    width:13%;
}
.tpd-list thead:first-child tr:first-child th:first-child,.tpd-list tbody:first-child tr:first-child td:first-child{
    width:15%;
}
.tpd-list2 thead:first-child tr:first-child th:first-child,.tpd-list2 tbody:first-child tr:first-child td:first-child{
    width:5%!important;
}
.tpd-list3 thead:first-child tr:first-child th:first-child,.tpd-list3 tbody:first-child tr:first-child td:first-child{
    width:27%!important;
}
.tpd-list1 thead:last-child tr:last-child th:last-child,.tpd-list1 tbody:last-child tr:last-child td:last-child{
    width:10%;
}
.course_provider{
    width: 90%!important;
}
.tpd-list tbody tr td{
    padding-left: 3px !important;
}
.calendar-input input[type="text"]{
    width:90%!important;
}
.remark-input input[type="text"]{
    width:90%!important;
}
.margin-top1{
    margin-top: -22px!important;
}
.other-fit{
    position: relative;
    top:9px;
}
.target-level{
    color: #999;
    font-weight: normal;
    font-size: 18px;
    margin-left: 10px;
}
.ov_mai_fra input[type="text"] {
    width: 32%!important;
}
.fund_source input[type="text"], .pff_submittedtoentity input[type="text"] {
    width: 13%!important;
}
.success-top{
    width: 91%;
    margin-left: 2.2%;
    margin-top: 15px;
    margin-bottom: -15px;
}
.list-error{
    margin-left: 70px;
    margin-top: -27px;
    margin-bottom: 23px;
    list-style: none;
}
.alert-grey{
    color: rgb(68, 68, 68);
    background-color: rgb(228, 228, 228);
    border-color: rgb(198, 198, 199);
    font-size: 15px;
    text-align: left;
}
#activityList {
    margin-right: 20%;
}
.campusList{
    margin-right: 10%;
}
.table-bordered td{
    padding-left: 10px;
}
.svmu-leadfac .select2-container{
    width: 42%;
}
.form-actions input[type="button"]{
    width: 125px;
    height: 30px;
}
.form-actions1 input[type="button"]{
    height: 30px;
}
.institute-search input[type="submit"]{
    width: 110px;
    height: 30px;
}
.left-margin{
    margin-left: 22%!important;
}
.no-record{
    position: relative;
    top:10px;
    width: 101px!important;
}
.no-record1{
    position: relative;
    top:10px;
    width: 115px!important;
}
.no-record2{
    position: relative;
    top:10px;
    width: 180px!important;
}
.record-hr{
    border-bottom: 1px solid #f6f7f8;
    border-top: 1px solid #d3d7dc;
}
#lbl_prgm_uploadschedule{
    display: inline;
}
#iedc-none{
    color:#333;
}
.other-field{
    width: 90%;
}
.other-field input[type="text"]{
    width: 94% !important;
}
.eep_list_more input[type="text"]{
    width: 85%!important;
    margin-bottom: 15px;
}
.eep_list_more{
    width: 72%;
}
.div_course_other{
    margin-top: 15px;
}
.div_course_other input[type="text"]{
    width:86% !important;
}
.icon-chevron-up{
    background-position:-288px -120px!important;
}
table.table-striped1 td{
    padding-bottom: 10px;
}
.progress{
    margin-bottom: 0px;
}
@media print{
    *{
        font-size: 8px;
    }
    .tableizer-table td {
        padding: 0px !important;
    }
    table.tableizer-table {
        margin-top: 40px !important;
        margin-bottom: 2px;
    }
    .report-table{
        margin-top: 15px!important;
    }
    .tableizer-table1 th{
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    .tableizer-table th{
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    .institute-report{
        background: none;
        border: 0 !important;
        margin: 0px;
        padding: 0px;
        text-shadow: none !important;
    }
    #breadcrumb{
        display: none;
    }
    .container-fluid{
        margin-top: -220px;
    }
    #user-nav{
        display: none;
    }
    .username{
        display: inline-block !important;
        font-size: 8px !important;
        color:#ccc !important;
        text-shadow: none !important
    }
    form.container{
        display:none;
    }
    .show h2 {
        font-size:15px !important;
        position: relative;
        top: 50px;
        padding:0;
        left:-15px;
    }
    .inst_report{
        font-size: 15px !important;
    }
    .widget-title h5{
        line-height: 0px !important;
        text-shadow: none !important;
        margin-left: -10px!important;
    }
    #sidebar{
        display:none !important;
    }
    #user-nav{
        display: none !important;
    }
    .widget-box{
        border:0 !important;
        margin-bottom: 7px !important;

    }
    .box2{
        position: relative;


    }
    .inner-box1{
        margin-bottom:40px;
    }
    .main-box{
        position: relative;
        top:40px;

    }
    .widget-title{
        background: none !important;
        border:0px !important;
        height: 24px !important;
    }
    .widget-title span.icon{
        display:none;
    }
    table {
        border:solid 1px #000 !important;
    }
    table th, table td{
        line-height:14px !important;      
        padding:0 0 0 5px !important;
    }

    #footer{
        display:none !important
    }
    .widget-content{
        border: 0 !important;
        padding: 0 !important;
        margin-left: 0px;
    }
    .box-padding{
        padding:0px;
    }
    #content-header h1{
        display: none;
    }
    .h-scroller{
        overflow: hidden !important;
    }
    .report_heading{
        display: block !important;
        position: relative;
        top:60px;
        left:-18px;
        font-size:13px!important;
    }

}
/***************End print view**********************************************************/
.date_year{
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    margin-left: 15px;
}
.addButton{
    background-color: rgb(231, 231, 231);
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    width: 60.3%;
    font-size: 15px;
    cursor: pointer;
    margin-top: -10px;
    text-shadow: 0 0 1px #FFFFFF;
}
.addButton:hover{
    background-color: rgb(204, 204, 204);
    cursor: pointer;
}
.im-other-mildstone{
    margin-top:-15px;
}
.goalselect .select2-container{
    width:42%;
}
.perflabel{
    color: #949596;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 13px;
    display: block;
}
.custom-textarea textarea{
    width:61%!important;
}
.repeat-box{
    width: 50%;
    margin-bottom: 10px;
}
.repeat-box input[type="text"]{
    width: 80.3%!important;
}
.classBold{ 
    font-weight: bold;
    padding-left:10px;
}
.repeat-box2{
    margin-bottom: 10px;
    width: 100%;
}
#div_tc{
    width:54%;
}
.repeat-box3{
    margin-bottom: 10px;
    font-size: 13px;
}

.chzn-select123 .chzn-container-single .chzn-single{
    width: 30%!important;
}
textarea{
    resize: none;
}
.repeat-box2 .select2-container{
    width:38%;
}
.classBold input[type="text"]{
    width:32.5%!important;
}
.double-reapter{
    width: 72%;
    margin-bottom: 20px;
}
.double-reapter .select2-container{
    width:40%;
    margin-bottom: 10px;
}
.double-reapter select{
    width:40%;
    font-size: 13px;
}
.double-date{
    margin-left: 10px;
    font-weight: bold;
}
.double-date input[type="text"]{
    width:35%!important;
}
.date1 input[type="text"]{

}
.double-reapter textarea{
    width: 85%!important;
    margin-top:10px; 
}
#div_im_other{
    width:59%;
}
.double-reapter1{
    margin-bottom: 20px;
    width: 93%;
}
.double-reapter1 .select2-container{
    width:40%;
    margin-bottom: 10px;
}
.double-reapter1 select{
    width:40%;
    font-size: 13px;
}
.expertTarget input[type="text"]{
    width:61%!important;  
}
.expertTarget input[type="number"]{
    width:60%!important;  
}
.double-reapter1 textarea{
    width: 85%!important;
    margin-top:10px; 
}
.textfit input[type="text"]{
    width:37.6%!important;
}
.custom-controls{
    margin-left: 190px;
    width: 64%;
    position: relative;
    top:-50px;
}
.act-name{
    font-weight: bold;
    float:left;
    width:100%;
    margin-bottom: 10px;
}
.activity-reapter{
    margin-bottom: 20px;
    width: 92%;
}
.act-name input[type="text"]{
    width: 31.3%!important;
}
.act-name1{
    font-weight: bold;
    margin-left: 7px;
    float:left;
    width:100%;
    margin-bottom: 20px;
}
.act-name1 .select2-container{
    width:33.7%; 
}
.act-name1 select{
    width:34%; 
    font-size: 13px;
}
.actRemove{
    position: relative;
    top:30px;
}
.activityPlan{
    position: relative;
    top:-45px;
}

/********************** Custom Css for Institute Dashboard*************************************/
.yesBorder{
    border-right: 1px solid #CCCCCC;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    margin-top: 11px;
    padding-right: 15px;
    position: relative;
    top: 6px;
}
.noBorder{
    font-weight: normal;
    margin-top: 11px;
    position: relative;
    top: 6px;
}
.onlyBorder{
    border-right: 1px solid #CCCCCC;
    padding-right: 15px;
    font-weight: normal;

}
.onlyBorder1{
    border-right: 1px solid #CCCCCC;
    padding-right: 7px;
    font-weight: normal;
    margin-right: 7px;
}
.leftBorder{
    border-left: 1px solid #CCCCCC;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 11px;
}
.custom-sapn2 .span2{
    width: 11%;
}
.hrline1{
    margin: 35px 0;
    border-bottom:1px solid #ccc;
}
.hrline{
    margin: 35px 0;
    border-bottom:1px solid #ccc;
}
.form-actions{
    background: none;
    margin-top: 20px!important;
}
.hidden-block,.hidden-block1,.hidden-block2,
.hidden-block3,.hidden-block4,.hidden-block5, 
.hidden-block6,.hidden-block7, .hidden-block8,.hidden-block9{
    display: none;
}
.view-less, .view-less1, .view-less2,
.view-less3, .view-less4, .view-less5,
.view-less6, .view-less7,.view-less8,.view-less9{
    display: none;
}

.customSpan .span2{
    width: 14.2%;
    margin-left: 18px;
}
.cursor{
    color:#0088CC;
    cursor: pointer;
    font-weight: normal;
}
.cursor1{
    color:#0088CC;
    cursor: pointer;
    font-weight: normal;
    margin-left: 10px;
}

.margin-bottom{
    margin-bottom: 50px;
}
.margin-bottom20{
    margin-bottom: 20px;
}

.label-heading{
    font-size: 20px;
    color: #4F4F4F;
    height: 40px;
}
.sub-tittle{
    font-size: 18px;
    color:#7F7E7E;
}
.iedc-label-heading{
    color: #4F4F4F;
    font-size: 19px;
    height: 40px;
    margin-left: 20px;
}
.normal{
    font-weight: normal;
}
.margin-top{
    margin-top: 15px;
}
.margin-top .span2{
    width: 11.3%;
    font-weight: bold;
    margin-left: 15px;
}
.borderRight{
    border-right: 1px solid #ccc;
    height: 70px;
    font-weight: normal;
}
.borderleft{
    border-left: 1px solid #ccc;
    height: 45px;
    font-weight: bold;
    padding-left: 25px;
}
.borderRight1{
    border-right: 1px solid #ccc;
    height: 45px;
    font-weight: bold;
}
.borderLeft1{
    border-left: 1px solid #ccc;
    height: 45px;
    font-weight: bold;
    padding-left: 3%;
    padding-bottom: 48px;
}
#lbl_ccteam_additional_fac ul li{
    list-style: decimal;
}
.label-name{
    display: block;
    font-size: 15px;
    text-shadow: 0 1px 0 #FFFFFF;
    color:#000;
}
.edit-top{
    cursor: pointer;
    margin-top: -25px;
    padding-right: 1px;
    text-transform: capitalize;
}
.title-overview{
    font-weight: normal;
    color: #666;
    margin-left: 10px;
}
.content-backg{
    background:#F3F1F1;
    border: 1px solid #CCCCCC;
    margin-top: 15px;
    padding: 20px;
    border-radius: 8px;
}
.form-actions1{
    padding:13px 0 14px 285px;
    margin-top: 15px;
}
.activityBorder{
    border-right: 1px solid #ccc;
    height: 130px;
}
.activityTitle h2{
    font-size: 20px;
    color: #6A6A6B;
    margin-top: 0px;
    font-weight: normal;
}
.title-overview1{
    font-weight: normal;
    color: #949596;

    font-weight: bold;
    font-size: 15px;
}
.widget-box1{
    clear: both;
    margin-bottom: 35px;
    margin-top: 0;
    position: relative;
}
.widget-box2{
    clear: both;
    margin-bottom: 45px;
    margin-top: 0;
    position: relative;
    margin-left: 40px;
}
.widget-title1{
    border-bottom: 3px solid #CDCDCD;
    height: 30px;
    margin-left: 25px;
    margin-right: 20px;
    text-transform: uppercase;
}
.widget-title2{
    border-bottom: 1px solid #CDCDCD;
    height: 30px;
    margin-left: 25px;
    margin-right: 20px;
    text-transform: uppercase;
}
.widget-title1 h5{
    font-size: 28px;
}
.widget-title2 h5{
    font-size: 24px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
}

.institute-dashboard h1{
    color: #555555;

    font-size: 28px;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.institute-dashboard{
    margin-top: -40px;
    padding: 15px;
    margin-bottom: 20px;
}
.institute-address{
    font-size: 15px;
    color:#4A4A4A;
    max-width: 400px;
}
.user-information{
    font-size: 16px;
    color:#929292;
    font-weight: bold;
    position: relative;
    left: -20px;
    top: 5px;
    margin-bottom: 35px;

}
.activityInfo-name{
    font-size: 12px;
    float:right;
    width: 70px;
    text-transform: uppercase;
    font-weight: bold;
}
.inst-row{
    margin-top: 25px;
    text-shadow: 0px 1px 1px #ccc;
}
.user-information li{
    display: inline;
    list-style: none;
    padding-right: 10px; 

}
.user-information li img{
    opacity: 0.5;
    margin-top: -6px;
    margin-right: 5px;
}
.seperator{
    background:#CCCCCC;
    display: inline-block;
    font-size: 20px;
    height: 27px;
    margin-right: 10px;
    position: relative;
    top: 7px;
    width: 1px;
}
.double-line{
    height: 3px;
    border-top: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-top: 8px;
}
.ecell-activity{
    background: #000;
    color:#fff;
    padding: 40px 15px 0px;
    font-size: 65px;
    min-height: 100px!important;
    border-radius:5px;
    margin-bottom: 20px;
}
.edc-activity{
    background: #666666;
    color:#fff;
    padding: 40px 17px 0px;
    font-size: 65px;
    min-height: 100px!important;
    border-radius:5px;
    margin-bottom: 20px;
}
.campus-activity{
    background: #4C4C4C;
    color:#fff;
    padding: 40px 15px 0px;
    font-size: 65px;
    min-height: 100px!important;
    border-radius:5px;
    margin-bottom: 20px;
}
.CampusList h1{
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 25px;
    text-transform: uppercase;
}
.clear-both{
    clear: both;
}
table.table-custom th{
    background-color: #e5e5e5!important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border-collapse: separate;
    filter:none;
    border:1px solid #DAD8D8;
    border-top:1px solid #DAD8D8!important;
}

table.table-custom td{
    background-color: #fcfcfc!important;
    border:1px solid #E9E6E6;
    border-collapse: separate;
    padding-left: 20px;
}
table.table-graph th{
    background-color: #e5e5e5!important;
    text-transform: uppercase;
    font-weight: bold;
    border:1px solid #DAD8D8;
    border-collapse: separate;
    text-align:center!important;
    width:70px;
    filter:none;
}
table.table-graph td{
    border:1px solid #E9E6E6;
    border-collapse: separate;
    text-align:center!important;
    width:70px;
    font-size:11px;
}
.activityPara{
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.activityYear{
    text-align: center;
    background-color: #B9B5B5;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: -20px;
    border:1px solid rgb(153, 153, 153);
    text-shadow: 1px 1px 3px rgb(228, 228, 228);

}
.activity-month{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(213, 213, 213);
    text-shadow: 1px 1px 3px rgb(248, 248, 248);
    color: #4B4B4B;
    border-bottom: 0;
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#cdcdcd ));
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #cdcdcd 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFCFC', endColorstr='#efefef ',GradientType=0); 

}
.header11{
    font-size: 25px!important;
    text-transform: uppercase;
}
.activityCalender a {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    vertical-align: baseline;
    margin-bottom: 5px;
}
.custSpan1{
    width: 60px;
    margin:0px!important;
    background: #ccc;
}
.activityType{
    display:block;
    font-size:11px;
    font-weight: bold;

}
/********************** Custom Css for Institute Dashboard*************************************/
table.tableizer-table {
    border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 5px;
} 
.tableizer-table td {
    padding: 2px;
    margin: 3px;
    border: 1px solid #ccc;
    background: #FCFCFC;
    text-align: center;
}
.tableizer-table th {
    background-color: #E5E5E5; 
    font-weight: bold;
}
table.tableizer-table1 {
    border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 31px;
    width:100%;
} 
.tableizer-table1 td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #ccc;
    background: #FCFCFC;
    text-align: left;
    width: 400px;
}
.tableizer-table1 th {
    background-color: #E5E5E5; 
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
.text-bold{
    font-weight: bold;
}
.h-scroller{
    overflow: auto;
}
.report_heading{
    color: #504D4D;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 30px;
    margin-top: 8px;
}
.ajax_load_venue{
    position: relative;
    top:15px;
    left:20px;
}
.search-container{
    margin-top: 10px;
    margin-left: 20px;
}
.box-padding{
    padding:30px;
}
.nodata{
    color: lightgrey;
}
.custom-table thead:first-child tr:first-child th:first-child, .custom-table tbody:first-child tr:first-child td:first-child {
    width: 70%;
}
.custom-table th{
    font-size: 12px;
}
.table-bordered th:first-child, .table-bordered td:first-child{
    border-left:none;
}

.show h2{
    font-size: 19px;
    color:#555555;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: normal;
    margin-left: 20px;
}
.institute-report .select2-container{
    width:30%;
    margin-right: 10px;
}
.show-inst{
    margin-top: 10px;
}
.report-select{
    font-size: 17px;
    color:#0088CC;
    text-transform: uppercase;
}
.username{
    font-weight: normal;
    font-size: 12px;
    color: #848783;
    display: none;
}
.inst_report{
    color:#0088CC;
}
.institute-search {
    padding: 20px;
    background: #E5E5E5;
    margin-bottom:30px;
    margin-top:-10px;
    border:1px solid #ccc;
    border-radius:5px
}
.institute-report {
    background: #E5E5E5;
    margin-bottom:30px;
    margin-top:-10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 15px;
}
.checkbox-fit{
    position: relative;
    top:-8px;
}
.fact-table td:first-child{
    border-right: 1px solid #ccc!important;
}
.fact-table th:first-child{
    border-right: 1px solid #ccc!important;
}
.faculty-form{
    margin-left: 20px;
}
.user-inbox{
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px 15px;
    margin-bottom: 5px;
} 
.bold-label{
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
    text-shadow: 0px 0px 2px #F7F7F7;
    color: #494949;
}
.user-box{
    padding-bottom: 60px;
}
.user-box a{
    margin-top: 10px;
}
.cust-icon{
    margin: 4px 5px 0 0;
}
.institute-search .select2-container {
    width: 25%;
    margin-right:20px;
}
.modal1{
    color:#fff;
    left: 39%;
    outline: 0 none;
    position: fixed;
    top: 30%;
    width: 300px;
    z-index: 1050;

}
.pull-top {
    margin-top: 0px;
}
h6{
    color: #848783;
    font-size: 14px!important;
}
.icon-back{
    background:url("../img/sucess.png")no-repeat;
    width: 22px;
    height: 22px;
}
.error-msg{
    position: relative;
    top:5px!important;
} 
.error-msg1{
    position: relative;
    top:2px;
}
.icon-back-error{
    background:url("../img/error.png")no-repeat 0 -1px;
    width:24px;
    height:24px;
    position: relative;
    top:-1px;
}
.form-actions a {
    cursor: pointer;
}
#estab_sponsors{
    display:inline-block;
    width: 470px;
}
.cls-estab-amount{
    width:15% !important
}


#estab_sponsor_add{
    margin-top: -10px;
    margin-left:-103px;
}
.error-box{
    border:1px solid #B94A48!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075)inset !important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.follow-updetails{
    display:none;
}
.label-fit1{
    margin-top: 3px;
}
div.checker input {
    opacity: 1!important;
}
.individual-sponsor input[type="text"] {
    margin-right: 10px; margin-bottom: 10px;

}
.individual-sponsor a {
    margin-top: -10px;
}
.sponsor-amt {
    margin-right: 30px;

}
.requiered{
    color:red; 
    font-size: 16px;
    position: relative;
    top: -8px;
}
.requiered1{
    color:red; 
    font-size: 16px;
    margin-left: -10px;
    margin-right: 10px;
    position: relative;
    top:-11px;
}
.requiered3 {
    color: red;
    font-size: 16px;
    position: relative;
    top: -4px;
}
.icon-plus1 {
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position:-408px -96px !important;
}
.table-nengrid tr td{
    border-radius: 0px!important;
    height: 20px;
}
.right-edit{
    height:20px;
}
.label-left{
    position: relative;
    left:-15px;
    top:6px;
    display: inline-block;
    width: 35px;
}
.label-left1{
    position: relative;
    left:-15px;
    top:6px;
    display: inline-block;
}
.right-edit a {
    position:relative;
    top:-14px;
    right: 5px;
    cursor: pointer;
}
.campus-company-name{
    margin-bottom: 47px;
    margin-top: -20px;
}
.campus-noti{
    margin-top: -20px;
    margin-bottom: 40px;
}
.current{
    margin-left: 10px;
}
.create-new{
    margin-bottom: 20px;
    margin-top: -25px;
}
.custom-error{
    border: 1px solid red!important;
}
.user-error{
    color: red;
}
table.table th, table.table td {
    background-image: none;
    background-color: #f5f5f5;
    text-align: left;
}
table.table td {
    background-color: #fcfcfc;
}
#content-header h1 {
    font-size: 24px!important;
}

.action-form{
    margin-top:20px!important;
}

.hide-block{
    display:none;
}
.lnk-show-block{
    display: none;
}
.label-fit{
    position: relative;
    top:6px;
}
div.checker input {opacity: 1!important; }
.label-up{
    position:relative;
    top:-31px;
    left:200px;
}
.small-input{
    width:12% !important;
}
.position-relativee{
    position: relative;
}
.label-upward{
    left: 200px;
    position: absolute;
    top: 17px;
}
.label-upward1{
    position:relative;
    top:-30px;
    left:200px;
}
.edc-list-style li{
    list-style: none;
}
#team-container .select2-container{
    width:42%;
}
#startup-container .select2-container{
    width:42%;
}
#overview-container .select2-container{
    width:42%;
}
#detail-container .select2-container{
    width:42%;
}
#insertactivitycontributor .select2-container {
    width:42%;
}
#activityinfo .select2-container{
    width:42%;
}
.form-dropdown .select2-container{
    width:42%;
}
#insertactivityoutcomes .select2-container {
    width:42%;
}
input.invalid { background: red; color: #FDFDFD; }
.top-options{
    float:right;
}
.nav-tabs1 > li{
    display:inline;
    position:relative;
    top:7px;
    right:10px;
}
.nav-tabs1 > li > a:hover {
    color:#0088CC;
}
.nav-tabs1 > .active > a, .nav-tabs > .active > a:hover {
    color:#0088CC;
    cursor: pointer!important;
}

.nav-tabs1 > li > a {
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    color:#000;
    cursor: pointer;

}

.nav-tabs1 > li > a, .nav-pills > li > a {
    line-height: 14px;
    padding-right: 10px;
}
.even-row td  input[type="text"]{
    width:93%;
}
.activityinfo-label{ 
    position:relative;
    top:6px;
}

.faculty{

    padding:10px;
    width:62%;
}
.facultylist{
    line-height:32px;
}


.model-fields{ 
    text-align:right;
    position:relative;
    top:-5px;

}
.form-horizontal .form-actions {
    padding: 13px 0 14px 255px;
}

.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child{
    border-top-left-radius: 0px!important;
    border-left-width: 0px;
}
.table-bordered{
    border-radius: 0px!important;
    border-left-style: solid!important;
    border-left-color: #ddd;
}
table.table td {
    max-width: 250px;
}
.swapping {

    background: url("../img/swap.png") no-repeat 6px 1px transparent;
    display: inline-block;
    height: 16px;
    opacity: 0.5;
    position: relative;
    top: 2px;
    width: 25px;
}

/*Custom CSS-------------------------------------------------------------------------------------*/
/* Media Query-----------------------------------------------------------------------------------*/
@media only screen and (min-width:1400px){
    div.uploader span.action  {
        width:84px!important; 
    }
    .custom-textarea textarea{
        width: 59% !important; 
    }
    .double-reapter textarea {
        width: 82.5% !important;
    }
    .expertTarget input[type="text"] {
        width: 59% !important;
    }
    .date1 input[type="text"] {
        width: 40%!important;
    }
    .double-reapter1 textarea{
        width: 80%!important;
    }
    .act-name1 select{
        width:34%; 
    }
    .act-name1 .select2-container{
        width:34.7%; 
    }
    .act-name input[type="text"] {
        width: 32.7% !important;
    }
    .classBold input[type="text"] {
        width: 34% !important;
    }
    .chzn-select123{
        width: 34.2%;
    }
    .chzn-select12{
        width: 35%;
    }
    .ov_mai_fra input[type="text"] {
        width: 34%!important;
    }
    .fund_source input[type="text"], .pff_submittedtoentity input[type="text"] {
        width: 20%!important;
    }
    .createnew-button {position: relative;
                       right: 12px;
    }
}
.act-name select{
    width: 32%;
}
.chzn-select12{
    width: 32%;
}
@media only screen and (max-width:1200px){
    .label-name{
        font-size: 13px;
    }
}
/*Media Query Ends Here----------------------------------------------------------------------------------------*/
.check-sucess{
    background:url(../img/icon-sucess.png) no-repeat;
    width:24px;
    height:24px;
    display:inline-block;
    margin-right: 20px;
    margin-top: 5px;
    display: none;
}
.modal-backdrop, .modal-backdrop.fade.in{
    opacity:0.5 !important;
}
.addnew-entry input[type="text"]{
    width:95%;
}
.user-top{
    font-size: 12px;
    position: relative;
    top:5px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.user-logout{
    padding: 5px 0px!important;
}
.compose-msg{
    width: 98%;
    margin-left: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.compose-msg input[type="text"]{
    width: 50%;
    border-radius: 0px!important;
}
.compose-msg textarea{
    width: 50%;
    min-height: 150px;
    border-radius: 0px!important;
}
.inbox-label{
    font-weight: bold;
    text-shadow: 0px 0px 2px #F7F7F7;
    color: #494949;
    margin-right: 3px;
}
.addpartner{
    margin-left: 10px;
}						
.remove_partner{
    margin-left: 10px;
}

#list li,#leadlist li {
    width:70%;

}
.del{ float:right;
      position:relative;
      bottom:3px;
}
.deletelead{ float:right;
             position:relative;
             bottom:3px;
}
#activity-duration{
    display:none;
}
#course-credit{
    display:none;
}
.dwnd-link{

    margin-top:4px;

}
/* Header */
#header {
    height: 110px;
    position: relative;
    width: 100%;

}

#header h1 {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 100px;
    left: 15px;
    line-height: 600px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 390px;
}
#header h1:hover{
    opacity: .7;
}

#header h1 a {
    display: block;
}

/* Search input */
#search {
    position: absolute;
    z-index: 25;
    top: 6px;
    left: 230px;
}
#search input[type=text] {
    border-radius: 4px 0 0 4px;
    padding: 4px 10px 5px;
    border: 0;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.7) inset, 0 1px 0 rgba(255,255,255,0.2); 
    width: 100px;
}

#search button {
    border: 0;
    margin-top: -11px;
    padding: 5px 10px 4px;
    border-radius: 0 4px 4px 0;
    box-shadow: -2px 2px 3px rgba(0,0,0,0.7) inset, 0 1px 0 rgba(255,255,255,0.2); 
}
#search button i {
    opacity: 0.5;
}
#search button:hover i, #search button:active i {
    opacity: 0.9;
}
/* Top user navigation */
#user-nav {
    position: absolute;
    right: 30px;
    top: 55px;
    z-index: 20;
    margin: 0;
}
#user-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#user-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
}

#user-nav > ul > li > a {
    padding: 5px 10px;
    display: block;
    font-size: 12px;
    text-shadow: none;
}

#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a {
    color: #000;
}
#user-nav > ul > li > a > i, #sidebar li a i {
    vertical-align: top;
    /*	background-image: url('../img/glyphicons-halflings-white.png');*/
    opacity: .5;
    margin-top: 2px;
}
#user-nav > ul > li > a:hover > i, #user-nav > ul > li.open > a > i {
    opacity: 1;
}

#user-nav > ul > li > a > .label {
    vertical-align: middle;
    padding: 1px 4px 1px;
    margin: -2px 4px 0;
    display: inline-block;
}


#user-nav > ul ul > li > a {
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
}
#user-nav > ul ul > li > a:hover {
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}


/* Sidebar Navigation */
#sidebar {
    display: block;
    float: left;
    position: relative;
    width: 220px;
    z-index: 16;
}

#sidebar > ul {
    list-style: none;
    margin: -1px 0 0;
    padding: 0;
    position: absolute;
    width: 220px;
    border-bottom: 1px solid #FFFFFF;
}
#sidebar > ul > li {
    display: block;	
    position: relative;
}

#sidebar > ul > li.active {
    /*	box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;*/
}

#sidebar > ul > li > a {
    padding: 10px 0 10px 15px;
    display: block;
    color: #333;
}

#sidebar > ul > li > a > i {
    margin-right: 10px;
}

#sidebar > ul > li.active > a {
    background: url("../img/menu-active1.png") no-repeat scroll right center transparent !important;
    color:#9b1224;
}

#sidebar > ul > li > a > .label {
    margin: 0 20px 0 0;
    float: right;
    padding: 2px 5px 5px;
    /*	box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);*/
}

#sidebar > ul ul {
    display: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;
}
#sidebar > ul li.open ul {
    display: block;
}
#sidebar > ul ul li a{
    padding: 10px 0 10px 25px;
    display: block;
    color: #777777;
}

#sidebar > ul ul li:first-child a {
    border-top: 0;
}
#sidebar > ul ul li:last-child a {
    border-bottom: 0;
}



/* Content */
#content {
    background-color:#fafafa;
    margin-left: 220px;
    margin-right: 0;
    padding-bottom: 25px;
    position: relative;
    min-height: 500px;
    width: auto;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.container-fluid{
    background: #fafafa;
}
#content-header {
    height: 81px;
    position: abslute;
    width: 100%;
    z-index: 20;
    border-top: 1px solid #FFFFFF;
    background: #fafafa
}

#content-header h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
    float: left;
    text-shadow: 0 1px 0 #ffffff;
    margin-left: 20px;
    position: absolute;
}

#content-header .btn-group {
    float: right;
    right: 20px;
    position: absolute;
}

#content-header h1, #content-header .btn-group {
    margin-top: 20px;
}
#content-header .btn-group .btn {
    padding: 11px 14px 9px;
}
#content-header .btn-group .btn .label {
    position: absolute;
    top: -7px;
}

.container-fluid .row-fluid:first-child {
    margin-top: 20px;
}
/* Breadcrumb */
#breadcrumb {
    background-color: #e5e5e5;
    box-shadow: 0 0 1px #ffffff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 10px;
    font-size: 12px;
    margin-top: 1px;
    height: 37px;
    padding-top: 4px;
}
#breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-image: url('../img/breadcrumb.png');
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #666666;
}
#breadcrumb a:hover {
    color: #333333;
}
#breadcrumb a:last-child {
    background-image:none;
}
#breadcrumb a.current {
    font-weight: bold;
    color: #444444;
}
#breadcrumb a i {
    margin-right: 5px;
    opacity: .6;
}
#breadcrumb a:hover i {
    margin-right: 5px;
    opacity: .8;
}

/* Style Switcher */
#style-switcher {
    position: absolute;
    width: 220px;
    height: 30px;
    background-color: #000000;
    z-index: 40;
    right: 0;
    top: 123px;
    border-radius: 5px 0 0 5px;
    margin-right: -190px;
}
#style-switcher i {
    display: inline-block;
    margin: -5px 10px 0 10px;
}
#style-switcher i:hover {
    cursor: pointer;
}
#style-switcher span {
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    margin: -15px 20px 0 0;
    vertical-align:middle;
}
#style-switcher a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;	
}
/* Footer */
#footer {
    text-align: center;
    color: #777777;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* Stat boxes and quick actions */
.stat-boxes, .quick-actions, .quick-actions-horizontal, .stats-plain {
    display: inline-block;
    list-style: none outside none;
    margin: 12px 0 10px;
    text-align: center;
}
.stats-plain {
    width: 100%;
}
.stat-boxes li, .quick-actions li, .quick-actions-horizontal li {
    background-color: #791F1F;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#C91A1A), to(#9C2727));
    background-image: -webkit-linear-gradient(top, #C91A1A  0%, #9C2727  100%);
    background-image: -moz-linear-gradient(top, #C91A1A  0%, #9C2727  100%);
    background-image: -ms-linear-gradient(top, #C91A1A  0%, #9C2727  100%);
    background-image: -o-linear-gradient(top, #C91A1A  0%, #9C2727  100%);
    background-image: linear-gradient(top, #C91A1A  0%, #9C2727  100%);
    border: 1px solid #6B1F1F;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 14px;
    height: 95px;
}
.quick-actions li {
    min-width: 120px;
}
.quick-actions li, .quick-actions-horizontal li {
    padding: 0;
}
.stats-plain li {
    padding: 0 30px;
    display: inline-block;
    margin: 0 10px 20px;
}
.quick-actions li a {
    padding: 10px 30px;
}
.stats-plain li h4 {
    font-size: 40px;
    margin-bottom: 15px;
}
.stats-plain li span {
    font-size: 14px;
    color: #555555;
}
.quick-actions-horizontal li a span {
    padding: 10px 12px 10px 10px;
    display: inline-block;
}
.quick-actions li a, .quick-actions-horizontal li a {
    text-align: center !important;
    display: block;
    color: #666666;
    text-shadow: 0 1px 0 #ffffff;
}
.quick-actions li a i[class^="icon-"], .quick-actions li a i[class*=" icon-"] {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 5px;
}
.quick-actions-horizontal li a i[class^="icon-"], .quick-actions-horizontal li a i[class*=" icon-"] {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-color: transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: -2px 0 0 !important; 
    border-right: 1px solid #dddddd;
    margin-right: 10px;
    padding: 10px;
    vertical-align: middle;
}

.quick-actions i.icon-book {
    background-image: url('../img/icons/32/book.png');
}
.quick-actions i.icon-cabinet {
    background-image: url('../img/icons/32/cabinet.png');
}
.quick-actions i.icon-calendar {
    background-image: url('../img/icons/32/calendar.png');
}
.quick-actions i.icon-client {
    background-image: url('../img/icons/32/client.png');
}
.quick-actions i.icon-database {
    background-image: url('../img/icons/32/database.png');
}
.quick-actions i.icon-download {
    background-image: url('../img/icons/32/download.png');
}
.quick-actions i.icon-graph {
    background-image: url('../img/icons/32/graph.png');
}
.quick-actions i.icon-home {
    background-image: url('../img/icons/32/home.png');
}
.quick-actions i.icon-lock {
    background-image: url('../img/icons/32/lock.png');
}
.quick-actions i.icon-mail {
    background-image: url('../img/icons/32/mail.png');
}
.quick-actions i.icon-pdf {
    background-image: url('../img/icons/32/pdf.png');
}
.quick-actions i.icon-people {
    background-image: url('../img/icons/32/people.png');
}
.quick-actions i.icon-piechart {
    background-image: url('../img/icons/32/piechart.png');
}
.quick-actions i.icon-search {
    background-image: url('../img/icons/32/search.png');
}
.quick-actions i.icon-shopping-bag {
    background-image: url('../img/icons/32/shopping-bag.png');
}
.quick-actions i.icon-survey {
    background-image: url('../img/icons/32/survey.png');
}
.quick-actions i.icon-tag {
    background-image: url('../img/icons/32/tag.png');
}
.quick-actions i.icon-user {
    background-image: url('../img/icons/32/user.png');
}
.quick-actions i.icon-wallet {
    background-image: url('../img/icons/32/wallet.png');
}
.quick-actions i.icon-web {
    background-image: url('../img/icons/32/web.png');
}

.quick-actions-horizontal i.icon-book {
    background-image: url('../img/icons/16/book.png');
}
.quick-actions-horizontal i.icon-cabinet {
    background-image: url('../img/icons/16/cabinet.png');
}
.quick-actions-horizontal i.icon-calendar {
    background-image: url('../img/icons/16/calendar.png');
}
.quick-actions-horizontal i.icon-client {
    background-image: url('../img/icons/16/client.png');
}
.quick-actions-horizontal i.icon-database {
    background-image: url('../img/icons/16/database.png');
}
.quick-actions-horizontal i.icon-download {
    background-image: url('../img/icons/16/download.png');
}
.quick-actions-horizontal i.icon-graph {
    background-image: url('../img/icons/16/graph.png');
}
.quick-actions-horizontal i.icon-home {
    background-image: url('../img/icons/16/home.png');
}
.quick-actions-horizontal i.icon-lock {
    background-image: url('../img/icons/16/lock.png');
}
.quick-actions-horizontal i.icon-mail {
    background-image: url('../img/icons/16/mail.png');
}
.quick-actions-horizontal i.icon-pdf {
    background-image: url('../img/icons/16/pdf.png');
}
.quick-actions-horizontal i.icon-people {
    background-image: url('../img/icons/16/people.png');
}
.quick-actions-horizontal i.icon-piechart {
    background-image: url('../img/icons/16/piechart.png');
}
.quick-actions-horizontal i.icon-search {
    background-image: url('../img/icons/16/search.png');
}
.quick-actions-horizontal i.icon-shopping-bag {
    background-image: url('../img/icons/16/shopping-bag.png');
}
.quick-actions-horizontal i.icon-survey {
    background-image: url('../img/icons/16/survey.png');
}
.quick-actions-horizontal i.icon-tag {
    background-image: url('../img/icons/16/tag.png');
}
.quick-actions-horizontal i.icon-user {
    background-image: url('../img/icons/16/user.png');
}
.quick-actions-horizontal i.icon-wallet {
    background-image: url('../img/icons/16/wallet.png');
}
.quick-actions-horizontal i.icon-web {
    background-image: url('../img/icons/16/web.png');
}

.stat-boxes li:hover, .quick-actions li:hover, .quick-actions-horizontal li:hover  {
    /*    background-color: #BF1D1D;
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#791F1F ), to(#C91A1A));
        background-image: -webkit-linear-gradient(top, #791F1F  0%, #C91A1A  100%);
        background-image: -moz-linear-gradient(top, #791F1F  0%, #C91A1A  100%);
        background-image: -ms-linear-gradient(top, #791F1F  0%, #C91A1A  100%);
        background-image: -o-linear-gradient(top, #791F1F  0%, #C91A1A 100%);
        background-image: linear-gradient(top, #791F1F  0%, #C91A1A 100%);*/
}
.quick-actions li:active, .quick-actions-horizontal li:active  {
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
    background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
}


.stat-boxes .left, .stat-boxes .right {
    text-shadow: 0 1px 0 #000;
    float: left;
}
.stat-boxes .left {
    border-right: 1px solid #DCDCDC;
    box-shadow: 1px 0 0 0 #FFFFFF;
    margin-right: 12px;
    padding: 10px 14px 6px 4px;
    font-size: 10px;
    font-weight: bold;
}

.stat-boxes .right {
    font-size: 12px;
    padding: 9px 10px 7px 0;
    text-align: center;
    width: 80px;
    color: #fff;
}
.stat-boxes .left span, .stat-boxes .right strong {
    display: block;
}
.stat-boxes .right strong {
    font-size: 20px;
    margin-bottom: 3px;
    margin-top: 6px;
}
.stat-boxes .peity_bar_good, .stat-boxes .peity_line_good  {
    color: #459D1C;
}
.stat-boxes .peity_bar_neutral, .stat-boxes .peity_line_neutral  {
    color: #757575;
}
.stat-boxes .peity_bar_bad, .stat-boxes .peity_line_bad  {
    color: #BA1E20;
}

.stats-plain {

}

/* Charts & graphs **/
.chart, .pie, .bars {
    height: 300px;
    max-width: 100%;
}
#tooltip {
    position: absolute;
    display:none;
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 10px;
    background-color: #222222;
    color: #ffffff;
    z-index: 25;
}

/* Widgets */
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-top: 0px;
    margin-bottom:35px;
    position: relative;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
    overflow:hidden !important;
}
.accordion .widget-box {
    margin-top: -2px;
    margin-bottom: 0;
    border-radius: 0;
}
.widget-box.widget-plain {
    background: transparent;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#cdcdcd ));
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #cdcdcd 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #cdcdcd  100%);
    /*        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cdcdcd ',GradientType=0 );  IE6-9 */
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}
.widget-title .nav-tabs {
    border-bottom: 0 none;
}
.widget-title .nav-tabs li a {
    border-bottom: medium none !important;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    border-right: 1px solid #DDDDDD;
    border-top: medium none;
    color: #999999;
    margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a{
    border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #666666;
}
.widget-title .nav-tabs li.active a {
    background-color: #F9F9F9 !important;
    color: #444444;
}
.widget-title span.icon {
    border-right: 1px solid #cdcdcd;
    padding: 9px 10px 7px 11px;
    float: left;
    opacity: .7;
}
.widget-title h5 {
    color: #666666;
    text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-title .buttons {
    float: right;
    margin: 8px 10px 0 0;
}
.widget-title .label {
    padding: 3px 5px 2px;
    float: right;
    margin: 9px 15px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
    margin-right: 190px;
}
.widget-bottom-border{
    border-bottom: 1px solid #cdcdcd;
}
.widget-content {
    padding: 12px 15px;
    /*  border-bottom: 1px solid #cdcdcd;*/
    overflow: hidden;
}
.widget-box.widget-plain .widget-content {
    padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
    border-bottom: 1px solid #CDCDCD;
}
.recent-posts, .recent-comments, .recent-users {
    margin: 0;
    padding: 0;
}
.recent-posts li, .recent-comments li, .article-post li, .recent-users li {
    border-bottom: 1px dotted #AEBDC8;
    list-style: none outside none;
    padding: 10px;
}
.recent-posts li.viewall, .recent-comments li.viewall, .recent-users li.viewall {
    padding: 0;
}
.recent-posts li.viewall a, .recent-comments li.viewall a, .recent-users li.viewall a {
    padding: 5px;
    text-align: center;
    display: block;
    color: #888888;
}
.recent-posts li.viewall a:hover, .recent-comments li.viewall a:hover, .recent-users li.viewall a:hover {
    background-color: #eeeeee;
}

.recent-posts li:last-child, .recent-comments li:last-child, .recent-users li:last-child {
    border-bottom: none !important;
}

.user-thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6BCBF;
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px;
    width: 40px;
}
.user-info {
    color: #666666;
    font-size: 11px;
}

.site-stats {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-stats li {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    margin: 0 0 10px;
    padding: 13px 20px 10px;
    position: relative;
}
.site-stats li:hover {
    background-color: #EDEDED;
}
.site-stats li.divider {
    padding: 0;
    border-width: 1px 0 0;
    border-color: #DDDDDD;
    border-style: dashed;
}
.site-stats li i {
    vertical-align: baseline;
}
.site-stats li strong {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}
.site-stats li small {
    margin-left: 5px;
    font-size: 12px;
    color: #888888;
    font-style: italic;
}

.invoice-content {
    padding: 20px;
}
.invoice-action {
    margin-bottom: 30px;
}
.invoice-head {
    clear: both;
    margin-bottom: 40px;
    overflow: hidden;
    width: auto;
}
.invoice-meta {
    font-size: 18px;
    margin-bottom: 40px;
}
.invoice-date {
    float: right;
    font-size: 80%;
}
.invoice-content h5 {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
.invoice-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.invoice-to {
    float: left;
    width: 370px;
}
.invoice-from {
    float: right;
    width: 300px;
}
.invoice-to li, .invoice-from li {
    clear: left;
}
.invoice-to li span, .invoice-from li span {
    display: block;
}
.invoice-content th.total-label {
    text-align: right;
}
.invoice-content th.total-amount {
    text-align: left;
}
.amount-word {
    color: #666666;
    margin-bottom: 40px;
    margin-top: 40px;
}
.amount-word span {
    color: #5476A6;
    font-weight: bold;
    padding-left: 20px;
}
.panel-left {
    margin-right: 250px;
}
.panel-right {
    width: 249px;
    background-color: #f2f2f2;
    border-left: 1px solid #dddddd;
    position: absolute;
    right: 0;
    top: 37px;
    height: 2500px;
}
.panel-right .panel-title {
    width: 100%;
    background-color: #ececec;
    border-bottom: 1px solid #dddddd;
}
.panel-right .panel-title h5 {
    font-size: 12px;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    padding: 6px 10px 5px;
    margin: 0;
}
.panel-right .panel-content {
    padding: 10px;
}
.chat-content {
    height: 470px;
    padding: 15px;
}
.chat-messages {
    background: none repeat scroll 0 0 #FDFDFD;
    border: 1px solid #DDDDDD;
    height: 425px;
    overflow: auto;
    position: relative;
}
.chat-message {
    padding: 7px 15px;
    margin: 7px 0 0;
}
.chat-message input[type=text] {
    margin-bottom: 0 !important;
    width: 100%;
}
.chat-message .input-box {
    display: block;
    margin-right: 90px;
}
.chat-message button {
    float: right;
}
#chat-messages-inner p {
    padding: 10px;
    margin: 10px 0;
}
#chat-messages-inner p img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-top: 6px;
}
#chat-messages-inner .msg-block, #chat-messages-inner p.offline span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
    display: block;
    margin-left: 40px;
    padding: 10px;
    position: relative;
}
#chat-messages-inner p.offline span {
    background: none repeat scroll  0 0 #FFF5F5;
}
#chat-messages-inner .time {
    color: #999999;
    font-size: 11px;
    font-style: italic;
}
#chat-messages-inner .msg {
    display: block;
    margin-top: 10px;
}
#chat-messages-inner .msg-block:before {
    border-right: 7px solid rgba(0,0,0,0.1);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: "";
    display: inline-block;
    left: -7px;
    position: absolute;
    top: 11px;
}
#chat-messages-inner .msg-block:after {
    border-right: 6px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    display: inline-block;
    left: -6px;
    position: absolute;
    top: 12px;
}
.chat-users {
    padding: 0 0 30px;
}
.chat-users .contact-list {
    line-height: 21px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.chat-users .contact-list li {
    border-color: #dddddd;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding: 1px;
    position: relative;
}
.chat-users .contact-list li:hover {
    background-color: #efefef;
}
.chat-users .contact-list li a {
    color: #666666;
    display: block;
    padding: 8px 5px;
}
.chat-users .contact-list li.online a {
    font-weight: bold;
}
.chat-users .contact-list li.new {
    background-color: #eaeaea;
}
.chat-users .contact-list li.offline {
    background-color: #EDE0E0;
}
.chat-users .contact-list li a img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}
.chat-users .contact-list li .msg-count {
    padding: 3px 5px;
    position: absolute;
    right: 10px;
    top: 12px;
}
.taskDesc i {
    margin: 1px 5px 0;
}
.taskStatus, .taskOptions {
    text-align: center !important;
}
.taskStatus .in-progress {
    color: #64909E;
}
.taskStatus .pending {
    color: #AC6363;
}
.taskStatus .done {
    color: #75B468;
}
.activity-list {
    list-style: none outside none;
    margin: 0;
}
.activity-list li {
    border-bottom: 1px solid #EEEEEE;
    display: block;
}
.activity-list li:last-child {
    border-bottom: medium none;
}
.activity-list li a {
    color: #888888;
    display: block;
    padding: 7px 10px;
}
.activity-list li a:hover {
    background-color: #FBFBFB;
}
.activity-list li a span {
    color: #AAAAAA;
    font-size: 11px;
    font-style: italic;
}
.activity-list li a i {
    margin-right: 10px;
    opacity: 0.6;
    vertical-align: middle;
}
.label-important, .badge-important {
    background-color: #E71A16;
}
.new-update {
    border-top: 1px solid #DDDDDD;
    padding: 10px 12px;
}
.new-update:first-child {
    border-top: medium none;
}
.new-update span {
    display:inline;
    float: left;
    margin-right: 10px;
    margin-top: 1px;
}
.update-day{
    margin-left: 5px;
}
.color-red{
    color:#FA1818!important;
}
.color-yellow{
    color:#F8B21C!important;
}
.color-green{
    color:#29B923!important;
}
.new-update i{
    float: left;
    margin-top: 3px;
    margin-right: 13px;
}
.new-update .update-date {
    color: #BBBBBB;
    float: right;
    margin: 0;
    text-align: center;
    width: 35px;
}
.new-update .update-date .update-day {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -4px;
}
.update-done, .update-alert, .update-notice {
    display: block;
    float: left;
    max-width: 76%;
}

/* Tables */

span.icon .checker {
    margin-top: -5px;
    margin-right: 0;
}

.dataTables_length {
    color: #878787;
    margin: 7px 5px 0;
    position: absolute;
    right: 2px;
    top: -2px;
}
.dataTables_length div {
    vertical-align: middle;
}

.dataTables_paginate {
    line-height: 16px;
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
}
.dataTables_paginate .ui-button,  .pagination.alternate li a {
    font-size: 12px;
    padding: 4px 10px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd #dddddd #cccccc; /* for IE < 9 */
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 16px;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
}
.dataTables_paginate .ui-button:hover, .pagination.alternate li a:hover{
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(center top , #f0f0f0, #dadada);
    background-image: -ms-linear-gradient(top, #f0f0f0, #dadada);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#dadada));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #dadada);
    background-image: -o-linear-gradient(top, #f0f0f0, #dadada);
    background-image: linear-gradient(top, #f0f0f0, #dadada);
    color: #222222;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
}

.dataTables_paginate .first{
    border-radius: 4px 0 0 4px;    
}
.dataTables_paginate .last {
    border-radius: 0 4px 4px 0;    
}
.dataTables_paginate .ui-state-disabled, .fc-state-disabled, .pagination.alternate li.disabled a {
    color: #AAAAAA !important;
}
.dataTables_paginate .ui-state-disabled:hover, .fc-state-disabled:hover, .pagination.alternate li.disabled a:hover {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    cursor: default !important;
}
.dataTables_paginate span .ui-state-disabled, .pagination.alternate li.active a {
    background-color: #414141 !important;
    background-image: -moz-linear-gradient(center top , #555555, #222222) !important;
    background-image: -ms-linear-gradient(top, #555555, #222222) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222)) !important;
    background-image: -webkit-linear-gradient(top, #555555, #222222); !important
    background-image: -o-linear-gradient(top, #555555, #222222) !important;
    background-image: linear-gradient(top, #555555, #222222) !important;
    color: #ffffff !important;
    cursor: default !important;
}
div.dataTables_wrapper .ui-widget-header {
    border-right: medium none;
    border-top: 1px solid #D5D5D5;
    font-weight: normal;
    margin-top: -1px;
}
.dataTables_wrapper .ui-toolbar {
    padding: 5px;
}
.dataTables_filter {
    color: #878787;
    font-size: 11px;
    left: 0;
    margin: 4px 8px 2px 10px;
    position: absolute;
    text-align: left;
}
.dataTables_filter input {
    margin-bottom: 0;
}


.table th {
    height: auto;
    font-size: 11px;
    padding: 5px 10px 2px;
    border-bottom: 0;
    text-align: center;
    color: #666666;
}
.table.with-check tr th:first-child, .table.with-check tr td:first-child {
    width: 10px;
}
.table.with-check tr th:first-child i{
    margin-top: -2px;
    opacity: 0.6;
}
.table.with-check tr td:first-child .checker {
    margin-right: 0;
}
.table tr.checked td {
    background-color: #FFFFE3 !important;
}
/* Misc */
.nopadding {	
    padding: 0 !important;
}
.nopadding .table {
    margin-bottom: 0;
}
.nopadding .table-bordered {
    border: 0;
}
.thumbnails {
    margin-left: -2.12766% !important;
}
.thumbnails [class*="span"] {
    margin-left: 2.12766% !important;
    position: relative;
}
.thumbnails .actions {
    width: 32px;
    height: 16px;
    background-color: #000000;
    padding: 5px 8px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -24px;
    opacity: 0;
    -moz-transition: opacity 0.3s ease-in-out;
}
.thumbnails li:hover .actions {
    opacity: 1;
}
.line {
    background: url("../img/line.png") repeat-x scroll 0 0 transparent;
    display: block;
    height: 8px;
}
.modal {
    z-index: 99999 !important;
}
.modal-backdrop {
    z-index: 999 !important;
}
.modal-header {
    height: auto;
    padding: 8px 15px 5px;
}
.modal-header h3 {
    font-size: 12px;
    text-shadow: 0 1px 0 #ffffff;
}

.notify-ui ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.notify-ui li {
    background-image: -moz-linear-gradient(top, #eeeeee,#dddddd);
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #dddddd;
}
.notify-ui li:hover {
    cursor: pointer;
    color: #777777;
}

/* Forms */
form {
    margin-bottom: 0;
}
.form-horizontal .control-group {
    /*border-top: 1px solid #ffffff;
    border-bottom: 1px solid #eeeeee;*/
    margin-bottom: 0;
}
.form-horizontal .control-group:last-child {
    border-bottom: 0;
}
.form-horizontal .control-label {
    padding-top: 15px;
    width: 235px;
    text-shadow: 0 0 2px #FFFFFF;
    color:#353434;
    font-size: 15px;
}
.form-horizontal .controls {
    margin-left: 245px;
    padding: 10px 0;
}
.form-horizontal input[type=text], .form-horizontal input[type=password], .form-horizontal textarea {
    width: 40.4%;
}
.form-horizontal .form-actions {
    margin-top: 0;
    margin-bottom: 0;
}
.help-block, .help-inline {
    color: #999999;
}
/* Responsive design */
@media (max-width: 480px) {
    #header h1 {
        top: auto;
        left: auto;
        margin: 3px auto;
    }
    #user-nav {
        position: relative;
        left: auto;
        right: auto;
        width: 100%;
        margin-top: -43px;
        margin-bottom: 43px;
    }
    .navbar > .nav {
        float: none;
    }
    #user-nav > ul {
        left: 50%;
        position: absolute;
    }
    #content {
        margin-left: 0 !important;
        border-top-left-radius: 0;
    }
    #content-header {
        margin-top: 0;
        height: 140px;
        text-align: center;
    }
    #content-header h1, #content-header .btn-group {
        float: none;
    }
    #content-header h1 {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 0;
        padding-top: 15px;
        width: 100%;
    }
    #content-header .btn-group {
        margin-top: 70px;
        margin-bottom: 0;
        margin-right: 0;
        left: 30%;
    }
    #sidebar {
        float: none;
        width: 100% !important;
    }
    #sidebar > a {
        padding: 7px 20px 7px 15px;
        box-shadow: 0 1px 0 #666666;
        margin-bottom: 1px;
        display: block !important;
        text-transform: uppercase;
        color: #eeeeee;
        font-size: 10px;
    }
    #sidebar > a > i {
        margin-right: 10px;
        background-image: url('../img/glyphicons-halflings-white.png');
    }
    #sidebar > ul {
        display: none;
        margin: -2px 0 0 !important;
        width: 100% !important;
        box-shadow: 0 6px 6px rgba(0,0,0,0.4);
    }
    #sidebar > ul > li.active > a {
        background: none !important;
    }
    #sidebar > ul > li > a > span {
        display: inline !important;
    }
    .widget-title .buttons > .btn {
        width: 11px;
        white-space: nowrap;
        overflow: hidden;
    }
    .form-horizontal .control-label {
        padding-left: 30px;
    }
    .form-horizontal .controls {
        margin-left: 0;
        padding: 10px 30px;
    }
    .form-actions {
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #header h1 {
        top: 3px;
    }
    #sidebar, #sidebar > ul {
        width: 43px;
    }
    #sidebar > ul ul {
        display: none;
        position: absolute;
        left:50px;
        top: 0;
        min-width: 150px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.7);
        border-radius: 5px;		
        list-style: none;
    }
    #sidebar > ul ul li a {
        white-space: nowrap;
        padding: 10px 25px;
    }
    #sidebar > ul ul:before {
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        content: "";
        display: inline-block;
        left: -6px;
        position: absolute;
        top: 11px;
    }
    #sidebar > ul ul:after {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        content: "";
        display: inline-block;
        left: -5px;
        position: absolute;
        top: 12px;
    }
    #sidebar > a {
        display: none !important;
    }
    #sidebar > ul > li.open.submenu > a {
        border-bottom: none !important;
    }
    #sidebar > ul > li > a > span {
        display: none;
    }
    #content {
        margin-left: 43px;
    }
}
@media (max-width: 600px) {
    .widget-title .buttons {
        float: left;
    }
    .panel-left {
        margin-right: 0;
    }
    .panel-right {
        border-top: 1px solid #DDDDDD;
        border-left: none;
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        width: auto;
    }

}
@media (max-width: 767px) {
    body {
        padding: 0 !important;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    #search { display: none; }
    #user-nav > ul > li > a > span.text {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    [class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: none;
        margin-left: 0;
        width: auto;
    }
}
@media (max-width: 979px) {
    div.dataTables_wrapper .ui-widget-header {
        height: 68px;
    }
    .dataTables_filter {
        position: relative;
    }
    .dataTables_filter, .dataTables_paginate {
        text-align: center;
    }
}

.textyes {
    display: none;
}