<?php
$data = $this->data;
//die(print_r($data));

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<style>
    .widget-title{

    }

</style>
<input type="hidden" value="<?php echo $_GET['instituteid']; ?>" id="instituteid" />



<script>
    $(document).ready(function(){
        $('#breadcrumb').hide();
        $('.header_heading').hide();
        $('#content-header').hide();
    });
    
</script>
<!-----------------First Block--------------------------------------------->
<div class="row-fluid">
    <div class="span6">
        <div class="widget-box">
            <div class="new-title">
                <h5>Last Updated</h5>
                <span class="label label-important">Outdated</span>
            </div>
            <div class="widget-content nopadding box-padding1">
                <div class="main-content over-flowblock">
                    <?php echo get_list_html($data['updated']['C'], 'updated', 'C'); ?>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Second Coloumn---------------------->
    <div class="span6">
        <div class="widget-box">
            <div class="new-title">
                <h5>Data Completion</h5>
                <span class="label label-important">Incomplete</span>
            </div>
            <div class="widget-content nopadding box-padding1">
                <div class="main-content over-flowblock">
                    <?php echo get_list_html($data['completed']['C'], 'completed', 'C'); ?>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------Second Block--------------------------------------------->
<div class="row-fluid">
    <div class="span6">
        <div class="widget-box">
            <div class="new-title">
                <h5>Last Updated</h5>
                <span class="label label-warning">Need Attention</span>
            </div>
            <div class="widget-content nopadding box-padding1">
                <div class="main-content over-flowblock">
                    <?php echo get_list_html($data['updated']['B'], 'updated', 'B'); ?>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- Second Coloumn---------------------->
    <div class="span6">
        <div class="widget-box">
            <div class="new-title">
                <h5>Data completion</h5>
                <span class="label label-warning">Moderately Completed</span>
            </div>
            <div class="widget-content nopadding box-padding1">
                <div class="main-content over-flowblock">
                    <?php echo get_list_html($data['completed']['B'], 'completed', 'B'); ?>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------Third Block--------------------------------------------->
<div class="row-fluid">
    <div class="span6">
        <div class="widget-box">
            <div class="new-title">
                <h5>Last Updated</h5>
                <span class="label label-success">Recently Updated</span>
            </div>
            <div class="widget-content nopadding box-padding1">
                <div class="main-content over-flowblock">
                    <?php echo get_list_html($data['updated']['A'], 'updated', 'A'); ?>
                </div>
            </div>
        </div>
    </div>
    <!-- Second Coloumn---------------------->
    <div class="span6">
        <div class="widget-box">
            <div class="new-title">
                <h5>Data completion</h5>
                <span class="label label-success">Up to Date</span>
            </div>
            <div class="widget-content nopadding box-padding1">
                <div class="main-content over-flowblock">
                    <?php echo get_list_html($data['completed']['A'], 'completed', 'A'); ?>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>
<script>
    var data = <?php echo json_encode($data); ?>;
    init_dashboard(data);
  
</script>
<?php

function get_list_html($data, $type, $status) {
    if (!$data) {
        $htm = '<p class="no-update">No Updates Found...</p>';
        return $htm;
    }
    $i = 1;
    $htm = '';

    foreach ($data as $key => $val) {
        $inst_id = $val[0]['institute_id'];
        $inst_name = ucfirst($val[0]['institute_name'][0]['name']);
        $section = ucfirst($val[0]['type']);
        $date = ($val[0]['last_changed_text'] != '') ? $val[0]['last_changed_text'] : 'NA';
        $completed = ($val['average'] != '') ? $val['average'] : '0';
        switch ($status) {
            case 'A':
                $color = 'color-green';
                $bar = 'progress-success';
                break;
            case 'B':
                $color = 'color-yellow';
                $bar = 'progress-warning';
                break;
            case 'C':
                $color = 'color-red';
                $bar = 'progress-danger';
                break;
            default:
                break;
        }
       switch ($section) {
            case 'Svmu':
                $section = 'SVMU';
                break;
            case 'Cc':
                $section = 'Campus Company';
                break;
            case 'Ecell':
                $section = 'E-Cell';
                break;
            case 'Edc':
                $section = 'EDC';
                break;
            case 'Iedc':
                $section = 'IEDC';
                break;
             case 'Esc':
                $section = 'ESC';
                break;
            
            default:
                break;
        }
        if ($type == 'updated') {
            $htm.= "<div class='new-update clearfix'>
                        <div class='update-done'>										
                            <a href='/dashboard/institute?instituteid=$inst_id'><strong>$inst_name</strong></a>
                            <span>Last Updated : $section</span>
                        </div>
                        <div class='update-date $color'><span class='update-day'>$date</span></div>
                    </div>";
        } else if ($type == 'completed') {
            $htm.= "<div class='new-update clearfix'>
                        <div class='update-done'>										
                           <a href='/dashboard/institute?instituteid=$inst_id'><strong>$inst_name</strong></a>
                            <span>Most Completed : $section</span>
                        </div>
                        <div class='progress $bar cust-bar'>
                            <div style='width: 100%;' class='bar'>$completed%</div>
                        </div>
                    </div>";
        }


        $i++;
    }


    return $htm;
}
?>