<script>
    $(document).ready(function(){
        $('#breadcrumb,#content-header').hide();
    });
</script>
<style>
    .widget-title{
        background-image: none;
    }
</style>
<div class="row-fluid">
    <div class="span12 activity-month"><span class="label-fit" id="calendar-month">August 2013</span>
        <span class="act-date"><input type="text" class="datepicker cal-icon" name="date_user_select" id="date_user_select" data-date-format="mm-yyyy" placeholder="Select month">
            <button type="button" class="btn btn-danger" id="btn_show_calendar"><i class="icon-white icon-search"></i></button></span>
    </div>  
</div>
<div class="widget-box">
    <div class="widget-title">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Week 1</a></li>
            <li><a data-toggle="tab" href="#tab2">Week 2</a></li>
            <li><a data-toggle="tab" href="#tab3">Week 3</a></li>
            <li><a data-toggle="tab" href="#tab4">Week 4</a></li>
        </ul>
    </div>
    <div class="widget-content tab-content border-bottom margin-top20">
        <div id="tab1" class="tab-pane active">
            <!-----first block--------------------------->   
            <div class="tpd-list-view">
                <h5 class="cal-heading">Day 1 - Day 7</h5>
                <div class="tpd-list-view-inner">
                    <table class="table tpd-list tpd-list2" id="tbl_week1">
                        <thead>
                            <tr>
                                <th>Sno.</th>
                                <th>Activity Name</th>
                                <th>Activity Date</th>
                                <th>Institute Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab-pane">
            <!-----week2-------------------->   
            <div class="tpd-list-view">
                <h5 class="cal-heading">Day 8 - Day 14</h5>
                <div class="tpd-list-view-inner">
                    <table class="table tpd-list tpd-list2" id="tbl_week2">
                       <thead>
                            <tr>
                                <th>Sno.</th>
                                <th>Activity Name</th>
                                <th>Activity Date</th>
                                <th>Institute Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!---End of week2---->
        </div>
        <div id="tab3" class="tab-pane">
            <!-------Week3------------->
            <div class="tpd-list-view">
                <h5 class="cal-heading">Day 15 - Day 21</h5>
                <div class="tpd-list-view-inner">
                    <table class="table tpd-list tpd-list2" id="tbl_week3">
                        <thead>
                            <tr>
                                <th>Sno.</th>
                                <th>Activity Name</th>
                                <th>Activity Date</th>
                                <th>Institute Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <!---End of Week3---->
        </div>
        <div id="tab4" class="tab-pane">
            <!-------Week4------------->
            <div class="tpd-list-view">
                <h5 class="cal-heading">Day 21 - Month End</h5>
                <div class="tpd-list-view-inner">
                    <table class="table tpd-list tpd-list2" id="tbl_week4">
                        <thead>
                            <tr>
                                <th>Sno.</th>
                                <th>Activity Name</th>
                                <th>Activity Date</th>
                                <th>Institute Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <!---End of Week4---->
        </div>
    </div>                            
</div> 


<script>
$(document).ready(function(){
    
    //init of calendar
    var currentTime = new Date()
    var month = currentTime.getMonth() + 1
    var day = currentTime.getDate()
    var year = currentTime.getFullYear()
    var date  = month+'-'+year ;
    var data  = {'date':date};
    init_calendar(data); 
    
    
    $('#btn_show_calendar').click(function(){
        var data  = {'date':$('#date_user_select').val()};
         init_calendar(data); 
    }) ;
    
  });
  
  function init_calendar(data){
      var form= $('form');
      var callback = 'result_show_calendar';
      var url  = '/dashboard/get-consultant-calendar/';
      ajax_call(form,url,data,callback);
  }
 
    

    
function ajax_call(source,url,data,callback){

    var crnturl = url;
    $.ajax({
        type: "POST",
        url: url,
        dataType: "json",
        data: data,
        timeout: 3000,
        beforeSend: function() {
            //console.log(url);
            //console.log(data);
            //console.log(source);
            $('a.ajax-loader').trigger('click');
        },
        complete: function() {
            $('button.ajax-close').trigger('click');
          
        },          
        cache: false,
        success: function(result) {
            console.log(result);
            $('button.ajax-close').trigger('click');             
               
            var fn = window[callback];
            fn(result);
        //                }
                 
        },
        error: function(error) {
            $('button.ajax-close').trigger('click');
          
        //alert("Some problems have occured. Please try again later: " );
        //console.log(error);
        }
    });
    
    }

function result_show_calendar(data){
    if(!data){
        return false;
    }
   var htm = '';
    var prefix = '<thead><tr><th>No.</th><th>Activity Name</th><th>Start Date</th><th>Institute</th><th>Duration</th><th>Action</th></tr></thead><tbody>';
    var suffix = '</tbody>';
    var time = new Array('week1','week2','week3','week4');
    $.each(time,function(k,v){
        if(typeof data[v] != 'undefined'){
          var htm = create_act_table(data[v][0]); 
          $('#tbl_'+v).html(prefix+ htm + suffix);
        }
        else{
            var htm = '<tr><td><p class="alert">No activities found...</p></td></tr>';
            $('#tbl_'+v).html(htm);
        }
        
        
//        $('#'+v).text(data[v]['advance'].length);
        
    });
    $('#calendar-month').text(data['date']);
       
    
}
function create_act_table(data){
    if(!data){
        return false;
    }
    var htm= '';
    $.each(data,function(k,v){
        
        htm+='<tr> <td>  '+(k+1)+'     </td> <td> '+v['activityinfo_title']+'  </td> <td>   '+display_date(v['activityplacetime_date_start'])+'    </td><td>  '+v['name']+'</td><td>'+v['activityplacetime_duration']+'    </td><td><a href="/activity/edit?id='+v['activity_id']+'&instituteid='+v['institute_id']+'" class="label label-info">View</a></td> </tr>';
    });
    
    return htm;
  
    
}


function getParameter(paramName) {
    var searchString = window.location.search.substring(1),
    i, val, params = searchString.split("&");

    for (i=0;i<params.length;i++) {
        val = params[i].split("=");
        if (val[0] == paramName) {
            return unescape(val[1]);
        }
    }
    return null;
}


</script>