<?php
$data = $this->data;
//die(print_r($data));
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<style>
    .widget-title{
        background-image: none;
    }
    canvas {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -moz-tap-highlight-color: rgba(0,0,0,0);
    }
    .lf_results{
        text-align:center;
    }
</style>
<input type="hidden" value="<?php echo $_GET['instituteid']; ?>" id="instituteid" />


<div class="institute-dashboard1">
    
    <div class="tpd-list-view">
        <div class="row-fluid">
            <div class="span4 dash-block">
                <div class="row-fluid margin-top5" id="card_ecell">
                    <div class="span5">
                        <canvas id="canvas_ecell" class="piechart" height="110" width="110"></canvas>
                        <div><span class="green-box"></span> <span class="percentage"></span></div>
                        <div class="margin-bottom10"><span class="red-box"></span> <span class="incomplete"></span></div>
                    </div>
                    <div class="span7">
                        <h6 class="pie-title"> E-Cell</h6>
                        <div class="last-update">Last Updated : <span class="red">17th Jun 2013</span></div>
                    </div>
                </div>
            </div>
            <div class="span4 dash-block">
                <div class="row-fluid margin-top5" id="card_edc">
                    <div class="span5">
                        <canvas id="canvas_edc" class="piechart" height="110" width="110"></canvas>
                        <div><span class="green-box"></span> <span class="percentage"></span></div>
                        <div class="margin-bottom10"><span class="red-box"></span> <span class="incomplete"></span></div>
                    </div>
                    <div class="span7">
                        <h6 class="pie-title">EDC</h6>
                        <div class="last-update">Last Updated : <span class="green">20th Jul 2013</span></div>

                    </div>
                </div>
            </div>	
            <div class="span4 dash-block">
                <div class="row-fluid margin-top5" id="card_esc">
                    <div class="span5">
                        <canvas id="canvas_esc" class="piechart" height="110" width="110"></canvas>
                        <div><span class="green-box"></span> <span class="percentage"></span></div>
                        <div class="margin-bottom10"><span class="red-box"></span> <span class="incomplete"></span></div>
                    </div>
                    <div class="span7">
                        <h6 class="pie-title">ESC</h6>
                        <div class="last-update">Last Updated : <span class="yellow">10th Jul 2013</span></div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="row-fluid">
            <div class="span4 dash-block">
                <div class="row-fluid margin-top5" id="card_iedc">
                    <div class="span5">
                        <canvas id="canvas_iedc" class="piechart" height="110" width="110"></canvas>
                        <div><span class="green-box"></span> <span class="percentage"></span></div>
                        <div class="margin-bottom10"><span class="red-box"></span> <span class="incomplete"></span></div>
                    </div>
                    <div class="span7">
                        <h6 class="pie-title">IEDC</h6>
                        <div class="last-update">Last Updated : <span class="yellow">10th Jul 2013</span></div>
                    </div>
                </div>
            </div>
            <div class="span4 dash-block">
                <div class="row-fluid margin-top5" id="card_cc">
                    <div class="span5">
                        <canvas id="canvas_cc" class="piechart" height="110" width="110"></canvas>
                        <div><span class="green-box"></span> <span class="percentage"></span></div>
                        <div class="margin-bottom10"><span class="red-box"></span> <span class="incomplete"></span></div>
                    </div>
                    <div class="span7">
                        <h6 class="pie-title">Campus Company</h6>
                        <div class="last-update">Last Updated : <span class="red">10th May 2013</span></div>
                    </div>
                </div>
            </div>	
            <div class="span4 dash-block">
                <div class="row-fluid margin-top5" id="card_svmu">
                    <div class="span5">
                        <canvas id="canvas_svmu" class="piechart" height="110" width="110"></canvas>
                        <div><span class="green-box"></span> <span class="percentage"></span></div>
                        <div class="margin-bottom10"><span class="red-box"></span> <span class="incomplete"></span></div>
                    </div>
                    <div class="span7">
                        <h6 class="pie-title">SVMU</h6>
                        <div class="last-update">Last Updated : <span class="green">21th Jul 2013</span></div>
                    </div>
                </div>
            </div>	
        </div>
    </div>
    <hr class="hrline">

    <!-----------Tab Content---------------------------------->
    <div class="widget-box">
        <div class="widget-title">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1">Weekly</a></li>
                <li><a data-toggle="tab" href="#tab2">Monthly</a></li>
                <li><a data-toggle="tab" href="#tab3">Quarterly</a></li>
            </ul>
        </div>
        <div class="widget-content tab-content border-bottom">
            <div id="tab1" class="tab-pane active">
                <!-----first block--------------------------->   
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd margin-top20">
                        <i class="icon-plus"></i>
                        <h5>Advanced Activities</h5>
                        <span class="label label-warning dash-label"><span id="week_adv_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- 1st Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="week_adv">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>NEN GS Tools for Growth</td>
                                            <td><span id="" class="">20-7-2013</span></td>
                                            <td><span id="" class="">2.5 days</span></td>
                                            <td><a href="#" class="label label-info">View</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!--- End of Block---->
                        </div>
                    </div>
                </div>
                <!-----Second block--------------------------->  
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd">
                        <i class="icon-plus"></i>
                        <h5>Activities</h5>
                        <span class="label label-warning dash-label"><span id="week_act_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- Second Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="week_act">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                            <!--- End of Block---->
                        </div>
                    </div>
                </div>
                <!-----Third block--------------------------->  
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd">
                        <i class="icon-plus"></i>
                        <h5>Trainings</h5>
                        <span class="label label-warning dash-label"><span id="week_train_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- Second Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="week_train">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                            <!--- End of Block---->
                        </div>
                    </div>
                </div>
                <!-----End Third block---------------------------> 
            </div>
            <div id="tab2" class="tab-pane">

                <!-----Monthly--------------------------->   
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd margin-top20">
                        <i class="icon-plus"></i>
                        <h5>Advance Activities</h5>
                        <span class="label label-warning dash-label"><span id="month_adv_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- 1st Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="month_adv">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!--- End of Block---->
                        </div>
                    </div>
                </div>
                <!-----Second block--------------------------->  
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd">
                        <i class="icon-plus"></i>
                        <h5>Activities</h5>
                        <span class="label label-warning dash-label"><span id="month_act_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- Second Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="month_act">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>  
                <!--- Third Block---->
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd">
                        <i class="icon-plus"></i>
                        <h5>Trainings</h5>
                        <span class="label label-warning dash-label"><span id="month_train_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- Second Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="month_train">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>  
                <!---End of Third Block---->

            </div>
            <div id="tab3" class="tab-pane">
                <!-------Quarterly------------->
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd margin-top20">
                        <i class="icon-plus"></i>
                        <h5>Advance Activities</h5>
                        <span class="label label-warning dash-label"><span id="qtr_adv_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- 1st Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="qtr_adv">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!--- End of Block---->
                        </div>
                    </div>
                </div>
                <!-----Second block--------------------------->  
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd">
                        <i class="icon-plus"></i>
                        <h5>Activities</h5>
                        <span class="label label-warning dash-label"><span id="qtr_act_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- Second Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="qtr_act">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>  
                <!--- Third Block---->
                <div class="widget-box-ftd">
                    <div class="widget-title-ftd">
                        <i class="icon-plus"></i>
                        <h5>Trainings</h5>
                        <span class="label label-warning dash-label"><span id="qtr_train_count"></span></span>
                    </div>
                    <div class="hidden-block">
                        <div class="widget-content">
                            <!--- Second Block ------>
                            <div class="tpd-list-view-inner">
                                <table class="table tpd-list" id="qtr_train">
                                    <thead>
                                        <tr>
                                            <th>Sno.</th>
                                            <th>Activity Name</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>  
                <!---End of Third Block---->
            </div>
        </div>                            
    </div>     


    <div class="clear-both"></div>
</div>
<script src="/js/Chart.js"></script>
<script src="/js/dashboard.js"></script>
<script>
    var data = <?php echo json_encode($data); ?>;
    init_dashboard(data);
   
   $(document).ready(function(){
       var weekAdv= $('#week_adv tr').size();
       var weekAct= $('#week_act tr').size();
       var weekTrain= $('#week_train tr').size();
      // var weekTrn= $('#week_trn tr').size(); 
      if(weekAdv ==1){
          $('#week_adv_count').text('0 Advanced Activities');
          $('#week_adv').html('<div class="lf_results">No records found</div>');
      }else if(weekAdv ==2){
          $('#week_adv_count').text( weekAdv -1+' Advanced Activity');
      }else{
          $('#week_adv_count').text( weekAdv -1+' Advanced Activities');
      }
      if(weekAct ==1){
          $('#week_act_count').text('0 Upcoming Activities');
           $('#week_act').html('<div class="lf_results">No records found</div>');
      }else if(weekAct ==2){
          $('#week_act_count').text( weekAct -1+' Upcoming Activity');
      }else{
          $('#week_act_count').text( weekAct -1+' Upcoming Activities');
      }
      if(weekTrain ==1){
          $('#week_train_count').text('0 Trainings');
          $('#week_train').html('<div class="lf_results">No records found</div>');
      }else if(weekTrain ==2){
          $('#week_train_count').text( weekTrain -1+' Training');
      }else{
          $('#week_train_count').text( weekTrain -1+' Trainings');
      }
      
      //for month
      var monthAdv= $('#month_adv tr').size();
       var monthAct= $('#month_act tr').size();
       var monthTrain= $('#month_train tr').size();
      // var monthTrn= $('#month_trn tr').size(); 
      if(monthAdv ==1){
          $('#month_adv_count').text('0 Advanced Activities');
           $('#month_adv').html('<div class="lf_results">No records found</div>');
      }else if(monthAdv ==2){
          $('#month_adv_count').text( monthAdv -1+' Advanced Activity');
      }else{
          $('#month_adv_count').text( monthAdv -1+' Advanced Activities');
      }
      if(monthAct ==1){
          $('#month_act_count').text('0 Upcoming Activities');
          $('#month_act').html('<div class="lf_results">No records found</div>');
      }else if(monthAct ==2){
          $('#month_act_count').text( monthAct -1+' Upcoming Activity');
      }else{
          $('#month_act_count').text( monthAct -1+' Upcoming Activities');
      }
      if(monthTrain ==1){
          $('#month_train_count').text('0 Trainings');
          $('#month_train').html('<div class="lf_results">No records found</div>');
      }else if(monthTrain ==2){
          $('#month_train_count').text( monthTrain -1+' Training');
      }else{
          $('#month_train_count').text( monthTrain -1+' Trainings');
      }
      //for Quarter
      var qtrAdv= $('#qtr_adv tr').size();
       var qtrAct= $('#qtr_act tr').size();
       var qtrTrain= $('#qtr_train tr').size();
      // var qtrTrn= $('#qtr_trn tr').size(); 
      if(qtrAdv ==1){
          $('#qtr_adv_count').text('0 Advanced Activities');
          $('#qtr_adv').html('<div class="lf_results">No records found</div>');
      }else if(qtrAdv ==2){
          $('#qtr_adv_count').text( qtrAdv -1+' Advanced Activity');
      }else{
          $('#qtr_adv_count').text( qtrAdv -1+' Advanced Activities');
      }
      if(qtrAct ==1){
          $('#qtr_act_count').text('0 Upcoming Activities');
          $('#qtr_act').html('<div class="lf_results">No records found</div>');
      }else if(qtrAct ==2){
          $('#qtr_act_count').text( qtrAct -1+' Upcoming Activity');
      }else{
          $('#qtr_act_count').text( qtrAct -1+' Upcoming Activities');
      }
      
      if(qtrTrain ==1){
          $('#qtr_train_count').text('0 Trainings');
          $('#qtr_train').html('<div class="lf_results">No records found</div>');
      }else if(qtrTrain ==2){
          $('#qtr_train_count').text( qtrTrain -1+' Training');
      }else{
          $('#qtr_train_count').text( qtrTrain -1+' Trainings');
      }
      
      
    });
  
</script>