<?php
$data = $this->data;
//die(print_r($data));
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<input type="hidden" value="<?php echo $_GET['instituteid']; ?>" id="instituteid" />


<?php
 function fix_date($date){      
        if(!$mdlCmn){
         $mdlCmn =   new Application_Model_Common();
        } 
        
        $result  =  $mdlCmn->display_date($date);
        return $result;
    }
// for showing the campus company table
function show_cc_table($data) {
   
    if ( !isset($data[0])) {
        return '<h6>No Campus Companies found for this institute.</h6>';
    }
    $htm = '<table class="table table-custom">
        <thead>
           <tr>
               <th>NAME</th>
               <th>INDUSTRY SECTOR</th>
               <th>Started ON</th>
               <th>STATUS</th>
           </tr>
       </thead>
        <tbody>';
    foreach ($data as $key => $value) {
        $htm.= '<tr>';
        $htm.= '<td>' . $value['cc_name'] . '</td><td>' . $value['cc_area'] . '</td><td>' .fix_date($value['cc_date'])  . '</td><td>' . $value['ccdetail_status'] . '</td>';
        $htm.= '</tr>';
    }
    $htm.='</tbody> 
    </table>';

    return $htm;
}

// for showing the activites bar graph 

function show_activities_bar($data) {
    if (!$data) {
        return '';
    }
}
?>
<script>
    $(document).ready(function(){
        $('#breadcrumb').hide();
        $('.header_heading').hide();
         $('#content-header').hide();
    });
    $('body').on('mouseenter', '[rel=tooltip]', function(){
        var el = $(this);
        if (el.data('tooltip') === undefined) {
            el.tooltip({
                placement: el.data("placement") || "top",
                container: el.data("container") || false
            });
        }
        el.tooltip('show');
    });

    $('body').on('mouseleave', '[rel=tooltip]', function(){
        $(this).tooltip('hide');
    });
</script>
<?php //die(print_r($data['inst_details']));   ?>
<div class="institute-dashboard">
    <h1><?php echo $data['inst_name'][0]['name']; ?> <span class="inst-uid">( UID: <?php echo $_GET['instituteid']; ?> )</span></h1>
    <div class="institute-address">
        <?php echo $data['inst_details'][0]['primary_address_1'] . ','.$data['inst_details'][0]['primary_address_2']; ?> <br/>
         <?php echo $data['inst_details'][0]['primary_city'] .' - '. $data['inst_details'][0]['primary_zip_code']; ?> 
    </div>
    <ul class="user-information">
<!--        <li><img src="/img/phone-icon.png"> <?php // echo $data['inst_details']['primary_zip_code'];     ?></li><span class="seperator"></span>-->
        <li> <?php
        if ($data['inst_details'][0]['name']) {
            echo '<img src="/img/user-icon.png"> ' . $data['inst_details'][0]['name'];
        }
        ?></li>
    </ul>
    <hr class="double-line">
    <div class="row-fluid">
        <div class="span12 center" style="text-align: center;">					
            <ul class="stat-boxes">
                <li>
                    <div class="right">
                        <?php echo set_name($data['inst_count']['trained_fac'][0]['count'],'Trained<br/> faculty','Trained<br/> faculties') ;  ?>
                       
                    </div>
                </li>
                <li>
                    <div class="right">
                        <?php echo set_name($data['inst_count']['ecell'][0]['count'],'E-cell Member','E-cell Members') ;  ?>
                         
                    </div>
                </li>
                <li>
                    <div class="right">
                       <?php echo set_name($data['inst_count']['activity'][0]['count'],'Entrepreneurship Activity','Entrepreneurship Activities') ;  ?>
                        
                    </div>
                </li>
                <li>
                    <div class="right">
                        <?php echo set_name($data['inst_count']['campus_company'][0]['count'],' Campus Company',' Campus Companies') ;  ?>
                       
                    </div>
                </li>
                <li>
                    <div class="right">
                        <?php echo set_name($data['inst_count']['venture'][0]['count'],' Student Venture',' Student Ventures') ;  ?>
                         
                    </div>
                </li>
                <li>
                    <div class="right">
                         <?php echo set_name($data['inst_count']['iedc'][0]['count'],'  IEDC <br/>Project','  IEDC <br/>Projects') ;  ?>
                      
                    </div>
                </li>
                <li>
                    <div class="right">
                          <?php echo set_name($data['inst_count']['funding'][0]['count'],'  Total<br/> Funding','  Total<br/> Funding') ;  ?>
                         
                    </div>
                </li>
            </ul>
        </div>	
    </div>

    <hr class="double-line"> 
    <div class="row-fluid">
        <div class="span12 CampusList">
            <h1><?php 
            if( $data['inst_cc']==null || !isset($data['inst_cc'][0])  ){
                $count  = '';
            }else{
                $count  = count($data['inst_cc']);
            }
            echo set_name($count,' Campus Company',' Campus Companies') ;  ?></h1>
        </div>
    </div>
    
<?php echo show_cc_table($data['inst_cc']); ?>
    <h1 class="header11">Activity Graph</h1>
    <div class="activity_msg">
        <p> No Activities found for this year </p>
    </div>

    <div class="activity_graph" >
        <div class="row-fluid activityCalender" id="activityCalender">
            <table class="table table-graph">
                <tr>
                    <td id="td-January"> </td>
                    <td id="td-February"></td>
                    <td id="td-March"></td>
                    <td id="td-April"></td>
                    <td id="td-May"></td>
                    <td id="td-June"></td>
                    <td id="td-July"></td>
                    <td id="td-August"></td>
                    <td id="td-September"></td>
                    <td id="td-October"></td>
                    <td id="td-November"></td>
                    <td id="td-December"></td>
                </tr>
                <tr>
                    <th>JANUARY</th>
                    <th>FEBRUARY</th>
                    <th>MARCH</th>
                    <th>APRIL</th>
                    <th>MAY</th>
                    <th>JUNE</th>
                    <th>JULY</th>
                    <th>AUGUST</th>
                    <th>SEPTEMBER</th>
                    <th>OCTOBER</th>
                    <th>NOVEMBER</th>
                    <th>DECEMBER</th>
                </tr>
            </table > 
        </div>
        <div class="row-fluid">
            <div class="span12 activityYear"><?php echo date("Y"); ?></div>  
        </div>
    </div>
    <div class="clear-both"></div>
</div>
<?php

function set_name($count,$singular,$plural){
    if(!$count || $count==null || $count==0){
        $count = 'No';
        $suffix = $plural;
    }
    
    if($count ==1){
        $suffix = $singular;
    }else {
        $suffix = $plural;
    }
    
    $result = ' <strong>'.($count) .' </strong> '.$suffix;
    return $result;
    
}

?>