<!-- Campus Overview -->
<div class="alert <?php echo $this->alertClass ?>">
    <button class="close" data-dismiss="alert">x</button>
    <?php echo $this->message ?>
</div>

<div class="widget-box1">
    <div class="widget-title1">
        <h5>Campus Company <span class="title-overview">Overview</span></h5>
        <div class="top-options">
            <ul class="nav-tabs1"></ul>
        </div>
    </div>
    <div class="widget-content tab-content">
        <div id="overview-container" class="form-horizontal content-backg">
            <div class = "edit-block" >
                <form method="POST" action="/campus/create/?instituteid=<?php echo $this->instituteId ?>">
                    <input type="hidden" name="instituteid" value ="<?php echo $this->instituteId ?>">
                    <div class="control-group">
                        <label class="control-label">Name of Campus Company : <span class="requiered"> *</span></label>
                        <div class="controls form-input">
                            <input type="text" name="cc_name" id="cc_name" value="<?php echo $this->data['cc_name'] ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start date :</label>
                        <div class="controls form-input">
                            <input type="text" name="cc_date" id="cc_date" data-date-format="dd-mm-yyyy" class="datepicker" value="<?php echo $this->data['cc_date'] ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Industry sector :</label>
                        <div class="controls form-input">
                            <select name="cc_area" id="cc_area"><?php echo $this->dropdown('campus_industry_sector', '', $this->data['cc_area']) ?></select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="form-actions1">
            <input class="cls-save-overview btn btn-danger" type="submit" value="Save & Continue">&nbsp;
            <a href="/campus/?instituteid=<?php echo $this->instituteId ?>"><span class="cls-cancel-overview">Cancel</span></a>
        </div>
        </form>

    </div>
</div>


<!--script src="/js/campus.js"></script-->


