<!-- Campus Overview -->
<div class="alert <?php echo $this->alertClass?>">
    <button class="close" data-dismiss="alert">x</button>
    <?php echo $this->message?>
</div>



<!-- Campus Health Status Ends -->

<!--script src="/js/campus.js"></script-->