<div class="alert <?php echo $this->alertClass ?> campus-noti">
    <?php echo $this->message ?>
    <button class="close" data-dismiss="alert">x</button>
</div>

<div class="create-new">
    <a href="/campus/create/?instituteid=<?php echo $this->instituteId ?>"><span class="btn btn-danger createnew-button pull-right"><i class="icon-white icon-edit"></i> Create New Campus Company</span></a>
    <div class="clearfix"></div>
</div>

<?php if (is_array($this->list)) { ?>
    <div class="tpd-list-view">
        <h5 class="h5-heading">Campus Company List</h5>
        <div class="tpd-list-view-inner">    
            <table class="table tpd-list tpd-list3">
                <thead> 
                    <tr>
                        <th>Name</th>
                        <th>Industry Sector</th>
                        <th>Start Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>	

                    <?php
                    foreach ($this->list as $cc) {
                        $editLink = '<a class="campusList" href="/campus/show?instituteid=' . $this->instituteId . '&id=' . $cc['cc_id'] . '&edit=true"><i class="icon-pencil"></i></a>';
                        $del = '<a href="#delCampus" data-toggle="modal" class="del-campus" value="' . $cc['cc_id'] . '"><i class="icon-trash"></i></a>';
                        echo '<tr><td><a href="/campus/show?instituteid=' . $this->instituteId . '&id=' . $cc['cc_id'] . '">' . $cc['cc_name'] . '</a></td><td>' . $cc['cc_area'] . '</td><td>' . $cc['cc_date'] . '</td><td>' . $cc['ccdetail_status'] . '</td><td>' . $editLink . '&nbsp;' . $del . '</td></tr>';
                    }
                    //echo $frmDel;
                    ?>
                </tbody>      
            </table>
            </div>
        </div>

<div id="delCampus" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>Delete campus company</h3>
        <form id="" name="deleteCampus" method="post" action="/campus/?instituteid=<?php echo $this->instituteId ?>" class="form" >
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete "<span id="companyName"></span>"?</p>
        <input type="hidden" name="delCampusId" id="delCampusId" value="" />
    </div>

    <div class="modal-footer">
        <input type="submit" name="Delete" class="btn btn-danger"  value="Delete" />
        <a data-dismiss="modal" class="btn" href="#" style="padding-top:3px;padding-bottom:3px;">Cancel</a>
        </form>
    </div>
</div>
<?php
} else {
    echo '<div class="institute-search row-fluid" style="width:96%">
    <div class="span2 left-margin"><hr class="record-hr"></div>
    <div class="span2 no-record2">No Campus Companies Found</div>
    <div class="span2"><hr class="record-hr"></div>
</div>';
} //is_array check ends 
?> 

        <script>
            //delete campus
            $(document).ready(function(){
                $('.del-campus').click(function(){
            
          
                    var id = $(this).attr('value');
                    var name = $(this).closest('tr').find('a[href^="/campus/show"]').text();
            
                    name  = $.trim(name);
                    $('#delCampusId').val(id);
                    $('#companyName').text(name); 
        
                }); 
            });
    
        </script>

        <!-- Campus Health Status Ends -->

        <!--script src="/js/campus.js"></script-->