<div class="alert <?php echo $this->alertClass ?>">
    <button class="close" data-dismiss="alert">x</button>
    <?php echo $this->message ?>
</div>
<?php
$campusId = $this->id;
$instituteId = $this->instituteId;
foreach ($this->data['ccteam_additional_fac'] as $item) {
    $addFacultyIds[] = $item['value'];
}
//die(print_r($this->data));
?>

<!-- Campus Overview -->
<div class="widget-title1 margin-bottom">
    <h5>Campus Company <span class="title-overview"></span></h5>
</div>
<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>1. Overview</h5>
        <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-overview"><i class="icon-pencil"></i> Edit</a></span>
    </div>
    <div id="noti-campus-overview"></div>
    <div class="collapse in" id="collapseoverview">
        <div class="widget-content form-horizontal">
            <div id="overview-container" class="form-horizontal" style="padding-left:45px">
                <div class = "edit-block content-backg"style="display:none;" >
                    <div class="control-group">
                        <label class="control-label">Name of Campus Company : <span class="requiered"> *</span></label>
                        <div class="controls form-input">
                            <input type="text" name="cc_name" id="cc_name" value="hello" requiered="requiered">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start date :</label>
                        <div class="controls form-input">
                            <input type="text" name="cc_date" id="cc_date" data-date-format="dd-mm-yyyy" class="datepicker">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Industry sector :</label>
                        <div class="controls form-input">
                            <select name="cc_area" id="cc_area"><?php echo $this->dropdown('campus_industry_sector') ?></select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input class="cls-save-overview btn btn-danger" id="block0" type="button" value="Save">&nbsp;
                        <a class="cls-cancel-overview">Cancel</a>
                    </div>
                </div>
                <div class = "view-block">
                    <div class="row-fluid margin-top">
                        <div class="span3 borderRight1"style="width:17%">
                            <label class="label-name">Campus Company</label>
                            <span name="lbl_cc_name" id="lbl_cc_name" class="normal"></span>
                        </div>
                        <div class="span4 borderRight1"style="width:17%">
                            <label class="label-name">Start date</label>
                            <span name="lbl_cc_date" id="lbl_cc_date" class="normal"></span>
                        </div>
                        <div class="span4">
                            <label class="label-name">Industry sector</label>
                            <span name="lbl_cc_area" id="lbl_cc_area" class="normal"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Campus Overview Ends -->

<!-- Campus Details -->
<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>2. Detail</h5>
        <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-detail"><i class="icon-pencil"></i> Edit</a></span>
    </div>
    <div id="noti-campus-detail"></div>
    <div class="collapse in" id="collapsedetail">
        <div class="widget-content form-horizontal">
            <div id="detail-container" class="form-horizontal" style="padding-left:45px">
                <div class = "edit-block content-backg"style="display:none;" >
                    <div class="control-group">
                        <label class="control-label">Area of business :</label>
                        <div class="controls form-input">
                            <input type="text" name="ccdetail_areadetail" id="ccdetail_areadetail" maxlength="100">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Capital deployed (Rs.):</label>
                        <div class="controls form-input">
                            <input placeholder="Rs.XXX" type="text" name="ccdetail_outlay" id="ccdetail_outlay">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Status :</label>
                        <div class="controls form-input">
                            <select name="ccdetail_status" id="ccdetail_status"><option value="Inactive">Inactive</option><option value="Active">Active</option></select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input class="cls-save-detail btn btn-danger" id="block1" type="button" value="Save">&nbsp;
                        <a class="cls-cancel-detail">Cancel</a>
                    </div>
                </div>
                <div class = "view-block " >
                    <div class="row-fluid">
                        <div class="span2 borderRight1"style="width:17%">
                            <label class="label-name">Business Area</label>
                            <span name="lbl_ccdetail_areadetail" id="lbl_ccdetail_areadetail" class="normal"></span>
                            <span  id="status_lbls_ccdetail_areadetail" class="normal"></span>
                        </div>
                        <div class="span3 borderRight1"style="width:17%">
                            <label class="label-name">Capital Deployed</label>
                            <span  id="status_ccdetail_outlay" class="normal">Rs: </span>
                            <span name="lbl_ccdetail_outlay" id="lbl_ccdetail_outlay" class="normal"></span>
                            <span  id="status_ccdetail_outlay" class="normal"></span>
                        </div>
                        <div class="span3">
                            <label class="label-name">Status</label>
                            <span name="lbl_ccdetail_status" id="lbl_ccdetail_status" class="normal"></span>
                            <span  id="status_ccdetail_status" class="normal"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Campus Details Ends -->

<!-- Campus Team -->

<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>3. Team</h5>
        <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-team"><i class="icon-pencil"></i> Edit</a></span>
    </div>
    <div id="noti-campus-team"></div>
    <div class="collapse in" id="collapseteam">
        <div class="widget-content form-horizontal" style="padding-left:45px">
            <div id="team-container" class="form-horizontal">
                <div class = "edit-block content-backg"style="display:none;" >
                    <div class="control-group">
                        <label class="control-label">Faculty Co-ordinator :</label>
                        <div class="controls">
                            <select name="ccteam_fac" id="ccteam_fac"><?php echo $this->dropdown('faculty_of_institute', $instituteId) ?></select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Additional Faculty Co-ordinator :</label>
                        <div class="controls">
                            <select multiple name="ccteam_additional_fac" id="ccteam_additional_fac"><?php echo $this->dropdown('multiple_faculty_of_institute', $instituteId, $addFacultyIds) ?></select>
                        </div>
                    </div>

                    <!-- Team Members -->
                    <div class="control-group">
                        <label class="control-label">Upload List of student members :</label>
                        <div class="controls position-relativee">
                            <form method="post" id = "form_students_members" name = "form_students_members" enctype="multipart/form-data" action="/ajax" target="target_students_members">
                                <input type="hidden" name="type_of_file" value="students_members">
                                <input type="hidden" name="campusid" value="<?php echo $campusId ?>">
                                <input type="hidden" name="method" value="campus.uploadstudentscsv"> 
                                <input type="file" id = "students_members" name = "students_members" class="file_upload_input" /><br />
                                <iframe id = "target_students_members" name = "target_students_members" style="display: none;"></iframe> 
                            </form>
                            <label class="label-upward">
                                <i class="icon-download-alt"></i><a href="/uploads/campus/campus-members-template.csv">Download Template</a>
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <h6 style="display:inline-block"/>List of Student Members</h6><span class="edit-click"> ( Click on cell to edit )</span>
                        <div id="ccStudentmembers"></div>
                        <input type="button" id="add-grid-campus_members"  class="btn btn-info" style="margin-bottom:15px" value="Add new row">
                    </div>

                    <!-- Advisors -->
                    <div class="control-group">
                        <label class="control-label">Upload List of Advisors :</label>
                        <div class="controls form-input position-relativee">
                            <form method="post" id = "form_advisors" name = "form_advisors" enctype="multipart/form-data" action="/ajax" target="target_advisors">
                                <input type="hidden" name="type_of_file" value="advisors">
                                <input type="hidden" name="campusid" value="<?php echo $campusId ?>">
                                <input type="hidden" name="method" value="campus.uploadadvisorscsv"> 
                                <input type="file" id = "advisors" name = "advisors" class="file_upload_input" /><br />
                                <iframe id = "target_advisors" name = "target_advisors" style="display: none;"></iframe> 
                            </form>
                            <label class="label-upward">
                                <i class="icon-download-alt"></i><a href="/uploads/campus/campus-advisors-template.csv">Download Template</a>
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <h6 style="display:inline-block"/>List of Advisors</h6><span class="edit-click"> ( Click on cell to edit )</span>
                        <div id="ccAdvisors"></div>
                        <input type="button" id="add-grid-campus_advisors" style="margin-bottom:15px" class="btn btn-info" value="Add new row">
                    </div>
                    <div class="form-actions">
                        <input class="cls-save-team btn btn-danger" type="button" value="Save">&nbsp;
                        <a class="cls-cancel-team">Cancel</a>
                    </div>
                </div>

                <!-- Team View -->
                <div class = "view-block " >
                    <div class="row-fluid">
                        <div class="span2 borderRight1"style="width:17%">
                            <label class="label-name">Faculty Co-ordinator</label>
                            <span name="lbl_ccteam_fac" id="lbl_ccteam_fac" class="normal"></span>
                        </div>
                        <div class="span3 borderRight1" style="width:228px;">
                            <label class="label-name">Additional Faculty Co-ordinator</label>
                            <span id="addFaculty" class="normal"></span>
                            <span class="view-more cursor1 leftBorder">View</span>
                            <span class="view-less cursor1 leftBorder">Hide</span>
                        </div>
                        <div class="span3 borderRight1">
                            <label class="label-name">List of student members</label>
                            <span id="studList" class="normal"></span>
                            <span class="view-more1 cursor1 leftBorder">View</span>
                            <span class="view-less1 cursor1 leftBorder">Hide</span>
                        </div>
                        <div class="span3">
                            <label class="label-name">Advisors</label>
                            <span class="normal" id="advList"></span>
                            <span class="view-more2 cursor1 leftBorder">View</span>
                            <span class="view-less2 cursor1 leftBorder">Hide</span>
                        </div>
                    </div>
                    <div class="row-fluid hidden-block">
                        <hr class="hrline1">
                        <div class="span5">
                            <label class="label-name">List of Additional Faculty Co-ordinator</label>
                            <span id="lbl_ccteam_additional_fac"></span>
                        </div>
                    </div>

                    <!--for showing hiding student member and advisors list--> 
                    <style>
                        .stu_hide,.adv_hide{
                            display:none;
                        }
                    </style>
                    <?php
                    if (empty($this->data['student_members']['data'])) {
                        $stu_class = 'stu_hide';
                    }
                    if (empty($this->data['advisors']['data'])) {
                        $adv_class = 'adv_hide';
                    }
                    ?>
                    <div class="row-fluid hidden-block1">
                        <hr class="hrline">
                        <div id="div_stu_members"><h6 class="<?php echo $stu_class; ?>">List of Student Members</h6>
                            <div id="showccStudentMembers" class="<?php echo $stu_class; ?>"></div>
                        </div>
                    </div>
                    <div class="row-fluid hidden-block2">
                        <hr class="hrline">
                        <div id="div_adv_members"><h6 class="<?php echo $adv_class; ?>">List of Advisors</h6>
                            <div id="showccAdvisors" class="<?php echo $adv_class; ?>" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Campus Team Ends -->

<!-- Campus Health Status -->
<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>4. Status</h5>
        <span class="pull-right edit-top"><a class="lnk-edit-block" id="edit-link-healthstatus"><i class="icon-pencil"></i> Edit</a></span>
    </div>
    <div id="noti-campus-healthstatus"></div>
    <div class="collapse in" id="collapsehealthstatus">
        <div class="widget-content form-horizontal" style="padding-left:45px">
            <div id="healthstatus-container" class="form-horizontal">
                <div class = "edit-block content-backg" style="display:none;" >
                    <div class="control-group">
                        <label class="control-label">Date of closure :</label>
                        <div class="controls form-input">
                            <input type="text" name="cchealth_closure" id="cchealth_closure" data-date-format="dd-mm-yyyy" class="datepicker">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Revenue (current year) Rs.:</label>
                        <div class="controls form-input">
                            <input placeholder="Rs. XXX" type="text" name="cchealth_revenue" id="cchealth_revenue">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Date of last review :</label>
                        <div class="controls form-input">
                            <input type="text" name="cchealth_review" id="cchealth_review" data-date-format="dd-mm-yyyy" class="datepicker">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Remarks on current status :</label>
                        <div class="controls form-input">
                            <input type="text" name="cchealth_remarks" id="cchealth_remarks">
                        </div>
                    </div>
                    <div class="form-actions">
                        <input class="cls-save-healthstatus btn btn-danger" id="block3" type="button" value="Save">&nbsp;
                        <a class="cls-cancel-healthstatus">Cancel</a>
                    </div>
                </div>
                <div class = "view-block">
                    <div class="row-fluid">
                        <div class="span2 borderRight1"style="width:17%">
                            <label class="label-name">Date of closure</label>
                            <span name="lbl_cchealth_closure" id="lbl_cchealth_closure" class="normal"></span>
                            <span id="status_cchealth_closure" class="normal"></span>
                        </div>
                        <div class="span3 borderRight1">
                            <label class="label-name">Revenue (current year)</label>
                            <span id="status_cchealth_revenue" class="normal">Rs: </span>
                            <span name="lbl_cchealth_revenue" id="lbl_cchealth_revenue" class="normal"></span>

                        </div>
                        <div class="span3 borderRight1">
                            <label class="label-name">Date of last review</label>
                            <span name="lbl_cchealth_review" id="lbl_cchealth_review" class="normal"></span>
                        </div>
                        <div class="span3">
                            <label class="label-name">Remarks on current status</label>
                            <span name="lbl_cchealth_remarks" id="lbl_cchealth_remarks" class="normal"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Campus Health Status Ends -->

<?php
$o = new Campus($campusId, true);
$result = $o->getData();
$json = json_encode($result);
$defaultEdit = 0;
if (isset($_GET['edit']) && $_GET['edit'] = 'true') {
    $defaultEdit = 1;
}
?>
<script>
    var campusData = <?php echo $json ?>;
    var campusid = <?php echo $campusId ?>;
    var defaultEdit = <?php echo $defaultEdit ?>;
</script>
<script src="/js/campus.js"></script>
