<?php
$instituteId = $this->data['institute_id'];
$campusId = $this->id;
?>
<!-- Campus Overview -->

<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Campus Company Overview</h5>
        <div class="top-options">
            <ul class="nav-tabs1">
                <li class="active"><a data-toggle="tab"  class="lnk-show-block" id="show-link-overview"><i class="icon-eye-open"></i> View</a></li>
                <li><a  data-toggle="tab"  class="lnk-edit-block" id="edit-link-overview"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div>
    <div class="widget-content tab-content">
        <div id="overview-container" class="form-horizontal">
            <div class = "edit-block "style="display:none;" >
                <div class="control-group">
                    <label class="control-label">Name of Campus Company :</label>
                    <div class="controls form-input">
                        <input type="text" name="cc_name" id="cc_name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Start date :</label>
                    <div class="controls form-input">
                        <input type="text" name="cc_date" id="cc_date" data-date-format="dd-mm-yyyy" class="datepicker">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Industry sector :</label>
                    <div class="controls form-input">
                        <select name="cc_area" id="cc_area"><?php echo $this->dropdown('campus_industry_sector') ?></select>
                    </div>
                </div>
                <div class="form-actions">
                   <input class="cls-save-overview btn btn-primary" type="button" value="save">
                   <input class="cls-cancel-overview btn btn-primary" type="button" value="Cancel">
                </div>
             </div>
            <div class = "view-block " >
                <div class="control-group">
                    <label class="control-label">Name of Campus Company :</label>
                    <div class="controls label-fit">
                        <label name="lbl_cc_name" id="lbl_cc_name"></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Start date :</label>
                    <div class="controls label-fit">
                        <label name="lbl_cc_date" id="lbl_cc_date"></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Industry sector :</label>
                    <div class="controls label-fit">
                        <label name="lbl_cc_area" id="lbl_cc_area"></label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





<!-- Campus Overview Ends -->

<!-- Campus Details -->


<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Campus Company Detail</h5>
        <div class="top-options">
            <ul class="nav-tabs1">
                <li class="active"><a data-toggle="tab" class="lnk-show-block" id="show-link-detail"><i class="icon-eye-open"></i> View</a></li>
                <li><a data-toggle="tab" class="lnk-edit-block" id="edit-link-detail"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div>
    <div class="widget-content tab-content">
        <div id="detail-container" class="form-horizontal">
            <div class = "edit-block "style="display:none;" >
                <div class="control-group">
                    <label class="control-label">Area of business :</label>
                    <div class="controls form-input">
                        <input type="text" name="ccdetail_areadetail" id="ccdetail_areadetail">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Capital deployed :</label>
                    <div class="controls form-input">
                        <input type="text" name="ccdetail_outlay" id="ccdetail_outlay">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Status :</label>
                    <div class="controls form-input">
                        <select name="ccdetail_status" id="ccdetail_status"><option value="In-Active">In-Active</option><option value="Active">Active</option></select>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="cls-save-detail btn btn-primary" type="button" value="save">
                    <input class="cls-cancel-detail btn btn-primary" type="button" value="Cancel">
               </div>
            </div>
            <div class = "view-block " >
                <div class="control-group">
                    <label class="control-label">Area of business :</label>
                    <div class="controls label-fit">
                        <label name="lbl_ccdetail_areadetail" id="lbl_ccdetail_areadetail"></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Capital deployed :</label>
                    <div class="controls label-fit">
                        <label name="lbl_ccdetail_outlay" id="lbl_ccdetail_outlay"></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Status :</label>
                    <div class="controls label-fit">
                        <label name="lbl_ccdetail_status" id="lbl_ccdetail_status"></label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Campus Details Ends -->

<!-- Campus Team -->




<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Campus Company Team</h5>
        <div class="top-options">
            <ul class="nav-tabs1">
                <li class="active"><a data-toggle="tab" class="lnk-show-block" id="show-link-team"><i class="icon-eye-open"></i> View</a></li>
                <li><a data-toggle="tab" class="lnk-edit-block" id="edit-link-team"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div>
    <div class="widget-content tab-content">
        <div id="team-container" class="form-horizontal">
            <div class = "edit-block "style="display:none;" >
                <!-- Team Members -->
                <div class="control-group">
                    <label class="control-label">Upload List of Student Members :</label>
                    <div class="controls form-input">
                        <form method="post" id = "form_students_members" name = "form_students_members" enctype="multipart/form-data" action="/ajax" target="target_students_members">
                            <input type="hidden" name="type_of_file" value="students_members">
                            <input type="hidden" name="campusid" value="<?php echo $campusId ?>">
                            <input type="hidden" name="method" value="campus.uploadstudentscsv"> 
                            <input type="file" id = "students_members" name = "students_members"  /><br />
                            <iframe id = "target_students_members" name = "target_students_members" style="display: none;"></iframe> 
                        </form>
                    </div>
                </div>
                <h6>List of Student Members :</h6>
                <div id="ccStudentmembers"></div>
                <input type="button" id="add-grid-campus_members"  value="+">
                

                <!-- Advisors -->
                <div class="control-group">
                    <label class="control-label">Upload List of Advisors :</label>
                    <div class="controls form-input">
                        <form method="post" id = "form_advisors" name = "form_advisors" enctype="multipart/form-data" action="/ajax" target="target_advisors">
                            <input type="hidden" name="type_of_file" value="advisors">
                            <input type="hidden" name="campusid" value="<?php echo $campusId ?>">
                            <input type="hidden" name="method" value="campus.uploadadvisorscsv"> 
                            <input type="file" id = "advisors" name = "advisors"  /><br />
                            <iframe id = "target_advisors" name = "target_advisors" style="display: none;"></iframe> 
                        </form>

                    </div>
                    <h6>List of Advisors :</h6>
                    <div id="ccAdvisors"></div>
                    <input type="button" id="add-grid-campus_advisors"  value="+">
                </div>
                <div class="form-actions">
                    <input class="cls-save-team btn btn-primary" type="button" value="save">
                    <input class="cls-cancel-team btn btn-primary" type="button" value="Cancel">
                </div>
            </div>

            <!-- Team View -->
            <div class = "view-block " >
                <h6>List of Student Members :</h6>
                <div id="showccStudentMembers"></div>
                <h6>List of Advisors :</h6>
                <div id="showccAdvisors"></div>
            </div>
        </div>
    </div>
</div>

<!-- Campus Team Ends -->

<!-- Campus Health Status -->

<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Campus Company Status</h5>
        <div class="top-options">
            <ul class="nav-tabs1">
                <li class="active"><a data-toggle="tab" class="lnk-show-block" id="show-link-healthstatus"><i class="icon-eye-open"></i> View</a></li>
                <li><a data-toggle="tab" class="lnk-edit-block" id="edit-link-healthstatus"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div>
    <div class="widget-content tab-content">
        <div id="healthstatus-container" class="form-horizontal">
            <div class = "edit-block " style="display:none;" >
                <div class="control-group">
                    <label class="control-label">Date of closure :</label>
                    <div class="controls form-input">
                        <input type="text" name="cchealth_closure" id="cchealth_closure" data-date-format="dd-mm-yyyy" class="datepicker">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Revenue (current year) :</label>
                    <div class="controls form-input">
                        <input type="text" name="cchealth_revenue" id="cchealth_revenue">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Date of last review :</label>
                    <div class="controls form-input">
                        <input type="text" name="cchealth_review" id="cchealth_review" data-date-format="dd-mm-yyyy" class="datepicker">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Remarks on current status :</label>
                    <div class="controls form-input">
                        <input type="text" name="cchealth_remarks" id="cchealth_remarks">
                    </div>
                </div>
                <div class="form-actions">
                    <input class="cls-save-healthstatus btn btn-primary" type="button" value="save">
                    <input class="cls-cancel-healthstatus btn btn-primary" type="button" value="Cancel">
                </div>
             </div>
            <div class = "view-block " >
                <div class="control-group">
                    <label class="control-label">Date of closure :</label>
                    <div class="controls label-fit">
                        <label name="lbl_cchealth_closure" id="lbl_cchealth_closure"></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Revenue (current year) :</label>
                    <div class="controls label-fit">
                        <label name="lbl_cchealth_revenue" id="lbl_cchealth_revenue"></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Date of last review :</label>
                    <div class="controls label-fit">
                        <label name="lbl_cchealth_review" id="lbl_cchealth_review"></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Remarks on current status :</label>
                    <div class="controls label-fit">
                        <label name="lbl_cchealth_remarks" id="lbl_cchealth_remarks"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script> var campusid = <?php echo $campusId ?>;</script>
<!-- Campus Health Status Ends -->

<script src="/js/campus.js"></script>