<style>
    .listActivity tr td{
        border:1px solid black;
    }
    .btn-top{
        margin-top: -25px;
        float:right;
        
    }
</style>
                     
<!-- Error messages for the form -->

            <?php
                
                if(isset( $this->data ) ){
                    $output = $this->data;
                    $display = '';
                    foreach($output as $key=>$msg){
                        switch ($key) {
                        case 'error':
                            //$display .= '<div class="alert alert-error" > '.$msg.'  <button class="close" data-dismiss="alert">×</button> </div>';
                            break;
                        case 'success':
                            $display .= '<div class="alert alert-success" > '.$msg.'<button class="close" data-dismiss="alert">×</button> </div>';
                            break;
                        default:
                            $display .= '';
                            break;
                       
                         }
                    }
                    
                    
                    echo $display ;
                    
                }
                
            ?>
        
<!-- end error messages -->
 <?php 
    echo '<a href="/activity/add?instituteid='.$this->institute_id.'" name="Add"  value="" ><span class="btn btn-top createnew-button btn-danger"><i class="icon-white icon-edit"></i>  Add New Activity</span></a><br/>';
   
    if(isset($this->data['data'])){
        $data  = $this->data ;
        
        echo $data['data'];
    
    }  else {
        echo '<div class="institute-search row-fluid" style="width:96%;margin-top:0px;">
    <div class="span2 left-margin"><hr class="record-hr"></div>
    <div class="span3 no-record1">No Activities Found</div>
    <div class="span2"><hr class="record-hr"></div>
</div>';
}
    
    
    ?>
    
  
<!--<div id="view-content">
    
																	
	<fieldset id="frmDeleteActivity"><legend>Delete the activity ?</legend>															
        <form id="" name="deleteActivity" method="post" action="/activity/delete/" class="form" >
        
        <input type="hidden" name="activity_id" id="activity_id" value="" />
        <span> Are You sure you want to delete the activity ?</span><br/>
        <input type="submit" name="delete" value="X" />
        
        </form>
    </fieldset>     
</div>-->

<div id="delActivity" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">×</button>
		<h3>Delete Activity</h3>
        <form id="" name="deleteActivity" method="post" action="/activity/delete?instituteid=<?php echo $this->institute_id ?>" class="form" >
	</div>
	<div class="modal-body">
        
		<p>Are you sure you want to delete "<span id="activityName" ></span>" ? </p>
        <input type="hidden" name="activity_id" id="activity_id" value="" />
	</div>
    
	<div class="modal-footer">
		<input type="submit" name="delete" class="btn btn-danger"  value="Delete" />
		<a data-dismiss="modal" class="btn" href="#">Cancel</a>
    </form>
	</div>
</div>