<div  id="noti-activityinfo"> 
    <?php
    if (isset($this->output)) {
        $output = $this->output;
        $display = '';
        foreach ($output as $key => $msg) {
            switch ($key) {
                case 'error':
                    $display .= '<div class="alert alert-error" ><i class="icon-back-error"></i> <span class="error-msg"><strong> Error!</strong>&nbsp;' . $msg . '</span>  <button class="close error-msg" data-dismiss="alert">×</button> </div>';
                    break;
                case 'success':
                    $display .= '<div class="alert alert-success" ><i class="icon-back"></i> <span class="error-msg"><strong> Success!</strong>&nbsp; Record ' . $msg . '</span><button class="close error-msg" data-dismiss="alert">×</button> </div>';
                    break;
                default:
//                            $display .= '<div class="alert alert-info" > '.$msg.'<button class="close" data-dismiss="alert">×</button> </div>';
                    break;
            }
        }


        echo $display;
    }
    ?>
</div>

<?php
$data = $this->data;
//echo print_r($data);
$output = $this->output;
$cur_url = 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];
//now getting variable for dynamic views 
//activity data 
if (isset($data['activity'][0])) {
    $result = $data['activity'][0];
    foreach ($result as $key => $val) {
        $activity[$key] = isset($val) ? $val : null;
    }
} else {
    $activity = array('activity_id' => '', 'activityinfo_type' => '', 'activityinfo_scale' => '', 'activityinfo_level' => '', 'activityinfo_title' => '', 'activityinfo_organisingentity' => '', 'activityoutcome_competition' => '', 'activityinfo_course_credits' => '', 'activity_city' => '', 'activityplacetime_venue' => '', 'activityplacetime_date_start' => '', 'activityplacetime_duration' => '', 'activitycontributor_sponsors' => '', 'activitycontributor_partner' => '', 'activitybeneficiaries_number' => '', 'activitybeneficiaries_institute' => '', 'activitybeneficiaries_type' => '', 'activitybeneficiaries_fees' => '', 'activityoutcome_instructor' => '', 'activityoutcome_course' => '', 'activityoutcome_org' => '', 'activityoutcome_plan' => '', 'activityoutcome_detail' => '', 'activityoutcome_idea' => '', 'activityoutcome_institution' => '', 'activityoutcome_mentees' => '', 'activityoutcome_menteeslist' => '', 'activityoutcome_mentors' => '', 'activityoutcome_mentorslist' => '', 'activityunivcourse_title' => '', 'activityselfcourse_title' => '');
}
//activity_contributor_corodinator
if (isset($data['activity_contributor_corodinator'])) {
    $activity_contributor_corodinator = $data['activity_contributor_corodinator'];
} else {
    $activity_contributor_corodinator = NULL;
}
//activity_contributor_lead_presenter
if (isset($data['activity_contributor_lead_presenter'])) {
    $activity_contributor_lead_presenter = $data['activity_contributor_lead_presenter'];
} else {
    $activity_contributor_lead_presenter = NULL;
}
//activity_participants
if (isset($data['activity_participants'])) {
    $activity_participants = $data['activity_participants'];
} else {
    $activity_participants = NULL;
}
//institute details
if (isset($data['institute_list'])) {
    $institute_list = $data['institute_list'];
} else {
    $institute_list = NULL;
}

//activity_mentees
if (isset($data['activity_outcome_mentees_list'])) {
    $activity_outcome_mentees_list = $data['activity_outcome_mentees_list'];
} else {
    $activity_outcome_mentees_list = NULL;
}


//activity_mentors
if (isset($data['activity_outcome_mentors_list'])) {
    $activity_outcome_mentors_list = $data['activity_outcome_mentors_list'];
} else {
    $activity_outcome_mentors_list = NULL;
}
$activity_id = $data['activity_id'];
$institute_id = $data['institute'][0]['id'];
?>





<!--<script src="/js/datagrid.js"></script>-->
<!--<script src="/js/datagrid-piyush.js"></script>-->
<script> 
    var participantData;
    // for validation purpose 
    var activity =
        {
        'activityinfo': {
            activityinfo_title:{
                "type":"text",
                "validation": ["required"]
            },
            activityplacetime_date_start:{
                "type":"text",
                "validation": ["required"]
            }
             
            
        },
    
        'activityparticipant': {
            activitybeneficiaries_number:{
                "validation": ["number"]
            },
            
            activitybeneficiaries_institute:{
                "validation": ["number"]
            },
            activitybeneficiaries_fees:{
                "validation": ["number"]
            }
            
            
        },
        'activityoutcomes': {
            activityoutcome_instructor:{
                "validation": ["avgrating"]
            },
            
            activityoutcome_org:{
                "validation": ["avgrating"]
            },
            activityoutcome_course:{
                "validation": ["avgrating"]
            }
            
            
        }
        
       
    };
    
    function submitActivity(id,block,noti){
        switch (block){
            case 'activityinfo':
                var fields = activity.activityinfo;
                break;
            case 'activityparticipant':
                var fields = activity.activityparticipant;
                break;
            case 'activityoutcomes':
                var fields = activity.activityoutcomes;
                break;    
            
            default:
                break;  
        } 
        o = dovalidate(fields, noti);
        
        var isValid = o;
        if(isValid == true){
            //case wise 
            switch (block){
                case 'activityinfo':
                    var fields = activity.activityinfo;
                    $( '#' + id).submit();
                    break;
                case 'activityoutcomes':
                    var fields = activity.activityoutcomes;
                    $( '#' + id).submit();
                    break;     
                case 'activityparticipant':
                    var fields = activity.activityparticipant;
                    var arr = $('#gridparticipants tr').map(function(){
                        return [
                            $('td[class!="number"]',this).map(function(){
                                return $(this).text();
                            }).get()
                        ];
                    }).get();

            
                    var json = JSON.stringify(arr);
                    // // console.log(arr)
                    $('#activity_participants').attr('value',json);
                    $('#insertactivityparticipants').submit();
                    break;
                case 'submitactivitycontributor':
                    var AoA = $('#test tr').map(function(){
                        return [
                            $('td',this).map(function(){
                                return $(this).text();
                            }).get()
                        ];
                    }).get();
                    var json = JSON.stringify(AoA);
                    //$( '#' + id).submit();
                default:
                    break;  
            } 
             
            
        };
       
        
    }
    $(document).ready(function(){
            
        jQuery("input:file[id=fileParticipant]").unbind('change').bind('change', function(e) {
            //alert('works');
            jQuery('#form_upload_participants').submit();
        });

        
        var myData  = <?php echo $data['selected_activity_participants']; ?> ;
        
        /** add new item to advisor grid **/
        $("#addNew").click(function() {
            //console.log(myData); 
            var d = myData.metadata;
            var noCols = d.length;
            var nd = participantDataGrid.data;
            var newdata=[];
            for(i=0 ; i< nd.length; i++ ) {
                var o={};
                for(j=0; j< noCols; j++) {
                    var col = d[j].name;
                    var val = nd[i].columns[j];
                    o[col] =  val;
                
                }
                newdata[i] = {
                    'id': i+1, 
                    'values' : o
                };
            }
            var _participant_grid = {};
    
            _participant_grid.data = newdata;
            _participant_grid.metadata = myData.metadata;
        
            //add column to tdata
            var last = _participant_grid.data.length;
        
            var newitem = {
                "id" : last+1,
                "values" : {
                    "serialno": last+1,
                    "sore": "",
                    "fname": "",
                    "lname": "",
                    "dob": "",
                    "gender": "",
                    "email": "",
                    "mobileno": "",
                    "feespaid": "",
                    "performance": ""
                }
            }
        
            _participant_grid.data[last] = newitem;
            participantDataGrid.processData(_participant_grid, "gridparticipants");
            //        var temp = new Array();
            //            for(i=0;i<_participant_grid.length;i++){
            //                temp[i]  = _participant_grid[i].values.join(',');
            //            }
                    
            var output  = JSON.stringify(_participant_grid)
            //$('#activity_participants').attr('value',output);
            update_act_grid_count(last);
            
        });
        function update_act_grid_count(count){
//        var count  = $('#gridparticipants tr').length -1 ; 
        $('#activitybeneficiaries_number').val(count+1);
    }
        
        // console.log(myData);
        showMydataGrid(myData);
        
        //function showMydata Grid
        function showMydataGrid(myData){
            //alert('from ifrmae');
            var jsonData = myData ;			
            //console.log($('#selected_activity_participants').val());
            //console.log(myData);
            participantDataGrid = new EditableGrid("activityParticipantDataGrid"); 
            //editableGrid.tableLoaded  = function() { this.renderGrid("tablecontent", "gridparticipants"); };
            participantDataGrid.processData(myData,"gridparticipants" );
            //                    readOld(myData);
            var temp = new Array();
            for(i=0;i<myData.length;i++){
                temp[i]  = myData[i].values.join(',');
            }
                    
            var output  = JSON.stringify(myData)
            //$('#activity_participants').attr('value',output);	
					
        }       
        // read write function
        var readOld = function (user){
					
            //// console.log(user.name);
						
            var presentdata = Array();
            var flag=0;
            var table = $('.testgrid');
            table.find('tr').each(function(index, row)
            {
                var allCells = $(row).find('td');
                if(allCells.length > 0)
                {
                    allCells.each(function(index, td)
                    {
                        //alert(td.innerHTML);
                        presentdata[flag] = td.innerHTML;
                        flag++;
                    });
                }
            });
						
            arrlen=presentdata.length;
            var v=0;
            for(var p=0;p<(arrlen/10);p++)
            {
                var item = {
                    "id": p+1,
                    "values": {
                        "serialno": presentdata[v],
                        "sore": presentdata[v+1],
                        "fname": presentdata[v+2],
                        "lname": presentdata[v+3],
                        "dob": presentdata[v+4],
                        "gender": presentdata[v+5],
                        "email": presentdata[v+6],
                        "mobileno": presentdata[v+7],
                        "feespaid": presentdata[v+8],
                        "performance": presentdata[v+9]
                    }
                }
                myData.data[p]= item;
                v=v+10;
            }
						
            var last = participantDataGrid.data.length;
						
            // console.log(myData);
            if((user.fname!='') && (user.lname!='') && (user.sore!='') && (user.email!='') && (user.mobileno!='') && (user.feespaid!='')){
                var dtlen = myData.length;
                var newitem = {
                    "id": dtlen,
                    "values": {
                        "serialno": last+1,
                        "sore": user.sore,
                        "fname": user.fname,
                        "lname": user.lname,
                        "dob": user.dob,
                        "gender": user.gender,
                        "email": user.email,
                        "mobileno": user.mobileno,
                        "feespaid": user.feespaid,
                        "performance":user.performance
                    }
                }
                if (typeof myData.data === 'undefined') {
                    var l = 0;
                    myData.data = new Array();
                    myData.data[l] = newitem;
                }
                else{
                    var l = myData.data.length;
                    myData.data[l] = newitem;
                }
						
						
            }	
            // console.log(myData);            
					
            //editableGrid2 = new EditableGrid("participantds"); 
            //editableGrid2.tableLoaded  = function() { this.renderGrid("tablecontent", "gridparticipants"); };
            //console.log('--'+ participantDataGrid);
            participantDataGrid.processData(myData, "gridparticipants" );
            var temp = new Array();
            for(i=0;i<myData.length;i++){
                temp[i]  = myData[i].values.join(',');
            }
                    
            var output  = JSON.stringify(myData)
            $('#activity_participants').attr('value',output);
        }
        $("#addNewx").live('click',function() {
            var serialno = '';
            var sore = $('#sore').val();
            var fname = $("#fname").val();
            var lname = $("#lname").val();
            var dob = $("#dob").val();
            var gender = $("#gender").val();
            var email = $("#email").val();
            var mobileno = $("#mobileno").val();
            var feespaid = $("#feespaid").val();
            var performance = $("#performance").val();
            var user = {"serialno":serialno, "sore": sore, "fname":fname, "lname":lname, "dob":dob, "gender":gender, "email":email, "mobileno":mobileno,  "feespaid":feespaid, "performance":performance };
            readOld(user);

        });
        // get values on reloading of ifrmae 
        $("#target_participants").on("load", function () {
    
            var str  =  $('#target_participants').contents().find('#participantData').text();
            var myData  = $.parseJSON(str);
            //console.log(myData);    
            showMydataGrid(myData);
            //readOld(myData);
        })
		
    });
    

    // 
    function updateMydataGrid(myData){
        //alert('from ifrmae');
        var jsonData = myData ;			
        //console.log($('#selected_activity_participants').val());
        //console.log(myData);
        //participantDataGrid = new EditableGrid("activityParticipantDataGrid"); 
        //editableGrid.tableLoaded  = function() { this.renderGrid("tablecontent", "gridparticipants"); };
        participantDataGrid.processData(myData,"gridparticipants" );
        //                    readOld(myData);
				
					
    } 

       
</script>

<!---------------------Start of Activity Info form -----------------------------------------     -->
<div class="widget-box1 collapsible">
    <div class="widget-title1">
        <h5>Activity <span class="title-overview">Info</span></h5>
        <span class="pull-right p1 edit-top"><a data-toggle="tab" href="#tab2" id="edit1"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab1" id ="act-info-view"></a>
    </div>
    <div class="collapse in" id="collapseTwo">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <!--TAb1------------->
            <div id="tab1" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span6 activityTitle activityBorder">
                        <h2><?php echo $activity['activityinfo_title']; ?><span class="title-overview1">- <?php echo $activity['activityinfo_organisingentity']; ?></span></h2>
                        <div class="row-fluid">
                            <div class="span4 borderRight1">
                                <label class="label-name">Type</label>
                                <span class="normal"><?php echo $activity['activityinfo_type']; ?></span>
                            </div>
                            <div class="span4 borderRight1">
                                <label class="label-name">Scale</label>
                                <span class="normal"><?php echo $activity['activityinfo_scale']; ?></span>
                            </div>
                            <div class="span4">
                                <label class="label-name">Level</label>
                                <span class="normal"><?php echo $activity['activityinfo_level']; ?></span>
                            </div>
                        </div>
                    </div>
                    <div class="span6" style="position:relative;top:-8px;">
                        <h2 class="title-overview1">VENUE & DATE INFORMATION</h2>
                        <div class="row-fluid">
                            <div class="span3 borderRight1">
                                <label class="label-name">City</label>
                                <span class="normal"><?php echo $activity['city_name']; ?></span>
                            </div>
                            <div class="span6 borderRight1">
                                <label class="label-name">Venue</label>
                                <span class="normal"><?php echo $activity['venue_name']; ?></span>
                            </div>
                            <div class="span3">
                                <label class="label-name">Date</label>
                                <span class="normal">
                                    <?php
                                    $temp = explode('-', $activity['activityplacetime_date_start']);
                                    echo $val = $temp[2] . '-' . $temp[1] . '-' . $temp[0];
                                    ?>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tab2-------------->
            <div id="tab2" class="tab-pane content-backg">
                <form  class="form-horizontal" name="activityinfo" id="activityinfo" action="/activity/edit?id=<?php echo $activity_id; ?>&instituteid=<?php echo $data['institute_id'] ?>#tab1" method="post" novalidate="novalidate">
                    <!-- START FORM CHANGES ---->
                    <input type="hidden" name="institute_id"  id="institute_id"   value="<?php echo $institute_id; ?>"/>  
                    <input type="hidden" name="activity_id"  id="activity_id"   value="<?php echo $activity_id; ?>"/> 
                    <input type="hidden" name="type"  id="type"   value="insertActivityInfo"/> 
                    <div class="control-group">
                        <label class="control-label">Activity Name : <span class="requiered"> *</span></label>
                        <div class="controls">
                            <input id="activityinfo_title" type="text" name="activityinfo_title" placeholder="Please don't use short forms" value="<?php echo $activity['activityinfo_title']; ?>"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Type :</label>
                        <div id="activity-type" class="controls">
                            <select id="activityinfo_type" name="activityinfo_type">
<?php echo $this->dynamic('getDropDown', $data['typearray'], $activity['activityinfo_type']); ?>                                              
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Scale :</label>
                        <div class="controls">
                            <select id="activityinfo_scale" name="activityinfo_scale">
<?php echo $this->dynamic('getDropDown', $data['scalearray'], $activity['activityinfo_scale']); ?>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Organised by :</label>
                        <div class="controls">
                            <select id="activityinfo_organisingentity" name="activityinfo_organisingentity">
<?php echo $this->dynamic('getDropDown', $data['orgarray'], $activity['activityinfo_organisingentity']); ?>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Level :</label>
                        <div class="controls">
                            <select id="activityinfo_level" name="activityinfo_level">
<?php echo $this->dynamic('getDropDown', $data['levelarray'], $activity['activityinfo_level']); ?>
                            </select>
                        </div>
                    </div>
                    <div id="course-credit" class="control-group">
                        <label class="control-label">Course Credits :</label>
                        <div class="controls">
                            <select id="activityinfo_course_credits" name="activityinfo_course_credits">
<?php echo $this->dynamic('getDropDown', $data['creditarray'], $activity['activityinfo_course_credits']); ?>

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" style="padding-top: 0px"><h6>Activity Place and Time </h6></label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">City :</label>
                        <div class="controls">
                            <select id="activity_city" name="activity_city">
<?php echo $this->dynamic('getCity', $data['city'], $activity['activity_city']); ?>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Venue :</label>
                        <div class="controls" id="div_activityplacetime_venue">
                            <select id="activityplacetime_venue" name="activityplacetime_venue">
                                <option value="<?php echo $activity['activityplacetime_venue'] ?>" > <?php echo $activity['venue_name']; ?>	 </option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Date :</label>
                        <div class="controls">
                            <input type="text"  data-date="<?php ?>" name="activityplacetime_date_start" data-date-format="dd-mm-yyyy" class="datepicker" id="activityplacetime_date_start" value="<?php
                            $temp = explode('-', $activity['activityplacetime_date_start']);
                            echo $val = $temp[2] . '-' . $temp[1] . '-' . $temp[0];
?>"    />

                        </div>
                    </div>

                    <div  id="activity-duration" class="control-group">
                        <label class="control-label">Duration :</label>
                        <div class="controls form-input">
                            <?php
                            if ($activity['activityplacetime_duration'] == 0) {
                                $durStyle = 'display:none';
                            }
                            ?>
                            <select id="activityinfo_scale" name="activityplacetime_duration" style="<?php echo $durStyle; ?>">
<?php echo $this->dynamic('getDropDown', range(0, 10, 0.5), $activity['activityplacetime_duration']); ?>
                            </select>
                            <span>Day(s)</span>

                        </div> 
                    </div>


                    <div class="form-actions">
                        <input type="button" onclick="submitActivity('activityinfo','activityinfo','noti-activityinfo');" class="btn btn-danger"  value="Save" />&nbsp;
                        <a data-toggle="tab" href="<?php echo $cur_url; ?>#tab1" id="info-view">Cancel</a>
                    </div>	
                </form>
            </div>
            <!--Tab2 End-------------->
        </div>
    </div>
</div>

<!---------------------Start of Contributors form -----------------------------------------     -->
<div class="widget-box1 collapsible">
    <div class="widget-title1">
        <h5>Activity <span class="title-overview">Contributors</span></h5>
        <span class="pull-right p2 edit-top"><a data-toggle="tab" href="#tab4" id="edit2"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab3" id ="act-contr-view"></a>
    </div>
    <div id="contributor-error"></div>
    <div class="collapse in" id="collapsethree">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <!-- Tab3-------------------------->
            <div id="tab3" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span3 borderRight1">
                        <label class="label-name">Faculty</label>
                        <span id="factList" class="normal"></span>
                        <span class="view-more cursor1 leftBorder">View</span>
                        <span class="view-less cursor1 leftBorder">Hide</span>
                    </div>
                    <div class="span3 borderRight1">
                        <label class="label-name">Sponsor</label>
                        <span id="lead-sponsor" class="normal"></span>
                        <span class="view-more2 cursor1 leftBorder">View</span>
                        <span class="view-less2 cursor1 leftBorder">Hide</span>
                    </div>
                    <div class="span3 borderRight1">
                        <label class="label-name">Partner</label>
                        <span id="total-part" class="normal"></span>
                        <span class="view-more3 cursor1 leftBorder">View</span>
                        <span class="view-less3 cursor1 leftBorder">Hide</span>
                    </div>
                    <div class="span3">
                        <label class="label-name">Lead Speaker</label>
                        <span id="lead-list" class="normal"></span>
                        <span class="view-more1 cursor1 leftBorder">View</span>
                        <span class="view-less1 cursor1 leftBorder">Hide</span>
                    </div>
                </div>
                <div class="row-fluid hidden-block">
                    <hr class="hrline">
                    <label class="control-label">Faculty Details :</label>
                    <div class="controls activityinfo-label">
                        <ol id="facultyList">	
<?php echo $this->dynamic('getacc', $activity_contributor_corodinator); ?>
                        </ol>	
                    </div> 
                </div>
               <div class="row-fluid hidden-block2">
                    <hr class="hrline">
                    <label class="control-label">Sponsor :</label>
                    <div id="contributor_sponser" name="contributor_sponser[]" class="controls activityinfo-label">
                        <ol id="leadSponsor">	
<?php echo $this->dynamic('getSponserList', $activity['activitycontributor_sponsors']); ?> 
                        </ol>
                    </div>
                </div>
                <div class="row-fluid hidden-block3">
                    <hr class="hrline">
                    <label class="control-label">Partner :</label>
                    <div id="contributor_partner" name="contributor_partner" class="controls activityinfo-label">
                        <ol id="totalPart">
<?php echo $this->dynamic('getPartnerList', $activity['activitycontributor_partner']); ?> 
                        </ol>	
                    </div>
                </div>
                 <div class="row-fluid hidden-block1">
                    <hr class="hrline">
                    <label class="control-label">Lead Speaker :</label>
                    <div class="controls activityinfo-label">
                        <ol id="leadList">
<?php echo $this->dynamic('getacc', $activity_contributor_lead_presenter); ?>	
                        </ol>	
                    </div>
                </div>
            </div>
            <!-- Tab4-------------------------->
            <div id="tab4" class="tab-pane content-backg">
                <form  class="form-horizontal" name="insertactivitycontributor" id="insertactivitycontributor" action="/activity/edit?id=<?php echo $activity_id; ?>&instituteid=<?php echo $data['institute_id'] ?>#tab3" method="post" >
                    <!-- START FORM CHANGES ---->
                    <input type="hidden" name="institute_id"  id="institute_id"   value="<?php echo $institute_id; ?>"/>  
                    <input type="hidden" name="activity_id"  id="activity_id"   value="<?php echo $activity_id; ?>"/> 
                    <input type="hidden" name="type"  id="type" value="insertContributors"/> 
                    <input type="hidden" name="activity_contributor_corodinator1"  id="activity_contributor_corodinator" value=""/>
                    <input type="hidden" name="activity_contributor_lead_presenter1"  id="activity_contributor_lead_presenter" value=""/>
                    <!-- END FORM CHANGES ------>
                    <div class="control-group">
                        <label class="control-label">Select Faculty :</label>

                        <span id="selectedFaculty" > </span>

                        <div class="controls">
                            <div id="list"></div>
                            <select id="contributors" name="activity_contributor_corodinator[]" multiple >
<?php echo $this->dynamic('getFaculty', $data['institute_faculty'], $activity_contributor_corodinator); ?>	
                                <!-- <option value="12">Mohan</option>
                                <option value="13">Enric</option>
                                <option value="14">Kamlesh</option>
                                <option value="15"> Sourav Ganguly</option> -->

                            </select>
<!--												<input type="button" value="Add" class="btn btn-success" id="addexist"> -->
                            <!--												<button href="#new_individual" data-toggle="modal" class="btn btn-success">Create new Co-ordinator</button>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><h6 class="pull-top">Lead Speaker Details </h6></label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Select Institute :</label>
                        <div class="controls">
                            <div id="leadlist"></div>
                            <select id="leadSpeakerInstitute" >
<?php echo $this->dynamic('getInstituteList', $institute_list); ?>	

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Lead Speaker</label>

                        <div class="controls" id="div_lead-speaker">
                            <select id="lead-speaker"  name="activity_contributor_lead_presenter[]" multiple>
<?php echo $this->dynamic('getFaculty', $data['faculty'], $activity_contributor_lead_presenter); ?>	
                                <!-- <option value="1">Sachin kumar</option>
                                <option value="2">Rahul Raj</option>
                                <option value="3">Kapil singh</option>
                                <option value="4">Shek Ganguly</option> -->
                            </select>
<!--												<input type="button" value="Add" class="btn btn-success" id="exist-speaker"> -->
                            <!--												<button href="#new_lead_speaker" data-toggle="modal" class="btn btn-success">Create new Lead Speaker</button>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><h6 class="pull-top">Sponsors & Partners </h6></label>
                    </div>	
                    <div class="control-group">
                        <label class="control-label">Sponsor and Amount :</label>
<?php echo $this->dynamic('getSponsorInput', $activity['activitycontributor_sponsors']); ?>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Partner :</label>
<?php echo $this->dynamic('getPartnerInput', $activity['activitycontributor_partner']); ?>
                        <!--											<div id="contributor_partner" class="controls form-input">
                                                                                                                        <input type="text" name="activitycontributor_partner[]"  id="activitycontributor_partner"   placeholder="Organisation / Institute name"/>
                                                                                                                        <input type="button" value="+" class="addpartner add">
                                                                                                                </div>-->
                    </div>
                    <div class="form-actions">
                        <input type="button"  id="submitactivitycontributor" value="Save" class="btn btn-danger"/>
                        &nbsp;  <a data-toggle="tab" href="<?php echo $cur_url; ?>#tab3" id="contr-view">Cancel</a>
                    </div>
                </form>
            </div>

        </div>  
        <!-- Tab4 End---------------------->
    </div>
</div>
<!---------------------Start of Participants form -----------------------------------------     -->
<br/>

<div class="widget-box1 collapsible">
    <div class="widget-title1">
        <h5>Activity <span class="title-overview">Participants</span></h5>
        <span class="pull-right p3 edit-top"><a data-toggle="tab" href="#tab6" id="edit3"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab5" id ="act-parti-view"></a>
    </div>
    <div id="noti-activitparticipant"></div>
    <div class="collapse in" id="collapsefour">
        <div class="widget-content form-horizontal tab-content" stype="padding-left:30px">
            <!--Tab5---------->
            <div id="tab5" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span3 borderRight1" style="padding-left:20px">
                        <label class="label-name">Number of Participants </label>
                        <span class="normal"><?php
                            $p1 = $activity['activitybeneficiaries_number'];
                            if ($p1 == 0) {
                            echo"No Data";
                            } else {
                            echo $p1 . " Participant" . '</span>';
                                echo '<span class="view-more9 cursor1 leftBorder">View</span>';
                                echo '<span class="view-less9 cursor1 leftBorder">Hide</span>';
                                }
                            ?>
                           
                    </div>
                    <div class="span3 borderRight1">
                        <label class="label-name">Participants from Institute</label>
                        <span class="normal"><?php
$pi = $activity['activitybeneficiaries_institute'];
if ($pi == 0) {
    echo"No Data";
} else {
    echo $pi . "&nbsp; Participant";
}
?></span>
                    </div>
                    <div class="span4 bold">
                        <label class="label-name">Total Fees Collected</label>
                        <span class="normal"><?php
                            $fc = $activity['activitybeneficiaries_fees'];
                            if ($fc == 0) {
                                echo" No Data";
                            }else
                                echo "Rs: " . $fc;
?></span>
                    </div>
                </div>
                <div class="row-fluid hidden-block9">
                    <hr class="hrline">
<?php if (!empty($activity_participants)) { ?>
                        <h6>Participants details</h6>
    <?php echo $this->dynamic('getParticipants', $activity_participants);
}
?>
                </div>
            </div>
            <!--Tab6---------->
            <div id="tab6" class="tab-pane content-backg">
                <form class="form-horizontal" id="insertactivityparticipants" name="insertactivityparticipants" action="/activity/edit?id=<?php echo $activity_id; ?>&instituteid=<?php echo $data['institute_id'] ?>#tab5"  method="post" >
                    <!-- START FORM CHANGES ---->
                    <input type="hidden" name="institute_id"  id="institute_id"   value="<?php echo $institute_id; ?>"/>  
                    <input type="hidden" name="activity_id"  id="activity_id"   value="<?php echo $activity_id; ?>"/> 
                    <input type="hidden" name="type"  id="type"   value="insertParticipants"/>
                    <input type="hidden" name="activity_participants"  id="activity_participants" value='' /> 
                    <input type="hidden" name="selected_activity_participants" id="selected_activity_participants" value='' />
                    <!-- END FORM CHANGES ------>
                    <div class="control-group">
                        <label class="control-label">Number of Participants :</label>
                        <div class="controls form-input">
                            <input type="text" name="activitybeneficiaries_number"  id="activitybeneficiaries_number"   placeholder="Count" value="<?php echo $activity['activitybeneficiaries_number']; ?>"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Number of Participants from Institute :</label>
                        <div class="controls form-input">
                            <input type="text" name="activitybeneficiaries_institute"  id="activitybeneficiaries_institute"   placeholder="Count" value="<?php echo $activity['activitybeneficiaries_institute']; ?>"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Total Fees Collected :</label>
                        <div class="controls form-input">
                            <input type="text" name="activitybeneficiaries_fees"  id="activitybeneficiaries_fees"   placeholder="Rs: xxxx" value="<?php echo $activity['activitybeneficiaries_fees']; ?>"/>
                        </div>
                    </div>

                    <?php if (1) { ?>
                        <div class="control-group">
                            <h6 style="display:inline-block"/>Participant details</h6><span> ( Click on cell to edit )</span>
                        </div>
                        <div id="gridparticipants"></div> 
                        <div style="margin-bottom:10px"> <input type="button" class="btn btn-info" id="addNew" value="Add new row"> </div>
    <?php
} else {
    ?>

                        <div id="parti_details" style="display:none;" >
                            <div class="control-group">
                                <h6 style="display:inline-block"/>Participant details</h6><span> ( Click on cell to edit )</span>
                            </div>
                            <div id="gridparticipants"></div> 
                            <div style="margin-bottom:10px"> <input type="button" class="btn btn-info" id="addNew" value="Add new row"> </div>
                        </div>
                        <h6 id="p-details-hide">Participants details</h6>
                        <label class="control-label"><input type="button" style="margin-top:-6px" onclick="$('#parti_details').show('slow',function(){$('#btn_parti_manual').hide('fast',function(){$('#addNew').click();$('#or, #p-details-hide').hide() });})" class="btn"  id="btn_parti_manual" value="Enter data manually"><span class="right-align" id="or">&nbsp; OR</span></label>
<?php } ?>

                    <div id="tablecontent"></div>	
                </form>
                <div class="control-group">
                    <div class="controls">
                        <form  method="post" id="form_upload_participants" name="form_upload_participants" enctype="multipart/form-data" action="/activity/uploadparticipants" target="target_participants">
<!--                                                <input type="hidden" name="type_of_file" value="overview_members">-->
                            <div class="uploader" id="uniform-overview_members" style="">
                                <input type="file" id="fileParticipant" name="fileParticipant" size="19" style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span>
                            </div>  
                            <i class="icon-download-alt"></i><a href="/uploads/activity/ParticipantFIleFormat.csv"> Download Template </a>
                            <br>
                            <iframe id="target_participants" name="target_participants" style="display: none;"></iframe> 
                        </form>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="button" class="btn btn-danger" onclick="submitActivity('insertactivityparticipants','activityparticipant','noti-activitparticipant');"  id="submitactivityparticipants" value="Save"/>&nbsp;
                    <a  data-toggle="tab" href="<?php echo $cur_url; ?>#tab5" id="parti-view" > Cancel </a>
                </div>

            </div>
            <!--End Tab6---------->
        </div>
    </div>
    <!--- testing--------->
</div>
<!---------------------Start of Outcome form -----------------------------------------     -->
<br/>
<div class="widget-box1 collapsible">
    <div class="widget-title1">
        <h5>Activity <span class="title-overview">Outcomes</h5>
        <span class="pull-right p4 edit-top"><a data-toggle="tab" href="#tab8" id="edit4"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab7" id ="act-outcome-view"></a>
    </div>
    <div id="noti-activityoutcomes" ></div>
    <div class="collapse in" id="collapsefive">
        <div class="widget-content form-horizontal tab-content">
            <!--Tab7-------------->
            <div id="tab7" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span2 borderRight1" style="padding-left:20px;width:18%;">
                        <label class="label-name">Instructor  Rating </label>
                        <span class="normal"><?php
$Ir = $activity['activityoutcome_instructor'];
if ($Ir == 0) {
    echo '<span class="normal">No Data</span>';
} else {
    echo $Ir . '&nbsp;&nbsp;  (Out of 5)';
}
?></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Course Rating</label>
                        <span class="normal"><?php
                            $Cr = $activity['activityoutcome_course'];
                            if ($Cr == 0) {
                                echo 'No Data';
                            } else {
                                echo $Cr . '&nbsp;&nbsp; (Out of 5)';
                            }
?> </span>
                    </div>
                    <div class="span2 borderRight1" style="width:18%">
                        <label class="label-name">Organisation Rating </label>
                        <span class="normal"><?php
                            $Or = $activity['activityoutcome_org'];
                            if ($Or == 0) {
                                echo 'No Data';
                            } else {
                                echo $Or . '&nbsp;&nbsp; (Out of 5)';
                            }
?></span>
                    </div>
                    <div class="span2" style="16%">
                        <label class="label-name">Follow-up planned</label>
                        <span class="normal"><?php echo ($activity['activityoutcome_plan'] == 1) ? 'Yes' : 'No'; ?></span>
                    </div>
<?php if ($activity['activityoutcome_plan'] != 0) { ?>
                        <div class="span3 borderleft">
                            <label class="label-name">Follow-up Details</label>
                            <span class="normal"><?php echo $activity['activityoutcome_detail']; ?></span>
                        </div>
<?php } ?>
                </div>


                <!-- only if type=competition -->
<?php if ($activity['activityinfo_type'] == 'Competition') { ?>
                    <div class="row-fluid">
                        <hr class="hrline">
                        <div class="span2 borderRight1">
                            <label class="label-name">Number of Ideas</label>
                            <span class="normal"><?php echo $activity['activityoutcome_competition']; ?></span> 
                        </div>
                        <div class="span3 borderRight1">
                            <label class="label-name">Winning Institution</label>
                            <span class="normal"><?php echo $activity['activityoutcome_institution']; ?></span> 
                        </div>
                        <div class="span5">
                            <label class="label-name">Winning Ideas</label>
                            <span class="normal"><?php echo $activity['activityoutcome_idea']; ?></span> 
                        </div>

                    </div>    
<?php } ?>
                <!-- only if type=contition -->
                <!-- only if type=mentoring -->
<?php if ($activity['activityinfo_type'] == 'Mentoring') { ?>

                    <div class="row-fluid">
                        <hr class="hrline">
                        <div class="span2 borderRight1">
                            <label class="label-name">Number of Mentees</label>
                            <span class="normal"><?php echo count($activity_outcome_mentees_list); ?></span> 
                        </div>
                        <div class="span2 borderRight1">
                            <label class="label-name">Number of Mentors</label>
                            <span class="normal"><?php echo count($activity_outcome_mentors_list); ?></span> 
                        </div>
                        <div class="span2">
                            <label class="label-name">Details of Mentees</label>
                            <span class="normal"><?php echo $this->dynamic('getMentees', $activity_outcome_mentees_list); ?></span> 
                        </div>
                        <div class="span3">
                            <label class="label-name">Details of Mentors</label>
                            <span class="normal"><?php echo $this->dynamic('getMentors', $activity_outcome_mentors_list); ?></span> 
                        </div>

                    </div>
<?php } ?>
            </div>
            <!--Tab8-------------->

            <div id="tab8" class="tab-pane content-backg">
                <form  class="form-horizontal" name="insertactivityoutcomes" id="insertactivityoutcomes" method="post" action="/activity/edit?id=<?php echo $activity_id; ?>&instituteid=<?php echo $data['institute_id'] ?>#tab7" enctype="multipart/form-data" >
                    <!-- START FORM CHANGES ---->
                    <input type="hidden" name="institute_id"  id="institute_id"   value="<?php echo $institute_id; ?>"/>  
                    <input type="hidden" name="activity_id"  id="activity_id"   value="<?php echo $activity_id; ?>"/>  
                    <input type="hidden" name="type"  id="type"   value="insertOutcomes"/> 
                    <!-- END FORM CHANGES ------>
                    <div class="control-group">
                        <label class="control-label">Average Rating Instructor :</label>
                        <div class="controls form-input">
                            <input type="text" name="activityoutcome_instructor" id="activityoutcome_instructor"  placeholder="Out of 5" value="<?php echo $activity['activityoutcome_instructor']; ?>" /><span class="requiered"> </span><span>&nbsp; (Out of 5)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Average Rating Course :</label>
                        <div class="controls form-input">
                            <input type="text" name="activityoutcome_course" id="activityoutcome_course"  placeholder="Out of 5" value="<?php echo $activity['activityoutcome_course']; ?>" /><span class="requiered"> </span><span>&nbsp; (Out of 5)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Average Rating Organisation :</label>
                        <div class="controls form-input">
                            <input type="text" name="activityoutcome_org" id="activityoutcome_org"  placeholder="Out of 5" value="<?php echo $activity['activityoutcome_org']; ?>" /><span class="requiered"> </span><span>&nbsp; (Out of 5)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Is Follow-up planned ?</label>
                        <div class="controls">
<?php
if ($activity['activityoutcome_plan'] == 0) {
    $yes = '';
    $no = 'checked="checked"';
    $planDetailStyle = 'display:none';
} else {
    $no = '';
    $yes = 'checked="checked"';
    $planDetailStyle = 'display:block';
}
?>
                            <label><input type="radio" name="activityoutcome_plan" id="activityoutcome_plan_yes" <?php echo $yes; ?> value="1" /> Yes</label>
                            <label><input type="radio" name="activityoutcome_plan" id="activityoutcome_plan_no" <?php echo $no; ?> value="0" /> No</label>
                        </div>
                    </div>
                    <div class="control-group follow-updetails" style="<?php echo $planDetailStyle; ?>" >
                        <label class="control-label">Follow-up Details :</label>
                        <div class="controls form-input">
                            <input type="text" name="activityoutcome_detail" id="activityoutcome_detail"  placeholder="Activity Description" value="<?php echo $activity['activityoutcome_detail']; ?>" />
                        </div>
                    </div>
                    <!-- set it only if type=competition -->
<?php if ($activity['activityinfo_type'] == 'Competition') { ?>
                        <div class="control-group">
                            <label class="control-label">Number of Ideas :</label>
                            <div class="controls form-input">
                                <input type="text" name="activityoutcome_competition" id="activityoutcome_competition" placeholder="Number of Ideas" value="<?php echo $activity['activityoutcome_competition']; ?>" />
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Winning Ideas :</label>
                            <div class="controls form-input">
                                <textarea name="activityoutcome_idea" id="activityoutcome_idea"  placeholder="Brief description about the ideas" ><?php echo $activity['activityoutcome_idea']; ?></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Winning Institution :</label>
                            <div class="controls">
                                <input name="activityoutcome_institution" id="activityoutcome_institution" type="text" value="<?php echo $activity['activityoutcome_institution']; ?>" />
    <!--												<select  name="activityoutcome_institution" id="activityoutcome_institution">
    <?php //  echo $this->dynamic('getInstituteList',$institute_list,$activity['activityoutcome_institution']);   ?>
                                </select>-->
                            </div>
                        </div>	
<?php } ?>
                    <!-- only if type=contition -->
                    <!-- only if type=mentoring -->

<?php if ($activity['activityinfo_type'] == 'Mentoring') { ?>
                        <div class="control-group">
                            <label class="control-label">Upload Mentees :</label>

                            <div class="controls form-input">
                                <input type="file" name="activityoutcome_menteeslist" id="activityoutcome_menteeslist" placeholder="Number of Mentees" /> <i class="icon-download-alt"></i><a href="/uploads/activity/MenteeFileFormat.csv"> Download Template </a>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Upload Mentors :</label>

                            <div class="controls form-input">

                                <input type="file" name="activityoutcome_mentorslist" id="activityoutcome_mentorslist" placeholder="Nunber of Mentors" /> <i class="icon-download-alt"></i><a href="/uploads/activity/MentorFileFormat.csv"> Download Template </a>
                            </div>
                        </div>	
<?php } ?>
                    <div class="form-actions">
                        <input type="button" onclick="submitActivity('insertactivityoutcomes','activityoutcomes','noti-activityoutcomes');" id="activityoutcomes" class="btn btn-danger"  value="Save" />&nbsp;
                        <a  data-toggle="tab" href="<?php echo $cur_url; ?>" id="outcome-view">Cancel</a>
                    </div>		
                </form>
            </div>
            <!--Tab8 End---------->
        </div>
    </div>
</div>
<!---------------------End of Outcome form -----------------------------------------     -->

<!---------------- Modal box for creating new Faculty member  ------------------------     ---->
<div id="new_individual" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">x</button>
        <h3>Add New Co-ordinator</h3>
    </div>
    <div class="modal-body">
        <table  class="addnew-entry">
            <tr>
                <td><label class="model-fields">First Name :</label></td>
                <td><input type="text" placeholder="Enter first name" id="newperson"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Last Name :</label></td>
                <td><input type="text" placeholder="Enter Last name" name="last_name"id="newpersonemail"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Email Id :</label></td>
                <td><input type="text" id="newpersonphone" name="email" placeholder="Enter email id"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Category :</label></td>
                <td><input type="text" value="Faculty" readonly/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Institute Employing Organisation :</td>
                <td><input type="text" value="IIM Institute of Engineering" readonly/></td>
            </tr>			
            <tr>
                <td></td>
                <td><input data-dismiss="modal" id="addEntry" type="button" value="Add New Faculty" class="btn btn-success"></td>
            </tr>				
        </table>	
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn" href="#">Cancel Entry</a>
    </div>

</div>
<!----------------- Modal Box for Create new Lead Speaker---------------------------------------->						
<div id="new_lead_speaker" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">x</button>
        <h3>Add New lead Speaker</h3>
    </div>
    <div class="modal-body">
        <table  class="addnew-entry">
            <tr>
                <td><label class="model-fields">First Name :</label></td>
                <td><input type="text" placeholder="Enter first name" name="lead_fname" id="leadfname"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Last Name :</label></td>
                <td><input type="text" placeholder="Enter Last name" name="lead_lname"id="leadlname"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Email Id :</label></td>
                <td><input type="text" id="leademail" name="lead_email" placeholder="Enter email id"/></td>
            </tr>
            <tr>
                <td><label class="model-fields">Category :</label></td>
                <td><input type="text" name="category"></td>
            </tr>
            <tr>
                <td><label class="model-fields">Institute Employing Organisation :</td>
                <td><input type="text" name="institute"></td>
            </tr>			
            <tr>
                <td></td>
                <td><input data-dismiss="modal" id="addspeaker" type="button" value="Add New Lead Speaker" class="btn btn-success"></td>
            </tr>				
        </table>	
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn" href="#">Cancel Entry</a>
    </div>

</div>
<!------End of Modal Box------------------>
<script>
    $(document).ready(function(){
       
       var facShow= $('#gridparticipants tr').size();
        if(facShow==1){
           $('.view-more9').hide();
        }else{
             $('.view-more9').show();
        }
        
        var facList= $('#facultyList li').size();
        if(facList==0){
            $('#factList').text('No Data');
            $('.view-more').hide();
        }else if(facList==1){
            $('#factList').text(facList +' '+'  faculty');
        }
        else{
            $('#factList').text(facList +' '+'  faculties');
        }
        var leadSpeaker= $('#leadList li').size();
        if(leadSpeaker==0){
            $('#lead-list').text('No Data');
            $('.view-more1').hide();
        }
        else if(leadSpeaker==1){
            $('#lead-list').text(leadSpeaker +' '+'  Lead speaker');
        }
        else{
            $('#lead-list').text(leadSpeaker +' '+'  Lead speakers');
        }
        var leadSponsor= $('#leadSponsor li').size();
        if(leadSponsor==0){
            $('#lead-sponsor').text('No Data ');
            $('.view-more2').hide();
        }else if(leadSponsor==1){
            $('#lead-sponsor').text(leadSponsor +' '+'  Sponsor');    
        }
        else{
            $('#lead-sponsor').text(leadSponsor +' '+'  Sponsors');    
        }
        var totalPart= $('#totalPart li').size();
        if(totalPart==0){
            $('#total-part').text('No Data');
            $('.view-more3').hide();
        }else if(totalPart==1){
            $('#total-part').text(totalPart +' '+'  Partner');
        }
        else{
            $('#total-part').text(totalPart +' '+'  Partners');
        }
             
    });
</script>


<?php
 //echo '<pre>'. var_dump($this->data) .'</pre>' ;  
//echo '<br/>';
//print("<pre>".print_r($this->data,true)."</pre>");
//echo '<br/>';
//print("<pre>".print_r($this->output,true)."</pre>");
?>

<style>
    .ajax_load_city{
        position: relative;
top: 15px;
left: 20px;
        
    }
    </style>