<?php
$data = $this->data;
$iedc_id = $_GET['id'];
$institute_id = $_GET['instituteid'];
?>
<!---------------------IEDC Basic Info -----------------------------------------  -->   
<div class="widget-title1 margin-bottom">
    <h5>IEDC <span class="title-overview"></span></h5>
</div>
<div class="widget-box2 collapsible iedc_forms" id="view1">
    <div class="widget-title2">
        <h5>1. Basic Information</h5>
        <span class="pull-right p1 edit-top"><a data-toggle="tab" href="#tab2" id="edit1"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab1" id ="iedc-act-info-view" class="iedc-act-info-view"></a>
    </div>
    <div id="success_btn_save_one"></div>
    <div class="collapse in" id="collapseTwo">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <!--TAb1------------->
            <div id="tab1" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span2" style="width:83px">
                        <label class="label-name">Institute has</label>
                        <span class="normal" id="lbl_bi_edcoriedc"></span>
                    </div>
                    <div class="span2 borderLeft1 iedc-info1" style="width:150px">
                        <label class="label-name">Foundation Year</label>
                        <span class="normal" id="lbl_bi_foundationyear"></span>
                    </div>
                    <div class="span2 borderLeft1 iedc-info1" style="width:115px">
                        <label class="label-name">Infrastructure </label>
                        <span class="normal" id="count_bi_availableinfra"></span>
                        <span class="view-more cursor1 leftBorder">View</span>
                        <span class="view-less cursor1 leftBorder">Hide</span>
                    </div>
                    <div class="span5 borderLeft1 iedc-info1">
                        <label class="label-name">Plan of aciton has been discussed</label>
                        <span class="normal" id="lbl_bi_planofactiondiscussed"></span>
                        <span class="normal" id="lbl_bi_uploadplanorMinutes"></span>
                    </div>
                </div>
                <div class="row-fluid hidden-block">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Selected Infrastructure :</label>
                        <div class="controls label-fit">
                            <label id="lbl_bi_availableinfra"></label> 
                        </div>
                    </div>
                </div>
            </div>
            <!--Tab2-------------->
            <div id="tab2" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form" id="form_one" action="/iedc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>" method="post" novalidate="novalidate" enctype="multipart/form-data">
                    <input type="hidden" name="iedc_stage" value="1">
                    <input type="hidden" name="iedc_id" value="<?php echo $iedc_id; ?>">
                    <input type="hidden" name="bi_uploadplanorMinutes" id="bi_uploadplanorMinutes" value="" />
                    <!-- END FORM CHANGES ------>
                    <div class="control-group">
                        <label class="control-label">Institute has :</label>
                        <div class="controls">
                            <!--                            <label class="radio inline">
                                                            <input type="radio" name="bi_edcoriedc" id="iedc-edc" value="EDC">EDC
                                                        </label>-->
                            <label class="radio inline">
                                <input type="radio" name="bi_edcoriedc" id="iedc-iedc" value="IEDC">IEDC
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="bi_edcoriedc" id="iedc-none" value="None">None
                            </label>
                        </div>
                    </div>
                    <div class="iedc-info1">
                        <div class="control-group">
                            <label class="control-label">Foundation Year :</label>
                            <div class="controls">
                                <input type="text" name="bi_foundationyear" id="bi_foundationyear" class="datepicker" data-date-format="yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Management buy-in was secured? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="bi_mgmtbuyinsecured" id="bi_mgmtbuyinsecured_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="bi_mgmtbuyinsecured" id="bi_mgmtbuyinsecured_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="bi_mgmtbuyinsecured" id="bi_mgmtbuyinsecured_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Principal and HODs were briefed? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="bi_prncplhodbriefed" class="bi-prncplhodbriefed" id="bi_prncplhodbriefed_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="bi_prncplhodbriefed" class="bi-prncplhodbriefed" id="bi_prncplhodbriefed_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="bi_prncplhodbriefed" class="bi-prncplhodbriefed" id="bi_prncplhodbriefed_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="control-group bi_prncplhodbriefed hide">
                            <label class="control-label">Date of meeting :</label>
                            <div class="controls">
                                <input type="text" name="bi_domeet" id="bi_domeet" class="datepicker" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Whether plan of action has been discussed :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="bi_planofactiondiscussed" class="bi-planofactiondiscussed" id="bi_planofactiondiscussed_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="bi_planofactiondiscussed" class="bi-planofactiondiscussed" id="bi_planofactiondiscussed_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="bi_planofactiondiscussed" class="bi-planofactiondiscussed" id="bi_planofactiondiscussed_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="bi_planofactiondiscussed hide">
                            <div class="control-group">
                                <label class="control-label">Whether plan of action has been adopted :</label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" name="bi_planofactionadopted" class="bi-planofactionadopted" id="bi_planofactionadopted_y" value="Yes">Yes
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="bi_planofactionadopted" class="bi-planofactionadopted" id="bi_planofactionadopted_n" value="No" >No
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="bi_planofactionadopted" class="bi-planofactionadopted" id="bi_planofactionadopted_na" value="NA">NA
                                    </label>
                                </div>
                            </div>
                            <div class="control-group bi_planofactionadopted hide">
                                <label class="control-label">Upload plan of action or Minutes of meeting :</label>
                                <div class="controls">
                                    <iframe name="myframe_mom" id="myframe_mom" class="hide" ></iframe>
                                    <form id="target_participants_schedule" class="target_participants"  action="/iedc/upload-form-file?instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data" target="myframe_mom">
                                        <input type="file" class="fileParticipant" name="file_bi_uploadplanorMinutes" />
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="margin-bottom: 15px">
                            <label class="control-label">Select available Infrastructure :</label>
                            <div class="controls">
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Space"><span class="label-left">Space </span>
                                </label>
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Budget"><span class="label-left">Budget </span>
                                </label>
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Library"><span class="label-left">Library </span>
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Staff"><span class="label-left">Staff </span>
                                </label>
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Equipment"><span class="label-left">Equipment</span>
                                </label>
                            </div>
                            <div class="controls">
                                <input  type="checkbox" name="bi_availableinfra_other" id="ov_mai_fra" value="Other"><span class="label-fit">Other </span>
                                <span class="ov_mai_fra label-fit"> 
                                    <input type="text" name="bi_availableinfra_other_value" id="ov_mai_fravalue" placeholder="Other" value=""/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button"  class="btn btn-danger btn_save_form"  id="btn_save_one" value="Save" />&nbsp;
                        <a data-toggle="tab" href="#tab1" id="iedc-info-view" class="iedc-info-view">Cancel</a>
                        <a data-toggle="tab" href="#tab1" id="iedc-info-view-hide" class="iedc-info-view"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--Tab2 End-------------->
    </div>
</div>

<!---------------------IEDC Team -----------------------------------------     -->
<div class="widget-box2 collapsible iedc_forms" id="view2">
    <div class="widget-title2">
        <h5>2. Team Details</h5>
        <span class="pull-right p2 edit-top"><a data-toggle="tab" href="#tab4" id="edit2"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab3" id ="act-contr-view" class="act-contr-view"></a>
    </div>
    <div id="success_btn_save_two"></div>
    <div class="collapse in" id="collapsethree">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <div id="tab3" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span2 borderRight1">
                        <label class="label-name">Lead Faculty</label>
                        <span class="normal" id="lbl_td_leadfacname"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Co-lead Faculty</label>
                        <span class="normal" id="lbl_td_coleadfacname"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Active students</label>
                        <span class="normal" id="lbl_td_noofactivestudents"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Advisory Members</label>
                        <span class="normal" id="lbl_td_noofadvisorymembers"></span>
                    </div>
                    <div class="span4">
                        <label class="label-name">First Advisory Board Meeting</label>
                        <span class="normal" id="lbl_td_dofabmeet"></span>
                    </div>
                </div>
            </div>
            <!-- Tab4-------------------------->
            <div id="tab4" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form"  id="form_two" action="/iedc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="iedc_stage" value="2">
                    <input type="hidden" name="iedc_id" value="<?php echo $iedc_id; ?>">
                    <input type="hidden" name="td_uploadlistofmembers" id="td_uploadlistofmembers" />
                    <div id="noti_btn_save_two"></div>
                    <div class="control-group">
                        <label class="control-label">Lead Faculty name :</label>
                        <div class="controls">
                            <select name="td_leadfacname" id="td_leadfacname">
                                <?php echo $this->dropdown('faculty_of_institute', $institute_id) ?>

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Co-lead Faculty name :</label>
                        <div class="controls">
                            <select name="td_coleadfacname" id="td_coleadfacname">
                                <?php echo $this->dropdown('faculty_of_institute', $institute_id) ?>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Number of active students :</label>
                        <div class="controls">
                            <input type="text" name="td_noofactivestudents" id="td_noofactivestudents" placeholder="xxx" >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Number of Advisory Members :</label>
                        <div class="controls">
                            <input type="text" name="td_noofadvisorymembers" id="td_noofadvisorymembers" placeholder="xx" >
                        </div>
                    </div>
                    <div class="control-group loadMember hide">
                        <label class="control-label">Upload list of Members & Advisors :</label>

                        <div class="controls position-relativee">
                            <iframe name="myframe_member" id="myframe_member" class="hide" ></iframe>
                            <form id="target_participants_schedule" class="target_participants"  action="/iedc/upload-form-file?instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data" target="myframe_member">
                                <input type="file" class="fileParticipant" name="file_td_uploadlistofmembers" />
                            </form>
                            <label class="label-upward" id="lbl_td_uploadlistofmembers" ></label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Date of First Advisory Board Meeting :</label>
                        <div class="controls">
                            <input type="text" name="td_dofabmeet" id="td_dofabmeet" class="datepicker" data-date-format="dd-mm-yyyy">
                        </div>
                    </div>

                    <div class="control-group" >
                        <label class="control-label">Date of most Recent Advisory Board Meeting :</label>
                        <div class="controls">
                            <input type="text" name="td_domrabmeet" id="td_domrabmeet" class="datepicker" data-date-format="dd-mm-yyyy">
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button"    id="btn_save_two" value="Save" class="btn btn-danger btn_save_form"/>
                        &nbsp;  <a data-toggle="tab" href="#tab3" id="iedc-contr-view" class="iedc-contr-view">Cancel</a>
                        <a data-toggle="tab" href="#tab3" id="iedc-contr-view-hide" class="iedc-contr-view"></a>
                    </div>
                </div>
            </div>
        </div>  
        <!-- Tab4 End---------------------->
    </div>
</div>
<!---------------------IEDC Process Checks ------------------------------------------->
<div class="widget-box2 collapsible" id="view3">
    <div class="widget-title2">
        <h5>3. Process Checks</h5>
        <span class="pull-right p3 edit-top"><a data-toggle="tab" href="#tab6" id="edit3"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab5" id ="iedc-act-parti-view" class="iedc-act-parti-view"></a>
    </div>
    <div id="success_btn_save_three"></div>
    <div class="collapse in" id="collapsefour">
        <div class="widget-content form-horizontal tab-content" stype="padding-left:30px">
            <!--Tab5---------->
            <div id="tab5" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span3" style="padding-left:20px;">
                        <label class="label-name">Upgraded to EDC or IEDC</label>
                        <span class="normal" id="lbl_pc_upgrade"></span>
                    </div>
                    <div class="span4 borderLeft1 pc_upgrade">
                        <label class="label-name">AICTE/ DST process has been reviewed</label>
                        <span class="normal" id="lbl_pc_processreviewed"></span>
                    </div>
                    <div class="span5 borderLeft1 pc_upgrade">
                        <label class="label-name">Are NEN pre-requisites for funding in place ?</label>
                        <span class="normal" id="lbl_pc_nenprerequisites"></span>
                    </div>
                </div>
            </div>
            <!--Tab6---------->
            <div id="tab6" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form" id="form_three" action="/iedc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="iedc_stage" value="3">
                    <input type="hidden" name="iedc_id" value="<?php echo $iedc_id; ?>">
                    <div class="control-group">
                        <label class="control-label">Are you seeking to upgrade to EDC or IEDC ? :</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="pc_upgrade" class="pc-upgrade"  id="pc_upgrade_y" value="Yes">Yes
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="pc_upgrade" class="pc-upgrade" id="pc_upgrade_n" value="No" >No
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="pc_upgrade" class="pc-upgrade" id="pc_upgrade_na" value="NA">NA
                            </label>
                        </div>
                    </div>
                    <div class="pc_upgrade hide">
                        <div class="control-group">
                            <label class="control-label">Has AICTE/ DST process been reviewed ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pc_processreviewed" id="pc_processreviewed_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pc_processreviewed" id="pc_processreviewed_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pc_processreviewed" id="pc_processreviewed_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Are NEN pre-requisites for funding in place ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pc_nenprerequisites" class="pc-nenprerequisites" id="pc_nenprerequisites_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pc_nenprerequisites" class="pc-nenprerequisites" id="pc_nenprerequisites_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pc_nenprerequisites" class="pc-nenprerequisites" id="pc_nenprerequisites_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="pc_nenprerequisites hide">    
                            <div class="control-group">
                                <label class="control-label">Is the E-cell Level adequate ? :</label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" name="pc_isleveladequate" class="pc-isleveladequate" id="pc_isleveladequate_y" value="Yes">Yes
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="pc_isleveladequate" class="pc-isleveladequate" id="pc_isleveladequate_n" value="No" >No
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="pc_isleveladequate" class="pc-isleveladequate" id="pc_isleveladequate_na" value="NA">NA
                                    </label>
                                </div>
                            </div>
                            <div class="control-group pc_isleveladequate hide">
                                <label class="control-label">Explain your answer briefly :</label>
                                <div class="controls">
                                    <textarea  name="pc_explainadequate" id="pc_explainadequate" /></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Is the workflow structured ? :</label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" name="pc_iswfstructured" class="pc-iswfstructured" id="pc_iswfstructured_y" value="Yes">Yes
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="pc_iswfstructured" class="pc-iswfstructured" id="pc_iswfstructured_n" value="No" >No
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="pc_iswfstructured" class="pc-iswfstructured" id="pc_iswfstructured_na" value="NA">NA
                                    </label>
                                </div>
                            </div>
                            <div class="control-group pc_iswfstructured hide">
                                <label class="control-label">Explain your answer briefly :</label>
                                <div class="controls">
                                    <textarea  name="pc_explainwf" id="pc_explainwf" /></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">NEN criteria have been used ? :</label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" name="pc_nencriteriaused" id="pc_nencriteriaused_y" value="Yes">Yes
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="pc_nencriteriaused" id="pc_nencriteriaused_n" value="No" >No
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="pc_nencriteriaused" id="pc_nencriteriaused_na" value="NA">NA
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Identification Parameters have been used ? :</label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" name="pc_pipused" id="pc_pipused_y" value="Yes">Yes
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="pc_pipused" id="pc_pipused_n" value="No" >No
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="pc_pipused" id="pc_pipused_na" value="NA">NA
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button" class="btn btn-danger btn_save_form"     id="btn_save_three" value="Save"/>&nbsp;
                        <a  data-toggle="tab" href="#tab5" id="iedc-parti-view" class="iedc-parti-view" > Cancel </a>
                        <a  data-toggle="tab" href="#tab5" id="iedc-parti-view-hide" class="iedc-parti-view" ></a>
                    </div>
                </div>
            </div>
            <!--End Tab6---------->
        </div>
    </div>
</div>
<!---------------------IEDC Project Pipeline-----------------------------------------     -->
<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>4. Project Pipeline</h5>
        <span class="pull-right p8 edit-top"><a data-toggle="tab" href="#tab16" id="edit8"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab15" id ="iedc-act-outcome-view1" class="iedc-act-outcome-view1"></a>
    </div>
    <div id="success_btn_save_seven"></div>
    <div class="collapse in" id="collapsenine">
        <div class="widget-content form-horizontal tab-content" stype="padding-left:30px">
            <!--Tab5---------->
            <div id="tab15" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span2" style="padding-left:20px;">
                        <label class="label-name">Total Project</label>
                        <span class="normal" id="lbl_pp_updateprojectlist"></span>
                    </div>
                    <div class="span3  borderLeft1">
                        <label class="label-name">Final Selection</label>
                        <span class="normal" id="lbl_pp_finalselection"></span>
                    </div>
                    <div class="span3  borderLeft1">
                        <label class="label-name">Pitched to DST/ AICTE</label>
                        <span class="normal" id="lbl_pp_pichedto"></span>
                    </div>
                    <div class="span3  borderLeft1">
                        <label class="label-name">Funded</label>
                        <span class="normal" id="lbl_pp_funded"></span>
                    </div>
                </div>
            </div>
            <!--Tab6---------->
            <div id="tab16" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form" id="form_eight" action="/iedc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="iedc_stage" value="8">
                    <input type="hidden" name="pp_updateprojectlist" id="pp_updateprojectlist" value="">

                    <input type="hidden" name="iedc_id" value="<?php echo $iedc_id; ?>">
                    <div class="control-group">
                        <h6 style="display: inline-block">Update Project list</h6><span class="edit-click"> ( Click on cell to edit )</span>
                        <div id="grid_project"></div>
                        <input type="button" class="btn btn-info addNew" target="grid_project" value="Add new row">
                    </div>
                    <div class="form-actions">
                        <input type="button" class="btn btn-danger btn_save_form"     id="btn_save_seven" value="Save"/>&nbsp;
                        <a  data-toggle="tab" href="#tab15" id="iedc-new-pp-view" class="iedc-new-pp-view" > Cancel </a>
                        <a  data-toggle="tab" href="#tab15" id="iedc-new-pp-hide" class="iedc-new-pp-view" ></a>
                    </div>
                </div>
            </div>
            <!--End Tab6---------->
        </div>
    </div>
</div>
<!--------------------IEDC NEW Project Pipeline-------------------------------------------->
<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>5. Project Pipeline <span class="title-overview">(Other Details)</span></h5>
        <span class="pull-right p4 edit-top"><a data-toggle="tab" href="#tab8" id="edit4"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab7" id ="iedc-act-outcome-view" class="iedc-act-outcome-view"></a>
    </div>
    <div id="success_btn_save_four"></div>
    <div class="collapse in" id="collapsefive">
        <div class="widget-content form-horizontal tab-content" stype="padding-left:30px">
            <!--Tab5---------->
            <div id="tab7" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span2" style="padding-left:20px;">
                        <label class="label-name">Project Pipeline</label>
                        <span class="normal" id="lbl_pp_creatingprojectpipe"></span>
                    </div>
                    <div class="span3 borderLeft1 pp_creatingprojectpipe">
                        <label class="label-name">Average Project Quality</label>
                        <span class="normal" id="lbl_pp_avgprojqual"></span>
                    </div>
                    <div class="span2 borderLeft1 pp_creatingprojectpipe">
                        <label class="label-name">Projects Identified</label>
                        <span class="normal" id="lbl_pp_noofprojectsidentified"></span>
                    </div>
                    <div class="span3 borderLeft1 pp_creatingprojectpipe">
                        <label class="label-name">Student Presentation Date</label>
                        <span class="normal" id="lbl_pp_dostudentpresentation"></span>
                    </div>
                </div>
            </div>
            <!--Tab6---------->
            <div id="tab8" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form" id="form_four" action="/iedc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="iedc_stage" value="4">
                    <input type="hidden" name="pp_updateprojectlist" id="pp_updateprojectlist" value="">
                    <input type="hidden" name="pp_updatepanelistlist" id="pp_updatepanelistlist" value="">
                    <input type="hidden" name="iedc_id" value="<?php echo $iedc_id; ?>">
                    <div id="noti_btn_save_four"></div>
                    <div class="control-group">
                        <label class="control-label">&nbsp;&nbsp;&nbsp; Are you creating a Project Pipeline ? :</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="pp_creatingprojectpipe" class="pp-creatingprojectpipe" id="pp_creatingprojectpipe_y" value="Yes">Yes
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="pp_creatingprojectpipe" class="pp-creatingprojectpipe" id="pp_creatingprojectpipe_n" value="No" >No
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="pp_creatingprojectpipe" class="pp-creatingprojectpipe" id="pp_creatingprojectpipe_na" value="NA">NA
                            </label>
                        </div>
                    </div>
                    <div class="pp_creatingprojectpipe hide">
                        <div class="control-group">
                            <label class="control-label">Ongoing Projects (Number) :</label>
                            <div class="controls">
                                <input type="text" name="pp_ongoingproject" id="pp_ongoingproject" placeholder="xx" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Average Project Quality :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pp_avgprojqual" id="pp_avgprojqual_y" value="Needs-improvement">Needs Improvement
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_avgprojqual" id="pp_avgprojqual_n" value="Satisfactory" >Satisfactory 
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_avgprojqual" id="pp_avgprojqual_na" value="Not-evaluated">Not Evaluated
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Innovative Ideas Competition is planned ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pp_iicompeteplan" id="pp_iicompeteplan_y" value="Planned">Planned
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_iicompeteplan" id="pp_iicompeteplan_n" value="Completed">Completed
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_iicompeteplan" id="pp_iicompeteplan_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Number of Projects Identified :</label>
                            <div class="controls">
                                <input type="text" name="pp_noofprojectsidentified" id="pp_noofprojectsidentified" placeholder="xx" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Request for Panelists sent ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pp_reqforpanelistsent" id="pp_reqforpanelistsent_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_reqforpanelistsent" id="pp_reqforpanelistsent_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_reqforpanelistsent" id="pp_reqforpanelistsent_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">External Panelists Identified ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pp_extpanelistidentified" id="pp_extpanelistidentified_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_extpanelistidentified" id="pp_extpanelistidentified_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_extpanelistidentified" id="pp_extpanelistidentified_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <h6 style="display: inline-block">Update Panelist list</h6><span class="edit-click"> ( Click on cell to edit )</span>
                            <div id="grid_panel"></div>
                            <input type="button" class="btn btn-info addNew" target="grid_panel" value="Add new row">
                        </div>
                        <div class="control-group">
                            <label class="control-label">Student Presentation schedule finalised ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pp_prsntatnschdlfinalised" id="pp_prsntatnschdlfinalised_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pp_prsntatnschdlfinalised" id="pp_prsntatnschdlfinalised_n" value="No" >No
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date of Student presentations :</label>
                            <div class="controls">
                                <input type="text" class="datepicker" name="pp_dostudentpresentation" id="pp_dostudentpresentation" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button" class="btn btn-danger btn_save_form"     id="btn_save_four" value="Save"/>&nbsp;
                        <a  data-toggle="tab" href="#tab7" id="iedc-outcome-view" class="iedc-outcome-view" > Cancel </a>
                        <a  data-toggle="tab" href="#tab7" id="iedc-outcome-view-hide" class="iedc-outcome-view" ></a>
                    </div>
                </div>
            </div>
            <!--End Tab6---------->
        </div>
    </div>
</div>
<!--------------------IEDC Project Section ------------------------------------------------------>
<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>6. Project Selection</h5>
        <span class="pull-right p5 edit-top"><a data-toggle="tab" href="#tab10" id="edit5"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab9" id ="iedc-proj-select-view" class="iedc-proj-select-view"></a>
    </div>
    <div id="success_btn_save_five"></div>
    <div class="collapse in" id="collapsesix">
        <div class="widget-content form-horizontal tab-content" stype="padding-left:30px">
            <!--Tab5---------->
            <div id="tab9" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span5" style="padding-left:20px;">
                        <label class="label-name">Proceeding with project selection for funding</label>
                        <span class="normal" id="lbl_ps_proceeding"></span>
                    </div>
                    <div class="span5 borderLeft1 ps_proceeding">
                        <label class="label-name">Mentors Assigned</label>
                        <span class="normal" id="lbl_ps_mentorsassigned"></span>
                    </div>
                </div>
            </div>
            <!--Tab9---------->
            <div id="tab10" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form"  id="form_five" action="/iedc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="iedc_stage" value="5">
                    <input type="hidden" name="iedc_id" value="<?php echo $iedc_id; ?>">                  
                    <input type="hidden" name="iedc_team_details" id="iedc_team_details" value="">
                    <div class="control-group">
                        <label class="control-label">Are you proceeding with project selection for seeking funding this year ? :</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="ps_proceeding" class="ps-proceeding" id="ps_proceeding_y" value="Yes">Yes
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="ps_proceeding" class="ps-proceeding" id="ps_proceeding_n" value="No" >No
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="ps_proceeding" class="ps-proceeding" id="ps_proceeding_na" value="NA">NA
                            </label>
                        </div>
                    </div>
                    <div class="ps_proceeding hide">
                        <div class="control-group">
                            <label class="control-label">Selection of Projects by Expert Panel completed ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="ps_selectioncomplete" id="ps_selectioncomplete_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="ps_selectioncomplete" id="ps_selectioncomplete_n" value="No" >No
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date of  meeting for Selection :</label>
                            <div class="controls">
                                <input type="text" class="datepicker" name="ps_domeetforselection" id="ps_domeetforselection" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Mentors Assigned :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="ps_mentorsassigned" id="ps_mentorsassigned_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="ps_mentorsassigned" id="ps_mentorsassigned_n" value="No" >No
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Internal / External Faculty for Technopreneurship course &nbsp;&nbsp; Identified ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="ps_facfortechnopreneur" class="ps-facfortechnopreneur" id="ps_facfortechnopreneur_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="ps_facfortechnopreneur" class="ps-facfortechnopreneur" id="ps_facfortechnopreneur_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="ps_facfortechnopreneur" class="ps-facfortechnopreneur" id="ps_facfortechnopreneur_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="ps_facfortechnopreneur hide">    
                            <div class="control-group">
                                <label class="control-label">List of targeted internal faculty for course :</label>
                                <div class="controls">
                                    <select multiple name="ps_listofinternalfac[]" id="ps_listofinternalfac">
                                        <?php echo $this->dropdown('faculty_of_institute', $institute_id) ?>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Date of Technopreneurship Course/workshops :</label>
                                <div class="controls">
                                    <input type="text" class="datepicker" name="ps_dateofcourse" id="ps_dateofcourse" data-date-format="dd-mm-yyyy">
                                </div>
                            </div>
                            <div class="control-group">
                                <h6 style="display: inline-block">Update Attendee list </h6><span class="edit-click"> ( Click on cell to edit )</span>
                                <div id="grid_attendee"></div>
                                <input type="button" class="btn btn-info addNew" target="grid_attendee" value="Add new row">
                            </div>
                        </div>
                    </div>     
                    <div class="form-actions">
                        <input type="button" class="btn btn-danger btn_save_form"     id="btn_save_five" value="Save"/>&nbsp;
                        <a  data-toggle="tab" href="#tab9" id="iedc-proj-view" class="iedc-proj-view" > Cancel </a>
                        <a  data-toggle="tab" href="#tab9" id="iedc-proj-view-hide" class="iedc-proj-view"></a>
                    </div>
                </div>
            </div>
            <!--End Tab10---------->
        </div>
    </div>
</div>
<!-----------------------------IEDC  Funding---->
<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>7. Pitch for Funding</h5>
        <span class="pull-right p6 edit-top"><a data-toggle="tab" href="#tab12" id="edit6"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab11" id ="iedc-pitch-fund-view" class="iedc-pitch-fund-view"></a>
    </div>
    <div id="success_btn_save_six"></div>
    <div class="collapse in" id="collapseseven">
        <div class="widget-content form-horizontal tab-content" stype="padding-left:30px">
            <!--Tab5---------->
            <div id="tab11" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span4" style="padding-left:20px;">
                        <label class="label-name">Proceeding with fund this year</label>
                        <span class="normal" id="lbl_pff_seekingfund"></span>
                    </div>
                    <div class="span6 borderLeft1 pff_seekingfund">
                        <label class="label-name">Date of final pitch to National experts Committee if any</label>
                        <span class="normal" id="lbl_pff_dofinalpitch"></span>
                    </div>
                </div>
            </div>
            <!--Tab9---------->
            <div id="tab12" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form" id="form_six" action="/iedc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="iedc_stage" value="6">
                    <input type="hidden" name="iedc_id" value="<?php echo $iedc_id; ?>">
                    <input type="hidden" name="pff_uploadcopyofproposal" id="pff_uploadcopyofproposal" />
                    <div class="control-group">
                        <label class="control-label">Are you proceeding with seeking funding this year ? :</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="pff_seekingfund" class="pff-seekingfund" id="pff_seekingfund_y" value="Yes">Yes
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="pff_seekingfund" class="pff-seekingfund" id="pff_seekingfund_n" value="No" >No
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="pff_seekingfund" class="pff-seekingfund" id="pff_seekingfund_na" value="NA">NA
                            </label>
                        </div>
                    </div>
                    <div class="pff_seekingfund hide">
                        <div class="control-group">
                            <label class="control-label">Has DST/ AICTE guidelines been followed ? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pff_guidelinefollowed" id="pff_guidelinefollowed_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pff_guidelinefollowed" id="pff_guidelinefollowed_n" value="No" >No
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">&nbsp;&nbsp;Feedback Process Completed date :</label>
                            <div class="controls">
                                <input type="text" class="datepicker" name="pff_feedbackcompleteddate" id="pff_feedbackcompleteddate" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Proposal Submitted date :</label>
                            <div class="controls">
                                <input type="text" class="datepicker" name="pff_proposalssubmitteddate" id="pff_proposalssubmitteddate" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label label-fit1">Entity to which submitted proposal :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="pff_submittedtoentity" class="pff-submittedtoentity" id="pff_submittedtoentity_y" value="DST">DST
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pff_submittedtoentity" class="pff-submittedtoentity" id="pff_submittedtoentity_n" value="AICTE" >AICTE
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="pff_submittedtoentity" class="pff-submittedtoentity" id="pff_submittedtoentity_na" value="Other" >Other &nbsp;
                                </label>
                                <span class="pff_submittedtoentity hide"> 
                                    <input type="text" name="pff_submittedtoentity_other_value" id="pff_submittedtoentity_other" placeholder="Other" >
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Upload Copy of Proposal :</label>

                            <div class="controls position-relativee">
                                <iframe name="iframe_pff_uploadcopyofproposal" id="iframe_pff_uploadcopyofproposal" class="hide" ></iframe>
                                <form id="target_participants_schedule" class="target_participants"  action="/iedc/upload-form-file?instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data" target="iframe_pff_uploadcopyofproposal">
                                    <input type="file" class="fileParticipant" name="file_pff_uploadcopyofproposal" />
                                </form>
                                <label class="label-upward" id="lbl_pff_uploadcopyofproposal"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date of Final Pitch to National Experts Committee if any :</label>
                            <div class="controls">
                                <input type="text" class="datepicker" name="pff_dofinalpitch" id="pff_dofinalpitch" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button" class="btn btn-danger btn_save_form"     id="btn_save_six" value="Save"/>&nbsp;
                        <a  data-toggle="tab" href="#tab11" id="iedc-proj-fund-view" class="iedc-proj-fund-view" > Cancel </a>
                        <a  data-toggle="tab" href="#tab11" id="iedc-proj-fund-view-hide" class="iedc-proj-fund-view"></a>
                    </div>
                </div>
            </div>
            <!--End Tab12---------->
        </div>
    </div>
</div>
<!--------------------------------IEDC Funding--------------------->
<div class="widget-box2 collapsible">
    <div class="widget-title2">
        <h5>8. Funding</h5>
        <span class="pull-right p7 edit-top"><a data-toggle="tab" href="#tab14" id="edit7"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab13" id ="iedc-funding-view" class="iedc-funding-view"></a>
    </div>
    <div id="success_btn_save_eight"></div>
    <div class="collapse in" id="collapseeight">
        <div class="widget-content form-horizontal tab-content" stype="padding-left:30px">
            <!--Tab5---------->
            <div id="tab13" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span4" style="padding-left:20px">
                        <label class="label-name">Did you seek funding for this year ?</label>
                        <span class="normal" id="lbl_fund_seeking"></span>
                    </div>
                    <div class="span4 borderLeft1 fund_seeking">
                        <label class="label-name">Funding amount for current year</label>
                        <span class="normal" id="lbl_fund_amount"></span>
                    </div>
                </div>
            </div>
            <!--Tab13---------->
            <div id="tab14" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form" id="form_seven" action="/iedc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="iedc_stage" value="7">
                    <input type="hidden" name="iedc_id" value="<?php echo $iedc_id; ?>">
                    <div id="noti_btn_save_eight"></div>
                    <div class="control-group">
                        <label class="control-label">Did you seek funding for this year ? :</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="fund_seeking" class="funding-year" id="fund_seeking_y" value="Yes">Yes
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="fund_seeking" class="funding-year" id="fund_seeking_n" value="No" >No
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="fund_seeking" class="funding-year" id="fund_seeking_na" value="NA">NA
                            </label>
                        </div>
                    </div>
                    <div class="fund_seeking hide">
                        <div class="control-group">
                            <label class="control-label">Funding letter received date :</label>
                            <div class="controls">
                                <input type="text" class="datepicker" name="fund_letterreceiveddate" id="fund_letterreceiveddate" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Funding amount for current year :</label>
                            <div class="controls">
                                <input type="text" name="fund_amount" id="fund_amount" placeholder="Rs: xxxx">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Funds received :</label>
                            <div class="controls">
                                <input type="text" name="fund_received" id="fund_received" placeholder="Rs: xxxx">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Source of funds :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="fund_source" class="fund-source" id="fund_source_y" value="DST">DST
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="fund_source" class="fund-source" id="fund_source_n" value="AICTE" >AICTE
                                </label>
                                <label class="radio inline"> 
                                    <input type="radio" name="fund_source" class="fund-source" id="fund_source_na" value="Other">Other &nbsp;
                                </label>
                                <span class="fund_source hide">
                                    <input type="text" name="fund_source_other_value" class="fund-source" id="fund_source_other" placeholder="Other">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button" class="btn btn-danger btn_save_form"  id="btn_save_eight" value="Save"/>&nbsp;
                        <a  data-toggle="tab" href="#tab13" id="iedc-funding-view" class="iedc-funding-view" > Cancel </a>
                        <a  data-toggle="tab" href="#tab13" id="iedc-funding-hide" class="iedc-funding-view"></a>
                    </div>
                </div>
            </div>
            <!--End Tab14---------->
        </div>
    </div>
</div>
<!--------------------------End of IEDC------------------------------------------------->

<script src="/js/iedc.js"></script> 

