
<?php

$institute_id =  $this->data['institute_id'];


?>

<div id="noti-addactivity"></div>
<div class="widget-box1">
    <div class="widget-title1">
        <h5>INSTITUTE ANNUAL PLANNING <span class="title-overview">EXERCISE</span></h5>
    </div>
    <div class="widget-content">
    <!--Tab2-------------->
            <div id="tab2" class="tab-pane content-backg">
                <form  class="form-horizontal" name="activityinfo" id="activityinfo" action="/plan/add?instituteid=<?php echo $institute_id ?>" method="post" novalidate="novalidate">
                     <input type="hidden" id="plan_type" value="create">
                   <input type="hidden" name="plan_stage" value="1">
                    <input type="hidden" name="plan_id" value="<?php echo $plan_id; ?>">
                    <!-- END FORM CHANGES ------>
                    <div class="control-group">
                        <label class="control-label">Current Level :</label>
                        <div class="controls">
                            <input id="iip_currentlevel" type="text" name="iip_currentlevel" value=""><span class="requiered"></span> 
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" style="padding-top: 0px"><h6>Performance Outcomes </h6></label>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Entrepreneurs Created :</label>
                        <div id="activity-type" class="controls">
                            <input id="iip_po_entrepreneurcreated" type="text" name="iip_po_entrepreneurcreated" value=""> 
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Entrepreneurs Supported :</label>
                        <div class="controls">
                            <input type="text" name="iip_po_entrepreneursupported" id="iip_po_entrepreneursupported" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Jobs Created :</label>
                        <div class="controls">
                            <input type="text" name="iip_po_jobscreated" id="iip_po_jobscreated">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Others :</label>
                        <div class="controls" id="div_iip_po_other">
                            <div class="repeat-box">
                                <span class="addnew add btn pull-right"><i class="icon-plus"></i></span>
                                <input type="text" name="iip_po_other[]" id="iip_po_other" class="increment" value="" >
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <h6>Discussion of Key Institutional Capacity Issues </h6>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Human Resources :</label>
                        <div class="controls">
                            <input type="text" name="iip_dkici_humanresources" id="iip_dkici_humanresources">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Infrastructure Platforms :</label>
                        <div class="controls">
                            <input type="text" name="iip_dkici_infrastructureplatforms" id="iip_dkici_infrastructureplatforms">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Programs & Activities :</label>
                        <div class="controls">
                            <input type="text" id="iip_dkici_programsnactivities" name="iip_dkici_programsnactivities"  />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Others :</label>
                        <div class="controls form-input" id="div_iip_dkici_other" >
                            <div class="repeat-box">
                                <span class="addprogram add btn pull-right"><i class="icon-plus"></i></span>
                                <input type="text" name="iip_dkici_other[]" id="iip_dkici_other"  />
                            </div> 
                        </div> 
                         <div class="controls form-input" id="lbl_iip_dkici_other" ></div>
                    </div>
                </div>
                    <div class="form-actions1">
                        <input type="button"  class="btn btn-danger"  id="create_institute_plan" value="Save & Continue" />&nbsp;
                        <a  href="/plan/?instituteid=<?php echo $institute_id ?>" id="info-view">Cancel</a>
                    </div>	
                </form>
            
        </div>
        <!--Tab2 End-------------->
    </div>
</div>
<script src="/js/plan.js"></script>