<?php
$data = $this->data;
$plan_id = $data['plan_id'];
$institute_id = $data['institute_id'];
$cur_date  = date('Y');
?>
<link rel="stylesheet" href="/css/chosen.css" />
<script src="/js/chosen.jquery.js" type="text/javascript"></script>

<!---------------------Institute Annual Planning -----------------------------------------     -->
<div class="widget-box1 collapsible plan_forms" id="view1">
    <div class="widget-title1">
        <h5>Institute Annual Planning <span class="title-overview"> Exercise</span><span class="date_year date_year_input"></span></h5>
        <span class="pull-right p1 edit-top"><a data-toggle="tab" href="#tab2" id="edit1"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab1" id ="plan-act-info-view" class="plan-act-info-view"></a>
    </div>
    <div id="success_btn_save_one"></div>
    <div class="collapse in" id="collapseTwo">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <!--TAb1------------->
            <div id="tab1" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span6 activityTitle activityBorder">
                        <h2 class="margin-top1">Current Level -<span class="title-overview" id="lbl_iip_currentlevel"></span></h2>
                        <span class="perflabel">Performance Outcomes </span>
                        <div class="row-fluid">
                            <div class="span3 borderRight">
                                <label class="label-name">Entrepreneurs<br/> created</label>
                                <span class="normal" id="lbl_iip_po_entrepreneurcreated"></span>
                                <span class="normal" id="lblv_iip_po_entrepreneurcreated"></span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">Entrepreneurs<br/> supported</label>
                                <span class="normal" id="lbl_iip_po_entrepreneursupported"></span>
                                <span class="normal" id="lblv_iip_po_entrepreneursupported"></span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">Jobs created</label><br/>
                                <span class="normal" id="lbl_iip_po_jobscreated"></span>
                                <span class="normal" id="lblv_iip_po_jobscreated"></span>
                            </div>
                            <div class="span3">
                                <label class="label-name">Others</label><br/>
                                <span class="normal" id="count_iip_po_other"></span>
                                <span class="view-more cursor1 leftBorder">View</span>
                                <span class="view-less cursor1 leftBorder">Hide</span>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <h2 class="title-overview1 other-fit">Key Institutional Capacity Issues</h2>
                        <div class="row-fluid">
                            <div class="span3 borderRight">
                                <label class="label-name">Human<br/>resources</label>
                                <span class="normal" id="lbl_iip_dkici_humanresources"></span>
                                <span class="normal" id="lbls_iip_dkici_humanresources"></span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">Infrastructure<br/> platforms</label>
                                <span class="normal" id="lbl_iip_dkici_infrastructureplatforms"></span>
                                <span class="normal" id="lbls_iip_dkici_infrastructureplatforms"></span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">Programs &<br/> activities</label>
                                <span class="normal" id="lbl_iip_dkici_programsnactivities"></span>
                                <span class="normal" id="lbls_iip_dkici_programsnactivities"></span>
                            </div>
                            <div class="span2">
                                <label class="label-name">Others</label><br/>
                                <span class="normal" id="count_iip_dkici_other"></span>
                                <span class="view-more1 cursor1 leftBorder">View</span>
                                <span class="view-less1 cursor1 leftBorder">Hide</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid hidden-block">
                    <hr class="hrline">
                    <label id="lbl_iip_po_other"></label>
                </div>
                <div class="row-fluid hidden-block1">
                    <hr class="hrline">
                    <label id="lbl_iip_dkici_other"></label>
                </div>
            </div>
            <!--Tab2-------------->
            <div id="tab2" class="tab-pane content-backg">
                <form  class="form-horizontal" name="activityinfo" id="activityinfo" action="/plan/edit?id=<?php echo $plan_id; ?>&instituteid=<?php echo $institute_id ?>" method="post" novalidate="novalidate">
                    <input type="hidden" name="plan_stage" value="1">
                    <input type="hidden" name="plan_id" value="<?php echo $plan_id; ?>">
                    <!-- END FORM CHANGES ------>
                    <div class="alert alert-grey"><i class="icon-list"></i> Data in this section is for <span class="date_year_input"></span></div>
                    <div class="control-group">
                        <label class="control-label">Current level :</label>
                        <div class="controls">
                            <input id="iip_currentlevel" type="text" name="iip_currentlevel" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" style="padding-top: 0px"><h6>Performance Outcomes </h6></label>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Entrepreneurs created :</label>
                        <div id="activity-type" class="controls">
                            <input id="iip_po_entrepreneurcreated" type="text" name="iip_po_entrepreneurcreated" value=""> 
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Entrepreneurs supported :</label>
                        <div class="controls">
                            <input type="text" name="iip_po_entrepreneursupported" id="iip_po_entrepreneursupported" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Jobs created :</label>
                        <div class="controls">
                            <input type="text" name="iip_po_jobscreated" id="iip_po_jobscreated">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Others :</label>
                        <div class="controls" id="div_iip_po_other">
                            <div class="repeat-box">
                                <span class="addnew add btn pull-right"><i class="icon-plus"></i></span>
                                <input type="text" name="iip_po_other[]" class="increment" value="" >
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <h6>Discussion of Key Institutional Capacity Issues </h6>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Human resources :</label>
                        <div class="controls">
                            <input type="text" name="iip_dkici_humanresources" id="iip_dkici_humanresources">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Infrastructure platforms :</label>
                        <div class="controls">
                            <input type="text" name="iip_dkici_infrastructureplatforms" id="iip_dkici_infrastructureplatforms">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Programs & activities :</label>
                        <div class="controls">
                            <input type="text" id="iip_dkici_programsnactivities" name="iip_dkici_programsnactivities"  />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Others :</label>
                        <div class="controls form-input" id="div_iip_dkici_other" >
                            <div class="repeat-box">
                                <span class="addprogram add btn pull-right"><i class="icon-plus"></i></span>
                                <input type="text" name="iip_dkici_other[]" class="increment" value="" >
                            </div> 
                        </div> 
                        <div class="controls form-input" id="lbl_iip_dkici_other" ></div>
                    </div>
                    <div class="form-actions">
                        <input type="button" id="btn_save_one"  class="btn btn-danger btn_save_form"  value="Save" />&nbsp;
                        <a data-toggle="tab" href="#tab1" id="plan-info-view" class="plan-info-view">Cancel</a>
                        <a data-toggle="tab" href="#tab1" id="plan-info-view-hide" class="plan-info-view"></a>
                    </div>	
                </form>
            </div>
        </div>
        <!--Tab2 End-------------->
    </div>
</div>
</div>

<!---------------------Goal setting -----------------------------------------     -->
<div class="widget-box1 collapsible plan_forms" id="view2">
    <div class="widget-title1">
        <h5>Goal <span class="title-overview">setting</span><span class="date_year date_year_goal"></span></h5>
        <span class="pull-right p2 edit-top"><a data-toggle="tab" href="#tab4" id="edit2"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab3" id ="act-contr-view" class="act-contr-view"></a>
    </div>
     <div id="success_btn_save_two"></div>
    <div class="collapse in" id="collapsethree">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <div id="tab3" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span6 activityTitle activityBorder">
                        <h2 class="margin-top1">Targeted Level -<span class="target-level" id="lbl_gs_targeted_level"></span></h2>
                        <span class="perflabel">Performance Outcomes </span>
                        <div class="row-fluid">
                            <div class="span3 borderRight">
                                <label class="label-name">Entrepreneurs<br/>to be created</label>
                                <span class="normal" id="lbl_gs_po_entrpnrcreated"></span>
                                <span class="normal" id="lblv_gs_po_entrpnrcreated"></span>
                            </div>
                            <div class="span3 borderRight" style="width:26%">
                                <label class="label-name">Entrepreneurs<br/>to be supported</label>
                                <span class="normal" id="lbl_gs_po_entrpnrsupported"></span>
                                <span class="normal" id="lblv_gs_po_entrpnrsupported"></span>
                            </div>
                            <div class="span3 borderRight" style="width:20%">
                                <label class="label-name">Jobs to be<br/> created</label>
                                <span class="normal" id="lbl_gs_po_jobscreated"></span>
                                <span class="normal" id="lblv_gs_po_jobscreated"></span>
                            </div>
                            <div class="span3">
                                <label class="label-name">Others</label><br/>
                                <span class="normal" id="count_gs_po_other"></span>
                                <span class="view-more2 cursor1 leftBorder">View</span>
                                <span class="view-less2 cursor1 leftBorder">Hide</span>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <h2 class="title-overview1 other-fit">Other Institutional Capacity Goals</h2>
                        <div class="row-fluid">
                            <div class="span3 borderRight">
                                <label class="label-name">Human<br/> Resources</label>
                                <span class="normal" id="lbl_gs_oicg_humanresources"></span>
                                <span class="normal" id="lbls_gs_oicg_humanresources"></span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">Infrastructure<br/> Platforms</label>
                                <span class="normal" id="lbl_gs_oicg_infrastructureplatforms"></span>
                                <span class="normal" id="lbls_gs_oicg_infrastructureplatforms"></span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">Programs &<br/> Activities</label>
                                <span class="normal" id="lbl_gs_oicg_programsnactivities"></span>
                                <span class="normal" id="lbls_gs_oicg_programsnactivities"></span>
                            </div>
                            <div class="span2">
                                <label class="label-name">Others</label><br/>
                                <span class="normal" id="count_gs_oicg_other"></span>
                                <span class="view-more3 cursor1 leftBorder">View</span>
                                <span class="view-less3 cursor1 leftBorder">Hide</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid hidden-block2">
                    <hr class="hrline">
                    <label id="lbl_gs_po_other"></label>
                </div>
                <div class="row-fluid hidden-block3">
                    <hr class="hrline">
                    <label id="lbl_gs_oicg_other"></label>
                </div>
            </div>
            <!-- Tab4-------------------------->
            <div id="tab4" class="tab-pane content-backg">
                <form  class="form-horizontal" name="" id="" action="/plan/edit?id=<?php echo $plan_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="plan_stage" value="2">
                    <input type="hidden" name="plan_id" value="<?php echo $plan_id; ?>">
                    <div class="control-group">
                        <label class="control-label">Targeted Level :</label>
                        <div class="controls goalselect">
                            <select id="gs_targeted_level" data-placeholder="Select Label" name="gs_targeted_level">
                                <option value=""></option>
                                <option value="0">Getting Started</option>
                                <option value="1">Inspire & Engage</option>
                                <option value="2">Create</option>
                                <option value="3">Create & Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><h6 class="pull-top">Performance Outcomes</h6></label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Entrepreneurs to be created :</label>
                        <div class="controls">
                            <input type="text" name="gs_po_entrpnrcreated" id="gs_po_entrpnrcreated">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Entrepreneurs to be supported :</label>
                        <div class="controls">
                            <input type="text" name="gs_po_entrpnrsupported" id="gs_po_entrpnrsupported">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Jobs to be created :</label>
                        <div class="controls">
                            <input type="text" name="gs_po_jobscreated" id="gs_po_jobscreated">
                        </div>
                    </div>
                    <div class="control-group" >
                        <label class="control-label">Others :</label>
                        <div class="controls" id="div_gs_po_other">
                            <div class="repeat-box">
                                <span class="addgoal add btn pull-right"><i class="icon-plus"></i></span>    
                                <input type="text" name="gs_po_other[]"  class="increment" value="">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <h6 class="pull-top">Other Institutional Capacity Goals</h6>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Human Resources :</label>
                        <div class="controls">
                            <input type="text" name="gs_oicg_humanresources" id="gs_oicg_humanresources">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Infrastructure Platforms :</label>
                        <div class="controls">
                            <input type="text" name="gs_oicg_infrastructureplatforms" id="gs_oicg_infrastructureplatforms">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Programs & Activities :</label>
                        <div class="controls">
                            <input type="text" name="gs_oicg_programsnactivities" id="gs_oicg_programsnactivities">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Others :</label>
                        <div class="controls" id="div_gs_oicg_other">
                            <div class="repeat-box">
                                <span class="addcapacity add btn pull-right"><i class="icon-plus"></i></span>    
                                <input type="text" name="gs_oicg_other[]" class="increment" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button"  id="btn_save_two" value="Save" class="btn btn-danger btn_save_form"/>
                        &nbsp;  <a data-toggle="tab" href="#tab3" id="plan-contr-view" class="plan-contr-view">Cancel</a>
                        <a data-toggle="tab" href="#tab3" id="plan-contr-view-hide" class="plan-contr-view"></a>
                    </div>
                </form>
            </div>

        </div>  
        <!-- Tab4 End---------------------->
    </div>
</div>
<!---------------------Getting There Institute Plan -----------------------------------------     -->
<div class="widget-box1 collapsible" id="view3">
    <div class="widget-title1">
        <h5>Getting There<span class="title-overview">Institute Plan</span><span class="date_year date_year_getting"></span></h5>
        <span class="pull-right p3 edit-top"><a data-toggle="tab" href="#tab6" id="edit3"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab5" id ="plan-act-parti-view" class="plan-act-parti-view"></a>
    </div>
     <div id="success_btn_save_three"></div>
    <div class="collapse in" id="collapsefour">
        <div class="widget-content form-horizontal tab-content" style="padding-bottom:62px;">
            <!--Tab5---------->
            <div id="tab5" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span2 borderRight" style="padding-left:20px">
                        <label class="label-name">Training Plan </label><br/>
                        <span class="normal" id="count_trainingplan"></span>
                        <span class="view-more4 cursor1">View</span>
                        <span class="view-less4 cursor1">Hide</span>
                    </div>
                    <div class="span2 borderRight">
                        <label class="label-name">Training Calendar</label><br/>
                        <span class="normal">
                            <span id="count_tc_course_type"></span>
                            <span class="view-more5 cursor1 leftBorder">View</span>
                            <span class="view-less5 cursor1 leftBorder">Hide</span>
                        </span>
                    </div>
                    <div class="span2 borderRight">
                        <label class="label-name">Attracting External<br/> Experts</label>
                        <span class="normal" id="count_attractingexternalexperts"></span>
                        <span class="view-more6 cursor1">View</span>
                        <span class="view-less6 cursor1">Hide</span>
                    </div>
                    <div class="span2 borderRight">
                        <label class="label-name">Infrastructure<br/> Milestones</label>
                        <span class="normal" id="count_ecellmilestones_dropdown"></span>
                        <span class="view-more7 cursor1 leftBorder">View</span>
                        <span class="view-less7 cursor1 leftBorder">Hide</span>
                    </div>
                    <div class="span2 borderRight">
                        <label class="label-name">External Expertise<br/> Plan</label>
                        <span class="normal" id="count_eep_list"></span>
                        <span class="view-more8 cursor1">View</span>
                        <span class="view-less8 cursor1">Hide</span>
                    </div>
                    <div class="span2 bold">
                        <label class="label-name">Activity Plan</label><br/>
                        <span class="normal" id="count_ac_type"></span>
                        <span class="view-more9 cursor1 leftBorder">View</span>
                        <span class="view-less9 cursor1 leftBorder">Hide</span>
                    </div>
                </div>
                <div class="row-fluid hidden-block4">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Training Plan : </label>
                        <div class="controls label-fit">
                            <span id="lbl_trainingplan"></span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid hidden-block5">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Training Calendar : </label>
                        <div class="controls label-fit">
                            <ol id="lbl_tc_course_type">

                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row-fluid hidden-block6">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Attracting External Experts : </label>
                        <div class="controls label-fit">
                            <span id="lbl_attractingexternalexperts"></span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid hidden-block7">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Infrastructure Milestones : </label>
                        <div class="controls label-fit">
                            <span id="lbl_ecellmilestones_dropdown"></span>
                        </div>
                    </div>

                </div>
                <div class="row-fluid hidden-block8">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label ">List of Experts targeted :</label>
                        <div class="controls label-fit">
                            <span id="lbl_eep_list"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Number of external expert sessions planned :</label>
                        <div class="controls label-fit">
                            <span id="lbl_eep_noofsessions"></span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid hidden-block9">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Activity Plan : </label>
                        <div class="controls label-fit">
                            <ol id="lbl_ac_type">

                            </ol>
                        </div>
                    </div>
                </div>

            </div>
            <!--Tab6---------->
            <div id="tab6" class="tab-pane content-backg">
                <form  class="form-horizontal" name="" id="" action="/plan/edit?id=<?php echo $plan_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="plan_stage" value="3">
                    <input type="hidden" name="plan_id" value="<?php echo $plan_id; ?>">
                    <div class="control-group">
                        <h6>Human Resource Capacity or People Goals</h6>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Training Plan :</label>
                        <div class="controls custom-textarea">
                            <textarea name="trainingplan" id="trainingplan" placeholder="Provide a short description of the Training Plan here..."></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><h6>Training Calendar</h6></label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Course :</label>
                        <div class="controls" id="div_tc">
                            <div class="repeat-box2">
                                <span class="remove btn pull-right trn-button"><i class="icon-minus"></i></span>
                                <select name="tc_course_type[]" class="select_course_type">
                                    <option value="none">Select Course type</option>
                                    <option value="0">Orientation to Entrepreneurship</option>
                                    <option value="1">Kick starting your entrepreneurship campus</option>
                                    <option value="2">Building Technology Ventures</option>
                                    <option value="3">Business Models and Business Plans</option>
                                    <option value="4">Getting to Market</option>
                                    <option value="5">Entrepreneurial Finance</option>
                                    <option value="6">IPR Management</option>
                                    <option value="7">Incubator management</option>
                                    <option value="8">Entrepreneurial Finance</option>
                                    <option value="9">Project to Process</option>
                                    <option value="10">Building Organization</option>
                                    <option value="11">Practical Ethics</option>
                                    <option value="12">High Impact Infrastructure Design Launching intensive program</option>
                                    <option value="13">NEN GS Tools for growth</option>
                                    <option value="14">NEN GS Kick Starting Ventures</option>
                                    <option value="15">Mentoring Skill Enhancement Program Practice Teaching</option>
                                    <option value="16">Mentoring Skill Enhancement Program Practice Mentoring</option>
                                    <option value="17">Mentoring Skills Finishing School</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span class="classBold"> Start Date :
                                    <input type="text" name="tc_startdate[]" class="datepicker" data-date-format="dd-mm-yyyy"/>
                                </span>
                                <div  class="div_course_other"> <input type="text" class="course_other" name="tc_course_type_other[]" placeholder="Other Course"></div>
                            </div>
                            <div class="repeat-box1"></div>
                        </div>
                        <input type="text" name="tc_startdate[]" class="datepicker hide" data-date-format="dd-mm-yyyy"/>
                        <div class="control-group">
                            <div class="controls">
                                <div class="addButton addcourse add" >
                                    <i class="icon-plus-sign"></i> Add another course</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><h6>Attracting External Experts</h6></label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">External Experts :</label>
                        <div class="controls custom-textarea">
                            <textarea name="attractingexternalexperts"  id="attractingexternalexperts"   placeholder="Provide a short description of the Infrastructure Plan here..."></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><h6>External Expertise Plan</h6></label>
                    </div>
                    <div class="control-group">
                        <label class="control-label ">List of Experts targeted :</label>
                        <div class="controls" id="div_eep_list">
                            <div class="eep_list_more">
                                <span class="addExpert add btn pull-right"><i class="icon-plus"></i></span>    
                                <input type="text" name="eep_list[]"  class="increment" value="">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label expertTarget">Number of external expert sessions planned :</label>
                        <div class="controls expertTarget">
                            <input type="text" name="eep_noofsessions" id="eep_noofsessions">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><h6>Infrastructure Milestones</h6></label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">E-Cell Milestones :</label>
                        <div class="controls">
                            <div class="double-reapter">
                                <select name="ecellmilestones_dropdown"  id="ecellmilestones_dropdown" class="select-other">
                                    <option value="none">Select E-cell Milestone</option>
                                    <option value="0">Roles of E-cell leaders are defined</option>
                                    <option value="1">There is at  least one Faculty Member on the Board of Advisors</option>
                                    <option value="2">E-cell has a succession plan</option>
                                    <option value="3">E-cell has a plan of activities </option>
                                    <option value="4">There are Professionals / Entrepreneurs on the E-Cell Board of Advisors</option>
                                    <option value="5">E-cell is actively marketed on campus</option>
                                    <option value="6">E-cell raised money/sponsorship for activities </option>
                                    <option value="7">E-Cell activity is formally reported to Institute Management</option>
                                    <option value="8">E-cell publishes regular newsletter</option>
                                    <option value="9">E-cell maintains updated website</option>
                                    <option value="10">E-cell has an annual signature program</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span class="double-date"> Date :
                                    <input type="text" name="ecellmilestones_date" id="ecellmilestones_date" class="datepicker ecell-date"  data-date-format="mm-yyyy"/>
                                </span>
                                <div id="oth_ecellmilestones_dropdown" class="other-field"> <input type="text" name="ecellmilestones_dropdown_other" id="ecellmilestones_dropdown_other" placeholder="Other E-Cell Milestone"></div>
                                <textarea name="ecellmilestones_otheractioncomments" placeholder="Other actions / Commentary "></textarea>
                            </div>
                            <div id="ecell-mildstone"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">EDC Milestones :</label>
                        <div class="controls form-input">
                            <div class="double-reapter">
                                <select name="edcmilestones_dropdown"  id="edcmilestones_dropdown" class="select-other" >
                                    <option value="none">Select EDC Milestone</option>
                                    <option value="0">Management buy-in</option>
                                    <option value="1">Team in place</option>
                                    <option value="2">Advisory Board in place</option>
                                    <option value="3">Plan of action in place</option>
                                    <option value="4">Pitched</option>
                                    <option value="5">Funding received</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span class="double-date"> Date :
                                    <input type="text" name="edcmilestones_date" id="edcmilestones_date" class="datepicker edc-date"  data-date-format="mm-yyyy"/>
                                </span>
                                <div id="oth_edcmilestones_dropdown" class="other-field"> <input type="text" name="edcmilestones_dropdown_other" id="edcmilestones_dropdown_other" placeholder="Other EDC Milestone"></div>
                                <textarea name="edcmilestones_otheractioncomments" placeholder="Other actions / Commentary "></textarea>
                            </div>
                            <div id="edc-mildstone"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">IEDC/ ESC Milestones :</label>
                        <div class="controls form-input">
                            <div class="double-reapter">
                                <select name="iedcesc_dropdown"  id="iedcesc_dropdown" class="select-other">
                                    <option value="none">Select IEDC/ ESC Milestone</option>
                                    <option value="0">Management buy-in</option>
                                    <option value="1">Team in place</option>
                                    <option value="2">DST Process reviewed</option>
                                    <option value="3">Ideas competition planned</option>
                                    <option value="4">NEN criteria / PIP shared</option>
                                    <option value="5">Projects identified</option>
                                    <option value="6">Presentations held</option>
                                    <option value="7">Projects shortlisted</option>
                                    <option value="8">Mentors assigned</option>
                                    <option value="9">Techno-preneurship course held</option>
                                    <option value="10">Pitch to DST</option>
                                    <option value="11">Funding received</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span class="double-date"> Date :
                                    <input type="text" name="iedcesc_date" id="iedcesc_date" class="datepicker iedc-date"  data-date-format="mm-yyyy"/>
                                </span>
                                <div id="oth_iedcesc_dropdown" class="other-field"> <input type="text" name="iedcesc_dropdown_other" id="iedcesc_dropdown_other" placeholder="Other IEDC Milestone"></div>
                                <textarea name="iedcesc_otheractioncomments" placeholder="Other actions / Commentary "></textarea>
                            </div>
                            <div id="iedc-mildstone"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Mentoring Unit Milestones :</label>
                        <div class="controls form-input">
                            <div class="double-reapter">
                                <select name="svmu_dropdown"  id="svmu_dropdown" class="select-other">
                                    <option value="none">Select Mentoring Milestone</option>
                                    <option value="0">SVMU Management buy-in</option>
                                    <option value="1">Team finalised</option>
                                    <option value="2">programme finalised</option>
                                    <option value="3">Marketing plan executed</option>
                                    <option value="4">Mentor-mentee matches made</option>
                                    <option value="5">Programme kicked off</option>
                                    <option value="6">Programme reviewed </option>
                                    <option value="Other">Other</option>
                                </select>
                                <span class="double-date"> Date :
                                    <input type="text" name="svmu_date" id="svmu_date" class="datepicker svmu-date"  data-date-format="mm-yyyy"/>
                                </span>
                                 <div id="oth_svmu_dropdown" class="other-field"> <input type="text" name="svmu_dropdown_other" id="svmu_dropdown_other" placeholder="Other SVMU Milestone"></div>
                                <textarea name="svmu_otheractioncomments" placeholder="Other actions / Commentary "></textarea>
                            </div>
                            <div id="svmu-mildstone"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Incubator/ TBI Milestones :</label>
                        <div class="controls form-input">
                            <div class="double-reapter">
                                <select name="incubator_dropdown"  id="incubator_dropdown" class="select-other">
                                    <option value="none">Select Incubator  Milestone</option>
                                    <option value="0">Management buy-in secured</option>
                                    <option value="1">Team finalised</option>
                                    <option value="2">Pre-Incubation process kicked off</option>
                                    <option value="3">Advisory board created</option>
                                    <option value="4">Selection Process completed</option>
                                    <option value="5">Mentors identified</option>
                                    <option value="6">Incubator registered</option>
                                    <option value="7">Business partners identified</option>
                                    <option value="8">Pitch for government funding</option>
                                     <option value="Other">Other</option>
                                </select>
                               <span class="double-date"> Date :
                                    <input type="text" name="incubator_date" id="incubator_date" class="datepicker incubator-date"  data-date-format="mm-yyyy"/>
                                </span>
                                 <div id="oth_incubator_dropdown" class="other-field"> <input type="text" name="incubator_dropdown_other" id="incubator_dropdown_other" placeholder="Other Incubator Milestone"></div>
                                <textarea name="incubator_otheractioncomments" placeholder="Other actions / Commentary "></textarea>
                            </div>
                            <div id="incubator-mildstone"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Other Infrastructure Milestones :</label>
                        <div class="controls" id="div_im_other">
                            <div class="double-reapter1">
                                <span class="remove btn pull-right" id="remove-otherinfra"><i class="icon-minus"></i></span>
                                <span class="textfit"><input type="text" name="im_other_text[]"></span>
                                <span class="double-date date1"> Date :
                                    <input type="text" name="im_other_date[]" class="datepicker im-other-date" id="other_infra"  data-date-format="mm-yyyy"/>
                                </span>
                                <textarea name="im_other_otheractioncomments[]" placeholder="Commentary "></textarea>
                            </div>
                            <div id="im-other-mildstone"></div>
                        </div>
                    </div>
                    <div class="control-group">
                            <div class="controls">
                                <div class="addButton im-other-mildstone" >
                                   <span><i class="icon-plus-sign"></i> Add another Infrastructure Milestones</span>
                                </div>
                            </div>
                        </div>
                    <div class="control-group">
                        <label class="control-label"><h6>Activity Plan</h6></label>
                    </div>
                    <div class="control-group">
                       <div class="custom-controls" id="div_activityplan">
                            <div class="activity-reapter">
                                <span class="remove btn pull-right" style="position:relative; top:30px"><i class="icon-minus"></i></span>
                                <div class="act-name">Name : <input type="text" name="ac_name[]" value="New activity"> &nbsp;
                                    Start Date : <input type="text" name="ac_planneddate[]" class="datepicker ac-date"  data-date-format="dd-mm-yyyy">
                                </div>
                                <div class="act-name1"> 
                                    Type : <select name="ac_type[]">
                                        <option value="none">Select Activity type</option>
                                        <option value="0">Lecture or Talk</option>
                                        <option value="1">Exercise & Games</option>
                                        <option value="2">Outreach</option>
                                        <option value="3">Panel Discussion</option>
                                        <option value="4">Competition</option>
                                        <option value="5">Conference</option>
                                        <option value="6">Workshop</option>
                                        <option value="7">Course</option>
                                        <option value="8">Webinar</option>
                                        <option value="9">Review</option>
                                        <option value="10">Mentoring</option>
                                        <option value="11">Startup support programs/showcase</option>
                                        <option value="12">National Platforms</option>
                                    </select> &nbsp;
                                    Audience : <select name="ac_audience[]">
                                        <option value="none">Select Target Audience</option>
                                        <option value="0">Faculty</option>
                                        <option value="1">Students/ Entrepreneur Pipeline</option>
                                        <option value="2">Entrepreneurs</option>
                                        <option value="3">Other-type text</option>
                                    </select>
                                </div>
                            </div>
                            <div id="activity-plan"></div>
                        </div>
                    </div>
                    <input type="text" name="ac_planneddate[]" class="datepicker ac-date hide"  data-date-format="dd-mm-yyyy">
                     <div class="control-group">
                            <div class="controls">
                                <div class="addButton activityPlan add" >
                                   <span><i class="icon-plus-sign"></i> Add another activity</span>
                                </div>
                            </div>
                        </div>
                    <div class="form-actions">
                        <input type="button" class="btn btn-danger btn_save_form"   id="btn_save_three" value="Save"/>&nbsp;
                        <a  data-toggle="tab" href="#tab5" id="plan-parti-view" class="plan-parti-view" > Cancel </a>
                        <a  data-toggle="tab" href="#tab5" id="plan-parti-view-hide" class="plan-parti-view" ></a>
                    </div>
                </form>
            </div>
            <!--End Tab6---------->
        </div>
    </div>
</div>
<!---------------------Start of Sign offs -----------------------------------------     -->
<div class="widget-box1 collapsible plan_forms" id="view4" style="position:relative; top:-45px;">
    <div class="widget-title1">
        <h5>Sign <span class="title-overview">offs</span></h5>
        <span class="pull-right p4 edit-top"><a data-toggle="tab" href="#tab8" id="edit4"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab7" id ="plan-act-outcome-view" class="plan-act-outcome-view"></a>
    </div>
     <div id="success_btn_save_four"></div>
    <div class="collapse in" id="collapsefive">
        <div class="widget-content form-horizontal tab-content">
            <!--Tab7-------------->
            <div id="tab7" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span3 borderRight1" style="padding-left:20px">
                        <label class="label-name">Lead Faculty Sign Off </label>
                        <span class="normal" id="lbl_leadfacultysignoff_yesno">No</span>
                        <span class="normal leftBorder lbl_leadfacultysignoff_name" id="lbl_leadfacultysignoff_name"></span>
                    </div>
                    <div class="span3 borderRight1">
                        <label class="label-name">NEN Sign off</label>
                        <span class="normal" id="lbl_nensignoff_yesno">No</span>
                        <span class="normal leftBorder lbl_nensignoff_yesno" id="lbl_nensignoff_name"></span>
                    </div>
                    <div class="span4">
                        <label class="label-name">Institute Head Sign off </label>
                        <span class="normal" id="lbl_instituteheadsignoff_yesno">No</span>
                        <span class="normal leftBorder lbl_instituteheadsignoff_yesno" id="lbl_instituteheadsignoff_name"></span>
                    </div>

                </div>
            </div>
            <!--Tab8-------------->
            <div id="tab8" class="tab-pane content-backg">
                <form  class="form-horizontal" name="insertactivityoutcomes" id="insertactivityoutcomes" method="post" action="/plan/edit?id=<?php echo $plan_id; ?>&instituteid=<?php echo $institute_id ?>"  enctype="multipart/form-data" >
                    <input type="hidden" name="plan_stage" value="4">
                    <input type="hidden" name="plan_id" value="<?php echo $plan_id; ?>">
                    <div class="control-group checkboxstat">
                        <label class="control-label">Lead Faculty Sign Off :</label>
                        <div class="controls">
                            <input type="checkbox" name="leadfacultysignoff_yesno" id="leadfacultysignoff_yesno" />
                        </div>
                        <div class="leadfacultysignoff_yesno">
                            <label class="control-label">Lead Faculty name :</label>
                            <div class="controls">
                                <input type="text" name="leadfacultysignoff_name" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="control-group checkboxstat">
                        <label class="control-label">NEN Sign off :</label>
                        <div class="controls">
                            <input type="checkbox" name="nensignoff_yesno" id="nensignoff_yesno"  />
                        </div>
                        <div class="nensignoff_yesno">
                            <label class="control-label">NEN Member Name :</label>
                            <div class="controls">
                                <input type="text" name="nensignoff_name" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="control-group checkboxstat">
                        <label class="control-label">Institute Head Sign off :</label>
                        <div class="controls">
                            <input type="checkbox" name="instituteheadsignoff_yesno" id="instituteheadsignoff_yesno" />
                        </div>
                        <div class="instituteheadsignoff_yesno">
                            <label class="control-label">Institute Head Name :</label>
                            <div class="controls">
                                <input type="text" name="instituteheadsignoff_name" value=""/>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <input type="button"  id="btn_save_four" class="btn btn-danger btn_save_form"  value="Save" />&nbsp;  
                        <span class="publish">
                            <input type="button"  id="btn_publish_plan" class="btn btn-danger"  value="Publish" style="display:none;"/>&nbsp;
                        </span>
                        <a  data-toggle="tab" href="#tab7" id="plan-outcome-view" class="plan-outcome-view">Cancel</a>
                        <a  data-toggle="tab" href="#tab7" id="plan-outcome-view-hide" class="plan-outcome-view"></a>
                    </div>	

                </form>
                <!--form for pubishing plan--> 
                <form action="/plan/publish?instituteid=<?php echo $institute_id ?>" id="form_publish_plan" method="post" >
                    <input type="hidden"  id="plan_id"  value="<?php echo $plan_id; ?>" name="plan_id" />                    
                </form>
            </div>
            <!--Tab8 End---------->
        </div>
    </div>
</div>

<script>
  $(".select-other").change(function () {
        var str = "";
        var id= $(this).attr('id');
        var sid ="#"+id;
        var oth= "#oth_"+id;
        var inputid =sid+"_other";
	str= $( sid+" option:selected").text();
        if(str=="Other")        
            {
               $(oth).show();
               
            } else {
                $(oth).hide();
               $(inputid).val("");
            }
	
	})
    .change();
    
    $(document).ready(function(){
        checkPublish();
        dd_selected_other();
 });

    function checkPublish(){
        if($('#instituteheadsignoff_yesno').attr('checked') && $('#nensignoff_yesno').attr('checked') && $('#leadfacultysignoff_yesno').attr('checked')) {
            $('.publish').show();
         
        }else{
            $('.publish').hide();
        }
        
    }
</script>
<script src="/js/plan.js"></script>