<div id="loginbox">            
    <form id="loginform" name="loginForm" class="form-vertical"  action="/login/" method="POST" >
        <p>Enter username and password to continue.</p>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span><input type="text" name="username" required="required" placeholder="Email" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span><input type="password" name="password" required="required" placeholder="Password" />
                </div>
                <input type="submit" class="btn btn-inverse" value="Login" />
            </div> 
        </div>
    </form>
</div>