<!DOCTYPE html>
<html lang="en">
    <?php
    $pages = array(
        "activity" => array('  Entrepreneurship Activity  ', ''),
        "edc" => array('  EDC', 'ic'),
        "ecell" => array('   E-Cell', 'ic'),
        "campus" => array('  Campus Company', 'ic'),
        "prakash" => array('Prakash', ''),
        "institute" => array(' Overview', ''),
        "dashboard" => array(' Dashboard', ''),
        "reports" => array(' Reports', ''),
        "plan" => array('  Plan', ''),
        "svmu" => array('  SVMU', ''),
        "iedc" => array('  IEDC', ''), 
        "esc" => array('  ESC', ''),
        "fdp" => array('  FDP', ''),
        "user" => array('  Manage User', '')
    );




    $sectionCls = $subSectionCls = $homeCls = '';
    $r = explode('?', $_SERVER['REQUEST_URI']);
    $uri = $r[0];

    $uriparts = explode('/', $uri);
    $u = $uriparts[1]; //


    $clsActiveDashboard = $clsActiveHome = ($u == '') ? 'active' : '';
    $clsActiveEdc = ($u == 'edc') ? 'active' : '';
    $clsActiveCampus = ($u == 'campus') ? 'active' : '';
    $clsActiveEcell = ($u == 'ecell') ? 'active' : '';
    $clsActiveInstitute = ($u == 'institute') ? 'active' : '';
    $clsActiveActivity = ($u == 'activity') ? 'active' : '';
    $clsActiveFaculty = ($u == 'lead-faculty-dashboard') ? 'active' : '';
    $clsActiveProfile = ($u == 'dashboard') ? 'active' : '';

    $clsActivePlan = ($u == 'plan') ? 'active' : '';
    $clsActiveSvmu = ($u == 'svmu') ? 'active' : '';
    $clsActiveIedc = ($u == 'iedc') ? 'active' : '';
    $clsActiveEsc = ($u == 'esc') ? 'active' : '';
    $clsActiveFdp = ($u == 'fdp') ? 'active' : '';


    $clsOpenIC = '';
    $db = new Application_Model_Common();
    if ($_GET['id']) {
        if ($u == 'edc' || $u == 'ecell' || $u == 'campus' || $u == 'svmu' || $u == 'iedc' || $u == 'esc' || $u == 'lead-faculty-dashboard' ) {
            $instituteData = $db->getInstituteNameFromIC($u, $_GET['id']);
            $instituteNameHead = $instituteName = $instituteData['name'];
            $clsOpenIC = ' open ';
            $instituteSection = '<a href="javascript:void(0)">' . $instituteName . '</a>';
        }
    }


    if ($u == "") {
        $clsOpenHome = ' open ';
    }

    if ($u == 'edc' || $u == 'svmu' || $u == 'ecell' || $u == 'campus' || $u == 'iedc' || $u == 'esc' || $u == 'lead-faculty-dashboard') {
        $clsOpenIC = ' open ';
    }

    if (!$instituteName && $_GET['instituteid']) {
        $instituteData = $db->getMainInfoInstitute($_GET['instituteid']);
        if ($instituteData['name'] == '') {
            $instituteData = $db->getInstituteName($_GET['instituteid']);
        }
//        print(print_r($instituteData));
        $instituteNameHead = $instituteName = $instituteData['name'];
        if (strlen($instituteName) > 70) {
            $instituteName = substr($instituteName, 0, 70) . "..";
        }
        //$instituteSection = '<a href="/institute/?instituteid='.$_GET['instituteid'].'">' . $instituteName . '</a>';

        $instituteSection = '<a href="javascript:void(0)">' . $instituteName . '</a>';
    }

    if (strlen($instituteName) > 70) {
        $instituteName = substr($instituteName, 0, 70) . "..";
    }


    $section;
    $subSection = '';
    $infra = ' Home';
    if ($u != '') {
        $infra = $pages[$u][0] . ' :';
    } else {
        $instituteName = '';
        $section = '';
        $instituteSection = '';
    }

    if (array_key_exists($u, $pages)) {
        $section = $pages[$u][0];

        
        $no_breadcrumb = array('institute-overview-report','institutedetailedreport','faculty-level-report');
        if ($uriparts[2] != '' && !in_array($uriparts[2],$no_breadcrumb) ) {
            $sectionUrl = '/' . $uriparts[1] . '/';
            if ($uriparts[2] == 'add' || $uriparts[2] == 'create') {
                $infraSubName = 'Create';
            }
            
            if ($u == 'campus' || 'activity') {

                $sectionUrl .= '?instituteid=' . $_GET['instituteid'];
                if (isset($_GET['id']) && $_GET['id']) {
                    if ($u == 'campus') {
                        $infraSubName = $db->getCampusName($_GET['id']);
                    } else {
                        $infraSubName = $db->getActivityName($_GET['id']);
                    }
                }
            }
            
            $subsectionUrl = $sectionUrl . '/' . $uriparts[2];
            $subsectionUrl = '#';
            $arr_subsection = array('plan' ,'svmu','', 'esc', 'fdp','dashboard');
            
            if (in_array($u,$arr_subsection) ) {
                $infraSubName = '';                
                $subSection = '';
            } else {
                $subSection = ' <span>' . $infraSubName . '</span>';
            }
            
            

           
        } else if ($uriparts[1] != '') {
            $sectionUrl = '#';
            $secSpan = true;
            $sectionCls = ' current';
            if ($_GET['action'] == 'new') { //for ecell, edc create
                $infraSubName = '';
                $subSection = '<a href="' . $subsectionUrl . '" class="current">' . $infraSubName . '</a>';
            }
        }

        if ($uriparts[1]) {
            if ($secSpan) {
                $section = '<span class="current">' . $section . '</span>';
            } else {

                if($uriparts[2]!='lead-faculty-dashboard'){
                    $section = '<a href="' . $sectionUrl . '" class="' . $sectionCls . '">' . $section . '</a>';
                }
                
            }
        }
    }
    ?>  
    <head>
        <title>NEN - <?php echo $infra ?> <?php echo $instituteName ?> </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/grey.css" />
        <link rel="stylesheet" href="/css/datagrid.css" />
        <link rel="stylesheet" href="/css/datepicker.css" />
        <link rel="stylesheet" href="/css/select2.css" />	
        <link rel="stylesheet" href="/css/uniform.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/custom-funtion.js"></script>
        <script src="/js/select2.min.js"></script>
        <link rel="shortcut icon" href="/img/favicon.ico" />
    </head>



    <body>
        <div id="header">
            <a href="/"><h1>NEN</h1></a>


        </div>

        <div id="user-nav" class="navbar navbar-inverse">
            <?php echo $this->loggedInUser(); ?>
            

        </div>
        <?php
        $auth = Zend_Auth::getInstance();
        if ($auth->hasIdentity()) {
            ?>
            <?php
            if ($_GET['instituteid']) {
                $p = '?instituteid=' . $_GET['instituteid'];
            }
            ?>
            <div id="sidebar">
                <ul>
    <!--                    <li class="<?php // echo $clsActiveDashboard    ?>">
                        <a href="/"><i class="icon icon-home"></i>Home</a>
                    </li>-->
                    <?php
                    /*                     * * FOR SETTING ROLE BASED ACCES TO LINKS ** */
                    $institute_id = $_GET['instituteid'];
                    $style_dashboard = $style_calendar = $style_report = 'display:none;';
                    $style_lead_dashboard = $style_lead_dashboard_breadcrumb='';
                    $link_lead_dashboard = '/dashboard/lead-faculty-dashboard/?instituteid=' . $institute_id;
                    $link_fdp = '/fdp/?instituteid=' . $institute_id;
                    $link_profile = '/dashboard/institute/?instituteid=' . $institute_id;
                    $link_contact = '/contact/add/';
                    $mdl = new Application_Model_Common();
                    $user_role = $mdl->get_user_role();
                    switch ($user_role) {
                        case 'FAC':
                            $style_home = '';
//                            $link_home = '/dashboard/institute?instituteid=' . $institute_id;
                            $link_home='/';
                            $style_profile = 'display:none';
                            $style_lead_dashboard = 'display:none';

                            break;
                        case 'LEAD_FAC':
                            $style_home = '';
//                            $link_home = '/dashboard/lead-faculty-dashboard/?instituteid=' . $institute_id;
                            $link_home='/';
                            $style_lead_dashboard = 'display:none';
                           // $style_lead_dashboard_breadcrumb = 'display:none';




                            break;
                        case 'CON';
                            $style_home = '';
                            $link_home = '/';
                            $style_dashboard = '';
                            $link_dashboard = '/dashboard/consultant-dashboard';
                            $style_calendar = '';
                            $link_calendar = '/dashboard/consultant-calendar';
                            $style_report = 'display:block;';
                            

                            break;
                        case 'ADMIN';
                            $style_home = '';
                            $link_home = '/';
                            $link_contact = '/contact';
                            $style_report = 'display:block;';
                           
                            break;
                        default:
                            break;
                    }
//                        ADDING CLICKED ELEMENT ACTIVE CLASS
                    $url = $_SERVER["REQUEST_URI"];   // /plan/?instituteid=1037
                    $sub_urls = explode('/', $url);
                    $controller = $sub_urls[1];
//                        die( print_r($sub_urls) );
                    switch ($controller) {
                        case '':            //home page
                            $class_home = 'active';
                            break;
                        case 'dashboard':
                            if ($sub_urls[2] == 'lead-faculty-dashboard' && $user_role == 'LEAD_FAC') {
                                $class_home = 'active';
                            }
                            if ($sub_urls[2] == 'lead-faculty-dashboard' && $user_role != 'LEAD_FAC') {
                                $class_lead_dashboard = 'active';
                                
                            }
                            if ($sub_urls[2] == 'lead-faculty-dashboard' && $user_role == 'LEAD_FAC') {
                              
                                $style_lead_dashboard_breadcrumb = 'display:none';
                            }
                            if ($sub_urls[2] == 'consultant-dashboard') {
                                $class_dashboard = 'active';
                            }

                            if ($sub_urls[2] == 'consultant-calendar') {
                                $class_calendar = 'active';
                            }
                            //for some links of type /dashboard/institute?instituteid=xxx
                            $action = explode('?', $sub_urls[2]);

                            if ($sub_urls[2] == 'institute' || $action[0] == 'institute') {
                                if ($user_role == 'FAC') {
                                    $class_home = 'active';
                                } else {
                                    $class_profile = 'active';
                                }
                            }


                            break;
                        case 'fdp';
                            $class_fdp = 'active';
                            break;
                        case 'contact';
                            $class_contact = 'active';
                            break;
                        case 'reports';
                            $class_report = 'open';
                            if ($sub_urls[2] == 'institute-overview-report' ) {
                                $class_overview_report = 'active';
                            }
                            if ($sub_urls[2] == 'institutedetailedreport' ) {
                                $class_detailed_report = 'active';
                            }
                            if ($sub_urls[2] == 'faculty-level-report') {
                                $class_faculty_report = 'active';
                            }
                            break;
                        default:
                            break;
                    }
                    ?>
                    <li style="<?php echo $style_home ?>" class="<?php echo $class_home ?>"><a href="<?php echo $link_home ?>" ><i class="icon icon-home"></i> Home</a></li>
                    <li style="<?php echo $style_dashboard ?>" class="<?php echo $class_dashboard ?>"><a href="<?php echo $link_dashboard ?>" ><i class="icon icon-th"></i> Dashboard</a></li>
                    <li style="<?php echo $style_calendar ?>" class="<?php echo $class_calendar ?>"><a href="<?php echo $link_calendar ?>" ><i class="icon icon-list-alt"></i> Calendar</a></li>
<!--<li style="<?php // echo $style_contact ?>" class="<?php // echo $class_contact ?>"><a href="<?php // echo $link_contact ?>" ><i class="icon icon-list-alt"></i> Contact</a></li>-->



                    <?php
                    if ($_GET['instituteid']) {
                        $p = '?instituteid=' . $_GET['instituteid'];
                        ?>
                        <!--li class="<?php echo $clsActiveInstitute ?>"><a href="/institute/<?php echo $p ?>"><i class="icon icon-tasks"></i> <span>Institute Overview</span></a></li-->
                        <li style="<?php echo $style_lead_dashboard ?>" class="<?php echo $class_lead_dashboard ?>"><a href="<?php echo $link_lead_dashboard ?>" ><i class="icon icon-th-large"></i>Institute Dashboard</a></li>
                        <li style="<?php echo $style_profile ?>" class="<?php echo $class_profile ?>"><a href="<?php echo $link_profile ?>" ><i class="icon icon-th-list"></i> Institute Profile</a></li>

                        <!--                            <li class="<?php // echo $clsActiveProfile    ?>"><a  href="/dashboard/institute<?php // echo $p    ?>"><i class="icon icon-th"></i> <span>Institute Profile</span></a></li>-->
                        <li class="<?php echo $clsActivePlan ?>"><a  href="/plan/<?php echo $p ?>"><i class="icon icon-tasks"></i> <span>Institute Plan</span></a></li>
                        <li class="<?php echo $clsActiveActivity ?>"><a  href="/activity/<?php echo $p ?>"><i class="icon icon-list-alt "></i> <span>Entrepreneurship Activity</span></a></li>  
        <!--                            <li class="<?php // echo $clsActiveFdp    ?>"><a  href="/fdp/<?php // echo $p    ?>"><i class="icon icon-th-list "></i> <span>FDP</span></a></li>  -->
                        <li style="<?php echo $style_fdp ?>" class="<?php echo $class_fdp ?>"><a href="<?php echo $link_fdp ?>" ><i class="icon icon-bookmark"></i> FDP</a></li>


                        <li class="submenu <?php echo $clsOpenIC; //. $clsActiveEcell . $clsActiveCampus .$clsActiveIedc. $clsActiveEdc . $clsActiveSvmu  ?>">
                            <a href="#"><i class="icon icon-briefcase"></i> <span>Institute Capacity</span><span class="label"><i class="icon  icon-chevron-down"></i></span></a>
                            <ul>
                                <li class="<?php echo $clsActiveEcell ?>"><a href="/ecell/<?php echo $p ?>">E-Cell</a></li>
                                <li class="<?php echo $clsActiveCampus ?>"><a href="/campus/<?php echo $p ?>">Campus Company</a></li>
                                <li class="<?php echo $clsActiveEdc ?>"><a href="/edc/<?php echo $p ?>">EDC</a></li>
                                <li class="<?php echo $clsActiveIedc ?>"><a href="/iedc/<?php echo $p ?>">IEDC</a></li>
                                <li class="<?php echo $clsActiveEsc ?>"><a href="/esc/<?php echo $p ?>">ESC</a></li>
                                <li class="<?php echo $clsActiveSvmu ?>"><a href="/svmu/<?php echo $p ?>">SVMU</a></li>
                            </ul> 
                        </li>

                       
                    <?php } ?>
                         <li class="submenu  <?php echo $class_report;?>" style="<?php echo $style_report ?>" >
                            <a href="#"><i class="icon icon-file"></i> <span>Reports</span> <span class="label"><i class="icon  icon-chevron-down"></i></span></a>
                            <ul>
                                <li style="<?php echo $style_overview_report ?>" class="<?php echo $class_overview_report ?>" ><a href="/reports/institute-overview-report/">Institute Overview</a></li>
<!--                                <li><a href="/reports">Institute Overview</a></li>-->
                                <li style="<?php echo $style_detailed_report ?>" class="<?php echo $class_detailed_report ?>"><a href="/reports/institutedetailedreport/">Institute Detailed Report</a></li>
                                
                                 <li style="<?php echo $style_faculty_report ?>" class="<?php echo $class_faculty_report ?>"><a href="/reports/faculty-level-report/">Faculty Level Report</a></li>

                            </ul>
                        </li>

                </ul>
            </div>

        <?php } ?>
<?php  


?>
<?php
/** new code for breadcrumb  **/

$page_url = explode('/', $_SERVER['REQUEST_URI']);

//get module and action from url
$module = $page_url[1];
$actions  =  explode('?', $page_url[2]); 
$action = $actions[0];
$module_name = $pages[$module][0];
if (isset($_GET['id']) && $_GET['id']) {
    if ($module == 'campus') {
        $action_name = $db->getCampusName($_GET['id']);
    } else {
        $action_name = $db->getActivityName($_GET['id']);
    }
 }

//set blocks for breadcrumb
$block_A = '<a href="/" title="Go to Home" class="tip-bottom" style="margin-top:-5px;"><i class="icon-home"></i> </a>' ;

//getting institute name
        $institute_id =$_GET['instituteid']; 
        if ($institute_id) {
            $result = $db->getInstituteName($institute_id);
        }       
        if (strlen($result['name']) > 70) {
            $institute_name = substr($result['name'], 0, 70) . "..";
        }
        else{
             $institute_name = $result['name'];
        }
        
        
        
$block_B = "<a href='/dashboard/institute?instituteid=$institute_id'>$institute_name</a>";

$special_modules  = array('activity','campus','fdp');
$special_actions  = array('show','edit');

if(in_array($module,$special_modules)  && in_array($action,$special_actions) ){
    $action_name = ($module=='fdp') ? '' : $action_name ;
    $module_link = "/$module/?instituteid=$institute_id";
    $block_C = '<a href="'.$module_link.'">'.$module_name.'</a>';
    $block_D = '<span class="current">'.$action_name.'</span>';
}
else{
     $block_C = '<span class="current">'.$module_name.'</span>';
     $block_D = '';
}


?>

        <div id="content">

            <div id="content-header"><h1 class="header_heading"><?php
// echo $section ." &nbsp; ".$instituteName 
        echo $instituteNameHead;
        ?></h1>
            </div>
<!--            <div id="breadcrumb" style="<?php echo $style_lead_dashboard_breadcrumb;  ?>">
                <a href="/" title="Go to Home" class="tip-bottom" style="margin-top:-5px;"><i class="icon-home"></i> </a>
                <?php // echo $instituteSection ?>
                <?php // echo $section ?>
                <?php // echo $subSection ?>
            </div>-->
            
            <div id="breadcrumb" style="<?php echo $style_lead_dashboard_breadcrumb;  ?>">            
                <?php echo $block_A ?>
               
                <?php echo $block_B ?>
               
                <?php echo $block_C ?>
                <?php echo $block_D ?>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="row-fluid">
                        <div class="span12">

                            <?php //print_r($_POST)   ?>
                            <?php echo $this->layout()->content ?>
                        </div>
                    </div>
                </div>
                <a href="#ajaxLoader" class="ajax-loader" data-toggle="modal"></a>
                <div id="ajaxLoader" class="modal1 hide">
                    <button data-dismiss="modal" class="close ajax-close" type="button"></button>
                    <div class="modal-body" style="text-align:center">
                        <img src="/img/loader.gif"/>
                        <h6 style="color:#F9F9F9;">Please wait while data is saving...</h6>

                    </div>
                </div>
                <div class="row-fluid">
                    <div id="footer" class="span5" style="margin-left: 24%">
                        Copyright &copy; 2013 NEN
                    </div>
                </div>
            </div>
        </div>


        <script src="/js/jquery.ui.custom.js"></script>
        <script type="text/javascript" src="/js/datagrid.js"></script>
        <script src="/js/bootstrap-datepicker.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/jquery.uniform.js"></script>
        <script src="/js/bootstrap-colorpicker.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.validate.js"></script>
        <script src="/js/jquery.wizard.js"></script>
        <script src="/js/unicorn.js"></script>
        <script src="/js/unicorn.wizard.js"></script>
        <script src="/js/unicorn.form_common.js"></script>
        <script src="/js/chosen.jquery.js" type="text/javascript"></script>

    </body>
</html>
