<?php //
$msg = $this->msg;
$user_id = $_GET['id'];
$institute_id = $_GET['instituteid'];
$institute_list = $data['institute_list'];
?>
<script>
    $(document).ready(function(){
        $('#breadcrumb,#content-header').hide();
    });
</script>

<?php if($msg['status']){   ?>
    <div class="alert alert-success"><i class="icon-back"></i>
    <span class="error-msg"><strong> Success !</strong>&nbsp; <?php echo $msg['data'];  ?> </span>
    <button class="close error-msg" data-dismiss="alert">×</button>
</div>
<?php } else { ?>
    <div class="alert alert-error">
    <i class="icon-back-error"></i>
    <span class="error-msg"><strong> Error ! </strong>&nbsp;  <?php echo $msg['data'];  ?></span>
    <button class="close" data-dismiss="alert">x</button>
</div>
<?php } ?>

<!---------------------user Basic Info -----------------------------------------  -->   



<div class="institute-search" style="margin-top: 30px">
  <center>  <a href="/"><< Back to Home page </a></center>
</div>








