<?php
$data = $this->data;
$user_id = $_GET['id'];
$institute_id = $_GET['instituteid'];
$institute_list = $data['institute_list'];
?>
<div id="noti_institute"></div>
<div class="tpd-list-view pad-bottom">
    <h5 class="h5-heading">Institute Profile <span id="inst-title">(Edit)</span></h5>
    <div class="tpd-list-view-inner">
        <div  class="div_form" id="form_one" action="/user/edit?id=<?php echo $user_id; ?>&instituteid=<?php echo $institute_id ?>" method="post" novalidate="novalidate" enctype="multipart/form-data">
            <input type="hidden" name="user_stage" value="1">
            <input type="hidden" name="user_id" value="<?php echo $user_id; ?>">
            <div class="row-fluid padding-left">
                <div class="custom-grp span4">
                    <label>Institute Name</label><span class="required-f"> *</span>
                    <div class="cust-input">
                        <input type="text" name="name" id="name" value="">
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Category</label><span class="required-f"> </span>
                    <div class="cust-input">
                        <input type="text" name="category" id="category" value="">                       
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Select Type</label><span class="required-f"> </span>
                    <div class="cust-input">
                        <select name="type" >
                            <option value="0">Select Institute Type</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Management">Management</option>
                            <option value="Arts, Science & Commerce">Arts, Science & Commerce</option>
                            
                        </select>
                    </div>
                </div>
            </div>
            <!-----Second Block--------------------------->
            <div class="row-fluid padding-left">
                <div class="custom-grp span4">
                    <label>NEN Joining Date</label><span class="required-f"> </span>
                    <div class="cust-input">
                        <input type="text" class="datepicker" name="nen_joining_date" id="nen_joining_date" data-date-format="dd-mm-yyyy">
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Select City</label>
                    <div class="cust-input">
                       
                         <select id="city_id" name="city_id">

                            </select>
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Zipcode</label>
                    <div class="cust-input">
                        <input type="text" id="primary_zip_code" name="primary_zip_code">
                    </div>
                </div>
            </div>
            <!-----Third Block--------------------------->
            <div class="row-fluid padding-left">
                <div class="custom-grp span4">
                    <label>Primary Address 1</label>
                    <div class="cust-input">
                        <textarea  id="primary_address_1" name="primary_address_1"></textarea>
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Primary Address 2</label>
                    <div class="cust-input">
                        <textarea  id="primary_address_2" name="primary_address_2"></textarea>
                    </div>
                </div>
            </div>
            <!----- Fourth Block--------------------------->
            <div class="widget-box-ftd save-inst">
                <div class="widget-title-ftd">
                    <i class="icon-plus"></i>
                    <h5>Advance Institute Details</h5>
                </div>
                <div class="hidden-block">
                    <div class="widget-content">
                        <!-------------Collapsable------------------------------------>
                        <div class="row-fluid padding-left">
                            <div class="custom-grp span4">
                                <label>Abbreviation</label>
                                <div class="cust-input">
                                    <input type="text"  id="abbreviation" name="abbreviation">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Profile</label>
                                <div class="cust-input">
                                    <input type="text"  id="profile" name="profile">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Management</label>
                                <div class="cust-input">
                                    <input type="text"  id="management" name="management">
                                </div>
                            </div>
                        </div>
                        <!----- Fifth Block--------------------------->
                        <div class="row-fluid padding-left">
                            <div class="custom-grp span4">
                                <label>Jurisdiction</label>
                                <div class="cust-input">
                                    <input type="text" id="jurisdiction" name="jurisdiction">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Head of Institute</label>
                                <div class="cust-input">
                                    <input type="text" id="head_of_institute" name="head_of_institute">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Number of Students</label>
                                <div class="cust-input">
                                    <input type="text" id="number_of_students" name="number_of_students">
                                </div>
                            </div>
                        </div>
                        <!----- Sixth Block--------------------------->
                        <div class="row-fluid padding-left">
                            <div class="custom-grp span4">
                                <label>NEN Category</label>
                                <div class="cust-input">
                                    <input type="text"  id="nen_category" name="nen_category">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>NEN Administrative Classification</label>
                                <div class="cust-input">
                                    <input type="text" id="nen_administrative_classification" name="nen_administrative_classification">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Geographic Region</label>
                                <div class="cust-input">
                                    <input type="text" id="geographic_region" name="geographic_region">
                                </div>
                            </div>
                        </div>
                        <!----- Seven Block--------------------------->
                        <div class="row-fluid padding-left">
                            <div class="custom-grp span4">
                                <label>Consultant Incharge</label>
                                <div class="cust-input">
                                    <input type="text"  id="consultant_in_charge" name="consultant_in_charge">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>NEN Territory Grouping</label>
                                <div class="cust-input">
                                    <input type="text"  id="nen_territory_grouping" name="nen_territory_grouping">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Member Status</label>
                                <div class="cust-input">
                                    <input type="text"  id="member_status" name="member_status">
                                </div>
                            </div>
                        </div>
                        <!----- eight Block--------------------------->
                        <div class="row-fluid padding-left">
                            <div class="custom-grp span12">
                                <label>Institute Has</label>
                                <div class="cust-input margin-bottom20">
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="e_cell_exists" id="e_cell_exists" value="Yes"><span class="label-left1">E-Cell</span>
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="edc_exists" id="edc_exists" value="Yes"><span class="label-left1">EDC</span>
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="iedc_exists" id="iedc_exists" value="Yes"><span class="label-left1">IEDC</span>
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="mentoring_unit_exists" id="mentoring_unit_exists" value="Yes"><span class="label-left1">Mentoring Unit</span>
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="incubator_exists" id="incubator_exists" value="Yes"><span class="label-left1">Incubator</span>
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="campus_company_exists" id="campus_company_exists" value="Yes"><span class="label-left1">Campus Company</span>
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="patent_office_exists" id="patent_office_exists" value="Yes"><span class="label-left1">Patent Office</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!----- nine Block--------------------------->
                        <div class="row-fluid padding-left">
                            <div class="custom-grp span4">
                                <label>Institute Level</label>
                                <div class="cust-input">
                                    <input type="text"  id="institute_level" name="institute_level">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>E-Cell Level</label>
                                <div class="cust-input">
                                    <input type="text"  id="e_cell_level" name="e_cell_level">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Sustainability</label>
                                <div class="cust-input">
                                    <select  id="sustainability" name="sustainability">
                                        <option value="S">Yes</option>
                                        <option value="N">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!----- ten Block--------------------------->
                        <div class="row-fluid padding-left">
                            <div class="custom-grp span4">
                                <label>Mailing Address Report</label>
                                <div class="cust-input">
                                    <input type="text"  id="mailing_address_report" name="mailing_address_report">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Primary City</label>
                                <div class="cust-input">
                                    <input type="text"  id="primary_city" name="primary_city">
                                </div>
                            </div>
                            <div class="custom-grp span4">
                                <label>Primary State</label>
                                <div class="cust-input">
                                    <input type="text"  id="primary_state" name="primary_state">
                                </div>
                            </div>

                        </div>
                        <!----- eleven Block--------------------------->
                        </div>
                     </div>
                 </div>
                        <!-----End Collapable Block--------------------------->
                        <div class="pull-right add-inst">
                            <input type="button" class="btn btn-danger btn_save_form" id="add_inst" value="Add Institute">&nbsp;
                            <a href="/" class="cancel">Cancel</a>
                        </div>
                        <div class="pull-right save-inst">
                            <input type="button" class="btn btn-danger btn_save_form" id="save_inst" value="Save Institute">&nbsp;
<!--                            <input type="button" class="btn btn-danger btn_save_form" id="delete_inst" value="Delete Institute">&nbsp;-->
                            <a href="/" class="cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
<div id="div_delete_institute" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>Delete institute ?</h3>
        <form id="" name="delete_institute" method="post" action="/institute/delete/" class="form" >
    </div>
    <div class="modal-body">

        <p>Are you sure you want to delete this institute ? </p>       
        <input type="hidden" name="institute_id" id="institute_id" value="<?php echo $institute_id ?>" />
    </div>

    <div class="modal-footer">
        <input type="submit" name="delete" class="btn btn-danger"  value="Delete" />
        <a data-dismiss="modal" class="btn btn_cancel" href="#">Cancel</a>
        </form>
    </div>
</div>
            <script>
                $(document).ready(function(){
     
                    $('#breadcrumb,#content-header').hide();
                });  
            </script>
            
            
            <script src="/js/institute.js"></script>