<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Institute Overview</h5>
        <div class="top-options">
            <ul class="nav-tabs1">
            </ul>
        </div>
    </div>
    <div class="widget-content tab-content">
        <div id="overview-container" class="form-horizontal">
            <div class = "view-block " >
                <div class="control-group">
                    <label class="control-label">Name :</label>
                    <div class="controls label-fit">
                        <label><?php echo $this->data['name']?></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">City :</label>
                    <div class="controls label-fit">
                        <label ><?php echo $this->data['primary_city']?></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Category :</label>
                    <div class="controls label-fit">
                        <label ><?php echo $this->data['category']?></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Consultant in charge :</label>
                    <div class="controls label-fit">
                        <label ><?php echo $this->data['consultant']?></label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Joined NEN on :</label>
                    <div class="controls label-fit">
                        <label ><?php echo $this->data['nen_joining_date']?></label>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>