<div class="control-group">
    <label class="control-label">Foundation year</label>
    <div class="controls form-input">
        <input type="text" name="edcinfo_year" id="edcinfo_year">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Lead Faculty name</label>
    <div class="controls form-input">
        <select name="edcteam_lf" id="edcteam_lf"><option>Select</option><option value=""></option></select>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Co-lead Faculty name</label>
    <div class="controls form-input">
        <select name="edcteam_colead" id="edcteam_colead"><option>Select</option><option value=""></option></select>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Number of active students</label>
    <div class="controls form-input">
        <input type="text" name="edcteam_stu" id="edcteam_stu">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Number of Advisory Members</label>
    <div class="controls form-input">
        <input type="text" name="edcadvboard_adv" id="edcadvboard_adv">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Date of First Advisory Board Meeting</label>
    <div class="controls form-input">
        <input type="text" name="edcadvboard_date1" id="edcadvboard_date1">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Date of Second Advisory Board Meeting</label>
    <div class="controls form-input">
        <input type="text" name="edcadvboard_date2" id="edcadvboard_date2">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Whether plan of action has been discussed</label>
    <div class="controls form-input">
        <select name="edcprog_disc" id="edcprog_disc"><option>Select</option><option value=""Yes">"Yes</option><option value="No"">No"</option></select>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Whether plan of aciton has been adopted</label>
    <div class="controls form-input">
        <select name="edcprog_adopt" id="edcprog_adopt"><option>Select</option><option value=""Yes">"Yes</option><option value="No"">No"</option></select>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Proposal has been sent to AICTE</label>
    <div class="controls form-input">
        <select name="edcfund_sent" id="edcfund_sent"><option>Select</option><option value=""Yes">"Yes</option><option value="No"">No"</option></select>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Funds received</label>
    <div class="controls form-input">
        <input type="text" name="edcfund_sanction" id="edcfund_sanction">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Source of funds</label>
    <div class="controls form-input">
        <input type="text" name="edcfund_other" id="edcfund_other">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Date of funding</label>
    <div class="controls form-input">
        <input type="text" name="edcfund_date" id="edcfund_date">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Select available Infrastructure</label>
    <div class="controls form-input">
        <input type="text" name="edcinfra_avlbl" id="edcinfra_avlbl">
    </div>
</div>