
<div class="alert <?php echo $this->alertClass ?>">
    <button class="close" data-dismiss="alert">x</button>
    <?php echo $this->message ?>
</div>
<?php
if ($this->edcExists) {
    $instituteId = $this->instituteId;
    $edcId = $this->edcId;
    ?>
    <!-- EDC -->
    <!-- Team and Overview -->
    <div class="widget-title1 margin-bottom">
        <h5>EDC<span class="title-overview"></span></h5>
    </div>
    <div class="widget-box2 collapsible">
        <div class="widget-title2">
            <h5>1. Overview</h5>
            <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-team"><i class="icon-pencil"></i> Edit</a></span>
        </div>
        <div id="noti-edc-team"></div>
        <div class="collapse in" id="collapseteam">
            <div class="widget-content form-horizontal" style="padding-left:45px">
                <div id="team-container" class="form-horizontal">
                    <div class = "edit-block content-backg" style="display:none" >
                        <div class="control-group">
                            <label class="control-label">Foundation year : <span class="requiered3"> *</span></label>

                            <div class="controls form-input">

                                <!--input type="text" name="edcinfo_year" id="edcinfo_year"-->
                                <select name="edcinfo_year" id="edcinfo_year"><?php echo $this->dropdown('edc_foundation_year', $edcInfoYear) ?></select>
                                
                            </div>

                        </div>
                        <div class="control-group">
                            <label class="control-label">Lead Faculty name :</label>
                            <div class="controls form-input">
                                <select name="edcteam_lf" id="edcteam_lf"><?php echo $this->dropdown('faculty_of_institute', $instituteId) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Co-lead Faculty name :</label>
                            <div class="controls form-input">
                                <select name="edcteam_colead" id="edcteam_colead"><?php echo $this->dropdown('faculty_of_institute', $instituteId) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Number of  active students :</label>
                            <div class="controls form-input">
                                <input type="text" name="edcteam_stu" id="edcteam_stu">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Upload list of student members :</label>
                            <div class="controls position-relativee">
                                <form method="post" id = "form_edc_members" name = "form_edc_members" enctype="multipart/form-data" action="/ajax" target="target_edc_members">
                                    <input type="hidden" name="type_of_file" value="edc_members">
                                    <input type="hidden" name="edcid" value="1">
                                    <input type="hidden" name="method" value="edc.uploadmemberscsv"> 
                                    <input type="file" id = "edc_members" name = "edc_members" class="file_upload_input"  /><br />
                                    <iframe id = "target_edc_members" name = "target_edc_members" style="display: none;"></iframe> 
                                </form>
                                <label class="label-upward">
                                    <i class="icon-download-alt"></i><a href="/uploads/edc/edc-members-template.csv">Download Template</a>
                                </label>

                            </div>
                        </div>
                        <div class="control-group">
                            <h6 style="display:inline-block"/>List of student members</h6><span class="edit-click"> ( Click on cell to edit )</span>
                            <div id="edcMembers"></div>
                            <input type="button" id="add-grid-edc_members" style="margin-bottom:17px" class="btn btn-info" value="Add new row">
                        </div>
                        <div class="control-group">
                            <label class="control-label">Number of advisory members :</label>
                            <div class="controls form-input">
                                <input type="text" name="edcadvboard_adv" id="edcadvboard_adv">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Upload list of Advisors :</label>
                            <div class="controls position-relativee">
                                <form method="post" id = "form_edc_advisors" name = "form_edc_advisors" enctype="multipart/form-data" action="/ajax" target="target_edc_advisors">
                                    <input type="hidden" name="type_of_file" value="edc_advisors">
                                    <input type="hidden" name="edcid" value="1">
                                    <input type="hidden" name="method" value="edc.uploadadvisorscsv"> 
                                    <input type="file" id = "edc_advisors" name = "edc_advisors" class="file_upload_input"  /><br />
                                    <iframe id = "target_edc_advisors" name = "target_edc_advisors" style="display: none;"></iframe> 
                                </form>
                                <label class="label-upward">
                                    <i class="icon-download-alt"></i><a href="/uploads/edc/edc-advisors-template.csv">Download Template</a>
                                </label>

                            </div>
                        </div>
                        <h6 style="display:inline-block"/>List of Advisors</h6><span class="edit-click"> ( Click on cell to edit )</span>
                        <div id="edcAdvisors"></div>
                        <input type="button" id="add-grid-edc_advisors"  class="btn btn-info" value="Add new row">


                        <div class="control-group action-form">
                            <label class="control-label">Date of First Advisory Board Meeting :</label>
                            <div class="controls form-input">
                                <input type="text" name="edcadvboard_date1" id="edcadvboard_date1" data-date-format="dd-mm-yyyy" class="datepicker">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date of Second Advisory Board Meeting :</label>
                            <div class="controls form-input">
                                <input type="text" name="edcadvboard_date2" id="edcadvboard_date2" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input class="cls-save-team btn btn-danger" id="block1" type="button" value="Save">&nbsp;
                            <a class="cls-cancel-team">Cancel</a>
                        </div>
                    </div>

                    <!-- View block -->
                    <div class = "view-block " >
                        <div class="row-fluid customSpan">
                            <div class="span2 borderRight">
                                <label class="label-name">Foundation year</label><br/>
                                <span name="lbl_edcinfo_year" id="lbl_edcinfo_year" class="normal"></span>
                            </div>
                            <div class="span2 borderRight">
                                <label class="label-name">Lead Faculty</label><br/>
                                <span name="lbl_edcteam_lf" id="lbl_edcteam_lf" class="normal"></span>
                            </div>
                            <div class="span2 borderRight">
                                <label class="label-name">Co-lead Faculty</label><br/>
                                <span name="lbl_edcteam_colead" id="lbl_edcteam_colead" class="normal"></span>
                            </div>
                            <div class="span2 borderRight"style="width:155px;">
                                <label class="label-name">Student members</label><br/>
                                <span id="studList" class="normal"></span>
                                <span id="status_studList" class="normal"></span>
                                <span class="view-more cursor1 leftBorder"> View</span>
                                <span class="view-less cursor1 leftBorder"> Hide</span>
                            </div>
                            <div class="span2">
                                <label class="label-name">Active student</label><br/>
                                <span name="lbl_edcteam_stu" id="lbl_edcteam_stu" class="bold"></span>
                            </div>
                        </div>
                        <div class="row-fluid hidden-block">
                            <hr class="hrline">
                            <h6>List of Student members</h6>
                            <div id="showEdcMembers"></div>
                        </div>
                        <div class="row-fluid customSpan">
                            <hr class="hrline">
                            <div class="span2 borderRight"style="width:145px;margin-left: 0px">
                                <label class="label-name">Advisory Members</label><br/>
    <!--                            <span name="lbl_edcadvboard_adv" id="lbl_edcadvboard_adv"></span>-->
                                <span id="advList" class="normal"></span>
                                <span class="view-more1 cursor1 leftBorder"> View</span>
                                <span class="view-less1 cursor1 leftBorder"> Hide</span>
                            </div>
                            <div class="span3 borderRight"style="width:225px">
                                <label class="label-name">First Advisory Board Meeting </label><br/>
                                <span name="lbl_edcadvboard_date1" id="lbl_edcadvboard_date1"></span>
                            </div> 
                            <div class="span5">
                                <label class="label-name">Second Advisory Board Meeting </label><br/>
                                <span name="lbl_edcadvboard_date2" id="lbl_edcadvboard_date2" class="bold"></span>
                            </div>
                        </div>
                        <div class="row-fluid hidden-block1">
                            <hr class="hrline">
                            <h6>List of Advisors</h6>
                            <div id="showEdcAdvisors"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team and Overview Ends-->

    <!-- Program -->
  
    <div class="widget-box2 collapsible">
        <div class="widget-title2">
            <h5>2. Programme</h5>
            <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-program"><i class="icon-pencil"></i> Edit</a></span>
        </div>
        <div id="noti-edc-program"></div>
        <div class="collapse in" id="collapseprogram">
            <div class="widget-content form-horizontal" style="padding-left:45px">
                <div id="program-container" class="form-horizontal">
                    <div class = "edit-block content-backg" style="display:none" >
                        <div class="control-group">
                            <label class="control-label">Whether plan of action has been discussed :</label>
                            <div class="controls label-fit">
                                <select name="edcprog_adopt" id="edcprog_disc">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Whether plan of aciton has been adopted :</label>
                            <div class="controls form-input">
                                <select name="edcprog_adopt" id="edcprog_adopt"><option value="Yes">Yes</option><option value="No">No</option></select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Upload plan of action :</label>
                            <input type="hidden" name="edcprog_upload" id="edcprog_upload" value="" /> 
                            <div class="controls position-relativee">
                            <iframe name="myframe_org" id="myframe_org" class="hide"></iframe>
                            <form id="target_participants_org" class="target_participants" action="/ajax/uploadfile?module=edc&from=type1" method="post" enctype="multipart/form-data" target="myframe_org">
                                <div class="uploader" id="uniform-undefined" style=""><input type="file" class="fileParticipant" name="file_edcprog_upload" size="19" value="" style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
                            </form>
                          
                        </div>
                        </div>
                        <div class="form-actions">
                            <input class="cls-save-program btn btn-danger" id="block2" type="button" value="Save">&nbsp;
                            <a class="cls-cancel-program">Cancel</a>
                        </div>
                    </div>
                    <div class = "view-block " >
                        <div class="row-fluid">
                            <div class="span4 borderRight">
                                <label class="label-name">Whether plan of action has been discussed</label>
                                <span name="lbl_edcprog_disc" id="lbl_edcprog_disc"class="noBorder"></span>
                            </div>
                            <div class="span4">
                                <label class="label-name">Whether plan of aciton has been adopted</label>
                                <span name="lbl_edcprog_adopt" id="lbl_edcprog_adopt" class="noBorder"></span><span class="label-fit leftBorder" id="lbl_edcprog_upload" >
                                    <i class="icon-download-alt"></i><a href="#"> Download</a>
                                </span>
                            </div> 
                            <!--                             <div class="span3">
                                                            <label class="label-name">Plan of action </label>
                                                            <span  class="noBorder">None</span>
                                                            <span name="lbl_edcadvboard_date2" id="lbl_edcadvboard_date2"></span><br/>
                                                            <i class="icon-download-alt"></i><a href="/download/edc/program/<?php echo $edcId ?>"> Download</a>
                                                        </div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Program Ends -->

    <!-- Funding -->

    <div class="widget-box2 collapsible">
        <div class="widget-title2">
            <h5>3. Funding</h5>
            <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-funding"><i class="icon-pencil"></i> Edit</a></span>
        </div>
        <div id="noti-edc-funding"></div>
        <div class="collapse in" id="collapsefunding">
            <div class="widget-content form-horizontal">
                <div id="funding-container" class="form-horizontal"style="padding-left:32px">
                    <div class = "edit-block content-backg" style="display:none" >
                        <div class="control-group">
                            <label class="control-label">Proposal has been sent to AICTE :</label>
                            <div class="controls form-input">
                                <select name="edcfund_sent" id="edcfund_sent">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Funds Received :</label>
                            <div class="controls form-input">
                                <input type="text" name="edcfund_sanction" id="edcfund_sanction">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Source of funds :</label>
                            <div class="controls form-input">
                                <input type="text" name="edcfund_other" id="edcfund_other">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date of funding :</label>
                            <div class="controls form-input">
                                <input type="text" name="edcfund_date" id="edcfund_date" data-date-format="dd-mm-yyyy" class="datepicker">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input class="cls-save-funding btn btn-danger" id="block3" type="button" value="Save">&nbsp;
                            <a class="cls-cancel-funding">Cancel</a>
                        </div>
                    </div>
                    <div class = "view-block " >
                        <div class="row-fluid">
                            <div class="span3 borderRight"style="width:200px;">
                                <label class="label-name">Proposal has been sent to AICTE </label>
                                <span name="lbledcfund_sent" id="lbl_edcfund_sent"class="noBorder"></span>
                            </div>
                            <div class="span2 borderRight">
                                <label class="label-name">Funds received</label><br/>
                                <span name="lbl_edcfund_sanction" id="lbl_edcfund_sanction"></span>
                            </div> 
                            <div class="span2 borderRight">
                                <label class="label-name">Source of funds</label><br/>
                                <span name="lbl_edcfund_other" id="lbl_edcfund_other"></span>
                                 <span name="status_edcfund_other" id="lbl_edcfund_other"></span>
                            </div>
                            <div class="span2">
                                <label class="label-name">Date of funding </label><br/>
                                <span name="lbl_edcfund_date" id="lbl_edcfund_date" class="bold"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Funding Ends -->

    <!-- Infrastructure -->
    <div class="widget-box2 collapsible">
        <div class="widget-title2">
            <h5>4. Infrastructure</h5> 
            <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-infrastructure"><i class="icon-pencil"></i> Edit</a></span>
        </div>
         <div id="noti-edc-infrastructure"></div>
        <div class="collapse in" id="collapseinfrastructure">
            <div class="widget-content form-horizontal"style="padding-left:50px">
                <div id="infrastructure-container" class="form-horizontal">
                    <div class = "edit-block content-backg" style="display:none" >
                        <div class="control-group">
                            <label class="control-label">Select Available Infrastructure :</label>
                            <div class="controls">
                                <ul class="edc-list-style">
                                    <li><input type="checkbox" id="infra_space"><span class="label-fit">Space</span></li>
                                    <li><input type="checkbox" id="infra_equipment"><span class="label-fit">Equipment</span> </li>
                                    <li><input type="checkbox" id="infra_library"><span class="label-fit">Library</span> </li>
                                    <li><input type="checkbox" id="infra_staff"><span class="label-fit">Staff</span></li>
                                    <li><input type="checkbox" id="infra_budget"><span class="label-fit">Budget</span></li>
                                    <li><input class="cls-dependency" type="checkbox" id="infra_other"> <span class="label-fit">Other </span> <span class="dep-infra_other label-fit"> <input  type="text" id="infra_other_text"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="block4" class="cls-save-infrastructure btn btn-danger" type="button" value="Save">&nbsp; 
                            <a class="cls-cancel-infrastructure">Cancel</a>
                        </div>
                    </div>
                    <div class = "view-block " >
                        <div class="row-fluid custom-sapn2">
                            <div class="span2 borderRight1">
                                <label class="label-name">Space</label>
                                <span  id="status_infra_space" class="normal"></span>
                            </div>
                            <div class="span2 borderRight1">
                                <label class="label-name">Equipment</label>
                                <span  id="status_infra_equipment" class="normal"></span>
                            </div> 
                            <div class="span2 borderRight1">
                                <label class="label-name">Library</label>
                                <span  id="status_infra_library" class="normal"></span>
                            </div>
                            <div class="span2 borderRight1">
                                <label class="label-name">Staff</label>
                                <span  id="status_infra_staff" class="normal"></span>
                            </div>
                            <div class="span2 borderRight1">
                                <label class="label-name">Budget</label>
                                <span  id="status_infra_budget" class="normal"></span>
                            </div>
                            <div class="span3">
                                <label class="label-name">Other</label>
                                <span  id="status_infra_other" class="normal"></span>
                                <span class="dep-infra_other leftBorder normal"><label id="lbl_infra_other_text" style="display:inline-block"></label></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> 
    <?php
    $o = new Edc($edcId, true);
    $result = $o->getData();
    $json = json_encode($result);
    ?>

    <script>
        var edcData = <?php echo $json ?>;
        var edcid = <?php echo $edcId ?>;
    </script>
    <script src="/js/edc.js"></script>
    <?php
} else { // edc exist 
    $instituteId = $this->instituteId;
    $styleHide = 'style="display: none;';
    $styleShow = '';
    if (isset($_REQUEST['action']) && $_REQUEST['action'] == 'new') {
        ?>
        <!-- Create New EDC -->
        <script>
        $('#edc-overview-block').live('click',function(){
            var activeStud =$('#edcteam_stu').val();
            if(activeStud >=0 ||activeStud ==""){
                $('#edc-overview-form').submit();
            }else{
                $('#edcteam_stu').css('border','1px solid red');
                $("#noti-edc-overview").html('<div class="alert alert-error"><button class="close" data-dismiss="alert">x</button><i class="icon-back-error"></i><span class="error-msg"><strong> Error! </strong>Please enter positive number</span></div>');
            }
             
        });
        </script>
        <div id="noti-edc-overview"></div>
        <div class="widget-box1">
            <div class="widget-title1">
                <h5>EDC <span class="title-overview">Overview</span></h5>
            </div>
            <div class="widget-content tab-content">
                <div id="team-container" class="form-horizontal content-backg">
                    <form method="POST" id="edc-overview-form" action="/edc/?instituteid=<?php echo $this->instituteId ?>">
                        <input type="hidden" name="instituteid" value ="<?php echo $this->instituteId ?>">
                        <input type="hidden" name="action" value ="new">
                        <div class="control-group">
                            <label class="control-label">Foundation Year : <span class="requiered"> *</span></label> 
                            <div class="controls form-input">
        <!--                                <input type="text" name="edcinfo_year" id="edcinfo_year" value="<?php echo $this->data['edcinfo_year'] ?>"><span class="requiered"> *</span>-->
                                <select name="edcinfo_year" id="edcinfo_year"><?php echo $this->dropdown('edc_foundation_year', $edcInfoYear) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Lead Faculty name :</label>
                            <div class="controls form-input">
                                <select name="edcteam_lf" id="edcteam_lf"><?php echo $this->dropdown('faculty_of_institute', $instituteId, $this->data['edcteam_lf']['value']) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Co-lead Faculty name :</label>
                            <div class="controls form-input">
                                <select name="edcteam_colead" id="edcteam_colead"><?php echo $this->dropdown('faculty_of_institute', $instituteId, $this->data['edcteam_colead']['value']) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Number of  active students :</label>
                            <div class="controls form-input">
                                <input type="text" name="edcteam_stu" id="edcteam_stu" value="<?php echo $this->data['edcteam_stu'] ?>">
                            </div>
                        </div>
                </div>
                <div class="form-actions1">
                    <input class="cls-save-overview btn btn-danger" type="button" id="edc-overview-block" value="Save & Continue">&nbsp;
                    <a href="/edc/?instituteid=<?php echo $this->instituteId ?>"><span class="cls-cancel-overview"> Cancel</span></a>
                </div>
                </form>


            </div>
        </div>

    <?php } else { //show create link ?> 
        <div class="campus-company-name">
            <a href="/edc/?instituteid=<?php echo $this->instituteId ?>&action=new"><span class="btn btn-danger createnew-button pull-right"><i class="icon-edit icon-white"></i> Create New EDC</span></a>
        </div>
<div class="institute-search row-fluid" style="width:96%">
    <div class="span2 left-margin"><hr class="record-hr"></div>
    <div class="span2 no-record">No EDC Found</div>
    <div class="span2"><hr class="record-hr"></div>
</div>
        <?php
    }
} // edc does not exist ?>