<!-- Campus Overview -->

<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Unauthorized Access</h5>
        <div class="top-options">
            <ul class="nav-tabs1">
            </ul>
        </div>
    </div>
    <div class="widget-content tab-content">
        <div id="overview-container" class="form-horizontal">
            
            
        </div>
    </div>
</div>

<!-- Campus Health Status Ends -->

<!--script src="/js/campus.js"></script-->