<?php

function fetchRecords($query) {
    if (!$mdl) {
        $mdl = new Application_Model_Reports();
    }
    $output = $mdl->fetchRecords($query);
    return $output;
}
?>


<?php
//Given institute info
$instituteId = $_POST['inst'];
$instituteName = '';

function getFaculties($instituteid) {
    global $db;
    $q = "Select f.first_name, f.last_name from faculty f join institute i on (f.institute_id=i.institute_id) where i.institute_id=$instituteid";
    $data = array();
    $data = fetchRecords($q);
    return $data;
}

function getInstitutes() {
    global $db; // to access $db inside getInstitutes function
    $query = "select id, name from institute"; // query to select id, name from institute table
    $data = fetchRecords($query);
    ?>
    <h3 class="report_heading">Faculty Level Report</h3>
    <div id="noti"></div>
    <div class="institute-report">
        <form name='FactultyForm' method='post' class="faculty-form" id="form_flreport" action="/reports/faculty-level-report/">
            <?php
            $htm = "<select id='inst' name='inst' class='dd'>"; //<select id='inst'>
            $htm.="<option value='none'>Select an institute</option>";
            $selectedValue = $_POST['inst'];
            foreach ($data as $item) {
                $selected = ($item['id'] == $selectedValue) ? ' selected ' : ''; //if(id==$selectedvalue) $selected='selected'; else $selected=''
                $htm.="<option  value = \"" . $item['id'] . "\" $selected>" . $item['name'] . "</option>"; //<option value='id' selected/''>name</option>   
            }
            $htm.= "</select>";
            return $htm;
        }

        $institutes = getInstitutes();

        echo $institutes; //<select><option></option></select>


        $html = "<select id='facdrpdwn' name='faculty' class='dd'></select>";
        echo $html;
        ?>
<!--            <input type='hidden' name='submit' value='1'/>-->
        <input type='button' class="btn btn-danger" name='fl-button' id="flr_submit" value='View Report'/>
    </form>
</div>
<?php
//if(isset($_POST)) {echo "<pre>";print_r($_POST);}
if (isset($_POST['inst'])) {//ONCE THE FORM IS SUBMITTED
    $institute_id = $_POST['inst'];
    $faculty_id = $_POST['faculty'];
//CHECKBOX LEVEL ARRAY CHECKS THE APPROPRIATE REASON FOR THE FACULTY TO BE AT THAT LEVEL
    $checkbox['STARTER'][] = $checkbox['PROGRESSIVE'][] = $checkbox['SENIOR'][] = array();
//REASONS LEVEL ARRAY IS TO SHOW THE REASONS WHY A FACULTY IS AT THAT PARTICULAR LEVEL
    $reasons['STARTER'][] = "Signed up as NEN Faculty Leader and declared self commitment";
    $reasons['PROGRESSIVE'][] = "Supporting the E Cell as Faculty Advisor";
    $reasons['PROGRESSIVE'][] = "Running programs that impart  key concepts, develop a skill or develop the ability to use an entrepreneurial tool.";
    $reasons['SENIOR'][] = "Teaching course(s) with original content or adapting existing content";
    $reasons['SENIOR'][] = "Teaching/leading a series of workshops for students either using original content or adapting existing content";
    $reasons['SENIOR'][] = "Leading programs that provide  intense real world experience for the students";

//EVERY FACULTY IS AT STARTER LEVEL IF HE SIGNS UP WITH NEN
    $level = "STARTER";
    $checkbox[$level][0] = "checked = 'true'";

    $sql = "SELECT ecell.startup_board_faculty Advisor FROM ecell WHERE startup_board_faculty = $faculty_id";
    $records = fetchRecords($sql);


    if (count($records)) {
        if ($records[0]['Advisor'] == $faculty_id) {
//A FACULTY IS AT LEVEL PROGRESSIVE WHEN HE IS ON THE ADVISOR BOARD OF ECELL 'OR'
            $level = "PROGRESSIVE";
            $checkbox[$level][0] = "checked = 'true'";
        }
    }

    $sql = "SELECT a.activityinfo_type FROM activity_contributor_corodinator acc JOIN activity a ON a.activity_id = acc.activity_id WHERE acc.human_id = $faculty_id AND a.activityinfo_type IN ('Lecture/ Talk','Panel Discussion','Excersice/Games')";
    $records = fetchRecords($sql);
    if (count($records)) {
//A FACULTY IS AT LEVEL PROGRESSIVE WHEN HE IS A CONTRIBUTOR TO ANY OF THE ABOVE ACTIVITY
        $level = "PROGRESSIVE";
        $checkbox[$level][1] = "checked = 'true'";
    }

    $sql = "SELECT a.activityinfo_type Type FROM activity_contributor_corodinator acc JOIN activity a ON a.activity_id = acc.activity_id WHERE acc.human_id = $faculty_id AND a.activityinfo_type IN ('Course','Workshop')";
    $records = fetchRecords($sql);

    if (count($records)) {
        if ($records[0]['Type'] == 'Course') {
//A FACULTY IS AT LEVEL SENIOR WHEN HE IS A CONTRIBUTOR TO COURSE 'OR'
            $level = "SENIOR";
            $checkbox[$level][0] = "checked = 'true'";
        } else {
//A FACULTY IS AT LEVEL SENIOR WHEN HE IS A CONTRIBUTOR TO WORKSHOP 'OR'
            $level = "SENIOR";
            $checkbox[$level][1] = "checked = 'true'";
        }
    }

    $sql = "select caf.human_id caf,cc.ccteam_fac cctf, a.over_lead ecellol, b.over_second ecellsl, c.edcteam_lf
 edclf, d.edcteam_colead edccolead, e.td_leadfacname esclf,f.td_coleadfacname esccolead, h.td_leadfacname
 iedclf, i.td_coleadfacname iedccolead, j.ov_leadfaculty svmulf from human_resource hr
    left join campus_additional_faculty caf on hr.id = caf.human_id
	left join  campus_company cc on hr.id = cc.ccteam_fac
    left join ecell a on hr.id = a.over_lead
    left join ecell b on hr.id = b.over_second
    left join edc c on hr.id = c.edcteam_lf
    left join edc d on hr.id = d.edcteam_colead
    left join esc e on hr.id = e.td_leadfacname
	left join esc f on hr.id = f.td_coleadfacname
    left join iedc h on hr.id = h.td_leadfacname
	left join iedc i on hr.id = i.td_coleadfacname
	left join svmu j on hr.id = j.ov_leadfaculty
	where hr.id = $faculty_id";
    $records = fetchRecords($sql);
//die(print_r($records));
    foreach ($records as $record) {
        if ($record['caf'])
            $responsibilities['CampusCompany'] = 'Second Lead';
        if ($record['cctf'])
            $responsibilities['CampusCompany'] = 'Lead';
        if ($record['ecellol'])
            $responsibilities['Ecell'] = 'Lead';
        if ($record['ecellsl'])
            $responsibilities['Ecell'] = 'Second Lead';
        if ($record['edclf'])
            $responsibilities['EDC'] = 'Lead';
        if ($record['edccolead'])
            $responsibilities['EDC'] = 'Co Lead';
        if ($record['esclf'])
            $responsibilities['ESC'] = 'Lead';
        if ($record['esccolead'])
            $responsibilities['ESC'] = 'Co Lead';
        if ($record['iedclf'])
            $responsibilities['IEDC'] = 'Lead';
        if ($record['iedccolead'])
            $responsibilities['IEDC'] = 'Co Lead';
        if ($record['svmulf'])
            $responsibilities['SVMU'] = 'Lead';
    }
//echo(print_r($responsibilities));
    if (isset($responsibilities) && in_array('Lead', $responsibilities)) {
//I HAVE SAVED THE RESPONSIBILITIES FROM FACULTY ACTIVITY REPORT IN A SESSION AND CHECKING IF HE IS A LEAD OR NOT
//IF THE FACULTY IS A LEAD THEN HE IS AT LEVEL SENIOR 'OR'
        $level = "SENIOR";
        $checkbox[$level][2] = "checked = 'true'";
    }
    ?>
    <?php
    $count = count($reasons[$level]);
    $i = 1;
    ?>

    <div class="main-box">
        <!--------- Activities & People----------------------------------------------->
        <div class="widget-box box1 widget-bottom-border">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-list-alt"></i>
                </span>
                <h5>Faculty Level </h5>
            </div>
            <div class="widget-content box-padding">
                <!--------- People starts------  ------------------>
                <div class="widget-box inner-box1 widget-bottom-border" style="margin:10px 0 15px 0">

                    <div class="widget-content nopadding">

                        <table  class="table fact-table">
                            <tr>
                                <th>Level</th>
                                <th>Reason</th>
                            </tr>
                            <tr class='data'>
                                <td rowspan='<?php echo $count; ?>'><?php echo $level ?></td>
                                <td><span class="checkbox-fit"><input type='checkbox' <?php echo $checkbox[$level][0]; ?> disabled='disabled'/></span> <?php echo $reasons[$level][0]; ?></td>
                            </tr><?php while ($i < $count) { ?>
                                <tr class='data'>
                                    <td><span class="checkbox-fit"><input type='checkbox' <?php if (isset($checkbox[$level][$i])) echo $checkbox[$level][$i]; ?> disabled='disabled'/></span> <?php echo $reasons[$level][$i]; ?></td>

                                </tr><?php
                                ++$i;
                            }
                            ?>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<?php } ?>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#content-header, #breadcrumb').hide();
            $('#flr_submit').click(function() {

                var fac_selection = $('#facdrpdwn option:selected').val();
                var inst_selection = $('#inst option:selected').val();
                var flag = true;
                var error_id = '';
                var msg = '';
                if (inst_selection == 'none') {
                    msg = '<div class="alert alert-error"> <button class="close" data-dismiss="alert">×</button><i class="icon-back-error"></i> <span class="error-msg"><strong>Error!</strong> Please select institute</span></div>';
                    error_id = '#s2id_inst';
                    flag = false;
                } else if (fac_selection == 'none') {
                    msg = '<div class="alert alert-error"> <button class="close" data-dismiss="alert">×</button><i class="icon-back-error"></i> <span class="error-msg"><strong>Error!</strong> Please select faculty</span></div>';
                    error_id = '#s2id_facdrpdwn';
                    flag = false;
                }

                if (flag) {
                    //$("form[name='FactultyForm']").submit();
                    //alert('true');
                    document.getElementById("form_flreport").submit();
                } else {
                    $('#noti').html(msg);
                    $('#s2id_inst,#s2id_facdrpdwn').removeClass('dd_error');
                    $(error_id).addClass('dd_error');

                }




            });
            var selected = <?php echo isset($_POST['faculty']) ? $_POST['faculty'] : '""'; ?>;
            get_faculty(selected);
            $("#inst").change(function() {
                get_faculty();
            });

            //$("#inst").select2({placeholder: "Select an Institute"            });
            //$("#faculty").select2({   placeholder: "Select a Faculty"            });
        });

        function get_faculty(selected) {
//            alert(selected);
            var crntid = $('#inst').val();
            //alert(crntid);
            var prm = {id: crntid};

            $("#facdrpdwn").append('<option value="none">Select faculty</option>');
            $.getJSON("/reports/getflrdata", prm, function(data, status, xhr)
            {

                //$("#facdrpdwn").replaceWith("<select id='facdrpdwn' name='faculty'></select>");
                $("#facdrpdwn").html('');
                $("#facdrpdwn").append('<option value="none">Select faculty</option>');
                $.each(data, function(i, data) {
                    select_ed = "";
                    if (selected == data.id) {
                        console.log(selected + "::" + data.id);
                        //$("#facdrpdwn").select2().select2("val", null); 
                        //$("#facdrpdwn").select2().select2("val", data.id); 
                        select_ed = "selected = 'selected'";
                    }


                    $("#facdrpdwn").append("<option value='" + data.id + "'" + select_ed + ">" + data.first_name + "&nbsp;" + data.last_name + "</option>");
                });
                $("#facdrpdwn").select2();
            });

        }
    </script>