
<?php
if (isset($this->data)) {
    $output = $this->data;
    $data = $output['actvity_data'];
    $participant_data = $output['participant_data'];
    $enterp_data = $output['enterp_data'];
    $form_data = $data['form_data'];
    $is_posted = $output['is_posted'];
    $report_other = $output['report_other'];
    $leverage = $output['leverage'];
}
//die($_POST['institute_id']);
?>
<!--die(print_r($output));-->
<h3 class="report_heading">Institute Detailed Report</h3>
<div id="noti"></div>
<div class="institute-report">
    <div class="<?php echo $this->clsShowInstitutes ?>">
        <form name='Institute Report' id="submit_form" method='post' class="container search-container">
            <select name="institute_id" id="institute_id">
                <?php echo getDropDown($this->institutes, $_POST['institute_id'], $this->aggregateReportTitle); ?>                                              
            </select>
            <input type='button'name='flr_submit' id="flr_submit" class="btn btn-danger" value='View Report'/>
        </form>

    </div>

</div>

<?php
//    $a = array('ent', 'eleaders', 'num1', 'num2', 'num3', 'CC', 'students', 'revenue', 'ent_supported', 'fees', 'pri_sponsors', 'inst_fund', 'prizes_won', 'records', 'is_posted');
//    foreach ($a as $k => $v) {
//        $$v = $data[$k];
//    }
?>

<?php

function getDropDown($optionarray, $selectedValue = NULL, $name) {

    $htm = '';
    $flag = 0;

    $htm.="<option value='none'>Select an institute</option>";
    //$htm = "<select id='activityinfo_type' name='activityinfo_type'>";
    foreach ($optionarray as $item => $val) {
        $selected = ($val['id'] == $selectedValue) ? ' selected ' : '';
        $htm.="<option  value = \"" . $val['id'] . "\" $selected>" . $val['name'] . "</option>";
        $flag++;
    }



    return $htm;
}

//isset($data['conference']['parti']['Faculty']['student'])  ? die( $data['conference']['parti']['Faculty']['student']):  0  ;
// for counting total from array 
function array_total($array) {
    if (empty($array)) {
        return 0;
    }
    $total = 0;
    foreach ($array as $key => $val) {
        $total = $total + (int) $val;
    }
    return (int) $total;
}

// functon to parse the returned report data
$total = array();
$total['all_types'] = 0;
foreach ($data as $type => $vals) {
    foreach ($vals as $key => $val) {
        //$total[$type] = isset($total[$type]) ? $total[$type] + 1  : $val;  // gives count of activities by type
        $total[$key] = isset($total[$key]) ? $total[$key] + $val : $val;   //gives the total of different parameters such as scale an organized by
    }
    $total[$type] = $data[$type]['total'];
    $total['all_types']+= $total[$type];
}

function get_sum($var1, $var2) {

    $a = isset($var1) ? $var1 : 0;
    $b = isset($var2) ? $var2 : 0;
    $result = $a + $b;
    return $result;
}
?>
<?php if ($is_posted) { //start the if data posted block for report  ?>
    <div class="h-scroller">

        <table class="tableizer-table">

            <tr class="tableizer-firstrow">
                <th>&nbsp;</th>
                <th>Total Events</th>
                <th>By Scale</th>
                <th>&nbsp;</th>
                <th>By Platform</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td class="text-bold">Report Title</td>
                <td class="text-bold">Total Number for Current Year</td>
                <td class="text-bold">Local-scale events</td>
                <td class="text-bold">National/ International scale events</td>
                <td class="text-bold">E-cell events</td>
                <td class="text-bold">ESC/ EDC events</td>
                <td class="text-bold">Campus Co events</td>
                <td class="text-bold">IEDC events</td>
                <td class="text-bold">Mentoring Unit (SVMU) events</td>
                <td class="text-bold">Incubator (TBI) events</td>
                <td class="text-bold">Faculty-organised events</td>
                <td class="text-bold">Alumni Association Asso -organised events</td>
                <td class="text-bold">E-Club events</td>
                <td class="text-bold">NEN events</td>
                <td class="text-bold">Other platforms</td>
            </tr>
            <tr>
                <td class="text-bold">REPORT I2.1a: ACTIVITIES &amp; EVENTS</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Lecture/ Talk</td>
                <td><?php echo isset($total['lecture_talk']) ? $total['lecture_talk'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['Local']) ? $data['lecture_talk']['Local'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['National/International']) ? $data['lecture_talk']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['E-cell']) ? $data['lecture_talk']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['ESC/EDC']) ? $data['lecture_talk']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['Campus Company']) ? $data['lecture_talk']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['IEDC']) ? $data['lecture_talk']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['Mentoring Unit (SVMU)']) ? $data['lecture_talk']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['Incubator (TBI)']) ? $data['lecture_talk']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['Faculty']) ? $data['lecture_talk']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['Alumni Association']) ? $data['lecture_talk']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['E-Club']) ? $data['lecture_talk']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['NEN']) ? $data['lecture_talk']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['Other']) ? $data['lecture_talk']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Panel Discussions</td>
                <td><?php echo isset($total['panel_discussion']) ? $total['panel_discussion'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['Local']) ? $data['panel_discussion']['Local'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['National/International']) ? $data['panel_discussion']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['E-cell']) ? $data['panel_discussion']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['ESC/EDC']) ? $data['panel_discussion']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['Campus Company']) ? $data['panel_discussion']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['IEDC']) ? $data['panel_discussion']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['Mentoring Unit (SVMU)']) ? $data['panel_discussion']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['Incubator (TBI)']) ? $data['panel_discussion']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['Faculty']) ? $data['panel_discussion']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['Alumni Association']) ? $data['panel_discussion']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['E-Club']) ? $data['panel_discussion']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['NEN']) ? $data['panel_discussion']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['Other']) ? $data['panel_discussion']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Exercises/ Games</td>
                <td><?php echo isset($total['exercise_games']) ? $total['exercise_games'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['Local']) ? $data['exercise_games']['Local'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['National/International']) ? $data['exercise_games']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['E-cell']) ? $data['exercise_games']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['ESC/EDC']) ? $data['exercise_games']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['Campus Company']) ? $data['exercise_games']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['IEDC']) ? $data['exercise_games']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['Mentoring Unit (SVMU)']) ? $data['exercise_games']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['Incubator (TBI)']) ? $data['exercise_games']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['Faculty']) ? $data['exercise_games']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['Alumni Association']) ? $data['exercise_games']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['E-Club']) ? $data['exercise_games']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['NEN']) ? $data['exercise_games']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['Other']) ? $data['exercise_games']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Conferences</td>
                <td><?php echo isset($total['conference']) ? $total['conference'] : 0; ?></td>
                <td><?php echo isset($data['conference']['Local']) ? $data['conference']['Local'] : 0; ?></td>
                <td><?php echo isset($data['conference']['National/International']) ? $data['conference']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['conference']['E-cell']) ? $data['conference']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['conference']['ESC/EDC']) ? $data['conference']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['conference']['Campus Company']) ? $data['conference']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['conference']['IEDC']) ? $data['conference']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['conference']['Mentoring Unit (SVMU)']) ? $data['conference']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['conference']['Incubator (TBI)']) ? $data['conference']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['conference']['Faculty']) ? $data['conference']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['conference']['Alumni Association']) ? $data['conference']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['conference']['E-Club']) ? $data['conference']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['conference']['NEN']) ? $data['conference']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['conference']['Other']) ? $data['conference']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Competitions</td>
                <td><?php echo isset($total['competition']) ? $total['competition'] : 0; ?></td>
                <td><?php echo isset($data['competition']['Local']) ? $data['competition']['Local'] : 0; ?></td>
                <td><?php echo isset($data['competition']['National/International']) ? $data['competition']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['competition']['E-cell']) ? $data['competition']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['competition']['ESC/EDC']) ? $data['competition']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['competition']['Campus Company']) ? $data['competition']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['competition']['IEDC']) ? $data['competition']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['competition']['Mentoring Unit (SVMU)']) ? $data['competition']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['competition']['Incubator (TBI)']) ? $data['competition']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['competition']['Faculty']) ? $data['competition']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['competition']['Alumni Association']) ? $data['competition']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['competition']['E-Club']) ? $data['competition']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['competition']['NEN']) ? $data['competition']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['competition']['Other']) ? $data['competition']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Workshops</td>
                <td><?php echo isset($total['workshop']) ? $total['workshop'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['Local']) ? $data['workshop']['Local'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['National/International']) ? $data['workshop']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['E-cell']) ? $data['workshop']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['ESC/EDC']) ? $data['workshop']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['Campus Company']) ? $data['workshop']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['IEDC']) ? $data['workshop']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['Mentoring Unit (SVMU)']) ? $data['workshop']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['Incubator (TBI)']) ? $data['workshop']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['Faculty']) ? $data['workshop']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['Alumni Association']) ? $data['workshop']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['E-Club']) ? $data['workshop']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['NEN']) ? $data['workshop']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['Other']) ? $data['workshop']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Courses</td>
                <td><?php echo isset($total['course']) ? $total['course'] : 0; ?></td>
                <td><?php echo isset($data['course']['Local']) ? $data['course']['Local'] : 0; ?></td>
                <td><?php echo isset($data['course']['National/International']) ? $data['course']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['course']['E-cell']) ? $data['course']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['course']['ESC/EDC']) ? $data['course']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['course']['Campus Company']) ? $data['course']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['course']['IEDC']) ? $data['course']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['course']['Mentoring Unit (SVMU)']) ? $data['course']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['course']['Incubator (TBI)']) ? $data['course']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['course']['Faculty']) ? $data['course']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['course']['Alumni Association']) ? $data['course']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['course']['E-Club']) ? $data['course']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['course']['NEN']) ? $data['course']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['course']['Other']) ? $data['course']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Mentoring Events</td>
                <td><?php echo isset($total['mentoring']) ? $total['mentoring'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['Local']) ? $data['mentoring']['Local'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['National/International']) ? $data['mentoring']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['E-cell']) ? $data['mentoring']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['ESC/EDC']) ? $data['mentoring']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['Campus Company']) ? $data['mentoring']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['IEDC']) ? $data['mentoring']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['Mentoring Unit (SVMU)']) ? $data['mentoring']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['Incubator (TBI)']) ? $data['mentoring']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['Faculty']) ? $data['mentoring']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['Alumni Association']) ? $data['mentoring']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['E-Club']) ? $data['mentoring']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['NEN']) ? $data['mentoring']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['Other']) ? $data['mentoring']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Start-up Support Events</td>
                <td><?php echo isset($total['start_up']) ? $total['start_up'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['Local']) ? $data['start_up']['Local'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['National/International']) ? $data['start_up']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['E-cell']) ? $data['start_up']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['ESC/EDC']) ? $data['start_up']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['Campus Company']) ? $data['start_up']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['IEDC']) ? $data['start_up']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['Mentoring Unit (SVMU)']) ? $data['start_up']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['Incubator (TBI)']) ? $data['start_up']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['Faculty']) ? $data['start_up']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['Alumni Association']) ? $data['start_up']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['E-Club']) ? $data['start_up']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['NEN']) ? $data['start_up']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['Other']) ? $data['start_up']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Webinars</td>
                <td><?php echo isset($total['webinar']) ? $total['webinar'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['Local']) ? $data['webinar']['Local'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['National/International']) ? $data['webinar']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['E-cell']) ? $data['webinar']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['ESC/EDC']) ? $data['webinar']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['Campus Company']) ? $data['webinar']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['IEDC']) ? $data['webinar']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['Mentoring Unit (SVMU)']) ? $data['webinar']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['Incubator (TBI)']) ? $data['webinar']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['Faculty']) ? $data['webinar']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['Alumni Association']) ? $data['webinar']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['E-Club']) ? $data['webinar']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['NEN']) ? $data['webinar']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['Other']) ? $data['webinar']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>National Platform Events</td>
                <td><?php echo isset($total['national_platform']) ? $total['national_platform'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['Local']) ? $data['national_platform']['Local'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['National/International']) ? $data['national_platform']['National/International'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['E-cell']) ? $data['national_platform']['E-cell'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['ESC/EDC']) ? $data['national_platform']['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['Campus Company']) ? $data['national_platform']['Campus Company'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['IEDC']) ? $data['national_platform']['IEDC'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['Mentoring Unit (SVMU)']) ? $data['national_platform']['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['Incubator (TBI)']) ? $data['national_platform']['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['Faculty']) ? $data['national_platform']['Faculty'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['Alumni Association']) ? $data['national_platform']['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['E-Club']) ? $data['national_platform']['E-Club'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['NEN']) ? $data['national_platform']['NEN'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['Other']) ? $data['national_platform']['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>Total of above</td>
                <td><?php echo isset($total['all_types']) ? $total['all_types'] : 0; ?></td>
                <td><?php echo isset($total['Local']) ? $total['Local'] : 0; ?></td>
                <td><?php echo isset($total['National/International']) ? $total['National/International'] : 0; ?></td>
                <td><?php echo isset($total['E-cell']) ? $total['E-cell'] : 0; ?></td>
                <td><?php echo isset($total['ESC/EDC']) ? $total['ESC/EDC'] : 0; ?></td>
                <td><?php echo isset($total['Campus Company']) ? $total['Campus Company'] : 0; ?></td>
                <td><?php echo isset($total['IEDC']) ? $total['IEDC'] : 0; ?></td>
                <td><?php echo isset($total['Mentoring Unit (SVMU)']) ? $total['Mentoring Unit (SVMU)'] : 0; ?></td>
                <td><?php echo isset($total['Incubator (TBI)']) ? $total['Incubator (TBI)'] : 0; ?></td>
                <td><?php echo isset($total['Faculty']) ? $total['Faculty'] : 0; ?></td>
                <td><?php echo isset($total['Alumni Association']) ? $total['Alumni Association'] : 0; ?></td>
                <td><?php echo isset($total['E-Club']) ? $total['E-Club'] : 0; ?></td>
                <td><?php echo isset($total['NEN']) ? $total['NEN'] : 0; ?></td>
                <td><?php echo isset($total['Other']) ? $total['Other'] : 0; ?></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="text-bold">REPORT I2.1B: ACTIVITIES &amp; EVENTS (STUDENTS ATTENDING)</td>
                <td><?php echo isset($participant_data['total']['count']) ? $participant_data['total']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['Local']['count']) ? $participant_data['Local']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['National/International']['count']) ? $participant_data['National/International']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['E-cell']['count']) ? $participant_data['E-cell']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['ESC/EDC']['count']) ? $participant_data['ESC/EDC']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['Campus Company']['count']) ? $participant_data['Campus Company']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['IEDC']['count']) ? $participant_data['IEDC']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['Mentoring Unit (SVMU)']['count']) ? $participant_data['Mentoring Unit (SVMU)']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['Incubator (TBI)']['count']) ? $participant_data['Incubator (TBI)']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['Faculty']['count']) ? $participant_data['Faculty']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['Alumni Association']['count']) ? $participant_data['Alumni Association']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['E-Club']['count']) ? $participant_data['E-Club']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['NEN']['count']) ? $participant_data['NEN']['count'] : 0; ?></td>
                <td><?php echo isset($participant_data['Other']['count']) ? $participant_data['Other']['count'] : 0; ?></td>
            </tr>
            <!--   // START STUDENT PARTICIPANT DATA TABLE ROWS -->
            <?php //die(print_r($data['lecture_talk']['parti']));  ?>
            <tr>
                <td>Lecture/ Talk</td>
                <td><?php echo get_student_total($data['lecture_talk']['parti']); ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Local']['student']) ? $data['lecture_talk']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['lecture_talk']['parti']['National']['student'], $data['lecture_talk']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['E-cell']['student']) ? $data['lecture_talk']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['lecture_talk']['parti']['ESC']['student'], $data['lecture_talk']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Campus Company']['student']) ? $data['lecture_talk']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['IEDC']['student']) ? $data['lecture_talk']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['lecture_talk']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Incubator (TBI)']['student']) ? $data['lecture_talk']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Faculty']['student']) ? $data['lecture_talk']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Alumni Association']['student']) ? $data['lecture_talk']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['E-Club']['student']) ? $data['lecture_talk']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['NEN']['student']) ? $data['lecture_talk']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Other']['student']) ? $data['lecture_talk']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Panel Discussions</td>
                <td><?php echo get_student_total($data['panel_discussion']['parti']); ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Local']['student']) ? $data['panel_discussion']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['panel_discussion']['parti']['National']['student'], $data['panel_discussion']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['E-cell']['student']) ? $data['panel_discussion']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['panel_discussion']['parti']['ESC']['student'], $data['panel_discussion']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Campus Company']['student']) ? $data['panel_discussion']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['IEDC']['student']) ? $data['panel_discussion']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['panel_discussion']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Incubator (TBI)']['student']) ? $data['panel_discussion']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Faculty']['student']) ? $data['panel_discussion']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Alumni Association']['student']) ? $data['panel_discussion']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['E-Club']['student']) ? $data['panel_discussion']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['NEN']['student']) ? $data['panel_discussion']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Other']['student']) ? $data['panel_discussion']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Exercises/ Games</td>
                <td><?php echo get_student_total($data['exercise_games']['parti']); ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Local']['student']) ? $data['exercise_games']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['exercise_games']['parti']['National']['student'], $data['exercise_games']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['E-cell']['student']) ? $data['exercise_games']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['exercise_games']['parti']['ESC']['student'], $data['exercise_games']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Campus Company']['student']) ? $data['exercise_games']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['IEDC']['student']) ? $data['exercise_games']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['exercise_games']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Incubator (TBI)']['student']) ? $data['exercise_games']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Faculty']['student']) ? $data['exercise_games']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Alumni Association']['student']) ? $data['exercise_games']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['E-Club']['student']) ? $data['exercise_games']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['NEN']['student']) ? $data['exercise_games']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Other']['student']) ? $data['exercise_games']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Conferences</td>
                <td><?php echo get_student_total($data['conference']['parti']); ?></td>
                <td><?php echo isset($data['conference']['parti']['Local']['student']) ? $data['conference']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['conference']['parti']['National']['student'], $data['conference']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['conference']['parti']['E-cell']['student']) ? $data['conference']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['conference']['parti']['ESC']['student'], $data['conference']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['conference']['parti']['Campus Company']['student']) ? $data['conference']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['IEDC']['student']) ? $data['conference']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['conference']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Incubator (TBI)']['student']) ? $data['conference']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Faculty']['student']) ? $data['conference']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Alumni Association']['student']) ? $data['conference']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['E-Club']['student']) ? $data['conference']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['NEN']['student']) ? $data['conference']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Other']['student']) ? $data['conference']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Competitions</td>
                <td><?php echo get_student_total($data['competition']['parti']); ?></td>
                <td><?php echo isset($data['competition']['parti']['Local']['student']) ? $data['competition']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['competition']['parti']['National']['student'], $data['competition']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['competition']['parti']['E-cell']['student']) ? $data['competition']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['competition']['parti']['ESC']['student'], $data['competition']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['competition']['parti']['Campus Company']['student']) ? $data['competition']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['IEDC']['student']) ? $data['competition']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['competition']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Incubator (TBI)']['student']) ? $data['competition']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Faculty']['student']) ? $data['competition']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Alumni Association']['student']) ? $data['competition']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['E-Club']['student']) ? $data['competition']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['NEN']['student']) ? $data['competition']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Other']['student']) ? $data['competition']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Workshops</td>
                <td><?php echo get_student_total($data['workshop']['parti']); ?></td>
                <td><?php echo isset($data['workshop']['parti']['Local']['student']) ? $data['workshop']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['workshop']['parti']['National']['student'], $data['workshop']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['workshop']['parti']['E-cell']['student']) ? $data['workshop']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['workshop']['parti']['ESC']['student'], $data['workshop']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['workshop']['parti']['Campus Company']['student']) ? $data['workshop']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['IEDC']['student']) ? $data['workshop']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['workshop']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Incubator (TBI)']['student']) ? $data['workshop']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Faculty']['student']) ? $data['workshop']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Alumni Association']['student']) ? $data['workshop']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['E-Club']['student']) ? $data['workshop']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['NEN']['student']) ? $data['workshop']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Other']['student']) ? $data['workshop']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Courses</td>
                <td><?php echo get_student_total($data['course']['parti']); ?></td>
                <td><?php echo isset($data['course']['parti']['Local']['student']) ? $data['course']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['course']['parti']['National']['student'], $data['course']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['course']['parti']['E-cell']['student']) ? $data['course']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['course']['parti']['ESC']['student'], $data['course']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['course']['parti']['Campus Company']['student']) ? $data['course']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['IEDC']['student']) ? $data['course']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['course']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Incubator (TBI)']['student']) ? $data['course']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Faculty']['student']) ? $data['course']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Alumni Association']['student']) ? $data['course']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['E-Club']['student']) ? $data['course']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['NEN']['student']) ? $data['course']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Other']['student']) ? $data['course']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Mentoring Events</td>
                <td><?php echo get_student_total($data['mentoring']['parti']); ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Local']['student']) ? $data['mentoring']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['mentoring']['parti']['National']['student'], $data['mentoring']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['mentoring']['parti']['E-cell']['student']) ? $data['mentoring']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['mentoring']['parti']['ESC']['student'], $data['mentoring']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Campus Company']['student']) ? $data['mentoring']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['IEDC']['student']) ? $data['mentoring']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['mentoring']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Incubator (TBI)']['student']) ? $data['mentoring']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Faculty']['student']) ? $data['mentoring']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Alumni Association']['student']) ? $data['mentoring']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['E-Club']['student']) ? $data['mentoring']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['NEN']['student']) ? $data['mentoring']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Other']['student']) ? $data['mentoring']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Start-up Support Events</td>
                <td><?php echo get_student_total($data['start_up']['parti']); ?></td>
                <td><?php echo isset($data['start_up']['parti']['Local']['student']) ? $data['start_up']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['start_up']['parti']['National']['student'], $data['start_up']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['start_up']['parti']['E-cell']['student']) ? $data['start_up']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['start_up']['parti']['ESC']['student'], $data['start_up']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['start_up']['parti']['Campus Company']['student']) ? $data['start_up']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['IEDC']['student']) ? $data['start_up']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['start_up']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Incubator (TBI)']['student']) ? $data['start_up']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Faculty']['student']) ? $data['start_up']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Alumni Association']['student']) ? $data['start_up']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['E-Club']['student']) ? $data['start_up']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['NEN']['student']) ? $data['start_up']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Other']['student']) ? $data['start_up']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Webinars</td>
                <td><?php echo get_student_total($data['webinar']['parti']); ?></td>
                <td><?php echo isset($data['webinar']['parti']['Local']['student']) ? $data['webinar']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['webinar']['parti']['National']['student'], $data['webinar']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['webinar']['parti']['E-cell']['student']) ? $data['webinar']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['webinar']['parti']['ESC']['student'], $data['webinar']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['webinar']['parti']['Campus Company']['student']) ? $data['webinar']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['IEDC']['student']) ? $data['webinar']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['webinar']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Incubator (TBI)']['student']) ? $data['webinar']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Faculty']['student']) ? $data['webinar']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Alumni Association']['student']) ? $data['webinar']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['E-Club']['student']) ? $data['webinar']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['NEN']['student']) ? $data['webinar']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Other']['student']) ? $data['webinar']['parti']['Other']['student'] : 0; ?></td>
            </tr>
            <tr>
                <td>National Platform Events</td>
                <td><?php echo get_student_total($data['national_platform']['parti']); ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Local']['student']) ? $data['national_platform']['parti']['Local']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['national_platform']['parti']['National']['student'], $data['national_platform']['parti']['International']['student']); ?></td>
                <td><?php echo isset($data['national_platform']['parti']['E-cell']['student']) ? $data['national_platform']['parti']['E-cell']['student'] : 0; ?></td>
                <td><?php echo get_sum($data['national_platform']['parti']['ESC']['student'], $data['national_platform']['parti']['EDC']['student']); ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Campus Company']['student']) ? $data['national_platform']['parti']['Campus Company']['student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['IEDC']['student']) ? $data['national_platform']['parti']['IEDC']['student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Mentoring Unit (SVMU)']['student']) ? $data['national_platform']['parti']['Mentoring Unit (SVMU)']['student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Incubator (TBI)']['student']) ? $data['national_platform']['parti']['Incubator (TBI)']['student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Faculty']['student']) ? $data['national_platform']['parti']['Faculty']['student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Alumni Association']['student']) ? $data['national_platform']['parti']['Alumni Association']['student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['E-Club']['student']) ? $data['national_platform']['parti']['E-Club']['student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['NEN']['student']) ? $data['national_platform']['parti']['NEN']['student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Other']['student']) ? $data['national_platform']['parti']['Other']['student'] : 0; ?></td>
            </tr>
         <!--   <tr>
               <td>Total of above</td>
               <td><?php //echo isset($total['all_types']['student']) ? $total['all_types'] : 0 ;  ?></td>
               <td><?php //echo isset($total['Local']['student'])  ?   $total['Local'] ['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['National']['student'])  ?  $total['National']  ['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['E-cell']['student'])  ? $total['E-cell']['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['ESC']['student'])  ?  $total['ESC']  ['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['Campus Company']['student'])  ? $total['Campus Company']['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['IEDC']['student'])  ?  $total['IEDC']  ['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['Mentoring Unit (SVMU)']['student'])  ? $total['Mentoring Unit (SVMU)']['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['Incubator (TBI)']['student'])  ?  $total['Incubator (TBI)']  ['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['Faculty']['student'])  ?  $total['Faculty']  ['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['Alumni Association']['student'])  ? $total['Alumni Association']['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['E-Club']['student'])  ?  $total['E-Club']  ['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['NEN']['student'])  ?  $total['NEN']  ['student']:  0  ;   ?></td>
               <td><?php //echo isset($total['Other']['student'])  ?  $total['Other']  ['student']:  0  ;   ?></td>
            </tr>-->
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <!--   //END -->
            <tr>
                <td class="text-bold">REPORT I2.1C: ACTIVITIES &amp; EVENTS (ENTREPRENEURS ATTENDING)</td>
                <td><?php echo isset($enterp_data['total']['count']) ? $enterp_data['total']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['Local']['count']) ? $enterp_data['Local']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['National/International']['count']) ? $enterp_data['National/International']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['E-cell']['count']) ? $enterp_data['E-cell']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['ESC/EDC']['count']) ? $enterp_data['ESC/EDC']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['Campus Company']['count']) ? $enterp_data['Campus Company']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['IEDC']['count']) ? $enterp_data['IEDC']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['Mentoring Unit (SVMU)']['count']) ? $enterp_data['Mentoring Unit (SVMU)']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['Incubator (TBI)']['count']) ? $enterp_data['Incubator (TBI)']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['Faculty']['count']) ? $enterp_data['Faculty']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['Alumni Association']['count']) ? $enterp_data['Alumni Association']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['E-Club']['count']) ? $enterp_data['E-Club']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['NEN']['count']) ? $enterp_data['NEN']['count'] : 0; ?></td>
                <td><?php echo isset($enterp_data['Other']['count']) ? $enterp_data['Other']['count'] : 0; ?></td>
            </tr>

            <!--   // START non-student PARTICIPANT DATA TABLE ROWS -->
            <?php //die(print_r($data['lecture_talk']['parti']));  ?>
            <tr>
                <td>Lecture/ Talk</td>
                <td><?php echo get_non_student_total($data['lecture_talk']['parti']); ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Local']['non-student']) ? $data['lecture_talk']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['lecture_talk']['parti']['National']['non-student'], $data['lecture_talk']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['E-cell']['non-student']) ? $data['lecture_talk']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['lecture_talk']['parti']['ESC']['non-student'], $data['lecture_talk']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Campus Company']['non-student']) ? $data['lecture_talk']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['IEDC']['non-student']) ? $data['lecture_talk']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['lecture_talk']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Incubator (TBI)']['non-student']) ? $data['lecture_talk']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Faculty']['non-student']) ? $data['lecture_talk']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Alumni Association']['non-student']) ? $data['lecture_talk']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['E-Club']['non-student']) ? $data['lecture_talk']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['NEN']['non-student']) ? $data['lecture_talk']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['lecture_talk']['parti']['Other']['non-student']) ? $data['lecture_talk']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Panel Discussions</td>
                <td><?php echo get_non_student_total($data['panel_discussion']['parti']); ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Local']['non-student']) ? $data['panel_discussion']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['panel_discussion']['parti']['National']['non-student'], $data['panel_discussion']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['E-cell']['non-student']) ? $data['panel_discussion']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['panel_discussion']['parti']['ESC']['non-student'], $data['panel_discussion']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Campus Company']['non-student']) ? $data['panel_discussion']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['IEDC']['non-student']) ? $data['panel_discussion']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['panel_discussion']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Incubator (TBI)']['non-student']) ? $data['panel_discussion']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Faculty']['non-student']) ? $data['panel_discussion']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Alumni Association']['non-student']) ? $data['panel_discussion']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['E-Club']['non-student']) ? $data['panel_discussion']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['NEN']['non-student']) ? $data['panel_discussion']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['panel_discussion']['parti']['Other']['non-student']) ? $data['panel_discussion']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Exercises/ Games</td>
                <td><?php echo get_non_student_total($data['exercise_games']['parti']); ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Local']['non-student']) ? $data['exercise_games']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['exercise_games']['parti']['National']['non-student'], $data['exercise_games']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['E-cell']['non-student']) ? $data['exercise_games']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['exercise_games']['parti']['ESC']['non-student'], $data['exercise_games']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Campus Company']['non-student']) ? $data['exercise_games']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['IEDC']['non-student']) ? $data['exercise_games']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['exercise_games']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Incubator (TBI)']['non-student']) ? $data['exercise_games']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Faculty']['non-student']) ? $data['exercise_games']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Alumni Association']['non-student']) ? $data['exercise_games']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['E-Club']['non-student']) ? $data['exercise_games']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['NEN']['non-student']) ? $data['exercise_games']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['exercise_games']['parti']['Other']['non-student']) ? $data['exercise_games']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Conferences</td>
                <td><?php echo get_non_student_total($data['conference']['parti']); ?></td>
                <td><?php echo isset($data['conference']['parti']['Local']['non-student']) ? $data['conference']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['conference']['parti']['National']['non-student'], $data['conference']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['conference']['parti']['E-cell']['non-student']) ? $data['conference']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['conference']['parti']['ESC']['non-student'], $data['conference']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['conference']['parti']['Campus Company']['non-student']) ? $data['conference']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['IEDC']['non-student']) ? $data['conference']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['conference']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Incubator (TBI)']['non-student']) ? $data['conference']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Faculty']['non-student']) ? $data['conference']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Alumni Association']['non-student']) ? $data['conference']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['E-Club']['non-student']) ? $data['conference']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['NEN']['non-student']) ? $data['conference']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['conference']['parti']['Other']['non-student']) ? $data['conference']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Competitions</td>
                <td><?php echo get_non_student_total($data['competition']['parti']); ?></td>
                <td><?php echo isset($data['competition']['parti']['Local']['non-student']) ? $data['competition']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['competition']['parti']['National']['non-student'], $data['competition']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['competition']['parti']['E-cell']['non-student']) ? $data['competition']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['competition']['parti']['ESC']['non-student'], $data['competition']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['competition']['parti']['Campus Company']['non-student']) ? $data['competition']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['IEDC']['non-student']) ? $data['competition']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['competition']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Incubator (TBI)']['non-student']) ? $data['competition']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Faculty']['non-student']) ? $data['competition']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Alumni Association']['non-student']) ? $data['competition']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['E-Club']['non-student']) ? $data['competition']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['NEN']['non-student']) ? $data['competition']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['competition']['parti']['Other']['non-student']) ? $data['competition']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Workshops</td>
                <td><?php echo get_non_student_total($data['workshop']['parti']); ?></td>
                <td><?php echo isset($data['workshop']['parti']['Local']['non-student']) ? $data['workshop']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['workshop']['parti']['National']['non-student'], $data['workshop']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['workshop']['parti']['E-cell']['non-student']) ? $data['workshop']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['workshop']['parti']['ESC']['non-student'], $data['workshop']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['workshop']['parti']['Campus Company']['non-student']) ? $data['workshop']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['IEDC']['non-student']) ? $data['workshop']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['workshop']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Incubator (TBI)']['non-student']) ? $data['workshop']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Faculty']['non-student']) ? $data['workshop']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Alumni Association']['non-student']) ? $data['workshop']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['E-Club']['non-student']) ? $data['workshop']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['NEN']['non-student']) ? $data['workshop']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['workshop']['parti']['Other']['non-student']) ? $data['workshop']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Courses</td>
                <td><?php echo get_non_student_total($data['course']['parti']); ?></td>
                <td><?php echo isset($data['course']['parti']['Local']['non-student']) ? $data['course']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['course']['parti']['National']['non-student'], $data['course']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['course']['parti']['E-cell']['non-student']) ? $data['course']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['course']['parti']['ESC']['non-student'], $data['course']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['course']['parti']['Campus Company']['non-student']) ? $data['course']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['IEDC']['non-student']) ? $data['course']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['course']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Incubator (TBI)']['non-student']) ? $data['course']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Faculty']['non-student']) ? $data['course']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Alumni Association']['non-student']) ? $data['course']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['E-Club']['non-student']) ? $data['course']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['NEN']['non-student']) ? $data['course']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['course']['parti']['Other']['non-student']) ? $data['course']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Mentoring Events</td>
                <td><?php echo get_non_student_total($data['mentoring']['parti']); ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Local']['non-student']) ? $data['mentoring']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['mentoring']['parti']['National']['non-student'], $data['mentoring']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['mentoring']['parti']['E-cell']['non-student']) ? $data['mentoring']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['mentoring']['parti']['ESC']['non-student'], $data['mentoring']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Campus Company']['non-student']) ? $data['mentoring']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['IEDC']['non-student']) ? $data['mentoring']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['mentoring']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Incubator (TBI)']['non-student']) ? $data['mentoring']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Faculty']['non-student']) ? $data['mentoring']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Alumni Association']['non-student']) ? $data['mentoring']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['E-Club']['non-student']) ? $data['mentoring']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['NEN']['non-student']) ? $data['mentoring']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['mentoring']['parti']['Other']['non-student']) ? $data['mentoring']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Start-up Support Events</td>
                <td><?php echo get_non_student_total($data['start_up']['parti']); ?></td>
                <td><?php echo isset($data['start_up']['parti']['Local']['non-student']) ? $data['start_up']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['start_up']['parti']['National']['non-student'], $data['start_up']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['start_up']['parti']['E-cell']['non-student']) ? $data['start_up']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['start_up']['parti']['ESC']['non-student'], $data['start_up']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['start_up']['parti']['Campus Company']['non-student']) ? $data['start_up']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['IEDC']['non-student']) ? $data['start_up']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['start_up']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Incubator (TBI)']['non-student']) ? $data['start_up']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Faculty']['non-student']) ? $data['start_up']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Alumni Association']['non-student']) ? $data['start_up']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['E-Club']['non-student']) ? $data['start_up']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['NEN']['non-student']) ? $data['start_up']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['start_up']['parti']['Other']['non-student']) ? $data['start_up']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>Webinars</td>
                <td><?php echo get_non_student_total($data['webinar']['parti']); ?></td>
                <td><?php echo isset($data['webinar']['parti']['Local']['non-student']) ? $data['webinar']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['webinar']['parti']['National']['non-student'], $data['webinar']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['webinar']['parti']['E-cell']['non-student']) ? $data['webinar']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['webinar']['parti']['ESC']['non-student'], $data['webinar']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['webinar']['parti']['Campus Company']['non-student']) ? $data['webinar']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['IEDC']['non-student']) ? $data['webinar']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['webinar']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Incubator (TBI)']['non-student']) ? $data['webinar']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Faculty']['non-student']) ? $data['webinar']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Alumni Association']['non-student']) ? $data['webinar']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['E-Club']['non-student']) ? $data['webinar']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['NEN']['non-student']) ? $data['webinar']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['webinar']['parti']['Other']['non-student']) ? $data['webinar']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
            <tr>
                <td>National Platform Events</td>
                <td><?php echo get_non_student_total($data['national_platform']['parti']); ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Local']['non-student']) ? $data['national_platform']['parti']['Local']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['national_platform']['parti']['National']['non-student'], $data['national_platform']['parti']['International']['non-student']); ?></td>
                <td><?php echo isset($data['national_platform']['parti']['E-cell']['non-student']) ? $data['national_platform']['parti']['E-cell']['non-student'] : 0; ?></td>
                <td><?php echo get_sum($data['national_platform']['parti']['ESC']['non-student'], $data['national_platform']['parti']['EDC']['non-student']); ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Campus Company']['non-student']) ? $data['national_platform']['parti']['Campus Company']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['IEDC']['non-student']) ? $data['national_platform']['parti']['IEDC']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Mentoring Unit (SVMU)']['non-student']) ? $data['national_platform']['parti']['Mentoring Unit (SVMU)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Incubator (TBI)']['non-student']) ? $data['national_platform']['parti']['Incubator (TBI)']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Faculty']['non-student']) ? $data['national_platform']['parti']['Faculty']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Alumni Association']['non-student']) ? $data['national_platform']['parti']['Alumni Association']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['E-Club']['non-student']) ? $data['national_platform']['parti']['E-Club']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['NEN']['non-student']) ? $data['national_platform']['parti']['NEN']['non-student'] : 0; ?></td>
                <td><?php echo isset($data['national_platform']['parti']['Other']['non-student']) ? $data['national_platform']['parti']['Other']['non-student'] : 0; ?></td>
            </tr>
        </table>


    </div>
    <table class="tableizer-table1 report-table">
        <!--   //END -->
        <tr>
            <th>REPORT I2.2: LEVERAGE</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>Activities (in this Institute)</td>
            <td><?php echo isset($report_other['leverage']['no_act']['count']) ? $report_other['leverage']['no_act']['count'] : 0; ?></td>
        </tr>
        <tr>
            <td>Activities (other Institute)</td>
            <td><?php echo isset($report_other['leverage']['no_act_staff']['count']) ? $report_other['leverage']['no_act_staff']['count'] : 0; ?></td>
        </tr>
        <tr>
            <td>Sponsorship Received</td>
            <td><?php echo isset($report_other['leverage']['tot_revenue']['count']) ? $report_other['leverage']['tot_revenue']['count'] : 0; ?></td>
        </tr>
        <tr>
            <td>Students supported (own Institute)</td>
            <td><?php echo isset($report_other['leverage']['stu_support']['count']) ? $report_other['leverage']['stu_support']['count'] : 0; ?></td>
        </tr>
        <tr>
            <td>Students supported (other Institute)</td>
            <td><?php echo isset($report_other['leverage']['stu_supported']['count']) ? $report_other['leverage']['stu_supported']['count'] : 0; ?></td>
        </tr>
        <tr>
            <td>Entrepreneurs supported</td>
            <td><?php echo isset($report_other['leverage']['ent_supported']['count']) ? $report_other['leverage']['ent_supported']['count'] : 0; ?></td>
        </tr>
        <tr>
            <td>Total of fees collected</td>
            <td><?php echo isset($report_other['leverage']['tot_fees']['count']) ? $report_other['leverage']['tot_fees']['count'] : 0; ?></td>
        </tr>
    </table>

    <table class="tableizer-table1">
        <tr>
            <th>REPORT I2.3: IDEATION</th>
            <th></th>
        </tr>
        <tr>
            <td>Number of Business Plans/ Ideas generated via competitions</td>
            <td><?php echo isset($report_other['ideation']['idea']['count']) ? $report_other['ideation']['idea']['count'] : 0; ?></td>
        </tr>
        <tr>
            <td>Number of times  when this Institute won a competition</td>
            <td><?php echo isset($report_other['ideation']['won']['count']) ? $report_other['ideation']['won']['count'] : 0; ?></td>
        </tr>
    </table>

    <table class="tableizer-table1">
        <tr>
            <th>REPORT I2.5: PLATFORMS</th>
            <th> </th>
        </tr>
        <tr>
            <td>Number of E-cell members</td>
            <td><?php echo isset($report_other['platforms']['over_num']['count']) ? $report_other['platforms']['over_num']['count'] : 0; ?> </td>
        </tr>
        <tr>
            <td>Number of E-leaders</td>
            <td> <?php echo isset($report_other['platforms']['over_eleadnum']['count']) ? $report_other['platforms']['over_eleadnum']['count'] : 0; ?> </td>
        </tr>
        <tr>
            <td>Number of E-Cell Advisors</td>
            <td><?php echo isset($report_other['platforms']['ecell_adv']['count']) ? $report_other['platforms']['ecell_adv']['count'] : 0; ?>  </td>
        </tr>
        <tr>
            <td>Number of newsletters published</td>
            <td><?php echo isset($report_other['platforms']['hiperf_news']['count']) ? $report_other['platforms']['hiperf_news']['count'] : 0; ?>  </td>
        </tr>
        <tr>
            <td>Number of Campus Companies</td>
            <td><?php echo isset($report_other['platforms']['cc']['count']) ? $report_other['platforms']['cc']['count'] : 0; ?>  </td>
        </tr>
        <tr>
            <td>Total Revenue of Campus Companies</td>
            <td><?php echo isset($report_other['platforms']['cc_revenue']['count']) ? $report_other['platforms']['cc_revenue']['count'] : 0; ?>  </td>
        </tr>
        <tr>
            <td>Areas of Campus Company businesses (List)</td>
            <td><?php echo isset($report_other['platforms']['cc_area']['count']) ? $report_other['platforms']['cc_area']['count'] : ''; ?>  </td>
        </tr>
        <tr>
            <td>Number of active students in EDC</td>
            <td> <?php echo isset($report_other['platforms']['edcteam_stu']['count']) ? $report_other['platforms']['edcteam_stu']['count'] : 0; ?> </td>
        </tr>
        <tr>
            <td>Number of EDC Advisors</td>
            <td><?php echo isset($report_other['platforms']['edcadvboard_adv']['count']) ? $report_other['platforms']['edcadvboard_adv']['count'] : 0; ?>  </td>
        </tr>
        <tr class="nodata">
            <td>Number of Specialists on EDC Advisory Board</td>
            <td> -- </td>
        </tr>
        <tr>
            <td>AICTE Funds received by EDC</td>
            <td><?php echo isset($report_other['platforms']['gov_funds']['count']) ? $report_other['platforms']['gov_funds']['count'] : 0; ?>  </td>
        </tr>
        <tr>
            <td>Other Funds raised by EDC</td>
            <td> <?php echo isset($report_other['platforms']['other_funds']['count']) ? $report_other['platforms']['other_funds']['count'] : 0; ?> </td>
        </tr>
    </table>
    <br/><br/>
<?php } //finish the if data posted block for report   ?>
<?php

function get_student_total($data) {
    $total = 0;
    //echo (print_r($data));
    foreach ($data as $key => $value) {
        if (($key == 'Local') || ($key == 'National') || ($key == 'International')) {
            $total+=(int) $value['student'];
        }
    }
    return $total;
}

function get_non_student_total($data) {
    $total = 0;
    foreach ($data as $key => $value) {
        if (($key == 'Local') || ($key == 'National') || ($key == 'International')) {
            $total+=(int) $value['non-student'];
        }
    }
    return $total;
}

//echo '<pre>';
//echo(print_r($output));
//echo '</pre>';
?>
<script>
$(document).ready(function(){
     $('#content-header, #breadcrumb').hide();
});
    $('#flr_submit').click(function() {


        var inst_selection = $('#institute_id option:selected').val();
        var flag = true;
        var error_id = '';
        var msg = '';
        if (inst_selection == 'none') {
            msg = '<div class="alert alert-error"> <button class="close" data-dismiss="alert">×</button><i class="icon-back-error"></i> <span class="error-msg"><strong>Error!</strong> Please select institute</span></div>';
            error_id = '#s2id_inst';
            flag = false;
        }

        if (flag) {
            //$("form[name='FactultyForm']").submit();
            //alert('true');
            document.getElementById("submit_form").submit();
        } else {
            $('#noti').html(msg);
            $('#s2id_institute_id').removeClass('dd_error');
            $(error_id).addClass('dd_error');

        }




    });
</script>