<?php
//die(print_r($this->data));
$data = $this->data;
$form_data = $data['form_data'];
$is_posted = $data['is_posted'];
?>
<div class="institute-report">
    <div class="<?php echo $this->clsShowInstitutes ?> ">
        <form name='Institute Report' method='post' class="container search-container">
            <span class="report-select">Select Institute :</span>
            <select name="institute_id">
                <?php echo getDropDown($this->institutes, $this->selectedInstituteId, $this->aggregateReportTitle); ?>                                              
            </select>

    <!--<select name='institute_id'>
    <option value=''>Select An Institute</option>
    <option value='<?php echo $record['id']; ?>'><?php echo $record['name']; ?></option>

    </select>-->
            <input type='submit' name='submit' class="btn btn-danger" value='View Report'/>
        </form>

    </div>
    <h3 class="report_heading"><?php echo $this->reportTitle; ?> </h3>
</div>

<?php
$a = array('ent', 'eleaders', 'num1', 'num2', 'num3', 'CC', 'students', 'revenue', 'ent_supported', 'fees', 'pri_sponsors', 'inst_fund', 'prizes_won', 'records', 'is_posted');
foreach ($a as $k => $v) {
    $$v = $data[$k];
}
?>

<?php

function getDropDown($optionarray, $selectedValue = NULL, $name) {

    $htm = '';
    $flag = 0;
    $htm.='<option  value = "0">Combined Report</option>';
    //$htm = "<select id='activityinfo_type' name='activityinfo_type'>";
    foreach ($optionarray as $item => $val) {
        $selected = ($val['id'] == $selectedValue) ? ' selected ' : '';
        $htm.="<option  value = \"" . $val['id'] . "\" $selected>" . $val['name'] . "</option>";
        $flag++;
    }



    return $htm;
}
?>
<div class="main-box">
    <!--------- Activities & People----------------------------------------------->
    <div class="widget-box box1 widget-bottom-border">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-list-alt"></i>
            </span>
            <h5>Peoples & Activities</h5>
        </div>
        <div class="widget-content box-padding">
            <!--------- People starts------  ------------------>
            <div class="widget-box inner-box1 widget-bottom-border">

                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>People</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >Entrepreneur Faculty</td>
                                <td align='center'><?php if ($ent) echo $ent; else echo "<span>0</span>"; ?></td>
                            </tr>
                            <tr>
                                <td >E-Leaders</td>
                                <td align='center'><?php if ($eleaders) echo $eleaders; else echo "<span>0</span>"; ?></td>
                            </tr>
                            <tr>
                                <td class="nodata">E-Club Members</td>
                                <td align='center'><?php if ($eclub) echo $eclub; else echo "<span></span>"; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--------- Activity Starts--------------------->
            <div class="widget-box widget-bottom-border">
                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Activities</th>
                                <th>Number of Participants</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lectures, Talks & Panel Discussions</td>
                                <td><?php if ($num1) echo $num1; else echo "<span>0</span>"; ?></td>
                            </tr>
                            <tr>
                                <td>Courses & Workshops</td>
                                <td><?php if ($num2) echo $num2; else echo "<span>0</span>"; ?></td>
                            </tr>
                            <tr>
                                <td>Competitions,Conferences & Outreach</td>
                                <td><?php if ($num3) echo $num3; else echo "<span>0</span>"; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!---------Networking--------------------------->
            <div class="widget-box inner-box3 widget-bottom-border">

                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Networking</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="nodata">Angels & VCs</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Experts & Professionals</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Entrepreneurs</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!---------Capacity Starts ---------------------------------------------------->

    <div class="widget-box box2 widget-bottom-border">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-list-alt"></i>
            </span>
            <h5>Capacity</h5>
        </div>
        <div class="widget-content box-padding">
            <!--------- Course-------------------------------->
            <div class="widget-box widget-bottom-border">

                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Courses</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="nodata">FDP Trainings</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">University Prescribed</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Self-Developed</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--------- Campus Campany-------------------------------->
            <div class="widget-box widget-bottom-border">
                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Campus Company</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Campus Companies</td>
                                <td><?php if ($CC) echo $CC; else echo "<span>0</span>"; ?></td>
                            </tr>
                            <tr>
                                <td>Students Involved</td>
                                <td><?php if ($students) echo $students; else echo "<span>0</span>"; ?></td>
                            </tr>
                            <tr>
                                <td>Total Revenue</td>
                                <td><?php if ($revenue) echo $revenue; else echo "<span>0</span>"; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!----Student Venture Monitoring Unit------------->
            <div class="widget-box widget-bottom-border">
                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Student Venture Monitoring Unit</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="nodata">External mentors</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Mentoring Sessions</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Long-Term Relationships</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!---------IEDC--------------------------->
            <div class="widget-box widget-bottom-border">
                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>IEDC</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="nodata">Projects</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Funding Recieved Till Date</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--------- Innovation Centre-------------------> 
            <div class="widget-box widget-bottom-border">
                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Innovation Centre</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="nodata">Projects</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Patents</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Private Funding Recieved</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Students</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Alumni</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Faculty</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--------- Outcomes----------------------------------------------------------->

    <div class="widget-box box3 widget-bottom-border">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-list-alt"></i>
            </span>
            <h5>Outcomes</h5>
        </div>
        <div class="widget-content box-padding">
            <!--------- Outcomes----------------------------->
            <div class="widget-box widget-bottom-border">

                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Outcomes</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="nodata">Student Start-Ups</td>
                                <td><?php if ($start_ups) echo $start_ups; else echo "<span></span>"; ?></td>
                            </tr>
                            <tr>
                                <td class="nodata">Students Joining Start-ups</td>
                                <td><?php if ($join_start_ups) echo $join_start_ups; else echo "<span></span>"; ?></td>
                            </tr>
                            <tr>
                                <td class="nodata">Graduate Start-ups</td>
                                <td><?php if ($graduate_start_ups) echo $graduate_start_ups; else echo "<span></span>"; ?></td>
                            </tr>
                            <tr>
                                <td class="nodata">Alumni Start-ups</td>
                                <td><?php if ($alumni_start_ups) echo $alumni_start_ups; else echo "<span></span>"; ?></td>
                            </tr>
                            <tr>
                                <td >Entrepreneur Supported</td>
                                <td><?php if ($ent_supported) echo $ent_supported; else echo "<span>0</span>"; ?></td>
                            </tr>
                            <tr>
                                <td class="nodata">Jobs Created</td>
                                <td><?php if ($jobs_created) echo $jobs_created; else echo "<span></span>"; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!---------Revenues--------------------->
            <div class="widget-box widget-bottom-border">
                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Revenues</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >Fees</td>
                                <td><?php if ($fees) echo "Rs " . $fees . "/-"; else echo "<span>0</span>"; ?></td>
                            </tr>
                            <tr>
                                <td class="nodata">Private Sponsorships</td>
                                <td><?php if ($pri_sponsors) echo "Rs " . $pri_sponsors . "/-"; else echo "<span></span>"; ?></td>
                            </tr>
                            <tr>
                                <td>Institutional Funding</td>
                                <td><?php if ($inst_fund) echo "Rs " . $inst_fund . "/-"; else echo "<span>0</span>"; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!---------Branding--------------------------->
            <div class="widget-box widget-bottom-border">
                <div class="widget-content nopadding">
                    <table class="table table-bordered  custom-table">
                        <thead>
                            <tr>
                                <th>Branding</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="nodata">National & International Prizes</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Mainstram Media Mentions</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Social Media Engagement</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="nodata">Prizes Won</td>
                                <td><?php if ($prizes_won) echo $prizes_won; else echo "<span></span>"; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div><!----end of main box---->
<!--------- Outcome Ends------------------------------------------------------->