<div class="tpd-list-view pad-bottom">
    <h5 class="h5-heading">Search User</h5>
    <div class="tpd-list-view-inner">
        <div class="input-append user-search">
            <input  type="text" name="search_user" id="search-user" placeholder="Search by Email id"><span class="add-on"><i class="icon-search"></i> Go!</span>
        </div>
        <div class="search-result">
            <h2>Search Result</h2>
            <ol>
                <li>Vijay Kumar <span class="usr-email">vijay@nen.org</span> <a href="#">Edit</a></li>
            </ol>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $('#breadcrumb,#content-header').hide();
    });  
</script>

