<?php
$data = $this->data;
$user_id = $_GET['id'];
$institute_id = $_GET['instituteid'];
$institute_list = $data['institute_list'];
?>

<!---------------------user Basic Info -----------------------------------------  -->   
<div id="noti_user"></div>
<div class="tpd-list-view pad-bottom">
    <h5 class="h5-heading">User Profile <span id="user-title">(Edit)</span></h5>
    <div class="tpd-list-view-inner">
        <div  class="div_form" id="form_one" action="/user/edit?id=<?php echo $user_id; ?>&instituteid=<?php echo $institute_id ?>" method="post" novalidate="novalidate" enctype="multipart/form-data">
            <input type="hidden" name="user_stage" value="1">
            <input type="hidden" name="user_id" value="<?php echo $user_id; ?>">
            <div class="row-fluid padding-left">
                <div class="custom-grp span4">
                    <label>First Name</label><span class="required-f"> *</span>
                    <div class="cust-input">
                        <input type="text" name="user_first_name" id="fname"  placeholder="First Name" value="">
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Last Name</label>
                    <div class="cust-input">
                        <input type="text" name="user_last_name" id="lname"  placeholder="Last Name" value="">
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Email</label><span class="required-f required-role"> *</span>
                    <div class="cust-input">
                        <input type="text" name="user_email" id="email"  placeholder="Email" value="">
                    </div>
                </div>
            </div>
            <!-----Second Block--------------------------->
            <div class="row-fluid padding-left">
                <div class="custom-grp span4">
                    <label>Password</label><span class="required-f required-role not-required"> *</span>
                    <div class="cust-input">
                        <input type="password" name="user_new_password" id="pwd"  placeholder="Password" value="">
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Confirm Password</label>
                    <div class="cust-input">
                        <input type="password" name="user_confirm_password" id="re-pwd"  placeholder="Confirm Password" value="">
                    </div>
                </div>
                <div class="custom-grp span4">
                    <label>Role</label><span class="required-f required-role"> *</span>
                    <div class="cust-input">
                        <select name="user_role" id="user_role" >
                            <option value="0" >Select Role</option>
                            <option value="FAC" >Faculty</option>
                            <option value="LEAD_FACULTY">Lead Faculty</option>
                            <option value="CON">Consultant</option> 
                            <option value="ADMIN">Administrator</option>
                        </select>
                        <span class="cls-input" id="role" style="display:none"></span>
                    </div>
                </div>
            </div>
            <!-----Third Block--------------------------->
            <div class="row-fluid padding-left">
                <div class="custom-grp span6 hide" id="single-inst">
                    <label id="select-inst">Select Institute</label>
                    <div class="cust-input" id="div_institute"></div>
                    <div  id="div_institute-show"></div>
                </div>
            </div>
            <div class="row-fluid padding-left">
                <div class="custom-grp span6 hide" id="multi-inst">
                    <label id="select-insts">Select Institutes <span class="required-f required-role"> *</span></label>
                    <div class="cust-input" id="div_con_institute"></div>
                    <div class="user-institute hide" id="inst-list-consultant"> 
                        <ol id="div_con_institute-show"></ol></div>
                </div>
            </div>
            <!-----End Third Block--------------------------->
            <div class="pull-right add-user">
                <input type="button" class="btn btn-danger btn_save_form" id="add_user_details" value="Add User">&nbsp;
                <a href="/" class="cancel">Cancel</a>
            </div>
            <div class="pull-right save-user">
                <input type="button" class="btn btn-danger btn_save_form" id="save_user_details" value="Save">&nbsp;
                <input type="button" class="btn btn-danger btn_save_form" id="delete_user" value="Delete User">&nbsp;
                <a href="/" class="cancel">Cancel</a>
            </div>
        </div>
    </div>
</div>








<!---------------------IEDC Team -----------------------------------------     -->
<div id="div_delete_user" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>Delete User ?</h3>
        <form id="" name="delete_user" method="post" action="/user/delete/" class="form" >
    </div>
    <div class="modal-body">

        <p>Are you sure you want to delete this user ? </p>
        <input type="hidden" name="user_id" id="user_id" value="<?php echo $user_id ?>" />
        <input type="hidden" name="institute_id" id="institute_id" value="<?php echo $institute_id ?>" />
    </div>

    <div class="modal-footer">
        <input type="submit" name="delete" class="btn btn-danger"  value="Delete" />
        <a data-dismiss="modal" class="btn btn_cancel" href="#">Cancel</a>
        </form>
    </div>
</div>
<script src="/js/user.js"></script> 

