<style>
    .listActivity tr td{
        border:1px solid black;
    }
    .btn-top{
        margin-top: -40px;
    }
</style>
                     
<!-- Error messages for the form -->

            <?php
                
                if(isset( $this->data ) ){
                    $output = $this->data;
                    $display = '';
                    foreach($output as $key=>$msg){
                        switch ($key) {
                        case 'error':
                            //$display .= '<div class="alert alert-error" > '.$msg.'  <button class="close" data-dismiss="alert">×</button> </div>';
                            break;
                        case 'success':
                            $display .= '<div class="alert alert-success" > '.$msg.'<button class="close" data-dismiss="alert">×</button> </div>';
                            break;
                        default:
                            $display .= '';
                            break;
                       
                         }
                    }
                    
                    
                    echo $display ;
                    
                }
                
            ?>
        
<!-- end error messages -->
 <?php 
    
    if(isset($this->data['data'])){
        $data  = $this->data ;
        
        echo $data['data'];
    
    }
    
    
    ?>
    
  

