
<?php

$institute_id =  $_GET['instituteid'];


?>

<div class="campus-company-name">
   <a href="/svmu/add?instituteid=<?php echo $institute_id ?>" class="btn btn-danger createnew-button pull-right"> <i class="icon-white icon-edit" ></i> Create New SVMU </a>
</div>
<div class="institute-search row-fluid" style="width:96%">
    <div class="span2 left-margin"><hr class="record-hr"></div>
    <div class="span2 no-record">No SVMU Found</div>
    <div class="span2"><hr class="record-hr"></div>
</div>

