<?php
$data = $this->data;
$svmu_id = $_GET['id'];
$institute_id = $_GET['instituteid'];
//die(print_r($data['selected_activity_participants']));
?>

<!---------------------Institute Annual svmu -----------------------------------------     -->
<div class="widget-box1 collapsible svmu_forms" id="view1">
    <div class="widget-title1">
        <h5>SVMU <span class="title-overview">Overview</span></h5>
        <span class="pull-right p1 edit-top"><a data-toggle="tab" href="#tab2" id="edit1"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab1" id ="svmu-act-info-view" class="svmu-act-info-view"></a>
    </div>
    <div id="success_btn_save_one"></div>
    <div class="collapse in" id="collapseTwo">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <!--TAb1------------->
            <div id="tab1" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span3 borderRight1">
                        <label class="label-name">Approved Infrastructure</label>
                        <span class="normal" id="count_ov_mai"></span>
                        <span class="view-more cursor1 leftBorder">View</span>
                        <span class="view-less cursor1 leftBorder">Hide</span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name"> Lead Faculty </label>
                        <span class="normal" id="lbl_ov_leadfaculty"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Organising Team</label>
                        <span class="normal" id="lbl_ov_organisingteam"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Launch Date</label>
                        <span class="normal" id="lbl_ov_dateoflaunch"></span>
                    </div>
                    <div class="span2">
                        <label class="label-name">Guest list</label>
                        <span class="normal" id="count_svmu_ov_guestlist"></span>
                    </div>
                </div>
                <div class="row-fluid hidden-block">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Approved Infrastructure :</label>
                        <div class="controls label-fit">
                            <label id="lbl_ov_mai"></label> 
                        </div>
                    </div>
                </div>
            </div>
            <!--Tab2-------------->
            <div id="tab2" class="tab-pane content-backg">
                <div  class="form-horizontal div_form" id="form_one"  action="/svmu/edit?id=<?php echo $svmu_id; ?>&instituteid=<?php echo $institute_id ?>" method="post" novalidate="novalidate" enctype="multipart/form-data">
                    <input type="hidden" name="svmu_stage" value="1">
                    <input type="hidden" name="ov_organisingteam" id="ov_organisingteam" value="">
                    <input type="hidden" name="svmu_org" id="svmu_org" value="">
                    <input type="hidden" name="svmu_id" value="<?php echo $svmu_id; ?>">
                    <!-- END FORM CHANGES ------>
                    <div class="control-group">
                        <h6>This section should be filled out by the SVMU Manager.</h6>
                    </div>
                    <div class="control-group" style="margin-bottom: 15px">
                        <label class="control-label">Identify the Management Approved Infrastructure:</label>
                        <div class="controls">
                            <input  type="checkbox" name="ov_mai_sa" id="ov_mai_sa" value="1"><span class="label-fit"> Space Allocated </span>
                        </div>
                        <div class="controls ov_mai_sa">
                            <input type="text" name="ov_mai_savalue" id="ov_mai_savalue" placeholder="Space Allocated " value=""/>
                        </div>
                        <div class="controls">
                            <input  type="checkbox" name="ov_mai_ta" id="ov_mai_ta" value="1"><span class="label-fit"> Time Allocated </span>
                        </div>
                        <div class="controls ov_mai_ta">
                            <input type="text" name="ov_mai_tavalue" id="ov_mai_tsvalue" placeholder="Time Allocated " value=""/>
                        </div>
                        <div class="controls">
                            <input  type="checkbox" name="ov_mai_fra" id="ov_mai_fra" value="1"><span class="label-fit"> Faculty Resource Allocated </span>
                        </div>
                        <div class="controls ov_mai_fra">
                            <input type="text" name="ov_mai_fravalue" id="ov_mai_fravalue" placeholder="Faculty  Allocated " value=""/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">SVMU Lead Faculty :</label>
                        <div class="controls svmu-leadfac">
                            <select name="ov_leadfaculty" id="ov_leadfaculty">
                                <?php echo $this->dropdown('faculty_of_institute', $institute_id) ?>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Organising Team :</label>
                        <div class="controls position-relativee">
                            <iframe name="myframe_org" id="myframe_org" class="hide" ></iframe>
                            <form id="target_participants_org" class="target_participants"  action="/svmu/upload-form-file?instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data" target="myframe_org">
                                <input type="file"  class="fileParticipant"  name="file_ov_organisingteam"/>
                            </form>
                            <label class="label-upward">
                                <i class="icon-download-alt"></i><a href="/uploads/svmu/svmu-organising-team-template.csv"> Download Template</a>
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Date of launch of SVMU :</label>
                        <div class="controls">
                            <input type="text" name="ov_dateoflaunch" id="ov_dateoflaunch" class="datepicker" data-date-format="dd-mm-yyyy" >
                        </div>
                    </div>
                    <div class="control-group">
                        <h6 style="display: inline-block">Update Guest list </h6><span class="edit-click"> ( Click on cell to edit )</span>
                        <div id="grid_org" class="div_grid"></div>
                        <div style="margin-bottom:10px"> <input type="button" class="btn btn-info addNew" target="grid_org" value="Add new row"> </div>
                    </div>
                    <div class="form-actions">
                        <input type="button"  id="btn_save_one" class="btn btn-danger btn_save_form"  value="Save" />&nbsp;
                        <a data-toggle="tab" href="#tab1" id="svmu-info-view" class="svmu-info-view">Cancel</a>
                        <a data-toggle="tab" href="#tab1" id="svmu-info-view-hide" class="svmu-info-view"></a>
                    </div>	
                </div>

            </div>
        </div>
        <!--Tab2 End-------------->
    </div>
</div>

<!---------------------Goal setting -----------------------------------------     -->
<div class="widget-box1 collapsible svmu_forms" id="view2">
    <div class="widget-title1">
        <h5>SVMU <span class="title-overview"> Program</span></h5>
        <span class="pull-right p2 edit-top"><a data-toggle="tab" href="#tab4" id="edit2"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab3" id ="act-contr-view" class="act-contr-view"></a>
    </div>
    <div id="success_btn_save_two"></div>
    <div class="collapse in" id="collapsethree">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <div id="tab3" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span2 borderRight1">
                        <label class="label-name">Applicants Number</label>
                        <span class="normal" id="lbl_prgm_noofapplicants"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Total Mentors</label>
                        <span class="normal" id="lbl_prgm_totnoofmentors"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Total Mentees</label>
                        <span class="normal" id="lbl_prgm_totnoofmentees"></span>
                    </div>
                    <div class="span4">
                        <label class="label-name">SVMU Finalised Program element</label>
                        <span class="normal" id="count_prgmfinalised"></span>
                        <span class="view-more6 cursor1 leftBorder">View</span>
                        <span class="view-less6 cursor1 leftBorder">Hide</span>
                    </div>
                </div>
                <div class="row-fluid hidden-block6">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">SVMU Finalised Program Element :</label>
                        <div class="controls label-fit">
                            <label id="lbl_prgmfinalised"></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab4-------------------------->
            <div id="tab4" class="tab-pane content-backg">
                <div id="noti_btn_save_two" class="noti"></div>
                <div  class="form-horizontal div_form" name="" id="form_two" action="/svmu/edit?id=<?php echo $svmu_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="svmu_stage" value="2">
                    <input type="hidden" name="svmu_mentee" id="svmu_mentee" value="">
                    <input type="hidden" name="svmu_mentor" id="svmu_mentor"  value="">
                    <input type="hidden"  name="prgm_uploadapplform" id="prgm_uploadapplform" />
                    <input type="hidden" name="prgm_uploadschedule" id="prgm_uploadschedule" />
                    <input type="hidden" name="svmu_id" value="<?php echo $svmu_id; ?>">
                    <div class="control-group">
                        <label class="control-label">Which of these SVMU program elements are finalised ? :</label>
                        <div class="controls">
                            <input  type="checkbox" name="prgmfinalised[]"   value="Content"><span class="label-fit"> Content </span>
                        </div>
                        <div class="controls">
                            <input  type="checkbox" name="prgmfinalised[]"   value="Structure"><span class="label-fit"> Structure </span>
                        </div>
                        <div class="controls">
                            <input  type="checkbox" name="prgmfinalised[]" id="prg-schedule"  value="Schedule"><span class="label-fit"> Schedule </span>
                        </div>
                        <div class="controls">
                            <input  type="checkbox" name="prgmfinalised[]" id="prg-marketing"   value="Marketing-Plan"><span class="label-fit"> Marketing Plan </span>
                        </div>
                        <div class="controls">
                            <input  type="checkbox" name="prgmfinalised[]" id="prg-application"   value="Application-Process"><span class="label-fit"> Application Process </span>
                        </div>
                    </div>
                    <div class="control-group prg-schedule">
                        <label class="control-label">Upload Schedule :</label>
                        <div class="controls">
                            <iframe name="myframe_schedule" id="myframe_schedule" class="hide" ></iframe>
                            <form id="target_participants_schedule" class="target_participants"  action="/svmu/upload-form-file?instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data" target="myframe_schedule">
                                <input type="file" class="fileParticipant" name="file_prgm_uploadschedule" />
                            </form>

                        </div>
                    </div>
                    <div class="control-group prg-marketing">
                        <label class="control-label">Briefly Describe Marketing Activities:</label>
                        <div class="controls">
                            <textarea name="prgm_bdma" id="prgm_bdma"></textarea>
                        </div>
                    </div>
                    <div class="control-group prg-application">
                        <label class="control-label">Upload Application Form :</label>
                        <div class="controls">
                            <iframe name="myframe_appl" id="myframe_appl" class="hide" ></iframe>
                            <form id="target_participants_appl" class="target_participants"  action="/svmu/upload-form-file?instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data" target="myframe_appl">
                                <input type="file"  class="fileParticipant"  name="file_prgm_uploadapplform"/>
                            </form>
                        </div>
                    </div>
                    <div class="control-group" >
                        <label class="control-label">Number of Applicants :</label>
                        <div class="controls">
                            <input type="text" name="prgm_noofapplicants" id="prgm_noofapplicants">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Total Number of Mentors :</label>
                        <div class="controls">
                            <input type="text" name="prgm_totnoofmentors" id="prgm_totnoofmentors">
                        </div>
                    </div>
                    <div class="control-group">
                        <h6 style="display: inline-block">Update list of Mentors</h6><span class="edit-click"> ( Click on cell to edit )</span>
                        <div id="grid_mentor" ></div>
                        <div style="margin-bottom:10px"> <input type="button" class="btn btn-info addNew"  target="grid_mentor" value="Add new row"> </div>
                    </div> 
                    <div class="control-group">
                        <label class="control-label">Total Number of Mentees :</label>
                        <div class="controls">
                            <input type="text" name="prgm_totnoofmentees" id="prgm_totnoofmentees">
                        </div>
                    </div>
                    <!--**************START FILE UPLOADING FORM FOR DATAGRID-->
                    <div class="control-group">
                        <h6 style="display:inline-block">Update list of Mentees</h6><span class="edit-click"> ( Click on cell to edit )</span>
                        <div id="grid_mentee" ></div>
                        <div style="margin-bottom:10px"> <input type="button" class="btn btn-info addNew"  target="grid_mentee" value="Add new row"> </div>
                    </div> 
                    <!--*****************END START FILE UPLOADING FORM FOR DATAGRID-->
                    <div class="form-actions">
                        <input type="button"  id="btn_save_two" value="Save" class="btn btn-danger btn_save_form"/>
                        &nbsp;  <a data-toggle="tab" href="#tab3" id="svmu-contr-view" class="svmu-contr-view">Cancel</a>
                        <a data-toggle="tab" href="#tab3" id="svmu-contr-view-hide" class="svmu-contr-view"></a>
                    </div>
                </div>
            </div>

        </div>  
        <!-- Tab4 End---------------------->
    </div>
</div>
<!---------------------Getting There Institute svmu -----------------------------------------     -->

<div class="widget-box1 collapsible" id="view3">
    <div class="widget-title1">
        <h5>SVMU <span class="title-overview"> Venture Tracker</span></h5>
        <span class="pull-right p3 edit-top"><a data-toggle="tab" href="#tab6" id="edit3"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab5" id ="svmu-act-parti-view" class="svmu-act-parti-view"></a>
    </div>
    <div id="success_btn_save_three"></div>
    <div class="collapse in" id="collapsefour">
        <div class="widget-content form-horizontal tab-content" stype="padding-left:30px">
            <!--Tab5---------->
            <div id="tab5" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span3 borderRight1" style="padding-left:20px; width: 175px;">
                        <label class="label-name">Venture Details</label>
                        <span class="normal" id="lbl_vt_noofventure"></span>
                    </div>
                    <div class="span2 borderRight1" style="width: 150px;">
                        <label class="label-name">Mentee Feedback</label>
                        <span class="normal" id="lbl_vt_menteefeedreviewed"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Last Review</label>
                        <span class="normal" id="lbl_vt_dateoflastreview"></span>
                    </div>
                    <div class="span2 borderRight1" style="width: 105px">
                        <label class="label-name">Report</label>
                        <span class="normal" id="lbl_vt_uploadreport"></span>
                    </div>
                    <div class="span3">
                        <label class="label-name">Last Report by SVMU Coordinator</label>
                        <span class="normal" id="lbl_vt_dateoflastreport"></span>
                    </div>
                </div>
                <div class="row-fluid hidden-block8">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Venture Details : </label>
                        <div class="controls label-fit">
                            <span id="lbl_vt_noofventure"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tab6---------->
            <div id="tab6" class="tab-pane content-backg">
                <div id="noti_btn_save_three"></div>
                <div  class="form-horizontal div_form" name="" id="form_three" action="/svmu/edit?id=<?php echo $svmu_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data">
                    <input type="hidden" name="svmu_stage" value="3">
                    <input type="hidden" name="svmu_venture"  id="svmu_venture" value="">
                    <input type="hidden" name="vt_uploadreport" id="vt_uploadreport" value="">
                    <input type="hidden" name="svmu_id" value="<?php echo $svmu_id; ?>">
                    <div class="control-group">
                        <label class="control-label">Number of ventures being tracked :</label>
                        <div class="controls">
                            <input type="text" name="vt_noofventure" id="vt_noofventure">
                        </div>
                    </div>
                    <!--**************START FILE UPLOADING FORM FOR DATAGRID-->
                    <div class="control-group">
                        <h6 style="display: inline-block">Update Venture details</h6><span class="edit-click"> ( Click on cell to edit )</span>
                        <div id="grid_venture" ></div>
                        <div style="margin-bottom:10px"> <input type="button" class="btn btn-info addNew"  target="grid_venture" value="Add new row"> </div>
                    </div> 
                    <!--*****************END START FILE UPLOADING FORM FOR DATAGRID-->
                    <div class="control-group">
                        <label class="control-label">Mentee feedback reviewed :</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="vt_menteefeedreviewed" id="vt_menteefeedreviewed_y" value="1">Yes
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="vt_menteefeedreviewed" id="vt_menteefeedreviewed_n" value="0" >No
                            </label>
                        </div>
                    </div>
                    <div class="control-group mrevirw">
                        <label class="control-label">Date of last review :</label>
                        <div class="controls custom-textarea">
                            <input type="text" name="vt_dateoflastreview" id="vt_dateoflastreview" class="datepicker" data-date-format="dd-mm-yyyy"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Date of last report by SVMU Coordinator :</label>
                        <div class="controls label-fit">
                            <input type="text" name="vt_dateoflastreport" id="vt_dateoflastreport" class="datepicker" data-date-format="dd-mm-yyyy"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Upload report :</label>
                        <div class="controls">
                            <iframe name="myframe_report" id="myframe_report" class="hide" ></iframe>
                            <form id="target_participants_report" class="target_participants"  action="/svmu/upload-form-file?instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data" target="myframe_report">
                                <input type="file" class="fileParticipant"  name="file_vt_uploadreport" id="file_vt_uploadreport">
                            </form>

                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button"  class="btn btn-danger btn_save_form"   id="btn_save_three" value="Save"/>&nbsp;
                        <a  data-toggle="tab" href="#tab5" id="svmu-parti-view" class="svmu-parti-view" > Cancel </a>
                        <a  data-toggle="tab" href="#tab5" id="svmu-parti-view-hide" class="svmu-parti-view" ></a>
                    </div>
                </div>
            </div>
            <!--End Tab6---------->
        </div>
    </div>
</div>
<!---------------------Start of Sign offs -----------------------------------------     -->

<script>
    $(document).ready(function(){
      
     
    });
    $('#prg-application,#prg-schedule,#prg-marketing').click( function() {
        svmuCheckStatus();
    });
    
    $('#btn_save_one,#btn_save_three,#btn_save_two,#svmu-info-view,#svmu-contr-view').click( function(){
        $('.view-less,.view-less6,.view-less7,.hidden-block,.hidden-block6,.hidden-block7').hide();  
    });
    function svmuCheckStatus(){ 
        if($('#prg-schedule').attr('checked')) {
            $('.prg-schedule').show();
        }else{
            $('.prg-schedule').hide();
        }
     
        if($('#prg-marketing').attr('checked')) {
            $('.prg-marketing').show();
        }else{
            $('.prg-marketing').hide();
        }
            
        if($('#prg-application').attr('checked')) {
            $('.prg-application').show();
        }else{
            $('.prg-application').hide();
        }
    }
</script>

<script src="/js/svmu.js"></script> 

