<style>
    .listActivity tr td{
        border:1px solid black;
    }
    .btn-top{
        margin-top: -40px;
    }
</style>



                     
<!-- Error messages for the form -->

            <?php  
            
            $institute_id =  $_GET['instituteid'];
            if(!$this->fdp_exist && $this->is_lead_faculty){  ?>
                    <div class="campus-company-name">
                       <a href="/fdp/add?instituteid=<?php echo $institute_id ?>" class="btn btn-danger pull-right" > <i class="icon-white icon-edit" ></i> Create New FDP </a>
                    </div>
            <?php  } ?>
        
<!-- end error messages -->
 <?php 
   if(isset($this->data['error'])){  ?>
       
            <div class="institute-search row-fluid" style="width:96%;margin-top:0px;">
    <div class="span2 left-margin"><hr class="record-hr"></div>
    <div class="span3 no-record1">No FDP List Found</div>
    <div class="span2"><hr class="record-hr"></div>
</div>
     
   <?php  
    }
    if(isset($this->data['data'])){
        $data  = $this->data ;
        
        echo $data['data'];
        
    
    }
    
    
    ?>
    
  

