<?php
$data = $this->data;
$fdp_id = $_GET['id'];
$institute_id = $_GET['instituteid'];
?>

<!---------------------fdp Basic Info -----------------------------------------  -->   
<div class="widget-box1 collapsible fpd_forms" id="view1">
    <div class="widget-title1">
        <h5>Faculty Development Program <span class="title-overview">(FDP)</span></h5>
        <span class="pull-right p1 edit-top"><a data-toggle="tab" href="#tab2" id="edit1"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab1" id ="fpd-act-info-view" class="fpd-act-info-view"></a>
    </div>
    <div id="success_btn_save_one" class="set-margin"></div>
    <div class="collapse in" id="collapseTwo">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <!--TAb1------------->
            <div id="tab1" class="tab-pane active">
                <div class="tpd-list-view">
                    <h5 class="h5-heading">FDP Foundation</h5>
                    <div class="tpd-list-view-inner">
                        <table class="table tpd-list">
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Title</th>
                                    <th>Date of Registration</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FF1</td>
                                    <td>Orientation to Entrepreneurship</td>
                                    <td><span id="lbl_ff1_reg_date" class="lbl_register"></span></td>
                                    <td><span id="ff1_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FF2</td>
                                    <td>Kick-starting your Entrepreneurship Campus</td>
                                    <td><span id="lbl_ff2_reg_date" class="lbl_register"></span></td>
                                    <td><span id="ff2_status" class="lbl_status" ></span></td>
                                </tr>
                                <tr>
                                    <td>FF3</td>
                                    <td>Building Technology Ventures</td>
                                    <td><span id="lbl_ff3_reg_date" class="lbl_register"></span></td>
                                    <td><span id="ff3_status" class="lbl_status"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!---  End of 1st Block------------------------------------------------------->
                    <div class="hr-small"></div>
                    <h5 class="h5-heading">FDP Advanced</h5>
                    <div class="tpd-list-view-inner">
                        <table class="table tpd-list">
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Title</th>
                                    <th>Date of Registration</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FA1</td>
                                    <td>Business Models and Business Plans</td>
                                    <td><span id="lbl_fa1_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa1_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FA2</td>
                                    <td>Getting to Market</td>
                                    <td><span id="lbl_fa2_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa2_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FA3</td>
                                    <td>Entrepreneurial Finance</td>
                                    <td><span id="lbl_fa3_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa3_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FA4</td>
                                    <td>IPR Management</td>
                                    <td><span id="lbl_fa4_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa4_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FA5</td>
                                    <td>Incubator Management</td>
                                    <td><span id="lbl_fa5_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa5_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FA6</td>
                                    <td>Project to Process</td>
                                    <td><span id="lbl_fa6_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa6_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FA7</td>
                                    <td>Building Organization</td>
                                    <td><span id="lbl_fa7_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa7_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FA8</td>
                                    <td>Practical Ethics</td>
                                    <td><span id="lbl_fa8_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa8_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FA9</td>
                                    <td>High Impact Infrastructure Design: Launching Intensive Program</td>
                                    <td><span id="lbl_fa9_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fa9_status" class="lbl_status"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!---  End of 2nd Block------------------------------------------------------->
                    <div class="hr-small"></div>
                    <h5 class="h5-heading">FDP Mentoring</h5>
                    <div class="tpd-list-view-inner">
                        <table class="table tpd-list">
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Title</th>
                                    <th>Date of Registration</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FM1</td>
                                    <td>NEN GS Tools for Growth</td>
                                    <td><span id="lbl_fm1_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fm1_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FM2</td>
                                    <td>NEN GS Kick-starting Ventures</td>
                                    <td><span id="lbl_fm2_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fm2_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FM3</td>
                                    <td>Mentoring Skill Enhancement Program: Practice Teaching</td>
                                    <td><span id="lbl_fm3_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fm3_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FM4</td>
                                    <td>Mentoring Skill Enhancement Program: Practice Mentoring</td>
                                    <td><span id="lbl_fm4_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fm4_status" class="lbl_status"></span></td>
                                </tr>
                                <tr>
                                    <td>FM5</td>
                                    <td>Mentoring Skills Finishing School</td>
                                    <td><span id="lbl_fm5_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fm5_status" class="lbl_status"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!---  End of 3rd Block------------------------------------------------------->
                     <div class="hr-small"></div>
                    <h5 class="h5-heading">Other Courses</h5>
                    <div class="tpd-list-view-inner">
                        <table class="table tpd-list" id="oth_table_courses">
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Title</th>
                                    <th>Date of Registration</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FM1</td>
                                    <td>NEN GS Tools for Growth</td>
                                    <td><span id="lbl_fm1_reg_date" class="lbl_register"></span></td>
                                    <td><span id="fm1_status" class="lbl_status"></span></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                    <div class="hr-small"></div><br/>
                    <!-----End of Other Block----------------------------------------------------->
                </div>
            </div>
            <!--Tab2-------------->
            <div id="tab2" class="tab-pane content-backg margin-top5">
                <div  class="form-horizontal form-dropdown div_form" id="form_one" action="/fdp/edit?id=<?php echo $fdp_id; ?>&instituteid=<?php echo $institute_id ?>" method="post" novalidate="novalidate" enctype="multipart/form-data">
                    <input type="hidden" name="fdp_stage" value="1">
                    <input type="hidden" name="fdp_id" value="<?php echo $fdp_id; ?>">
                    <input type="hidden" name="bi_uploadplanorMinutes" id="bi_uploadplanorMinutes" value="" />
                    <!-- END FORM CHANGES ------>
                    <div class="widget-box-ftd">
                        <div class="widget-title-ftd">
                            <i class="icon-plus"></i>
                            <h5>FDP Foundation</h5>
                        </div>
                        <div class="hidden-block">
                            <div class="widget-content">
                                <!--- 1st Block ------>
                                <h6 class=" fcolor">1. Orientation to Entrepreneurship</h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th>
                                            <th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" class="course_provider" name="course_provider_2">
                                                <input type="hidden" name="course_id[]" class="course_id" value="2" id="ff1_cid">
                                            </td>
                                            <td><input type="checkbox" name="reg_2" id="ff1_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_2" id="ff1_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_2" id="ff1_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_2" id="ff1_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_2" id="ff1_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_2" id="ff1_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_2" id="ff1_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_2" id="ff1_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">2. Kick starting your entrepreneurship campus</h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="3" id="ff2_cid">
                                                <input type="text" class="course_provider" name="course_provider_3">
                                            </td>
                                            <td><input type="checkbox" name="reg_3" id="ff2_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_3" id="ff2_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_3" id="ff2_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_3" id="ff2_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_3" id="ff2_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_3" id="ff2_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_3" id="ff2_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_3" id="ff2_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">3. Building Technology Ventures</h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="4" id="ff3_cid">
                                                <input type="text" class="course_provider" name="course_provider_4">
                                            </td>
                                            <td><input type="checkbox" name="reg_4" id="ff3_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_4" id="ff3_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_4" id="ff3_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_4" id="ff3_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_4" id="ff3_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_4" id="ff3_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_4" id="ff3_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_4" id="ff3_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--- End of Block---->
                            </div>
                        </div>
                    </div>
                    <!--- End of First Block--------------------------------------------------------------------------->
                    <div class="widget-box-ftd">
                        <div class="widget-title-ftd">
                            <i class="icon-plus"></i>
                            <h5>FDP Advanced</h5>
                        </div>
                        <div class="hidden-block">
                            <div class="widget-content">
                                <h6 class=" fcolor">1. Business Models and Business Plans</h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="5" id="fa1_cid">
                                                <input type="text" class="course_provider" name="course_provider_5"></td>
                                            <td><input type="checkbox" name="reg_5" id="fa1_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_5" id="fa1_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_5" id="fa1_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_5" id="fa1_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_5" id="fa1_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_5" id="fa1_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_5" id="fa1_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_5" id="fa1_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">2. Getting to Market</h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="6" id="fa2_cid">
                                                <input type="text" class="course_provider" name="course_provider_6"></td>
                                            <td><input type="checkbox" name="reg_6" id="fa2_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_6" id="fa2_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_6" id="fa2_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_6" id="fa2_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_6" id="fa2_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_6" id="fa2_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_6" id="fa2_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_6" id="fa2_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">3. Entrepreneurial Finance</h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="7" id="fa3_cid">
                                                <input type="text" class="course_provider" name="course_provider_7"></td>
                                            <td><input type="checkbox" name="reg_7" id="fa3_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_7" id="fa3_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_7" id="fa3_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_7" id="fa3_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_7" id="fa3_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_7" id="fa3_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_7" id="fa3_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_7" id="fa3_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">4. IPR Management</h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>certified</th>
                                            <th class="calendar-input">certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="8" id="fa4_cid">
                                                <input type="text" class="course_provider" name="course_provider_8"></td>
                                            <td><input type="checkbox" name="reg_8" id="fa4_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_8" id="fa4_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_8" id="fa4_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_8" id="fa4_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_8" id="fa4_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_8" id="fa4_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_8" id="fa4_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_8" id="fa4_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">5. Incubator management </h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="9" id="fa5_cid">
                                                <input type="text" class="course_provider" name="course_provider_9"></td>
                                            <td><input type="checkbox" name="reg_9" id="fa5_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_9" id="fa5_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_9" id="fa5_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_9" id="fa5_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_9" id="fa5_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_9" id="fa5_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_9" id="fa5_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_9" id="fa5_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">6. Project to Process </h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="10" id="fa6_cid">
                                                <input type="text" class="course_provider" name="course_provider_10"></td>
                                            <td><input type="checkbox" name="reg_10" id="fa6_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_10" id="fa6_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_10" id="fa6_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_10" id="fa6_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_10" id="fa6_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_10" id="fa6_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_10" id="fa6_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_10" id="fa6_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">7. Building Organization </h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="11" id="fa7_cid">
                                                <input type="text" class="course_provider" name="course_provider_11"></td>
                                            <td><input type="checkbox" name="reg_11" id="fa7_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_11" id="fa7_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_11" id="fa7_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_11" id="fa7_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_11" id="fa7_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_11" id="fa7_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_11" id="fa7_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_11" id="fa7_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">8. Practical Ethics </h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="12" id="fa8_cid">
                                                <input type="text" class="course_provider" name="course_provider_12"></td>
                                            <td><input type="checkbox" name="reg_12" id="fa8_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_12" id="fa8_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_12" id="fa8_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_12" id="fa8_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_12" id="fa8_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_12" id="fa8_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_12" id="fa8_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_12" id="fa8_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">9. High Impact Infrastructure Design: Launching intensive program </h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="13" id="fa9_cid">
                                                <input type="text" class="course_provider" name="course_provider_13"></td>
                                            <td><input type="checkbox" name="reg_13" id="fa9_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_13" id="fa9_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_13" id="fa9_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_13" id="fa9_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_13" id="fa9_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_13" id="fa9_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_13" id="fa9_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_13" id="fa9_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--- End of Second Block------------------------------------------------------------------------->
                    <div class="widget-box-ftd collapsible">
                        <div class="widget-title-ftd">
                            <i class="icon-plus"></i>
                            <h5>FDP Mentoring</h5>
                        </div>
                        <div class="hidden-block">
                            <div class="widget-content">
                                <h6 class=" fcolor">1. NEN GS Tools for growth </h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="14" id="fm1_cid">
                                                <input type="text" class="course_provider" name="course_provider_14"></td>
                                            <td><input type="checkbox" name="reg_14" id="fm1_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_14" id="fm1_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_14" id="fm1_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_14" id="fm1_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_14" id="fm1_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_14" id="fm1_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_14" id="fm1_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_14" id="fm1_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">2. NEN GS Kick-Starting Ventures </h6>
                                <table class="table table-bordered  tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="15" id="fm2_cid">
                                                <input type="text" class="course_provider" name="course_provider_15"></td>
                                            <td><input type="checkbox" name="reg_15" id="fm2_reg" class="registered"  value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_15" id="fm2_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_15" id="fm2_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_15" id="fm2_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_15" id="fm2_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_15" id="fm2_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_15" id="fm2_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_15" id="fm2_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">3. Mentoring Skill Enhancement Program: Practice Teaching </h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="16" id="fm3_cid">
                                                <input type="text" class="course_provider" name="course_provider_16"></td>
                                            <td><input type="checkbox" name="reg_16" id="fm3_reg" class="registered" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_16" id="fm3_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_16" id="fm3_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_16" id="fm3_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_16" id="fm3_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_16" id="fm3_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_16" id="fm3_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_16" id="fm3_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">4. Mentoring Skill Enhancement Program: Practice Mentoring </h6>
                                <table class="table table-bordered tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="17" id="_cid">
                                                <input type="text" class="course_provider" name="course_provider_17"></td>
                                            <td><input type="checkbox" name="reg_17" id="fm4_reg" class="registered" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_17" id="fm4_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_17" id="fm4_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_17" id="fm4_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_17" id="fm4_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_17" id="fm4_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_17" id="fm4_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_17" id="fm4_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 class=" fcolor">5. Mentoring Skills Finishing School </h6>
                                <table class="table table-bordered  tpd-list1">
                                    <thead>
                                        <tr>
                                            <th>Course Provided by</th><th>Registered</th>
                                            <th class="calendar-input">Registered Date</th>
                                            <th>Trained</th>
                                            <th class="calendar-input">Start Date</th>
                                            <th>Certified</th>
                                            <th class="calendar-input">Certified Date</th>
                                            <th>Remarks</th>
                                            <th>Lead Faculty Sign-off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="course_id[]" class="course_id" value="18" id="fm5_cid">
                                                <input type="text" class="course_provider" name="course_provider"></td>
                                            <td><input type="checkbox" name="reg_18" id="fm5_reg" class="registered" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="reg_date_18" id="fm5_reg_date" class="datepicker reg-date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="train_18" id="fm5_train" class="trained" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" class="datepicker train-date" name="train_date_18" id="fm5_train_date" data-date-format="dd-mm-yyyy"></td>
                                            <td><input type="checkbox" name="certi_18" id="fm5_certi" class="certified" value="Yes"></td>
                                            <td class="calendar-input"><input type="text" name="certi_date_18" id="fm5_certi_date" class="datepicker certi-date" data-date-format="dd-mm-yyyy"></td>
                                            <td class="remark-input"><input type="text" name="remark_18" id="fm5_remark" class="remark"></td>
                                            <td><input type="checkbox" name="signoff_18" id="fm5_signoff" class="signoff" value="Yes"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Start  of  Other Block --------------------------------------------------------------------->

                    <div class="widget-box-ftd collapsible">
                        <div class="widget-title-ftd">
                            <i class="icon-plus"></i>
                            <h5>Other Course</h5>
                        </div>
                        <div class="hidden-block">
                            <div class="widget-content">
                                <div class="main-course-block" id="div_course">

                                    <div id="div_oth_course"></div>
                                    <input type="button" class="add-new-course btn btn-info" value="Add new Course">
                                </div>
                            </div>
                        </div>                    <!--- End of Third Block------------------------------------------------------------------------->
                        <div class="form-actions">
                            <input type="button"  class="btn btn-danger btn_save_form"  id="btn_save_one" value="Save" />&nbsp;
                            <input data-toggle="tab" href="#tab1"  type="button"  class="btn btn-danger btn_publish_fdp"  id="btn_publish_fdp" value="Publish" />&nbsp;
                            <a data-toggle="tab" href="#tab1" id="fpd-info-view" class="fpd-info-view">Cancel</a>
                            <a data-toggle="tab" href="#tab1" id="fpd-info-view-hide" class="fpd-info-view"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---------------------IEDC Team -----------------------------------------     -->
    <script src="/js/fdp.js"></script> 

