
<script>
    $(document).ready(function(){
        $('#breadcrumb,#content-header').hide();
         $('.delContact').click(function(){
            var id = $(this).attr('value');
            var name = $(this).closest('tr').children('td').eq(3).text();
            if(name.length >50){
                name  = name.substr(0,50)+'...';
            }
            
            $('#contact_id').attr('value',id);
            $('#contactName').text(name); 
        });
    });
</script>


                     
<!-- Error messages for the form -->

            <?php  
            
            $institute_id =  $_GET['instituteid'];
              ?>
                    <div class="campus-company-name">
                       <a href="/contact/add" class="btn btn-danger pull-right" > <i class="icon-white icon-edit" ></i> Contact</a>
                    </div>
            <?php  ?>
        
<!-- end error messages -->
 <?php 
   if(isset($this->data['error'])){  ?>
       
     <div class="institute-search row-fluid" style="width:96%;margin-top:0px;">
    <div class="span2 left-margin"><hr class="record-hr"></div>
    <div class="span3 no-record1">No message List Found</div>
    <div class="span2"><hr class="record-hr"></div>
</div>
     
   <?php  
    }
    //die(print_r($this->data));
    if(isset($this->data)){
        $contact_list  = $this->data['data'] ;
        
        echo $contact_list;
        
    
    }
    
    
    ?>
    
  

<div id="delContact" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">×</button>
		<h3>Delete Message </h3>
        <form id="" name="deleteContact" method="post" action="/contact/delete" class="form" >
	</div>
	<div class="modal-body">
        
		<p>Are you sure you want to delete "<span id="contactName" ></span>" ? </p>
        <input type="hidden" name="contact_id" id="contact_id" value="" />
	</div>
    
	<div class="modal-footer">
		<input type="submit" name="delete" class="btn btn-danger"  value="Delete" />
		<a data-dismiss="modal" class="btn" href="#">Cancel</a>
    </form>
	</div>
</div>