
<?php
$institute_id = $_GET['instituteid'];
?>
<script>
    $(document).ready(function(){
        $('#breadcrumb,#content-header').hide();
    });
</script>
<div id="noti_institute">
    <?php
    if (isset($this->data)) {
        if ($this->data) {
            ?>
            <div class="alert alert-success"> <button class="close" data-dismiss="alert">×</button><i class="icon-back-success"></i> <span class="success-msg"> <strong>Success!</strong> Feedback submitted</span>        </div>
        <?php } else { ?>
            <div class="alert alert-error"> <button class="close" data-dismiss="alert">×</button><i class="icon-back-error"></i> <span class="error-msg"> <strong>Error!</strong> Feedback not submitted,Try again !</span>        </div>
            <?php 
        }
    }
    if (isset($this->user_details)) {
        $user = $this->user_details;
        $from_name = isset($user['name']) ? $user['name'] : '';
        $from_email = isset($user['email']) ? $user['email'] : '';
    }
    ?>
</div>
<div class="tpd-list-view">
    <h5 class="h5-heading"><i class="icon icon-pencil cust-icon"></i>Compose Message</h5>
    <form action="/contact/add" method="POST" enctype="multipart/form-data" class="compose-msg">
        <label class="inbox-label">Name :</label>
        <input type="text" name="from_name" placeholder="name" value="<?php echo $from_name ?>">
        <label class="inbox-label">Email :</label>
        <input type="text" name="from_email" placeholder="email" value="<?php echo $from_email ?>">
        <label class="inbox-label">Mobile no : </label>
        <input type="text" name="from_mobile" placeholder="mobile no" value="">
        <label class="inbox-label">Subject :</label>
        <input type="text" name="contact_title" placeholder="subject" value="">
        <label class="inbox-label">Message :</label>
        <textarea name="contact_message" placeholder="message">    </textarea><br>
        <input type="submit" class="btn btn-danger" value="Send message" name="Send"></form>
</div>


