<?php
$data = $this->data;
//die(print_r($data));
$fdp_id = $_GET['id'];
$institute_id = $_GET['instituteid'];
?>

<!---------------------fdp Basic Info -----------------------------------------  -->   
<script>
    $(document).ready(function(){
        $('#breadcrumb,#content-header').hide();
    });
</script>
<div class="tpd-list-view user-box">
    <h5 class="h5-heading"><i class="icon icon-envelope cust-icon"></i>Message Details</h5>
    <div class="user-inbox"><span class="bold-label">From :</span> <?php $from = $data['from_name'] . '   [' . $data['from_email'] . ']';
echo $from ?></div>
    <div class="user-inbox"><span class="bold-label">Title :</span><?php echo htmlspecialchars($data['title'], ENT_QUOTES); ?></div>
    <div class="user-inbox"><span class="bold-label">Date :</span> <?php echo $data['date']; ?></div>
    <div class="user-inbox"><span class="bold-label">Mobile :</span> <?php echo $data['from_mobile']; ?></div>
    <div class="user-inbox"><span class="bold-label">Message :</span><br/> <?php echo htmlspecialchars($data['message'], ENT_QUOTES); ?></div>
    <a href="/contact" class="btn btn-info pull-right"><i class="icon icon-white icon-circle-arrow-left"></i> Back to contact list</a>
</div>
