<?php
$data = $this->data;
$esc_id = $_GET['id'];
$institute_id = $_GET['instituteid'];
?>
<!---------------------ESC Basic Info -----------------------------------------  -->   
<div class="widget-title1 margin-bottom">
    <h5>ESC <span class="title-overview"></span></h5>
</div>
<div class="widget-box2 collapsible iedc_forms" id="view1">
    <div class="widget-title2">
        <h5>1. Basic Information</h5>
        <span class="pull-right p1 edit-top"><a data-toggle="tab" href="#tab2" id="edit1"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab1" id ="iedc-act-info-view" class="iedc-act-info-view"></a>
    </div>
    <div id="success_btn_save_one"></div>
    <div class="collapse in" id="collapseTwo">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <!--TAb1------------->
            <div id="tab1" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span3" style="">
                        <label class="label-name">Does Institute has ESC ?</label>
                        <span class="normal" id="lbl_hasesc"></span>
                    </div>
                    <div class="span2 borderLeft1 iedc-info1" style="width:140px">
                        <label class="label-name">Foundation Year</label>
                        <span class="normal" id="lbl_bi_foundationyear"></span>
                    </div>
                    <div class="span2 borderLeft1 iedc-info1" style="width:115px">
                        <label class="label-name">Infrastructure </label>
                        <span class="normal" id="count_bi_availableinfra"></span>
                        <span class="view-more cursor1 leftBorder">View</span>
                        <span class="view-less cursor1 leftBorder">Hide</span>
                    </div>
                    <div class="span4 borderLeft1 iedc-info1">
                        <label class="label-name">Plan of aciton has been discussed</label>
                        <span class="normal" id="lbl_bi_planofactiondiscussed"></span>
                        <span class="normal" id="lbl_bi_uploadplanorMinutes"></span>
                    </div>
                </div>
                <div class="row-fluid hidden-block">
                    <hr class="hrline">
                    <div class="control-group">
                        <label class="control-label">Selected Infrastructure :</label>
                        <div class="controls label-fit">
                            <label id="lbl_bi_availableinfra"></label> 
                        </div>
                    </div>
                </div>
            </div>
            <!--Tab2-------------->
            <div id="tab2" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form" id="form_one" action="/esc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>" method="post" novalidate="novalidate" enctype="multipart/form-data">
                    <input type="hidden" name="esc_stage" value="1">
                    <input type="hidden" name="esc_id" value="<?php echo $esc_id; ?>">
                    <input type="hidden" name="bi_uploadplanorMinutes" id="bi_uploadplanorMinutes" value="" />
                    <!-- END FORM CHANGES ------>
                    <div class="control-group">
                        <label class="control-label">Does Institute has ESC ?:</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="hasesc" id="esc-esc" value="ESC">Yes
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="hasesc" id="esc-no" value="No">No
                            </label>
                        </div>
                    </div>
                    <div class="iedc-info1">
                        <div class="control-group">
                            <label class="control-label">Foundation Year :</label>
                            <div class="controls">
                                <input type="text" name="bi_foundationyear" id="bi_foundationyear" class="datepicker" data-date-format="yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Principal and HODs were briefed? :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="bi_prncplhodbriefed" class="bi-prncplhodbriefed" id="bi_prncplhodbriefed_y" value="Yes">Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="bi_prncplhodbriefed" class="bi-prncplhodbriefed" id="bi_prncplhodbriefed_n" value="No" >No
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="bi_prncplhodbriefed" class="bi-prncplhodbriefed" id="bi_prncplhodbriefed_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="control-group bi_prncplhodbriefed hide iedc-other-block">
                            <label class="control-label">Date of meeting :</label>
                            <div class="controls">
                                <input type="text" name="bi_domeet" id="bi_domeet" class="datepicker" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Whether plan of action has been discussed :</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="bi_planofactiondiscussed" class="bi-planofactiondiscussed" id="bi_planofactiondiscussed_y" value="Yes">Yes
                                </label>
                                <label class="radio inline" onclick="reset_form_element($('.fileParticipant'));">
                                    <input type="radio" name="bi_planofactiondiscussed" class="bi-planofactiondiscussed" id="bi_planofactiondiscussed_n" value="No" >No
                                </label>
                                <label class="radio inline" onclick="reset_form_element($('.fileParticipant'));">
                                    <input type="radio" name="bi_planofactiondiscussed" class="bi-planofactiondiscussed" id="bi_planofactiondiscussed_na" value="NA">NA
                                </label>
                            </div>
                        </div>
                        <div class="bi_planofactiondiscussed hide iedc-other-block">
                            <div class="control-group">
                                <label class="control-label">Whether plan of aciton has been adopted :</label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" name="bi_planofactionadopted" class="bi-planofactionadopted" id="bi_planofactionadopted_y" value="Yes">Yes
                                    </label>
                                    <label class="radio inline" onclick="reset_form_element($('.fileParticipant'));">
                                        <input type="radio" name="bi_planofactionadopted" class="bi-planofactionadopted" id="bi_planofactionadopted_n" value="No" >No
                                    </label>
                                    <label class="radio inline" onclick="reset_form_element($('.fileParticipant'));">
                                        <input type="radio" name="bi_planofactionadopted" class="bi-planofactionadopted" id="bi_planofactionadopted_na" value="NA">NA
                                    </label>
                                </div>
                            </div>
                            <div class="control-group bi_planofactionadopted hide iedc-other-block">
                                <label class="control-label">Upload plan of action or Minutes of meeting :</label>
                                <div class="controls">

                                </div>
                                <div class="controls">
                                    <iframe name="myframe_mom" id="myframe_mom" class="hide" ></iframe>
                                    <form id="target_participants_schedule" class="target_participants"  action="/esc/upload-form-file?instituteid=<?php echo $institute_id ?>"  method="post"  enctype="multipart/form-data" target="myframe_mom">
                                        <input type="file" class="fileParticipant" name="file_bi_uploadplanorMinutes" />
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="margin-bottom: 15px">
                            <label class="control-label">Select available Infrastructure :</label>
                            <div class="controls">
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Space"><span class="label-left">Space </span>
                                </label>
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Budget"><span class="label-left">Budget </span>
                                </label>
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Library"><span class="label-left">Library </span>
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Staff"><span class="label-left">Staff </span>
                                </label>
                                <label class="checkbox inline">
                                    <input  type="checkbox" name="bi_availableinfra[]" id="" value="Equipment"><span class="label-left">Equipment</span>
                                </label>
                            </div>
                            <div class="controls">
                                <input  type="checkbox" name="bi_availableinfra_other" id="ov_mai_fra" value="Other"><span class="label-fit">Other </span>
                                <span class="ov_mai_fra label-fit"> 
                                    <input type="text" name="bi_availableinfra_other_value" id="ov_mai_fravalue" placeholder="Other" value=""/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button"  class="btn btn-danger btn_save_form"  id="btn_save_one" value="Save" />&nbsp;
                        <a data-toggle="tab" href="#tab1" id="iedc-info-view" class="iedc-info-view">Cancel</a>
                        <a data-toggle="tab" href="#tab1" id="iedc-info-view-hide" class="iedc-info-view"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--Tab2 End-------------->
    </div>
</div>

<!---------------------IEDC Team -----------------------------------------     -->
<div class="widget-box2 collapsible iedc_forms" id="view2">
    <div class="widget-title2">
        <h5>2. Team Details</h5>
        <span class="pull-right p2 edit-top"><a data-toggle="tab" href="#tab4" id="edit2"><i class="icon-pencil"></i> Edit</a></span>
        <a data-toggle="tab" href="#tab3" id ="act-contr-view" class="act-contr-view"></a>
    </div>
    <div id="success_btn_save_two"></div>
    <div class="collapse in" id="collapsethree">
        <div class="widget-content form-horizontal tab-content"style="padding-left:30px;">
            <div id="tab3" class="tab-pane active">
                <div class="row-fluid">
                    <div class="span2 borderRight1">
                        <label class="label-name">Lead Faculty</label>
                        <span class="normal" id="lbl_td_leadfacname"></span>
                    </div>
                    <div class="span2 borderRight1">
                        <label class="label-name">Co-lead Faculty</label>
                        <span class="normal" id="lbl_td_coleadfacname"></span>
                    </div>
                    <div class="span3">
                        <label class="label-name">Active students</label>
                        <span class="normal" id="lbl_td_noofactivestudents"></span>
                    </div>
                </div>
            </div>
            <!-- Tab4-------------------------->
            <div id="tab4" class="tab-pane content-backg">
                <div  class="form-horizontal form-dropdown div_form"  id="form_two" action="/esc/edit?id=<?php echo $iedc_id; ?>&instituteid=<?php echo $institute_id ?>"  method="post" >
                    <input type="hidden" name="esc_stage" value="2">
                    <input type="hidden" name="esc_id" value="<?php echo $esc_id; ?>">
                    <input type="hidden" name="td_uploadlistofmembers" id="td_uploadlistofmembers" />
                    <div id="noti_btn_save_two"></div>
                    <div class="control-group">
                        <label class="control-label">Lead Faculty name :</label>
                        <div class="controls">
                            <select name="td_leadfacname" id="td_leadfacname">
                                <?php echo $this->dropdown('faculty_of_institute', $institute_id) ?>

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Co-lead Faculty name :</label>
                        <div class="controls">
                            <select name="td_coleadfacname" id="td_coleadfacname">
                                <?php echo $this->dropdown('faculty_of_institute', $institute_id) ?>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Number of active students :</label>
                        <div class="controls">
                            <input type="text" name="td_noofactivestudents" id="td_noofactivestudents">
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="button"    id="btn_save_two" value="Save" class="btn btn-danger btn_save_form"/>
                        &nbsp;  <a data-toggle="tab" href="#tab3" id="iedc-contr-view" class="iedc-contr-view">Cancel</a>
                        <a data-toggle="tab" href="#tab3" id="iedc-contr-view-hide" class="iedc-contr-view"></a>
                    </div>
                </div>
            </div>
        </div>  
        <!-- Tab4 End---------------------->
    </div>
</div>
<script>


    $(document).ready(function(){
        iedccheckStatus();
    });
    $('#iedc-info-view,#iedc-contr-view,#iedc-parti-view,#iedc-outcome-view,#iedc-proj-view,#iedc-funding-view,#iedc-proj-fund-view').click(function(){     
        $('.p1,.p2,.p3,.p4,.p5,.p6,.p7').show();
    });
    $('#ov_mai_sa, #ov_mai_ta,#ov_mai_fra,#esc-no,#iedc123,#p1,#p2,#p3,#esc-esc,#iedc-iedc,#iedc-none').click(function(){ 
        iedccheckStatus();
    });
    $('.pff-submittedtoentity,.pff-seekingfund,.ps-facfortechnopreneur,.ps-proceeding,.pp-creatingprojectpipe,.fund-source,.funding-year,.pc-upgrade,.pc-isleveladequate,.pc-iswfstructured,.pc-nenprerequisites,.bi-prncplhodbriefed,.bi-planofactiondiscussed,.bi-planofactionadopted').click(function(){
        iedccheckStatus();
    });
    
    function iedccheckStatus(){
   
        if($('#ov_mai_fra').attr('checked')) {
            $('.ov_mai_fra').show();
        }else{
            $('.ov_mai_fra').hide();
        }
        var iedcInfo =$('input:radio[name=hasesc]:checked').val();
        if (iedcInfo == "ESC" ) {
            $('.iedc-info1').show();
            $('.iedc-other-block').hide();
        }else{
            $('.iedc-info1').hide();
            
        }
        
        $('input[type=radio]').each(function(){
            if($(this).attr('checked')){
                var id= "#"+$(this).attr('id');
                var sclass = "."+$(this).attr('name');
                var rvalue = $(this).val();
                //  console.log(rvalue);
                //  console.log(sclass);
                if("Yes"==rvalue){
                    $(sclass).show();
                }else if("Other"==rvalue){
                    $(sclass).show();
                }else{
                    $(sclass).hide();
                }
            }
            
        });
      
    }
    
</script>
<script src="/js/esc.js"></script> 

