
<?php
$instituteId = $_GET['instituteid'];

//die(print_r($this->dropdown('faculty_of_institute', $instituteId)));

?>
<div class="alert <?php echo $this->alertClass ?>">
    <button class="close" data-dismiss="alert">x</button>
    <?php echo $this->message ?>
</div>
<?php
if ($this->ecellExists) {
    $instituteId = $this->instituteId;
    $ecellId = $this->ecellId;
    ?>
    <!-- Ecell overview -->
    <div class="widget-box1 collapsible">
        <div class="widget-title1">
            <h5>E-cell <span class="title-overview"> Overview</span></h5>
            <span class="check-sucess pull-right" id="success1"></span>
            <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-overview"><i class="icon-pencil"></i> Edit</a></span>
        </div>
         <div id="noti-ecell-overview"></div>
        <div class="collapse in" id="collapseoverview">
            <div class="widget-content form-horizontal" style="padding-left:25px">
                <div id="overview-container" class="form-horizontal">
                    <div class = "edit-block content-backg" style="display:none;" >
                        <div class="control-group">
                            <label class="control-label">Date of establishing E-cell : <span class="requiered"> *</span></label>
                            <div class="controls">
                                <input type="text" name="over_date" id="over_date" data-date-format="mm-yyyy" class="datepicker">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-cell Name : <span class="requiered"> *</span></label>
                            <div class="controls">
                                <input type="text" name="over_name" id="over_name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Lead Faculty name :</label>
                            <div class="controls">
                                <select name="over_lead" id="over_lead"><?php echo $this->dropdown('faculty_of_institute', $instituteId) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Secondary Faculty name :</label>
                            <div class="controls">
                                <select name="over_second" id="over_second"><?php echo $this->dropdown('faculty_of_institute', $instituteId) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Student Strength at Institute :</label>
                            <div class="controls">
                                <input type="text" name="over_strength" id="over_strength">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"># Of Signed up E-cell Members :</label>
                            <div class="controls">
                                <input type="text" name="over_num" id="over_num">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Number of E-Leaders :</label>
                            <div class="controls">
                                <input type="text" name="over_eleadnum" id="over_eleadnum">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-Leaders Point of Contact 1 :</label>
                            <div class="controls">
                                <select name="over_pointofcontact1" id="over_pointofcontact1"><?php echo $this->dropdown('ecell_eleaders', $ecellId) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-Leaders Point of Contact 2 :</label>
                            <div class="controls">
                                <select name="over_pointofcontact2" id="over_pointofcontact2"><?php echo $this->dropdown('ecell_eleaders', $ecellId) ?></select>
                            </div>
                        </div>

                        <div>
                            <!--                            <div class="control-group">-->
                            <label class="control-label">Upload Members :</label>
                            <div class="controls position-relativee">
                                <form method="post" id = "form_overview_members" name = "form_overview_members" enctype="multipart/form-data" action="/ajax" target="target_overview_members">
                                    <input type="hidden" name="type_of_file" value="overview_members">
                                    <input type="hidden" name="ecellid" value="<?php echo $ecellId ?>">
                                    <input type="hidden" name="method" value="ecell.uploadmemberscsv"> 
                                   
                                    
                                    <input type="file" id = "overview_members" name = "overview_members"  class="file_upload_input" /><br />
                                    <iframe id = "target_overview_members" name = "target_overview_members" style="display: none;"></iframe> 
                                </form>
                                <label class="label-upward">
                                    <i class="icon-download-alt"></i><a href="/uploads/ecell/ecell-members-template.csv">Download Template</a>
                                </label>

                            </div>
                            <!--                            </div>-->
                            <h6 style="display:inline-block">List of Members</h6><span> ( Click on cell to edit )</span>
                            <div id="over_members" class=""></div>
                            <div class="grid-btn">
                                <input type="button" class="btn btn-info" id="add-grid-ecell_members"  value="Add new row">
                            </div>
                            <div class="form-actions action-form">
                                <input class="cls-save-overview btn btn-danger" type="button" id="block1" value="Save">&nbsp;
                                <a  class="cls-cancel-overview">Cancel</a>
                            </div>
                        </div>
                    </div>                            
                    <div class = "view-block"  id="overview-container">
                        <div class="row-fluid">
                            <div class="span12">
                                <label class="label-heading">
                                    <span  name="lbl_over_name" id="lbl_over_name"></span>
                                    <span class="sub-tittle"> 
                                        - Estd <span  name="lbl_over_date" id="lbl_over_date"></span>
                                    </span> 
                                </label>
                            </div>
                        </div>
                        <div class="row-fluid margin-top">
                            <div class="span2 borderRight">
                                <label class="label-name">Lead Faculty</label><br/>
                                <span name="lbl_over_lead" id="lbl_over_lead" class="normal"></span>
                            </div>
                            <div class="span2 borderRight"style="width:17%">
                                <label class="label-name">Secondary Faculty</label><br/>
                                <span  name="lbl_over_second" id="lbl_over_second" class="normal"></span>
                            </div>
                            <div class="span2 borderRight">
                                <label class="label-name">Student<br/> Strength</label>
                                <span class="activityinfo-label normal" name="lbl_over_strength" id="lbl_over_strength"></span>
                                <span class="activityinfo-label normal" name="lblv_over_strength" id="lblv_over_strength"></span>
                            </div>
                            <div class="span2 borderRight">
                                <label class="label-name">E-cell <br/>Members</label>
                                <span id="lbl_over_num" class="normal"></span>
                                <span class="view-more cursor1 leftBorder"> View</span>
                                <span class="view-less cursor1 leftBorder"> Hide</span>
                            </div>
                            <div class="span2 borderRight">
                                <label class="label-name">E-Leaders</label><br/>
                                <span class="normal" name="lbl_over_eleadnum" id="lbl_over_eleadnum"></span>
                                <span class="normal" name="lblv_over_eleadnum" id="lblv_over_eleadnum"></span>
                            </div>
                            <div class="span2 borderRight">
                                <label class="label-name">E-Leaders <br/>Contact 1</label>
                                <span class="normal" name="lbl_over_pointofcontact1" id="lbl_over_pointofcontact1"></span>
                            </div>
                            <div class="span2">
                                <label class="label-name">E-Leaders <br/>Contact 2</label>
                                <span class="normal" name="lbl_over_pointofcontact2" id="lbl_over_pointofcontact2"></span>
                            </div>
                        </div>
                        <div class="hidden-block">
                            <hr class="hrline">
                            <div id="div_over_members">
                                <h6>Signed up Members</h6>
                                <div id="view_over_members"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- collapse -->
  <!-- Startup -->
   <div class="widget-title1 margin-bottom">
        <h5>E-Cell <span class="title-overview">  Level Criteria</span></h5>
    </div>
    <div class="widget-box2 collapsible">
        <div class="widget-title2">
            <h5>1. START UP LEVEL</h5>
            <span class="check-sucess pull-right" id="success2"></span>
            <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-startup"><i class="icon-pencil"></i> Edit</a></span>
        </div>
         <div id="noti-ecell-startup"></div>
        <div class="collapse in" id="collapsestartup">
            <div class="widget-content form-horizontal" style="padding-left:45px">
                <div id="startup-container" class="form-horizontal">
                    <div class = "edit-block content-backg" style="display:none;" > 

                        <div class="control-group">
                            <label class="control-label">Roles of E-cell leaders are Defined :</label>
                            <div class="controls form-input">
                                <input type="checkbox" name="startup_roles" id="startup_roles">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">There is at  least one Faculty Member on the Board of Advisors :</label>
                            <div class="controls form-input">
                                <input class="cls-dependency" type="checkbox" name="startup_facadv" id="startup_facadv">
                            </div>
                        </div> 
                        <div class="control-group dep-startup_facadv">
                            <label class="control-label">Name :</label>
                            <div class="controls form-input">
                                <select name="startup_board_faculty" id="startup_board_faculty"><?php echo $this->dropdown('faculty_of_institute', $instituteId) ?></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-cell has a Succession Plan :</label>
                            <div class="controls form-input">
                                <input type="checkbox" name="startup_success" id="startup_success">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-cell has a plan of activities :</label>
                            <div class="controls form-input">
                                <input class="cls-dependency" type="checkbox" name="startup_success" id="startup_plan">
                            </div>
                        </div>
                        <div class="control-group dep-startup_plan">
                            <label class="control-label">Upload Activity Calendar :</label>
                             <input type="hidden" name="startup_calen" id="startup_calen" value="" /> 
                            <div class="controls position-relativee">
                            <iframe name="myframe_org" id="myframe_org" class="hide"></iframe>
                            <form id="target_participants_org" class="target_participants" action="/ajax/uploadfile?module=ecell&from=type1" method="post" enctype="multipart/form-data" target="myframe_org">
                                <div class="uploader" id="uniform-undefined" style=""><input type="file" class="fileParticipant" name="file_startup_calen" size="19" value="" style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
                            </form>
                          
                        </div>
<!--                            <div class="controls form-input">
                                <form method="post" id = "form_startup_calen" name = "form_startup_calen" enctype="multipart/form-data" action="/ajax" target="target_startup_calen">
                                    <input type="hidden" name="type_of_file" value="startup_calen">
                                    <input type="hidden" name="ecellid" value="<?php echo $ecellId ?>">
                                     <input type="hidden" name="startup_calen_value" id="startup_calen_value" value="">
                                    
                                    <input type="hidden" name="method" value="ecell.uploadfiles">
                                    <input type="file" name="startup_calen" id="startup_calen" class="file_upload_input"><br />
                                    <iframe id = "target_startup_calen" name = "target_startup_calen" style="display: none;"></iframe>
                                </form>

                            </div>-->
                        </div>
                        <div class="form-actions">
                            <input class="cls-save-startup btn btn-danger" type="button" id="block2" value="Save">&nbsp;
                            <a class="cls-cancel-startup">Cancel</a>
                        </div>
                    </div>
                    <div class="view-block">
                        <div class="row-fluid margin-top">
                            <div class="span3 borderRight">
                                <label class="label-name">Roles of E-cell leaders<br/>are Defined</label>
                                <span id="status_startup_roles" class="noBorder"></span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">Board of Advisors includes<br/> Faculty Member</label>
                                <span id="status_startup_facadv" class="normal label-fit"></span>
                                <span id="yes_status_startup_facadv" class="leftBorder label-fit">
                                    <span name="lbl_startup_board_faculty" id="lbl_startup_board_faculty"></span>
                                </span>
                            </div>
                            <div class="span3 borderRight" style="width:20%">
                                <label class="label-name">E-cell has a Succession<br/> Plan</label>
                                <span id="status_startup_success" class="noBorder"></span>
                            </div>
                            <div class="span3">
                                <label class="label-name">E-cell has a plan of activities</label><br/>
                                <span id="status_startup_plan" class="noBorder"></span>
                                <span class="label-fit leftBorder" id="lbl_startup_calen">
                                    <i class="icon-download-alt"></i><a href="#" > Download</a>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- Startup Ends -->

    <div class="widget-box2">
        <div class="widget-title2">
            <h5>2. Established Level</h5>
            <span class="check-sucess pull-right" id="success3"></span>
            <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-establish"><i class="icon-pencil"></i> Edit</a></span>
        </div>
        <div id="noti-ecell-establish"></div>
        <div class="collapse in" id="collapseestablish">
            <div class="widget-content form-horizontal"style="padding-left:45px">
                <div id="establish-container" class="form-horizontal">
                    <div class ="edit-block content-backg">
                        <div class="control-group">
                            <label class="control-label">There are Professionals / Entrepreneurs on the E-cell Board of Advisors :</label>
                            <div class="controls form-input">
                                <input class="cls-dependency" type="checkbox" name="estab_prof" id="estab_prof">
                            </div>
                        </div>
                        <div class="control-group dep-estab_prof">
                            <label class="control-label">Upload Document :</label>
                            <div class="controls position-relativee">
                                <form method="post" id = "form_estab_professionals" name = "form_estab_professionals" enctype="multipart/form-data" action="/ajax" target="target_estab_professionals">
                                    <input type="hidden" name="type_of_file" value="estab_professionals">
                                    <input type="hidden" name="ecellid" value="<?php echo $ecellId ?>">
                                    <input type="hidden" name="method" value="ecell.uploadestabprofessionals">
                                    <input type="file" name="estab_professionals" id="estab_professionals" class="file_upload_input"><p>
                                        <iframe id = "target_estab_professionals" name = "target_estab_professionals" style="display: none;"></iframe>
                                </form>
                                <label class="label-upward">
                                    <i class="icon-download-alt"></i><a href="/uploads/ecell/ecell-guest-template.csv">Download Template</a>
                                </label>
                            </div>
                            <div class="control-group">
                                <h6 style="display:inline-block"/>Document details</h6><span class="edit-click"> ( Click on cell to edit )</span>
                                <div id="establish_professionals"></div>
                                <input type="button" id="add-grid-ecell_estab_prof" style="margin-bottom:15px" class="btn btn-info grid-btn" value="Add new row">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-cell is Actively Marketed on Campus :</label>
                            <div class="controls form-input">
                                <input type="checkbox" name="estab_market" id="estab_market">
                            </div>
                        </div>        

                        <div class="control-group">
                            <label class="control-label">E-cell has to be Visible on Institute Website :</label>
                            <div class="controls form-input">
                                <input type="checkbox" name="estab_visible" id="estab_visible">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">E-cell Raised Money/Sponsorship for Activities :</label>
                            <div class="controls form-input">
                                <input class="cls-dependency" type="checkbox" name="estab_money" id="estab_money">
                            </div>
                        </div>

                        <div class="control-group dep-estab_money">
                            <label class="control-label">Sponsor and Amount : <span class="requiered"> *</span></label>
                            <div class="controls form-input">
                                <div id="estab_sponsors_block">
                                    <div id="estab_sponsors"></div>
                                    <span class="e-sponsor"><a id="estab_sponsor_add" class="btn"><i class="icon-plus"></i></a></span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">E-cell Activity is Formally Reported to Institute Management :</label>
                            <div class="controls form-input">
                                <input class="cls-dependency" type="checkbox" name="estab_report" id="estab_report">
                            </div>
                        </div>

                        <div class="control-group dep-estab_report">
                            <label class="control-label">Upload Report :</label>
                             <input type="hidden" name="estab_uploadrep" id="estab_uploadrep" value="" /> 
                            <div class="controls position-relativee">
                            <iframe name="myframe_org" id="myframe_org" class="hide"></iframe>
                            <form id="target_participants_org" class="target_participants" action="/ajax/uploadfile?module=ecell&from=type2" method="post" enctype="multipart/form-data" target="myframe_org">
                                <div class="uploader" id="uniform-undefined" style=""><input type="file" class="fileParticipant" name="file_estab_uploadrep" size="19" value="" style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
                            </form>
                          
                        </div>
                        </div>
                        <div class="form-actions">
                            <input class="cls-save-establish btn btn-danger" type="button" id="block3" value="Save">&nbsp;
                            <a  class="cls-cancel-establish">Cancel</a>
                        </div>
                    </div>
                    <div class="view-block">
                        <div class="row-fluid">
                            <div class="span4 borderRight">
                                <label class="label-name">There are Professionals / Entrepreneurs <br/>on the E-cell Board of Advisors</label>
                                <span id="status_estab_prof" class="normal label-fit"></span>
                                <span class="label-fit status_estab_prof">
                                    <span class="view-more3 cursor1 leftBorder" id="yes_status_estab_prof">View</span>
                                    <span class="view-less3 cursor1 leftBorder">Hide</span>
                                </span>
                            </div>
                            <div class="span4 borderRight">
                                <label class="label-name">E-cell is Actively Marketed on Campus</label><br/>
                                <span id="status_estab_market" class="noBorder"></span>
                            </div>
                            <div class="span4">
                                <label class="label-name">E-cell has to be Visible on Institute Website</label><br/>
                                <span id="status_estab_visible" class="noBorder"></span>
                            </div>
                        </div>
                        <div class="row-fluid hidden-block3" style="margin-top:30px;">
                            <hr class="hrline">
                            <div class="control-group dep-lbl_estab_prof">
                                <h6>Document Details</h6>
                                <div id="view_establish_professionals"></div>
                            </div>
                        </div>
                        <hr class="hrline">
                        <div class="row-fluid">
                            <div class="span4 borderRight">
                                <label class="label-name">E-cell Raised Money / Sponsorship for<br/> Activities</label>
                                <span id="status_estab_money" class="noBorder label-fit"></span>
                                <span class="leftBorder label-fit normal" id="yes_status_estab_money">
                                    <span id="sponsorlist"></span>
                                    <span class="view-more1 cursor1 ">View</span>
                                    <span class="view-less1 cursor1">Hide</span>
                                </span>
                            </div>
                            <div class="span5">
                                <label class="label-name">E-cell activity is Formally Reported to Institute<br/> Management</label>
                                <span id="status_estab_report" class="noBorder label-fit"></span>
                                <span class="label-fit leftBorder" id="lbl_estab_uploadrep">
                                    <i class="icon-download-alt"></i><a href="#" > Download</a>
                                </span>
                            </div>
                        </div>
                        <div class="row-fluid dep-lbl_estab_money hidden-block1"style="margin-top:20px;">
                            <hr class="hrline1">
                            <strong>Sponsors & Amount :</strong>
                            <div class="label-fit">
                                <div id="lbl_estab_sponsors"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Establish Ends -->

    <!-- High Performance -->
   
    <div class="widget-box2 collapsible">
        <div class="widget-title2">
            <h5>3. High-Performance Level</h5>
            <span class="check-sucess pull-right" id="success4"></span>
            <span class="pull-right edit-top"><a  class="lnk-edit-block" id="edit-link-hiperformance"><i class="icon-pencil"></i> Edit</a></span>
        </div>
         <div id="noti-ecell-hiperformance"></div>
        <div class="collapse in" id="collapsehiperformance">
            <div class="widget-content form-horizontal"style="padding-left:45px">
                <div id="hiperformance-container" class="form-horizontal">
                    <div class = "edit-block content-backg" >
                        <div class="control-group">
                            <label class="control-label">E-cell Publishes Regular Newsletter :</label>
                            <div class="controls">
                                <input class="cls-dependency" type="checkbox" name="hiperf_news" id="hiperf_news">
                            </div>
                        </div>
                        <div class="control-group dep-hiperf_news" >
                            <label class="control-label">Upload latest Newsletter :</label>
                            <input type="hidden" name="hiperf_latestnews" id="hiperf_latestnews" value="" /> 
                            <div class="controls position-relativee">
                            <iframe name="myframe_org" id="myframe_org" class="hide"></iframe>
                            <form id="target_participants_org" class="target_participants" action="/ajax/uploadfile?module=ecell&from=type3" method="post" enctype="multipart/form-data" target="myframe_org">
                                <div class="uploader" id="uniform-undefined" style=""><input type="file" class="fileParticipant" name="file_hiperf_latestnews" size="19" value="" style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
                            </form>
                          
                        </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-cell Maintains Updated Website :</label>
                            <div class="controls form-input">
                                <input class="cls-dependency" type="checkbox" name="hiperf_web" id="hiperf_web">
                            </div>
                        </div>
                        <div class="control-group dep-hiperf_web">
                            <label class="control-label">Link to Website :</label>
                            <div class="controls form-input">
                                <input type="text" name="hiperf_link" id="hiperf_link">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-cell Provides Support to Entrepreneurs :</label>
                            <div class="controls form-input">
                                <input class="cls-dependency" type="checkbox" name="hiperf_support" id="hiperf_support">
                            </div>
                        </div>
                        <div class="control-group dep-hiperf_support">
                            <label class="control-label">Details of Recent Support Provided :</label>
                            <div class="controls form-input">
                                <input type="text" name="hiperf_supportevidence" id="hiperf_supportevidence">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">E-cell has an Annual Signature Program :</label>
                            <div class="controls form-input">
                                <input class="cls-dependency" type="checkbox" name="hiperf_sign" id="hiperf_sign">
                            </div>
                        </div>

                        <div class="control-group dep-hiperf_sign">
                            <label class="control-label">Title of Event :</label>
                            <div class="controls form-input">
                                <input type="text" name="hiperf_signtitle" id="hiperf_signtitle">
                            </div>
                        </div>

                        <div class="control-group dep-hiperf_sign">
                            <label class="control-label">Scheduled Date in Current Year :</label>
                            <div class="controls form-input">
                                <input type="text" name="hiperf_signdate" id="hiperf_signdate" data-date-format="dd-mm-yyyy" class="datepicker">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input class="cls-save-hiperformance btn btn-danger" type="button" id="block4" value="Save">&nbsp;
                            <a  class="cls-cancel-hiperformance">Cancel</a>
                        </div>
                    </div>

                    <!-- View -->
                    <div class = "view-block " >
                        <div class="row-fluid">
                            <div class="span3 borderRight">
                                <label class="label-name">E-cell Publishes Regular<br/> Newsletter</label>
                                <span id="status_hiperf_news" class="noBorder"></span>
                                <span class="label-fit leftBorder" id="lbl_hiperf_latestnews">
                                    <i class="icon-download-alt"></i><a href="#"> Download</a>
                                </span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">E-cell Maintains Updated<br/> Website</label>
                                <span id="status_hiperf_web" class="noBorder"></span>
                                <span class="view-more2 cursor label-fit leftBorder" id="yes_status_hiperf_web">View</span>
                                <span class="label-fit view-less2 cursor leftBorder">Hide</span>
                            </div>
                            <div class="span3 borderRight">
                                <label class="label-name">E-cell Provides Support to<br/> Entrepreneurs</label>
                                <span id="status_hiperf_support" class="noBorder"></span>
                                <span class="view-more4 cursor label-fit leftBorder" id="yes_status_hiperf_support">View</span>
                                <span class="label-fit view-less4 cursor leftBorder">Hide</span>
                            </div>
                            <div class="span3">
                                <label class="label-name">E-cell has an Annual Signature<br/> Program</label>
                                <span id="status_hiperf_sign" class="noBorder"></span>
                                    <span class="label-fit view-more5 cursor leftBorder">View</span>
                                    <span class="label-fit view-less5 cursor leftBorder">Hide</span>
                                   
                                
                            </div>
                        </div>
                        <div class="row-fluid hidden-block2">
                            <hr class="hrline1">
                            <div class="span3">
                                <strong>Link to Website</strong><br/>
                                <span name="lbl_hiperf_link" id="lbl_hiperf_link"></span>
                            </div>
                        </div>
                        <div class="row-fluid hidden-block4">
                            <hr class="hrline1">
                            <div class="span4">
                                <strong>Details of Recent Support Provided</strong><br/>
                                <span name="lbl_hiperf_supportevidence" id="lbl_hiperf_supportevidence"></span>
                            </div>
                        </div>
                        <div class="row-fluid hidden-block5">
                            <hr class="hrline1">
                            <div class="span12">
                                <strong>Details of Annual Signature Program</strong><br/>
                                <span class="event-title">Event Title :</span><span id="lbl_hiperf_signtitle"></span><br/>
                                <span class="event-title">Event Date :</span><span id="lbl_hiperf_signdate"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- High Performance ends -->
    <?php
    $o = new Ecell($ecellId, true);
    $result = $o->getData();
    $json = json_encode($result);
   
    ?>

    <script>
        var ecellData = <?php echo $json ?>;
       
        var ecellid = <?php echo $ecellId ?>;
    </script>
    <script src="/js/ecell.js"></script>

    <?php
} else { // edc exist 
    if (isset($_REQUEST['action']) && $_REQUEST['action'] == 'new') {
        ?>
 <script>
  
         $('#ecell-overview-block').live('click',function(){
            var overDate =$('#over_date').val();
            var overName =$('#over_name').val();
            if(overName =="" && overDate==""){
                $('#over_name').css('border','1px solid red');
                $('#over_date').css('border','1px solid red');
                $("#ecelloverview-noti").html('<div class="alert alert-error"><button class="close" data-dismiss="alert">x</button><i class="icon-back-error"></i><span class="error-msg"><strong> Error! </strong>Please fill required field(s)</span></div>');
            }else if(overDate==""){
                $('#over_date').css('border','1px solid red');
                $('#over_name').css('border','1px solid #ccc');
                $("#ecelloverview-noti").html('<div class="alert alert-error"><button class="close" data-dismiss="alert">x</button><i class="icon-back-error"></i><span class="error-msg"><strong> Error! </strong>Please fill required field(s)</span></div>');
            }
            else if(overName==""){
                $('#over_name').css('border','1px solid red');
                $('#over_date').css('border','1px solid #ccc');
                $("#ecelloverview-noti").html('<div class="alert alert-error"><button class="close" data-dismiss="alert">x</button><i class="icon-back-error"></i><span class="error-msg"><strong> Error! </strong>Please fill required field(s)</span></div>');
            }
            else{
                 $('#ecell-overview-form').submit();
            }
             
        });
  
    </script>
    <div id="ecelloverview-noti"></div>
        <div class="widget-box1">
            <div class="widget-title1">
                <h5>E-Cell <span class="title-overview">Overview</span></h5>
            </div>
            <div class="widget-content tab-content">
                <div id="overview-container" class="form-horizontal">
                    <form method="POST" action="/ecell/?instituteid=<?php echo $this->instituteId ?>" id="ecell-overview-form">
                        <input type="hidden" name="instituteid" value ="<?php echo $this->instituteId ?>">
                        <input type="hidden" name="action" value ="new">
                        <div class="content-backg">
                            <div class="control-group">
                                <label class="control-label">Date of establishing E-cell :<span class="requiered"> *</span></label>
                                <div class="controls">
                                    <input type="text" name="over_date" id="over_date" data-date-format="mm-yyyy" class="datepicker" value="<?php echo $this->data['over_date'] ?>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">E Cell Name : <span class="requiered"> *</span></label>
                                <div class="controls">
                                    <input type="text" name="over_name" id="over_name" value="<?php echo $this->data['over_name'] ?>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Lead Faculty Name :</label>
                                <div class="controls">
                                    <select name="over_lead" id="over_lead"><?php echo $this->dropdown('faculty_of_institute', $instituteId, $this->data['over_lead']['value']) ?></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Secondary Faculty Name :</label>
                                <div class="controls">
                                    <select name="over_second" id="over_second"><?php echo $this->dropdown('faculty_of_institute', $instituteId, $this->data['over_second']['value']) ?></select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Student Strength at Institute :</label>
                                <div class="controls">
                                    <input type="text" name="over_strength" id="over_strength" value="<?php echo $this->data['over_strength'] ?>">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions1">
                            <input class="cls-save-overview btn btn-danger" type="button" id="ecell-overview-block" value="Save & Continue">&nbsp;
                            <a href="/ecell/?instituteid=<?php echo $this->instituteId ?>" class="cls-cancel-overview">Cancel</a>
                        </div>
                    </form>


                </div>
            </div>  

        <?php } else { //show create link  ?> 
            <div class="campus-company-name">
                <a href="/ecell/?instituteid=<?php echo $this->instituteId ?>&action=new"><span class="btn btn-danger pull-right createnew-button"><i class="icon-white icon-edit"></i> Create New E-Cell</span></a>
            </div>
            <div class="institute-search row-fluid" style="width:96%">
                <div class="span2 left-margin"><hr class="record-hr"></div>
                <div class="span2 no-record">No E-Cell Found</div>
                <div class="span2"><hr class="record-hr"></div>
            </div>
            <?php
        }
    } // edc does not exist 
    ?>


