<?php
$instituteaID = 1;
$ecellId = 1;
?>
<style>
    /*label {width: 450px; display: inline-block;}*/
    div.checker input {opacity: 1!important; }

</style>
<div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-hand-right"></i></span><h5>Ecell Overview</h5>
        <div class="top-options">
            <ul class="nav-tabs1">
                <li class="active"><a class="lnk-show-block" id="show-link-overview"><i class="icon-eye-open"></i> View</a></li>
                <li><a class="lnk-edit-block" id="edit-link-overview"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div>
    <div class="widget-content tab-content">



        <div id="overview-container" class="form-horizontal">
            <!--a class="lnk-show-block" id="show-link-overview" href="#">View</a--> <!--a class="lnk-edit-block" id="edit-link-overview" href="#">Edit</a-->
            <div class = "edit-block " >

                <div class="control-group">
                    <label class="control-label">Date of establishing E-cell</label>
                    <div class="controls">
                        <input type="text" name="over_date" id="over_date">
                    </div>
                    <div class="control-group">
                        <label class="control-label">E Cell Name</label>
                        <div class="controls">
                            <input type="text" name="over_name" id="over_name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Lead Faculty Name</label>
                        <div class="controls">
                            <select name="over_lead" id="over_lead"><?php echo $this->dropdown('faculty_of_institute', $instituteaID) ?></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Secondary Faculty Name</label>
                        <div class="controls">
                            <select name="over_second" id="over_second"><?php echo $this->dropdown('faculty_of_institute', $instituteaID) ?></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Student strength at Institute</label>
                        <div class="controls">
                            <input type="text" name="over_strength" id="over_strength">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"># of signed up E-cell members</label>
                        <div class="controls">
                            <input type="text" name="over_num" id="over_num">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Number of E Leaders</label>
                        <div class="controls">
                            <input type="text" name="over_eleadnum" id="over_eleadnum">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">E-Leaders Point of Contact</label>
                        <div class="controls">
                            <select name="over_pointofcontact1" id="over_pointofcontact1"><?php echo $this->dropdown('ecell_eleaders', $ecellId) ?></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">E-Leaders Point of Contact</label>
                        <div class="controls">
                            <select name="over_pointofcontact2" id="over_pointofcontact2"><?php echo $this->dropdown('ecell_eleaders', $ecellId) ?></select>
                        </div>
                    </div>

                    <!-- form for upload members -->
                    <form method="post" id = "form_overview_members" name = "form_overview_members" enctype="multipart/form-data" action="/ajax" target="target_overview_members">
                        <input type="hidden" name="type_of_file" value="overview_members">
                        <input type="hidden" name="ecellid" value="1">
                        <input type="hidden" name="method" value="ecell.uploadmemberscsv"> 
                        <input type="file" id = "overview_members" name = "overview_members"  /><br />
                        <iframe id = "target_overview_members" name = "target_overview_members" style="display: none;"></iframe> 
                    </form>


                    <h2>Signed up Members</h2>
                    <div id="over_members"></div>

                    <h2>List of ELeaders</h2>
                    <div id="over_eleaders"></div>

                    <input class="cls-save-overview" type="button" value="save"> | <input class="cls-cancel-overview" type="button" value="Cancel">
                </div>
            </div>                            


            <div class = "view-block"  id="overview-container">
                <div class="control-group">
                    <label class="control-label">Date of establishing E-cell</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_date" id="lbl_over_date"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">E Cell Name</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_name" id="lbl_over_name"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Lead Faculty Name</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_lead" id="lbl_over_lead"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Secondary Faculty Name</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_second" id="lbl_over_second"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Student strength at Institute</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_strength" id="lbl_over_strength"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Number of signed up E-cell members</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_num" id="lbl_over_num"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Number of E Leaders</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_eleadnum" id="lbl_over_eleadnum"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">E-Leaders Point of Contact</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_pointofcontact1" id="lbl_over_pointofcontact1"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">E-Leaders Point of Contact</label>
                    <div class="controls">
                        <span class="activityinfo-label" name="lbl_over_pointofcontact2" id="lbl_over_pointofcontact2"></span>
                    </div>
                </div>

                    <h2>Signed up Members</h2>
                    <div id="lbl_over_members"></div>

                    <h2>List of ELeaders</h2>
                    <div id="lbl_over_eleaders"></div>

                </div>
            </div>

        </div>


        <hr><p>
        <h2>Startup</h2>
        <div id="startup-container">
            <a class="lnk-show-block" id="show-link-startup" href="#">View</a> | <a class="lnk-edit-block" id="edit-link-startup" href="#">Edit</a></p>
            <div class = "edit-block"  >
                <label>Roles of E-cell leaders are defined</label><input type="checkbox" name="startup_roles" id="startup_roles"><p>
                    <label>There is at  least one Faculty Member on the Board of Advisors</label><input type="checkbox" name="startup_facadv" id="startup_facadv"><p>
                    <label>Name</label><select name="startup_board_faculty" id="startup_board_faculty"><option>Select</option><option value=""></option></select><p>
                    <label>E-cell has a succession plan</label><input type="checkbox" name="startup_success" id="startup_success"><p>
                    <label>Upload activity calendar</label>

                    <!-- form for upload members -->
                <form method="post" id = "form_startup_calen" name = "form_startup_calen" enctype="multipart/form-data" action="/ajax" target="target_startup_calen">
                    <input type="hidden" name="type_of_file" value="startup_calen">
                    <input type="hidden" name="ecellid" value="1">
                    <input type="hidden" name="method" value="ecell.uploadfiles">
                    <input type="file" name="startup_calen" id="startup_calen"><br />
                    <iframe id = "target_startup_calen" name = "target_startup_calen" style="display: none;"></iframe>
                </form>
                <p>


                    <input class="cls-save-startup" type="button" value="save"> | <input class="cls-cancel-startup" type="button" value="Cancel">
            </div>


            <div class = "view-block"  id="startup-container">
                <label>Roles of E-cell leaders are defined</label><input type="checkbox" name="lbl_startup_roles" id="lbl_startup_roles" disabled></span><p>
                    <label>There is at  least one Faculty Member on the Board of Advisors</label><input type="checkbox" name="lbl_startup_facadv" id="lbl_startup_facadv" disabled></span><p>
                    <label>Name</label><span name="lbl_startup_board_faculty" id="lbl_startup_board_faculty"></span><p>
                    <label>E-cell has a succession plan</label><input type="checkbox" name="lbl_startup_success" id="lbl_startup_success" disabled></span><p>
            </div>
        </div>

        <hr><p>


        <h2>Establish</h2>
        <div id="establish-container">
            <a class="lnk-show-block" id="show-link-establish" href="#">View</a> | <a class="lnk-edit-block" id="edit-link-establish" href="#">Edit</a></p>


            <div class = "edit-block"  >
                <label>There are Professionals / Entrepreneurs on the E-Cell Board of Advisors</label><input type="checkbox" name="estab_prof" id="estab_prof"><p>
                    <label>E-cell is actively marketed on campus</label><input type="checkbox" name="estab_market" id="estab_market"><p>
                    <label>E-cell has to be visible on Institute website</label><input type="checkbox" name="estab_visible" id="estab_visible"><p>
                    <label>E-cell raised money/sponsorship for activities </label><input type="checkbox" name="estab_money" id="estab_money"><p>

                <div id="estab_sponsors" style="border: 1px dotted;"> <input type="button" id="estab_sponsor_add" value="+"></div>

                    <label>E-Cell activity is formally reported to Institute Management</label><input type="checkbox" name="estab_report" id="estab_report"><p>
                    <label>Upload Report</label>

                <form method="post" id = "form_estab_uploadrep" name = "form_estab_uploadrep" enctype="multipart/form-data" action="/ajax" target="target_estab_uploadrep">
                    <input type="hidden" name="type_of_file" value="estab_uploadrep">
                    <input type="hidden" name="ecellid" value="1">
                    <input type="hidden" name="method" value="ecell.uploadfiles">
                    <input type="file" name="estab_uploadrep" id="estab_uploadrep"><p>
                        <iframe id = "target_estab_uploadrep" name = "target_estab_uploadrep" style="display: none;"></iframe>
                </form>


                <input class="cls-save-establish" type="button" value="save"> | <input class="cls-cancel-establish" type="button" value="Cancel">
            </div>

            <div class = "view-block"  >
                <label>There are Professionals / Entrepreneurs on the E-Cell Board of Advisors</label><input type="checkbox" name="lbl_estab_prof" id="lbl_estab_prof" disabled></span><p>
                    <label>E-cell is actively marketed on campus</label><input type="checkbox" name="lbl_estab_market" id="lbl_estab_market" disabled></span><p>
                    <label>E-cell has to be visible on Institute website</label><input type="checkbox" name="lbl_estab_visible" id="lbl_estab_visible" disabled></span><p>
                    <label>E-cell raised money/sponsorship for activities </label><input type="checkbox" name="lbl_estab_money" id="lbl_estab_money" disabled></span><p>

                <div id="lbl_estab_sponsors"></div>
                <label>E-Cell activity is formally reported to Institute Management</label><input type="checkbox" name="lbl_estab_report" id="lbl_estab_report" disabled></span><p>
            </div>

        </div>
        <hr><p>

        <h2>Hi Performance</h2>
        <div id="hiperformance-container">
            <a class="lnk-show-block" id="show-link-hiperformance" href="#">View</a> | <a class="lnk-edit-block" id="edit-link-hiperformance" href="#">Edit</a></p>
            <div class = "edit-block" >
                <label>E-cell publishes regular newsletter</label><input type="checkbox" name="hiperf_news" id="hiperf_news"><p>
                    <label>Upload latest newsletter</label>

                    <!-- upload form -->
                <form method="post" id = "form_hiperf_latestnews" name = "form_hiperf_latestnews" enctype="multipart/form-data" action="/ajax" target="target_hiperf_latestnews">
                    <input type="hidden" name="type_of_file" value="hiperf_latestnews">
                    <input type="hidden" name="ecellid" value="1">
                    <input type="hidden" name="method" value="ecell.uploadfiles">
                    <input type="file" name="hiperf_latestnews" id="hiperf_latestnews"><p />
                    <iframe id = "target_hiperf_latestnews" name = "target_hiperf_latestnews" style="display: none;"></iframe>
                </form>


                <label>E-cell maintains updated website</label><input type="checkbox" name="hiperf_web" id="hiperf_web"><p>
                    <label>Link to Website</label><input type="text" name="hiperf_link" id="hiperf_link"><p>
                    <label>E-cell provides support to Entrepreneurs</label><input type="checkbox" name="hiperf_support" id="hiperf_support"><p>
                    <label>Details of recent support provided</label><input type="text" name="hiperf_supportevidence" id="hiperf_supportevidence"><p>
                    <label>E-cell has an annual signature program</label><input type="checkbox" name="hiperf_sign" id="hiperf_sign"><p>
                    <label>Title of event</label><input type="text" name="hiperf_signtitle" id="hiperf_signtitle"><p>
                    <label>Scheduled date in current year</label><input type="text" name="hiperf_signdate" id="hiperf_signdate"><p>

                    <input class="cls-save-hiperformance" type="button" value="save"> | <input class="cls-cancel-hiperformance" type="button" value="Cancel">
            </div>

            <div class = "view-block"  id="hiperf-container">
                <label>E-cell publishes regular newsletter</label><input type="checkbox" name="lbl_hiperf_news" id="lbl_hiperf_news" disabled></span><p>
                    <label>E-cell maintains updated website</label><input type="checkbox" name="lbl_hiperf_web" id="lbl_hiperf_web" disabled></span><p>
                    <label>Link to Website</label><span name="lbl_hiperf_link" id="lbl_hiperf_link"></span><p>
                    <label>E-cell provides support to Entrepreneurs</label><input type="checkbox" name="lbl_hiperf_support" id="lbl_hiperf_support" disabled></span><p>
                    <label>Details of recent support provided</label><span name="lbl_hiperf_supportevidence" id="lbl_hiperf_supportevidence"></span><p>
                    <label>E-cell has an annual signature program</label><input type="checkbox" name="lbl_hiperf_sign" id="lbl_hiperf_sign" disabled></span><p>
                    <label>Title of event</label><span name="lbl_hiperf_signtitle" id="lbl_hiperf_signtitle"></span><p>
                    <label>Scheduled date in current year</label><span name="lbl_hiperf_signdate" id="lbl_hiperf_signdate"></span><p>
            </div>
        </div>


        <script src="/js/ecell.js"></script>





